{% trans_default_domain 'page' %}

{% extends('theme/base-map-embed.html.twig') %}

{% block body %}

<script src="{{ asset('js/transLib.js') }}"></script>
<script src="{{ asset("js/searchObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<style>
#map-container{
	top: 0px!important;
	right: 0px!important;
	left: 55%!important;
	bottom: 0px!important;
	position: absolute;
}
#left-hand{
	position: absolute;
	top: 0px!important;
	right: 55%!important;
	left: 0px!important;
	bottom: 0px!important;
}
.container.app-search.sig-open{
	margin-left:0px;
}
#block-aroud-me{
	position: fixed;
	left: 71%;
	right: -2px;
	top: -2px;
	z-index: 20;
	background: rgba(255, 255, 255, 0.9);
	border: 2px solid rgba(17, 73, 86, 0.39);
	border-radius: 0 0 0 15px;
}
.dark-theme #block-aroud-me{
	background: rgba(54, 57, 62, 0.9);
}
#block-aroud-me .h6{
	margin-bottom:0px;
}
#formControlRange {
    padding: 8px;
}
.btn-select-tag{
	border-radius: 30px;
	/*background-color:#f0932f;*/
	border:none;
}
.btn-select-tag.selected{
	background-color:#48b7e9;
}
#share-iframe{
	border-radius:4px;
	padding:10px;
	border:1px solid #e1e1e1;
	margin:5px;
}
.header-spacer {
    display: block;
    height: 50px;
}
#btn-refresh-search, #btn-share-iframe{
	margin-top:2px!important;
}
</style>

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="left-hand">

			{% if app.user != null %}
			{% set myPosition = app.user.myUserPage.coordinates %}
			{% else %}
			{% set myPosition = [2.6806640625, 47.1897124644842] %}
			{% endif %}


			<div class="d-none" id="block-aroud-me">
				<div class="padding-15">
					<div class="row">
						<div class="title col-12 no-margin">
							<div class="float-left">
								<div class="h6 {% if myPosition[0] == "false" %}no-margin{% endif %}">
									<i class="fa fa-map-marker"></i> {% trans %}Search around you{% endtrans %}
									{% if myPosition[0] == "false" %}
										<small class="letter-orange"> - {% trans %}You are not located{% endtrans %}</small>
									{% endif %}
								</div>
									{% if myPosition[0] == "false" %}
										{% trans %}You must locate your location before you can use the "search around you" feature{% endtrans %}<br>
									{% endif %}

								</div>
							
							{% if myPosition[0] != "false" %}
								<div class="togglebutton text-right pull-right no-margin btn-check-sharable">
			                        <label style="margin:-3px 0 -5px 0;">
			                            <input type="checkbox" checked="" class="checkbox d-none" id="check-search-aroundme">
			                        </label>
			                    </div>
							{% else %}
								<span class=" float-right text-right">
									<button class="btn btn-blue no-margin padding-10" id="btn-init-localise-me">
										<i class="fa fa-map-marker"></i> 
										{% trans %}Give my position{% endtrans %}
									</button>
								</span>
							{% endif %}
							<!-- <hr class="d-none widget-aroundme float-left full-width">			 -->
						</div>

						{% if myPosition[0] != "false" %}
							<div class="h6 title col col-md-6 d-md-none d-none widget-aroundme">
								<div class="full-width alert alert-secondary no-margin">
									<span class="around-me-distance">10 km</span>					
								</div>
							</div>
						{% endif %}
					</div>
					{% if myPosition[0] != "false" %}
						<div class="d-none widget-aroundme">
							<div class="row d-flex margin-top-10">
								<div class="col-12 col-md-9">
									<input type="range" class="form-control-range" id="formControlRange" value="10">
									<div class="d-md-none padding-5"></div>
								</div>
								<div class="h6 title col col-md-3 d-none d-md-block">
									<div class="full-width alert alert-secondary no-margin" style="padding: 8px 10px;">
										<span class="around-me-distance">10 km</span>					
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="d-none widget-localiseMe">
							<div class="row d-flex padding-left-15 margin-top-15">
									<div class="col-12 no-padding">
										{% trans %}By default your position will be{% endtrans %} <b>{% trans %}private{% endtrans %}</b>.<br>
										{% trans %}To allow other members to know your address and location, change your{% endtrans %} 
										<a href="{{ path('page-settings', {'slug' : app.user.myUserPage.slug, 'subview': 'form-confidentiality' })}}">
											{% trans %}privacy settings{% endtrans %}
										</a>.
									</div>
							</div>
							<div class="row d-flex padding-15">
									<div class="col-12 col-lg-3 no-padding">
										<select id="page_country" name="page[country]">
											<option value=""></option>
											{% for country, countryKey in app.user.myUserPage.getCountryList() %}
												<option value="{{ countryKey }}" selected="selected">{{ country }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-12 col-lg-4">
										<input type="text" id="page_city" placeholder="{% trans %}City / town{% endtrans %}"/>
									</div>
									<div class="col-12 col-lg-5 no-padding">
										<input type="text" id="page_streetAddress" placeholder="{% trans %}street{% endtrans %}"/>
									</div>

									<input type="hidden" id="page_latitude"/>
									<input type="hidden" id="page_longitude"/>

									<div class="col-12 margin-top-15 padding-15">
										<div id="geoloc-result"></div>
									</div>

							</div>
						</div>
					{% endif %}
				</div>
			</div>
			
			<div class="row col col-12 no-margin no-padding d-flex">

				<input type="text" id="search-in-page" class="col col-12 col-sm-12 col-md-7 bg-white margin-bottom-10 padding-10" 
						placeholder="{% trans %}Your search{% endtrans %}...">
				
				<div class="col col-12 col-md-5 no-padding">
					<div class="margin-left-10 btnrefresh-padding pull-left">
						<a href="javascript:" class="btn btn-blue no-margin full-width padding-10" id="btn-refresh-search"
							 data-toggle="tooltip" data-original-title="{% trans %}update results{% endtrans %}">
							<i class="fa fa-search"></i> 
							<span class="d- d-lg-inline">
								{% trans %}Search{% endtrans %}
							</span>
						</a>
					</div>	
					<div class="col col-3 col-md-3 btnrefresh-padding pull-left">
						<a href="javascript:" class="btn btn-blue no-margin full-width padding-10" id="btn-share-iframe"
							 data-toggle="tooltip" data-original-title="{% trans %}share{% endtrans %}">
							<i class="fa fa-share"></i> <span class="d- d-lg-inline"></span>
						</a>
					</div>	
				</div>

				<div class="row col col-12 no-margin no-padding d-none" id="block-share">
					<input type="text" id="search-url" class="padding-5 col col-5 bg-white margin-left-5 pull-right" 
					data-toggle="tooltip" data-original-title="{% trans %}Copy this link to share your current research{% endtrans %}"
					placeholder="{% trans %}share your search{% endtrans %}"/>


					<textarea class="padding-9 col col-9 pull-right" id="share-iframe"></textarea>
				</div>


				<div class="col col-12 col-md-12 no-padding d-flex">
				{% for tag in tagsList %}
					<button class="btn btn-secondary margin-right-10 btn-select-tag" data-tag="{{ tag }}">
						{{ tag }}
					</button> 
				{% endfor %}
				</div>

			</div>
			

			<label class="h6 margin-left-15"><br>
				<i class="fa fa-angle-down"></i> <b>{% trans %}Result{% endtrans %} (<span id="result-length"></span>)</b>
			</label>

			<!-- <button class="d-none btn-type-page selected" data-type-name="assembly"></button> -->

			{% for type in typeSearch %}
				<button class="d-none btn-type-page selected" data-type-name="{{ type }}">
				</button>				
			{% endfor %}

			<div  id="search-result-list">
				{{  include("page/blocks/search-res-list.html.twig", 
					{  	"results": results,
						"jsonRes" : jsonRes,
						"yourSearch": yourSearch }) 
				}}
			</div>
		</div>

		<div id="map-container" class="d-none"></div>

	</div>
</div>

<script src="{{ asset('js/sig/sig.js') }}"></script>
<script>
	searchObj.latSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[0] }}
							{% else %}false{% endif %};
	
	searchObj.lngSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[1] }}
							{% else %}false{% endif %};
	
	searchObj.radiusSearch =  {% if radiusSearch is defined %}{{ radiusSearch }}
							  {% else %}false{% endif %};


	searchObj.typesSearch = "{% if typesSearch is defined %}{{ typesSearch }}{% endif %}";
	searchObj.yourSearch =  "{% if yourSearch is defined %}{{ yourSearch }}{% endif %}";
	searchObj.results  =  {{ jsonRes|json_encode|raw }};
	var myPosition = {{ myPosition|json_encode|raw }};
	searchObj.myPosition = myPosition;

	$( document ).ready(function() {
		//searchObj.initUi();
		$(".dark-theme").removeClass("dark-theme");

		var km = 500;
		searchObj.currentRadius = km*1000;
		searchObj.currentKm = km;
		$(".around-me-distance").html(km + " km");

		searchObj.initUi(myPosition);
		if($("#map-container").hasClass("d-none"))
			searchObj.showMap();
		
		setTimeout(function(){ $("#block-aroud-me").removeClass("d-none"); }, 3000);

		$('.btn-select-tag').click(function(){
			$(this).addClass("selected");

			var tag = $(this).data("tag");
			var currentTags = $("#search-in-page").val();
			var pos = currentTags.search(tag);
			console.log("POSITION", pos, tag, currentTags);
			var newTags = currentTags != "" ? currentTags + " " + tag : currentTags = tag;
			if(pos >= 0){
				newTags = currentTags.replace(tag, "");
				newTags = newTags.replace(" " + tag, "");
				$(this).removeClass("selected");
			}
			$("#search-in-page").val(newTags.trim());
			searchObj.globalSearch();
		});

		$("#btn-share-iframe").click(function(){
			searchObj.globalSearch();
			$("#block-share").toggleClass("d-none");
		});

    });

/*
    searchObj.globalSearch = function(){
    	var searchTxt = $("#search-in-page").val();
		searchTxt = searchTxt.replace(/\#/g, "><");
		console.log("search", searchTxt);
		if(searchTxt == "") searchTxt = "-";

		var geo = "";
		if($("#check-search-aroundme").is(':checked'))
			geo = "lat="+searchObj.myPosition[1]+"&lon="+searchObj.myPosition[0]+"&radius="+searchObj.currentKm;
	
		var types = "";
		$.each($(".btn-type-page"), function(key, btnType){
			if($(btnType).hasClass("selected")){
				if(types != "") types += ",";
				types += $(btnType).data("type-name");
			}
		});

		if(types != ""){
			if(geo != "") types = "&types=" + types;
			else		  types =  "types=" + types;
		}

		
		var getParams = (geo+types != "") ? "?" + geo + types : "?";

		var url = "/search/" + searchTxt + "/" + searchObj.renderPartial + getParams;
		var urlShare = "/search/"+searchTxt+getParams;
		if(searchTxt == "-") urlShare = "/search/"+getParams;
		
		if(searchObj.interop == true){
			var bounds = "false";
			if(searchObj.currentCircleMarker != false){
				bounds = searchObj.currentCircleMarker.getBounds();
				var boundsStr = "&bounds=" + 
								bounds.getSouthWest().lng.toString().substring(0,8) + "%2C" + 
								bounds.getSouthWest().lat.toString().substring(0,8) + "%2C" + 
								bounds.getNorthEast().lng.toString().substring(0,8) + "%2C" + 
								bounds.getNorthEast().lat.toString().substring(0,8); 
				//Sig.rectangle = Sig.showRectangle(bounds);

				console.log("found bounds", bounds, boundsStr);
			}
			url = "/search-interop/" + searchTxt + "/" + searchObj.renderPartial + getParams + boundsStr;
			urlShare = url;
		}

		console.log("url complet", url);

		$("#search-result-list").html("<i class='fa fa-spin fa-circle-o-notch'></i> " + t.t("Loading ..."));

		$.ajax({
          type: "POST",
          url: url,
          success: function(res){
          	if(searchObj.renderPartial == "true"){
	          	$("#search-result-list").html(res);
	          	//init btn to show each result on the map
	        	searchObj.initBtnOpenMarker();
	          	//Activate the Tooltips
	    		$('#search-result-list [data-toggle="tooltip"], [rel="tooltip"]').tooltip();
	    		$("#search-url").val(nexxo.baseUrl + urlShare);
	            if(Sig.mapIsLoaded == true)
					Sig.showDataOnMap(searchObj.results);
				
				nexxo.initSwiper();
	            console.log("global search ok", url);
	        }else{
	        	if(searchObj.renderPartial == "json"){
	            console.log("searchObj.renderPartial", searchObj.renderPartial);
	        		if(searchObj.typesSelected == "event"){
	            		console.log("searchObj.typesSelected", searchObj.typesSelected);
	        			agendaObj.showData(res.jsonRes);
	        			searchObj.results = res.jsonRes;
	        			if(Sig.mapIsLoaded == true)
							Sig.showDataOnMap(res.jsonRes);
	        		}
	        	}
	        }
          }
        });
    };
*/

</script>

{% endblock %}
