{% trans_default_domain 'page' %}

{% extends(extends) %}


{% block metadata %}
    <meta charset="UTF-8" />
    <meta property="og:url"                content="{{ base_url }}/page/{{ page.slug }}" />
    <meta property="og:type"               content="application" />

    {% if page.isPrivate == true %}
    	<meta name="robots" content="noindex" />
    {% else %}
    	<meta name="robots" content="nofollow" />
	    <meta property="og:title"              content="{{ page.name }} | Nexxo" />
	    <meta property="og:description"        content="{{ page.description }}" />

	    {% if 'https://' in page.imageBanner %}
	    <meta property="og:image"              content="{{ page.imageBanner }}" />
        {% else %}
	    <meta property="og:image"              content="{{ base_url }}{{ page.imageBannerAsset }}" />
        {% endif %}

    {% endif %}
{% endblock %}

{% block title %}
	<title data-title="{{ page.name }} | Nexxo" data-count="0">
		{{ page.name }} | Nexxo
	</title>
{% endblock %}

{% block body %}


{% if app.user == null %}
<div class="margin-left-50 margin-bottom-50">
	<a href="{{ path("user_registration") }}" class="btn btn-purple btn-lg btn-sm margin-left-25">
		<i class="fa fa-plus-circle"></i> {% trans %}Create your account{% endtrans %}
	</a>
	<a href="{{ path("login") }}" class="btn btn-primary btn-lg btn-sm">
		<i class="fa fa-sign-in"></i> {% trans %}Login{% endtrans %}
	</a>
</div>
{% else %}
<div class="header-spacer"></div>
{% endif %}


<!-- Top Header -->
<div class="container">
	<div class="">
		{% if page.report != null %}

			{% if page.report.status == "DISABLED" %}
				<div class="h5 col-12 text-left letter-red">
					<i class="fa fa-exclamation-triangle"></i> 
					{% trans %}This Page has been disabled{% endtrans %}
				</div>
			{% elseif page.report.status == "VOTE_OPEN" %}

				<div class="h5 col-12 text-left letter-red">
						<i class="fa fa-exclamation-triangle"></i> 
						{% trans %}This page has been reported by{% endtrans %} {{ page.report.authors|length }} 
						{% transchoice page.report.authors|length %}[0,1] people|[2,Inf[ people{% endtranschoice %}
				</div>
				<div class="h5 col-12 text-left">
					<small class="bold">
						<i class="fa fa-angle-down"></i> 
						<i class="fa fa-balance-scale"></i>
						{% if date(page.report.dateEndVote) < date() %}
							{% trans %}The voting procedure is over{% endtrans %}
						{% else %}
							{% trans %}Please, vote to moderate this content{% endtrans %}
						{% endif %}
					</small> 
				</div>
				{% if page.report.authors|length > 0 %}
					<div class="report-container" data-report-id="{{ page.report.id }}">
						{{ include ('report/bar-vote.html.twig', { "report" : page.report }) }}
					</div>
				{% endif %}

			{% endif %}

		{% endif %}

		<div class="">
			
			{% if page.type != "user" %}
				<div class="h5 col-12 text-right padding-top-10">
					{% if page.parentPage is not null and page.parentPage.type != "user" %}
						<small>
							<i class="fa fa-group"></i> {% trans %}managed by{% endtrans %}
						</small> 
						<a href="{{ path('page', { 'slug' : page.parentPage.slug })}}">{{ page.parentPage.name }}</a>
					{% else %}
						<small>
							<i class="fa fa-user"></i> {% trans %}created by{% endtrans %}
						</small> 
						<a href="{{ path('page', { 'slug' : page.owner.myUserPage.slug })}}">{{ page.owner.realUsername }}</a>
					{% endif %}
				</div>
			{% endif %}

			<div class="d-flex">
			<h5 class="col-1 font-roboto" style="max-width:40px;">
				<i class="fa fa-{{ page.faIcon }} padding"
					style="margin-bottom:5px; margin-top: -25px; font-size:30px;"></i>
			 </h5>
			<h5 class="col-11 font-roboto">
				
			 	<span style="font-weight:800!important;">{{ page.name }}</span>
			 </h5>
			 </div>
			 <hr>
		</div>

	</div>


	<div class="row">
		<div class="col-8 padding-50 text-center" id="md-doc-load"><i class="fa fa-3x fa-spin fa-circle-o-notch"></i></div>
		<div id="markdown-container" class="col-8 d-none">
			<textarea style="">{{ page.description }}</textarea>
		</div>

		<div class="col-4">

			{% if app.user != null %}
			
				<a href="javascript:" 
					class="btn btn-sm btn-blue full-width no-margin btn-send-request-follow"
					data-slug-page="{{ page.slug }}" data-slug-page-confirm="true">
					<i class="fa fa-chain"></i> {% trans %}Follow this document{% endtrans %}
				</a>
				<hr>
				{% if app.user.myUserPage.relations.getImMember(page.parentPage.slug) %}
				<a href="{{ path('create-md-doc', { 'parentSlug' : page.parentPage.slug, 'docId': page.id }) }}" 
					class="btn btn-sm btn-secondary full-width no-margin">
					<i class="fa fa-pencil"></i> {% trans %}Edit document{% endtrans %}
				</a>
				<hr>
				{% endif %}

			{% endif %}

			{{ include('news/news-stream.html.twig', { "page" : page, 
											   		   "dashboard" : "false",
											   		   "classifiedUI": "0" }) }}
		</div>
	</div>


	<style>
		.dark-theme #markdown-container {
			background-color:#414348;
		    color: white;
		    padding: 40px 60px;
		    border-radius: 5px;
		}
		.post .post__author .more.options{
			display: none;
		}
	</style>
</div>


<link rel="stylesheet" href="/js/pluggins/editor.md-master/css/editormd.min.css" />
<script src="/js/pluggins/editor.md-master/editormd.min.js"></script>
<script src="/js/pluggins/editor.md-master/languages/en.js"></script>

<script src="/js/pluggins/editor.md-master/lib/marked.min.js"></script>
<script src="/js/pluggins/editor.md-master/lib/prettify.min.js"></script>
<script>
    $( document ).ready(function() {
		nexxo.initBtnRequest();
		reportObj.initUi();
		var html = editormd.markdownToHTML("markdown-container");
		$("#markdown-container").removeClass("d-none");       
		$("#md-doc-load").html("").addClass("d-none");       
    });
</script>
{% endblock %}
