{% trans_default_domain 'page' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<script src="{{ asset('js/transLib.js') }}"></script>
<script src="{{ asset("js/searchObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

		{% if forceUnikType is not defined or forceUnikType != "channel" %}
		<div class="ui-block d-none">
			<div class="padding-15">
				<div class="row">
					<div class="title col-12 no-margin">
						<div class="float-left">
							<div class="h6 {% if app.user.myUserPage.coordinates[0] == "false" %}no-margin{% endif %}">
								<span id="link-around" style="cursor:pointer;">
									<i class="fa fa-filter"></i> {% trans %}Search around you{% endtrans %}
								</span>
								{% if app.user.myUserPage.coordinates[0] == "false" %}
									<small class="letter-orange"> - {% trans %}You are not located{% endtrans %}</small>
								{% endif %}
								<br>
								<small>Activez cette option pour effectuer une recherche localisée, autour de votre position
								</small>
							</div>
								{% if app.user.myUserPage.coordinates[0] == "false" %}
									{% trans %}You must locate your location before you can use the "search around you" feature{% endtrans %}<br>
								{% endif %}

							</div>
						
						{% if app.user.myUserPage.coordinates[0] != "false" %}
							<div class="togglebutton text-right pull-right no-margin btn-check-sharable">
		                        <label style="margin:-3px 0 -5px 0;">
		                            <input type="checkbox" checked="" class="checkbox d-none" id="check-search-aroundme">
		                        </label>
		                    </div>
						{% else %}
							<span class=" float-right text-right">
								<button class="btn btn-blue no-margin padding-10" id="btn-init-localise-me">
									<i class="fa fa-map-marker"></i> 
									{% trans %}Give my position{% endtrans %}
								</button>
							</span>
						{% endif %}
						<hr class="d-none widget-aroundme float-left full-width">			
					</div>

					{% if app.user.myUserPage.coordinates[0] != "false" %}
						<div class="h6 title col col-md-6 d-md-none d-none widget-aroundme">
							<div class="full-width alert alert-secondary no-margin">
								<span class="around-me-distance">10 km</span>					
							</div>
						</div>
					{% endif %}
				</div>
				{% if app.user.myUserPage.coordinates[0] != "false" %}
					<div class="d-none widget-aroundme">
						<div class="row d-flex">
							<div class="col-12 col-md-9">
								<input type="range" class="form-control-range" id="formControlRange" value="10">
								<div class="d-md-none padding-5"></div>
							</div>
							<div class="h6 title col col-md-3 d-none d-md-block">
								<div class="full-width alert alert-secondary no-margin" style="padding: 8px 10px;">
									<span class="around-me-distance">10 km</span>					
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="d-none widget-localiseMe">
						<div class="row d-flex padding-left-15 margin-top-15">
								<div class="col-12 no-padding">
									{% trans %}By default your position will be{% endtrans %} <b>{% trans %}private{% endtrans %}</b>.<br>
									{% trans %}To allow other members to know your address and location, change your{% endtrans %} 
									<a href="{{ path('page-settings', {'slug' : app.user.myUserPage.slug, 'subview': 'form-confidentiality' })}}">
										{% trans %}privacy settings{% endtrans %}
									</a>.
								</div>
						</div>
						<div class="row d-flex padding-15">
								<div class="col-12 col-lg-3 no-padding">
									<select id="page_country" name="page[country]">
										<option value=""></option>
										{% for country, countryKey in app.user.myUserPage.getCountryList() %}
											<option value="{{ countryKey }}" selected="selected">{{ country }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-12 col-lg-4">
									<input type="text" id="page_city" placeholder="{% trans %}City / town{% endtrans %}"/>
								</div>
								<div class="col-12 col-lg-5 no-padding">
									<input type="text" id="page_streetAddress" placeholder="{% trans %}street{% endtrans %}"/>
								</div>

								<input type="hidden" id="page_latitude"/>
								<input type="hidden" id="page_longitude"/>

								<div class="col-12 margin-top-15 padding-15">
									<div id="geoloc-result"></div>
								</div>

						</div>
					</div>
				{% endif %}
			</div>
		</div>
		{% endif %}

		<div id="map-container" class="d-none"></div>

		<div class="row col col-12 no-margin no-padding d-flex">

				<input type="text" id="search-in-page" class="d-none col col-12 col-sm-12 col-md-6 bg-white margin-bottom-10" 
						placeholder="{% trans %}Your search{% endtrans %}...">
				
				<div class="col col-12 col-md-6 no-padding d-flex">
					<!-- <div class="col col-7 col-md-8 btnrefresh-padding">
						<a href="javascript:" class="btn btn-blue no-margin full-width" id="btn-refresh-search"
							 data-toggle="tooltip" data-original-title="{% trans %}update results{% endtrans %}">
							<i class="fa fa-refresh"></i> <span class="d- d-lg-inline">{% trans %}Refresh{% endtrans %}</span>
						</a>
					</div>
					 -->
					 	<div class="col col-12 col-md-12 no-padding" id="btn-show-map">
							<a href="javascript:" class="btn btn-secondary no-margin full-width"
								 data-toggle="tooltip" 
								 data-original-title="{% trans %}show results on map{% endtrans %}">
								<i class="fa fa-map-marker"></i> 
								<span class="d-none d-lg-inline">{% trans %}On map{% endtrans %}</span>
							</a>
						</div>
					
					<div class="col col-12 col-md-12 no-padding d-none" id="btn-hide-map">
						<a href="javascript:" class="btn btn-secondary no-margin full-width"
							 data-toggle="tooltip" data-original-title="{% trans %}close the map{% endtrans %}">
							<i class="fa fa-times"></i> <span class="d- d-lg-inline"><i class="fa fa-map-marker"></i></span>
						</a>
					</div>			
				</div>

		</div>

		{% if forceUnikType is not defined or forceUnikType == "channel" %}
			<div class="row col col-12 no-margin no-padding d-none" id="div-create-channel">
				<input class="col-12 col-md-8" type="text" id="input-create-channel" 
					   placeholder="+ ajouter une nouvelle chaîne">

				<div class="col-12 col-md-4 no-padding padding-left-15">
					<button class="btn btn-primary padding-10 full-width no-margin" id="btn-create-channel" 
							style="padding:18px!important;">
						<i class="fa fa-youtube-play"></i> {% trans %}Load channel{% endtrans %}
					</button>
				</div>

				<label class="h5 col-12 no-padding margin-5" id="lbl-msg-import-channel"></label>
			</div>
		{% endif %}

		<label class="h6 margin-left-15"><br>
			<i class="fa fa-angle-down"></i> <b>{% trans %}Result{% endtrans %} (<span id="result-length"></span>)</b>
		</label>

		<a href="javascript:" 
			class="btn btn-sm btn-secondary bg-white letter-light border-light no-margin text-right margin-left-5 d-inline" 
			id="btn-share-search" data-toggle="tooltip" data-original-title="{% trans %}share this research{% endtrans %}">
			<i class="fa fa-share"></i>
		</a>	

		<input type="text" id="search-url" class="padding-5 col col-5 bg-white margin-left-5 d-none" 
				data-toggle="tooltip" data-original-title="{% trans %}Copy this link to share your current research{% endtrans %}"
				placeholder="{% trans %}share your search{% endtrans %}">
		
		<hr>

	</div>
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="search-result-list">
		{{  include("page/blocks/search-res-list.html.twig", 
			{  	"results": results,
				"jsonRes" : jsonRes,
				"yourSearch": yourSearch }) 
		}}
	</div>
</div>

<script src="{{ asset('js/sig/sig.js') }}"></script>
<script>
	
	var myPosition =  {{ myPosition|json_encode|raw }};

	searchObj.latSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[0] }}
							{% else %}false{% endif %};
	
	searchObj.lngSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[1] }}
							{% else %}false{% endif %};
	
	searchObj.radiusSearch =  {% if radiusSearch is defined %}{{ radiusSearch }}
							  {% else %}false{% endif %};

	searchObj.typesSearch = "user";
	searchObj.yourSearch =  "{% if yourSearch is defined %}{{ yourSearch }}{% endif %}";

	$( document ).ready(function() {
		searchObj.initUi(myPosition);
    });
</script>

{% endblock %}
