{% trans_default_domain 'page' %}

{% extends('theme/base-app.html.twig') %}

{% block title %}
	<title data-title="Nexxo | {{ page.name }}" data-count="0">
		Nexxo | {{ page.name }}
	</title>
{% endblock %}

{% block body %}

	<div class="header-spacer"></div>

	<!-- Top Header -->
	<div class="container">
		<div class="h4"><i class="fa fa-{{ page.faIcon }}"></i> {{ page.name }}</div>
		<div class="h5 letter-red">
			Sorry, this page has been disabled
			{% if page.report.closedByType == "ADMIN" %}
				{% trans %}by an admin{% endtrans %} : 
				<a href="{{ path('page', {"slug": page.report.closedByUser.slug }) }}">
					{{ page.report.closedByUser.name }}
				</a>
			{% elseif page.report.closedByType == "CO_MODERATION" %}
				{% trans %}by collective moderation{% endtrans %}
			{% endif %}
		</div>
		<div class="">
			{% trans %}To open a recovery procedure{% endtrans %}, 
			<a href="{{ path('recover-report', { 'id' : page.report.id }) }}">{% trans %}Click here{% endtrans %}</a>.
		</div>
		
	</div>

{% endblock %}