{% trans_default_domain 'page' %}

{% extends('theme/base-landing.html.twig') %}

{% set date = "" %}
{% if page.type == "event" %}
	{% set date = page.startDate|localizeddate('none', 'none', app.request.locale, null, "d/MM/Y HH:mm") ~ "<br>-<br>" %}
{% endif %} 


{% block metadata %}
    <meta charset="UTF-8" />
    <meta property="og:url"                content="{{ base_url }}/page/{{ page.slug }}" />
    <meta property="og:type"               content="application" />

    {% if page.isPrivate == true %}
    	<meta name="robots" content="noindex" />
    {% else %}
    	<meta name="robots" content="nofollow" />
	    <meta property="og:title"              content="{{ page.name }}" />
	    <meta property="og:description"        content="{{ date }}{{ page.description }}" />

	    {% if 'https://' in page.imageBanner %}
	    <meta property="og:image"              content="{{ page.imageBanner }}" />
        {% else %}
	    <meta property="og:image"              content="{{ base_url }}{{ page.imageBannerAsset }}" />
        {% endif %}
	    
    {% endif %}
{% endblock %}

{% block title %}
	<title data-title="{{ page.name }}" data-count="0">
		{{ page.name }}
	</title>
{% endblock %}

{% block body %}



<!-- Top Header -->
<div class="container">
	<div class="col-12 col-md-6 margin-top-25">
		{% if page.type != "user" %}
			<div class="h5 col-12 text-right">
				{% if page.parentPage is not null and page.parentPage.type != "user" %}
					<small>
						<i class="fa fa-group"></i> {% trans %}managed by{% endtrans %}
					</small> 
					<a href="{{ path('page', { 'slug' : page.parentPage.slug })}}">{{ page.parentPage.name }}</a>
				{% else %}
					<small>
						<i class="fa fa-user"></i> {% trans %}created by{% endtrans %}
					</small> 
					<a href="{{ path('page', { 'slug' : page.owner.myUserPage.slug })}}">{{ page.owner.realUsername }}</a>
				{% endif %}
			</div>
		{% endif %}

	</div>
	<style>
	
	</style>
	<div class="row col-12 col-md-6">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb {% if page.imageBanner == "default.png" %}banner-empty{% endif %}">
						<img src="{{ asset('uploads/imgBanner/' ~ page.imageBanner) }}"/>
					</div>
					<a href="{{ path('page', { 'slug' : page.slug }) }}" 
					   class="block-page-name margin-bottom-15" style="min-width:70%;">
						    <img src="{{ asset('uploads/imgProfil/' ~ page.imageProfil) }}" class=" float-left" height="50"/>
						    <div class="float-left margin-left-10"style="line-height: 17px;">{{ page.name }} <br>
							   {% if page.city != "" %}
							   		<small><i class="fa fa-map-marker"></i> {{ page.city }}</small><br>
							   {% endif %}
							   {% if page.type != "user" %}
							   		<small><i class="fa fa-{{ page.faIcon }}"></i> {{ page.type|trans }}</small>
							   {% endif %}
							</div>
					</a>

					<div class="profile-section">
						<div class="row">
							<div class="col-lg-5 col-md-5 ">
								<ul class="profile-menu">
									<li>
										<a href="{{ path('page', { 'slug' : page.slug }) }}" 
										   class="">
										  <i class="fa fa-home fa-2x"></i>
										</a>
									</li>
									<li>
										
									</li>
									<li>
										
									</li>
								</ul>
							</div>
							<div class="col-lg-5 ml-auto col-md-5 margin-top-5 friend-item-content" id="{{ page.slug }}">
								<ul class="profile-menu">
									<li>
										<a href="javascript:"  class=""
													data-original-title="{% trans %}Like this page{% endtrans %}"
													data-slug-page-confirm="true"
													data-placement="bottom"
													data-toggle="tooltip" 
													data-slug-page="{{ page.slug }}"
													data-id-page="{{ page.id }}">
											<i class="fa fa-thumbs-o-up" style="font-size:16px;"></i> 
											<span class="count-item-like">{{ page.relations.likers|length }}</span>
										</a>
									</li>
									<li>
										<a href="javascript:"  class=""
												data-original-title="{% trans %}Follow this page{% endtrans %}"
												data-placement="bottom"
												data-toggle="tooltip" 
												data-slug-page="{{ page.slug }}">
											<i class="fa fa-link" style="font-size:16px;"></i> 
											<span class="count-item-follow">{{ page.relations.followers|length }}</span>
										</a>
									</li>

									<li>
										<a href="javascript:" 
											class="" 
											{% if page.type == "user" %}
													data-original-title="{% trans %}Friends{% endtrans %} !"
											{% else %}
													data-original-title="{% trans %}Member{% endtrans %} !"
											{% endif %}
											data-placement="bottom"
											data-toggle="tooltip"
											data-slug-page="{{ page.slug }}">
										<i class="fa fa-hand-peace-o" style="font-size:16px;"></i>
										<span class="count-item-friend">{{ page.relations.friends|length }}</span>
										</a>
									</li>

									{% if page.type == "event" or page.type == "project" %}
									<li>
										<a href="javascript:" 
											class="" 
											data-original-title="{% trans %}participants{% endtrans %}"
											data-placement="bottom"
											data-toggle="tooltip"
											data-slug-page="{{ page.slug }}">
										<i class="fa fa-group" style="font-size:16px;"></i>
										<span class="count-item-participate">{{ page.relations.participants|length }}</span>
										</a>
									</li>
									{% endif %}									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="ui-block col col-10 col-md-5 margin-left-15">
		<div class="ui-block-title">
			<h5><i class="fa fa-ban"></i> {% trans %}You must be logged in to see more content of this page{% endtrans %}</h5>
		</div>
	</div>
</div>

{% endblock %}
