{% trans_default_domain 'page' %}

<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/lib/moment.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/page/page.css') }}">
<style>
#btn-validate-position{
    display: none!important;
}
input#page_price{
    font-size: 20px;
}
textarea#page_description{
    height:250px;
    min-height:250px;
}
</style>

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12 main-block-form">
    <div class="ui-block">
        <div class="ui-block-title">
            <h4 class="title">
                <i class="fa fa-certificate"></i> 
                {% trans %}General informations{% endtrans %}
            </h4>
        </div>

        <div class="ui-block-content">

            {% if page is defined %}
                {{ form_start(form, { 'action' : path(action, { classifiedId : page.id }) }) }}
            {% else %}
                {{ form_start(form, { 'action' : path(action) }) }}
            {% endif %}

            <div class="form-group">
            <h5><i class="fa fa-circle"></i> {% trans %}Write your announce{% endtrans %}</h5>
            </div>

            <div class="form-group label-floating">
                {# {{ form_label(form.name, null, {'label_attr': {'class': 'control-label', 'content' : 'plop'}}) }} #}
                <label class="control-label required" for="page_name">Titre...</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            
            <!-- <div class="form-group">
            <h5><i class="fa fa-circle"></i></h5>
            </div> -->
            <div class="form-group label-floating">
                {# {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }} #}
                <label class="control-label required" for="page_name">{% trans %}Announce description{% endtrans %}...</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.description) }}
                {{ form_errors(form.description) }}
            </div>

            <!-- <div class="form-group">
            <h5><i class="fa fa-circle"></i> {% trans %}Tags associés{% endtrans %}</h5>
            </div> -->
            <div class="form-group label-floating">
                {{ form_label(form.tagsStr, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.tagsStr, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.tagsStr) }}
                {{ form_errors(form.tagsStr) }}
            </div>
            <hr>

            <div class="form-group">
            <h5><i class="fa fa-circle"></i> {% trans %}Set the announce price{% endtrans %}</h5>
            <p>0Ğ = {% trans %}Free{% endtrans %}</p>
            </div>
            <div class="form-group label-floating">
                {{ form_label(form.price, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.price) }}
                {{ form_errors(form.price) }}
            </div>

            <div class="form-group">
            <h5><i class="fa fa-circle"></i> {% trans %}Public key{% endtrans %}</h5>
            <p>{% trans %}Specify the public key to which you want to receive payment for this announce{% endtrans %}
                <br><small><i>{% trans %}Ignore if the announce is free{% endtrans %}</i></small>
            </p>
            </div>
            <div class="form-group label-floating">
                {{ form_label(form.publicKeyG1, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.publicKeyG1, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.publicKeyG1) }}
                {{ form_errors(form.publicKeyG1) }}
            </div>

            <div class="">

                <div class="form-group" id="address-block">
                    <br><br>
                    <h5><i class="fa fa-map-marker"></i> {% trans %}Localise the announce{% endtrans %}</h5>
                </div>

                <div class="form-group">
                    {{ form_label(form.country, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.country, {'attr': {'class': ''}}) }}
                    {{ form_help(form.country) }}
                    {{ form_errors(form.country) }}
                </div>

                <div class="form-group label-floating">
                    {{ form_label(form.city, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.city) }}
                    {{ form_errors(form.city) }}
                </div>

                <div class="form-group label-floating">
                    {{ form_label(form.streetAddress, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.streetAddress, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.streetAddress) }}
                    {{ form_errors(form.streetAddress) }}
                </div>

            </div>

            <div class="description-toggle d-none">
                <div class="description-toggle-content">
                    <div class="h6"><i class="fa fa-globe"></i> {% trans %}Localise this page on the map{% endtrans %}</div>
                    <p>{% trans %}By activating the location function, you allow other members to view your page on the map in the section{% endtrans %} 
                    <i>{% trans %}search{% endtrans %}</i>. 
                    {% trans %}You also enable local communication options{% endtrans %}.</p>
                </div>

                <div class="togglebutton">
                    <label>
                        <input type="checkbox" checked="" class="checkbox" id="check-user-geoloc">
                    </label>
                </div>
            </div>

            <div class="ui-block d-none geoloc-result">
                <div class="ui-block-title">
                    <h6 class="title"><i class="fa fa-angle-down"></i> 
                        {% trans %}Which result is best for the address you are looking for{% endtrans %} ?
                    </h6>
                </div>   
                <ul class="widget w-friend-pages-added notification-list" id="geoloc-result"></ul>
                
            </div>


            <div class="form-group d-none" id="map-container"></div>


           
            {% if page is defined and page.type == "event" %}
                <div class="form-group">
                    {{ form_label(form.startDate, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.startDate, {'attr': {'class': 'js-datepicker'}}) }}
                    {{ form_help(form.startDate) }}
                    {{ form_errors(form.startDate) }}
                </div>



                <div class="form-group">
                    {{ form_label(form.endDate, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.endDate, {'attr': {'class': 'js-datepicker'}}) }}
                    {{ form_help(form.endDate) }}
                    {{ form_errors(form.endDate) }}
                </div>
            {% endif %}

            {# {% if (page is not defined) or (page is defined and page.type != "user") %} #}

                {# <div class="form-group margin-top-25"><hr>
                <h5><i class="fa fa-lock"></i> {% trans %}Page accessibility{% endtrans %}</h5>
                </div>

                <div class="form-group description-toggle">
                    {% if form.isPrivate is defined %}

                        <div class="description-toggle-content">
                            <p>
                            - {% trans %}By default all pages are public{% endtrans %}.<br>
                            - {% trans %}Activate the option to make this page private{% endtrans %}.<br>
                            </p>
                            <br>{% trans %}When a page is private, it does not appear in search results or suggestions. Nobody can access it except the people with whom you shared the link to your page (url){% endtrans %}.
                        </div>

                        <div class="togglebutton" style="vertical-align: top;">
                            <label>
                                <span class="padding-5" id="lbl-isprivate-false">
                                    <i class="fa fa-unlock"></i> {% trans %}Public{% endtrans %}
                                </span>
                                <span class="padding-5 letter-green d-none" id="lbl-isprivate-true">
                                    <i class="fa fa-lock"></i> {% trans %}Private{% endtrans %}
                                </span>
                                {{ form_widget(form.isPrivate, {'attr': {'class': 'd-none'}}) }}
                            </label>
                        </div>

                        {{ form_help(form.isPrivate) }}
                        {{ form_errors(form.isPrivate) }}
                    {% endif %}
                </div>#}

            {# {% else %} #}
                <div class="d-none">
                    {{ form_widget(form.isPrivate, {'attr': {'class': 'd-none'}}) }}
                </div>
            {# {% endif %} #}
            

            <hr>
            <div class="form-group" id="address-block">
                <h5><i class="fa fa-circle"></i> {% trans %}Contact{% endtrans %}</h5>
                <p>Indiquez les coordonnées que vous souhaitez fournir aux personnes intéressées par votre annonce</p>
            </div>
            <div class="form-group label-floating margin-top-10">
                {{ form_label(form.informations.email, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.informations.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.informations.email) }}
                {{ form_errors(form.informations.email) }}
            </div>

            <div class="form-group label-floating margin-top-10">
                {# form_label(form.informations.website, null, {'label_attr': {'class': 'control-label'}}) #}
                <label class="control-label required" for="page_name">{% trans %}Phone{% endtrans %}</label>
                {{ form_widget(form.informations.website, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.informations.website) }}
                {{ form_errors(form.informations.website) }}
            </div>

            <div class="d-none">
                {{ form_widget(form.informations.communecter, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.informations.facebook, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.informations.twitter, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.informations.youtube, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.informations.discord, {'attr': {'class': 'form-control'}}) }}
            </div>

            <hr>
            <div class="form-group">
            <h5><i class="fa fa-circle"></i> {% trans %}Author of this announce{% endtrans %}</h5>
            </div>

            <div class="form-group">
                {% if form.parentPage is defined %}
                    {# {{ form_label(form.parentPage, null, {'label_attr': {'class': 'control-label'}}) }} #}
                    <label class="control-label required" for="page_parentPage">
                        Sur quelle page souhaitez-vous publier cette annonce ?
                    </label>
                    {{ form_widget(form.parentPage, {'attr': {'class': ''}}) }}
                    {{ form_help(form.parentPage) }}
                    {{ form_errors(form.parentPage) }}
                {% endif %}
            </div>
            

            <div class="form-group d-none">
                {% if form.type is defined %}
                    {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.type, {'attr': {'class': ''}}) }}
                    {{ form_help(form.type) }}
                    {{ form_errors(form.type) }}
                {% endif %}
            </div>



            <div class="form-group">
            <hr>
            </div>

            {% if page is defined %}
                {{ form_widget(form.latitude, {'attr': {'class': 'form-control', 'value' : page.coordinates[1] }}) }}
                {{ form_widget(form.longitude, {'attr': {'class': 'form-control', 'value' : page.coordinates[0] }}) }}
            {% endif %}

            <button type="submit" class="btn btn-blue btn-lg full-width">
                {% if classified.id != null %}<i class="fa fa-plus"></i> {% trans %}Create the announce{% endtrans %}
                {% else %}<i class="fa fa-check"></i> {% trans %}Save this informations{% endtrans %}
                {% endif %}
            </button>

            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="{{ asset('js/sig/sig.js') }}"></script>

<script>
    {% if page is defined %}
        var currentFormType = "{{ page.type }}";
        var formStartDate = "{{ page.startDateStr }}";
        var formEndDate = "{{ page.endDateStr }}";
    {% else %}
        var currentFormType = $("#page_type").val();
    {% endif %}

    $( document ).ready(function() {
        pageObj.initFormCreatePage();

        
        $("input#page_price").on("keypress keyup blur",function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
            $(this).val($(this).val().replace(/[^0-9\.]/g,''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        console.log("init page_city");
        var timerCheckGeoloc = false;

        $("form #page_city").keyup(function(){
            console.log("page_city");
            if(timerCheckGeoloc != false) 
                clearTimeout(timerCheckGeoloc);


            timerCheckGeoloc = setTimeout(function(){
                $("#check-user-geoloc").click();
            }, 1000);
            
        });


        $("form #page_price").val('1');
    });
</script>