
#map-container{
    min-height:350px;
}
.dropdown-address{
    background-color: #f3f1f1;
    margin-left:-5px;
    width:103%;
    max-height:200px;
    overflow-y: auto;
}
.dropdown-address .dropdown-item{
    overflow: hidden;
}

.geoloc-result .inline-items,
#geoloc-result .inline-items{
    padding:10px;
    margin-top:5px;
    list-style-type: none;
}
.geoloc-result .inline-items b{
    padding-top:5px;
}

/* APP SEARCH */
.app-search #map-container{
    min-height:500px;
	margin-bottom:10px;
	border:3px solid white;
}
.app-search .friend-item-content{
	padding: 0 25px 10px 25px;
}
.app-search .friend-item-content .btn-control{
	width: 29px;
	height: 29px;
	line-height: 29px;
	font-size: 13px;
	margin: 0px;
	opacity: 0;
	color:white !important;
}
.app-search .friend-item:hover .btn-control{
	opacity: 1;
}

.app-search .friend-item-content .btn-control > i {
    font-size: 13px;
}
.app-search .control-block-button .btn-control svg{
	width: 19px;
	height: 19px;
}
.app-search .control-block-button .btn-control.icon-add::after{
	right: 6px;
	top: -10px;
}

.app-search .friend-item-content a.open-quickview .fa-eye {
    margin-top: 11px;
    display: block;
    font-size: 18px;
}
.app-search .friend-item-content .swiper-pagination-bullet{
	width: 15px;
	height: 15px;
}
.app-search .friend-item-content .h6{
	margin-bottom:0px;
}
.app-search #search-result-list .col{
	padding: 0px 5px;
}
.app-search #search-result-list{
	min-height: 1000px;
}
/* APP SEARCH */


/* PAGE PREVIEW */
.col-image-profil{
	margin-top:70px;
}

.fa-type-page::before{
	background-color: white;
	padding: 6px;
	border-radius: 40px;
	border: 0px solid #cbcbcb;
}
.fa-type-page {
    background-color: transparent;
    padding: 4px;
    border-radius: 40px;
    display: block;
    margin-top: -16px;
}
.friend-item-content .friend-count-item, .friend-count-item:last-child {
    display: inline-block;
    margin-right: 0px;
    width: 32%;
}
.friend-item .swiper-container {
    padding-bottom: 0px;
}
.friend-avatar{
	margin-bottom: 10px;
}
/* PAGE PREVIEW */


.btn-type-page{
	background-color: white;
	margin-top: 0px !important;
	border-radius: 25px;
	font-size: 12px;
	margin-bottom: 0px !important;
	padding: 5px 10px !important;
}

.btn-type-page:hover{
	background-color: #f0f0f0;
}


#modal-quickview .container-newsstream{
	padding: 30px 50px 30px 50px;
	background-color: #edf2f6;
}
#modal-quickview .block-welcome-dashboard{
	display: none;
}

.app-search .btn-open-marker{
	/*display: none;*/
	position: absolute;
	top: 1px;
	right: 6px;
	border-radius: 0px 3px 0px 5px;
	border: none;
	padding: 5px 13px;
	background-color: rgba(224, 224, 224, 0.72);
}
.btn-open-marker:hover{
	background-color: rgba(224, 224, 224, 1);
}

/*.app-search .friend-item:hover .btn-open-marker{
	display: inline;
}*/

.app-search input#search-url{
	font-size: 13px;
}
.app-search #btn-select-all-types{
    margin-top: -10px;
    padding: 5px 10px;
}


.today-events-thumb{
    padding:10px 20px;
}
.today-events-thumb{
    background-image:url("");
}
.today-events-thumb .date{
    background-color:rgba(0,0,0,0.2);
    position: relative;
	border-radius: 5px;
}
.today-events-thumb .day-number{
	font-size:50px;
}
.today-events-thumb .day-week{
	font-size: 18px;
}
.today-events-thumb .day-week,
.today-events-thumb .day-number,
.today-events-thumb .month-year{
	line-height: 1;
	margin:0px;
}
.today-events-thumb img{
    width: 100%;
    position: absolute;
    left: 0px;
	top: 0px;

}
.today-events.calendar .card::before{
	background-color: transparent;
}
body.dark-theme .today-events.calendar .card:first-child .card-header{
	border-left: 2px solid white;
}
.today-events.calendar .card:first-child .card-header{
	border-left: 2px solid;
	border-radius: 0px;
}

.today-events .event-time::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 4px solid #08ddc1;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: -34px;
    top: 3px;
    background-color: #fff;
}
#map-container {
    min-height: 400px;
}


@media screen and (min-width: 769px){
		
	.app-search #map-container{
	   	display: none;
	}
	.app-search.sig-open #map-container{
	   	position: fixed;
		display: block;
		top: 67px;
		right: 0px;
		left: 59%;
		bottom: -56px;
		z-index: 10;
	}
	.container.app-search.sig-open{
		width: 55%;
		float: left;
		margin-left: 6%;
		margin-top: -20px;
	}

	.container.app-search.sig-open #block-around-you {
	    position: fixed;
	    top: 80px;
	    left: 80px;
	    z-index: 200;
	    right: 61%;
	}
}
@media screen and (max-width: 767px){

	.header-spacer{
		height: 85px;
	}

	.app-search #map-container{
	    min-height:400px;
	    margin-left: -15px;
		margin-right: -15px;
	}

	/* PAGE PREVIEW */
	.col-image-profil{
		margin-top:-115px;
	}

	/* PAGE PREVIEW */

	.app-search{
	   	padding:0 5px 0 0px;
	}
	.app-search div.col-12{
	   	padding:0 10px 0 10px;
	}
	
    .btnrefresh-padding{
        padding-left:0px;
    }

    .app-search .friend-item-content .btn-control{
    	opacity: 1 !important;
    }

}


@media screen and (min-width: 1024px){
    .container.app-search.sig-open{
		width: 55%;
		float: left;
		margin-left: 5%;
		margin-top: -20px;
	}
}
@media screen and (min-width: 1300px){
    .container.app-search.sig-open{
		width: 55%;
		float: left;
		margin-left: 4%;
		margin-top: -20px;
	}
	/*.app-search.sig-open #map-container{
	   	right: 60%;
	}*/
}