{% trans_default_domain 'page' %}

{% extends('theme/base-app-offline.html.twig') %}


{% block body %}

<div class="header-spacer"></div>

<!-- Top Header -->
<div class="container">
	<div class="row">
		<div class="col-12 col-md-2 margin-top-25"></div>
		<div class="col-12 col-md-8 margin-top-25 padding-15 ui-block">
		<h3 class="letter-green"><i class="fa fa-check"></i> Ok, {{ page.name }}</h3>
		<hr>
		<p>
			Vous ne recevrez plus d'e-mail de la part de nexxociety.co.<br>
			<small>Vous pouvez réactiver les e-mails à tout moment, en modifiant les préférences de votre compte.</small>
		</p>
		<hr>
		<h5>A très vite sur Nexxo !</h5>
		</div>
		<div class="col-12 col-md-2 margin-top-25"></div>
	</div>
</div>

{% endblock %}