{% trans_default_domain 'page' %}


<!-- Main Content -->

<div class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12" id="stream-container">
	{{ include('news/news-stream.html.twig', { "page" : page, 
											   "dashboard" : "false" }) }}
</div>

<!-- ... end Main Content -->

<!-- Left Sidebar -->

<div class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
	{% if app.user != null %}
	{{ include('page/blocks/dashboard-block-left.html.twig', {  "page" : page, 
											   					"dashboard" : "false" }) }}
	{% endif %}
</div>

<!-- ... end Left Sidebar -->


<!-- Right Sidebar -->

<div class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">
	{% if app.user != null %}
	{{ include('page/blocks/dashboard-block-right.html.twig', {  "page" : page, 
											   					"dashboard" : "false" }) }}
	{% endif %}										   					
</div>

<!-- ... end Right Sidebar -->