{% trans_default_domain 'page' %}

<style>
	.card-header i, .card-header svg {
	    float: unset;
	    margin-top: 0px;
	    padding: 2px;
	}
</style>

<div class="order-2 order-xl-1 col-xl-3 col-lg-3 order-lg-1 col-md-12 col-sm-12 col-xs-12 no-padding padding-left-15 block-menu-setting">
	<div class="ui-block">
		<div class="your-profile settings {# d-none d-sm-inline #}">
			
			<div id="accordion" role="tablist" aria-multiselectable="true">
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h6 class="mb-0">
							<a data-toggle="collapse" data-parent="#accordion" href="javascript:" 
								aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-angle-down float-left"></i> 
								{% trans %}Informations{% endtrans %}
							</a>
						</h6>
					</div>

					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
						<ul class="your-profile-menu">
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-main-info' })}}">
									<i class="fa fa-certificate"></i> {% trans %}General Informations{% endtrans %}
								</a>
							</li>
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}">
									<i class="fa fa-map-marker"></i> {% trans %}Address and position on map{% endtrans %}
								</a>
							</li>
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-perso-info' })}}">
									<i class="fa fa-info-circle"></i> {% trans %}Contact and network{% endtrans %}
								</a>
							</li>
							{# 
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-interests' })}}">
									<i class="fa fa-hand-rock-o"></i> {% trans %}Personal engagement{% endtrans %}
								</a>
							</li> #}
							{# <li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-lifepath' })}}">
									{% trans %}Education and Employement{% endtrans %}
								</a>
							</li> #}
						</ul>
					</div>
					<div class="card-header" role="tab" id="headingOne">
						<h6 class="mb-0">
							<a data-toggle="collapse" data-parent="#accordion" href="javascript:" 
							aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-angle-down float-left"></i> 
								{% trans %}Configurations{% endtrans %}
							</a>
						</h6>
					</div>
					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
						<ul class="your-profile-menu">
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-preferences' })}}">
									<i class="fa fa-cog"></i> {% trans %}Preferences{% endtrans %}
								</a>
							</li>
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-confidentiality' })}}">
									<i class="fa fa-lock"></i> {% trans %}Confidentiality{% endtrans %}
								</a>
							</li>
							<li>
								<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-change-password' })}}">
									<i class="fa fa-key"></i> {% trans %}Change Password{% endtrans %}
								</a>
							</li>
						</ul>
					</div>

					
				</div>
			</div>

		</div>
		
		{# <button class="btn btn-secondary d-sm-none">{% trans %}Configure my account{% endtrans %}</button> #}

	</div>
</div>

{{  include("page/forms/" ~ subview ~ ".html.twig", { "form": form, "action" : action, "page" : page })  }}
