{% trans_default_domain 'page' %}

<!-- Window-popup Create Friends Group Add Friends -->
<div class="modal fade" id="modal-select-group-scope">
	<div class="modal-dialog ui-block window-popup create-friend-group create-friend-group-add-friends">	
		<div class="ui-block-title">
			<h6 class="title">
				{# <svg class="olymp-happy-faces-icon" 
	        		 data-toggle="modal" data-target="#modal-select-group-scope">
					<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-faces-icon"></use>
				</svg>  #}
				<i class="fa fa-circle"></i> 
				{% trans %}Select groups to share your message with{% endtrans %}
			</h6>
			<div class="more">
				{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
					<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
				</svg> #}
				<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i> 
			</div>
		</div>

		<div class="ui-block-content">
			<form class="form-group label-floating is-select">
				<select class="selectpicker form-control style-2 show-tick no-padding" 
						multiple data-max-options="100" data-live-search="true" size="auto">
					

					{# {% for pageAdmin in page.relations.isAdminOf %} #}
						{% for group in page.groups %}
							<option title="{{ group.id }}" data-name="{{ group.name }}" 
									class="group-in-page-{{ page.id }}" id="option-select-group-{{ group.id }}"
									data-content='<div class="inline-items">
													<div class="h6 author-title">
														<img src="{{ page.imageProfilAsset }}" height="23" alt="imggroup">
														{{ group.name }} <small><i class="fa fa-user"></i> {{ group.members|length }}</small>
													</div>
												  </div>'>
							</option>
						{% endfor %}
					{# {% endfor %} #}
				</select>
			</form>

			<a href="#" class="btn btn-blue btn-lg full-width" id="btn-add-group-to-scope" data-group-id=""
				 data-dismiss="modal" aria-label="Close">
				<i class="fa fa-check"></i> {% trans %}Save{% endtrans %}
			</a>
		</div>
	</div>
</div>