{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}
	<div class="container">
        <div class="row display-flex">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="landing-content">
                    <h1>{% trans %}Credits{% endtrans %}</h1>


					<div>
					Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from 
					<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
					is licensed by 
					<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
						CC 3.0 BY
					</a>
					</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
