{% extends 'theme/base-landing.html.twig' %}

{% block body %}
	
	<style>
	li a{
		font-size: 17px;
		color:white;
	}
	</style>

	<div class="container">
        <div class="row display-flex">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="landing-content">
                    <h1>Documentation technique pour développeurs</h1>

                    <ul>
	                    <li>
		                    <a href="https://hackmd.io/2iKDx3jSScu0ywdFUIf04A?both#" target="_blank">
		                    	- Spécification | Doc n°1 - Nexxo Social Network
		                    </a>
	                    </li>
	                    <li>
		                    <a href="https://hackmd.io/UEEkVEedRTadpHKgspUNRQ#" target="_blank">
		                    	- Modélisation HackMD
		                    </a>
	                    </li>
	                    <li>
		                    <a href="https://www.mindmeister.com/1122985748" target="_blank">
		                    	- Modélisation Mindmeister
		                    </a>
	                    </li>
                   	</ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}