{% trans_default_domain 'homepage' %}

<div class="container">
	<div class="row">

		<div class="col-xl-12 col-lg-12 col-md-12">
			<div id="site-header-landing" class="header-landing">
				<a href="/" class="logo">
					<h5 class="d-none d-md-inline logo-title">
						<img src="{{ asset('img/nexxociety-logo.png') }}" height="60"><br><br>
						{% trans %}SOCIAL NETWORK FOR AN OTHER WORLD{% endtrans %}
						<br><hr class="margin-top-10 margin-bottom-10">
						LET'S CREATE THE <span class="h5 letter-azure" style="font-weight:200!important;">NEXT-SO</span><span class="h5 letter-breez" style="font-weight:200!important;">CIETY <span class="d-none h5 letter-red" style="font-weight:200!important;">IN COMMON</span>
					</h5>
					<h5 class="d-md-none logo-title text-center">
						<img src="{{ asset('img/logo/logo-earth.png') }}" alt="img" height="70" style="float:unset;margin-bottom:10px;"><br>
						<img src="{{ asset('img/nexxociety-logo.png') }}" height="50" style="float:unset;margin-bottom:5px;"><br>
						{% trans %}SOCIAL NETWORK FOR AN OTHER WORLD{% endtrans %}
						<br><hr class="margin-top-10 margin-bottom-10">
						LET'S CREATE THE <span class="h5 letter-azure" style="font-weight:200!important;">NEXT-SO</span><span class="h5 letter-breez" style="font-weight:200!important;">CIETY <span class="d-none h5 letter-red" style="font-weight:200!important;">IN COMMON</span>
					</h5>
				</a>


				<ul class="pull-right margin-left-25 menu-lang">
					
					<li class="d-inline-block margin-right-10 btn-lang margin-top-5" 
						data-toggle="tooltip" data-original-title="français" data-placement="bottom">
						<a href="{{ path('setlocale', {'_locale': 'fr'}) }}" class=" letter-white">
							<img src="{{ asset('img/flag/flag-fr.png') }}" height="15"> 
							FR
						</a>
					</li>
					<li class="d-inline-block margin-right-10 btn-lang"
						data-toggle="tooltip" data-original-title="english" data-placement="bottom">
						<a href="{{ path('setlocale', {'_locale': 'en'}) }}" class=" letter-white">
							<img src="{{ asset('img/flag/flag-en.png') }}" height="15"> 
							EN
						</a>
					</li>
				</ul>
				

				<ul class="profile-menu">
					<li>
						<a href="/">{% trans %}Home{% endtrans %}</a>
					</li>
					{# <li>
						<a href="{{ path('about') }}">{% trans %}About{% endtrans %}</a>
					</li> #}
					<li>
						<a href="https://gitlab.com/Alpha_Tango/nexxo/wikis/Pr%C3%A9sentation">{% trans %}Wiki{% endtrans %}</a>
					</li>
					{# <li>
						<a href="/documentation/build/index.html" target="_blank">{% trans %}Documentation{% endtrans %}</a>
					</li> #}
					<li>
						<a href="{{ path('contact-admin', { 'type':'message' }) }}">{% trans %}Contact{% endtrans %}</a>
					</li>
					<li>
						<a href="#" class="js-expanded-menu">
							{# <svg class="olymp-menu-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-menu-icon"></use></svg>
							<svg class="olymp-close-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-close-icon"></use></svg> #}
							<i class="fa fa-bars fa-2x olymp-menu-icon"></i> 
							<i class="fa fa-close fa-2x olymp-close-icon"></i> 
						</a>						
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>