{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}
	<div class="container">
        <div class="row display-flex">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="landing-content">
                	<div id="document-body" class="col-12 col-md-8">

						<h1 class="countheads">Politique de confidentialité (standard RGPD)</h1>
						<p><b>Sécurité et protection des données personnelles</b></p>
						<br>

						<h5 class="nocount"><u>Définitions</u> :</h5>
						<p>
						<b>L'Éditeur</b> : La personne, physique ou morale, qui édite les services de communication au public en ligne.<br>
						<b>Le Site</b> : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.<br>
						<b>L'Utilisateur</b> : La personne utilisant le Site et les services.<br>
						</p>


							<h5>Nature des données collectées</h5>
							<p><b>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données suivantes concernant ses Utilisateurs :</b></p>
							<div id="C0Q1"><p>
						- Adresse e-mail
						</p>
						<p>
						- Données de localisation (coordonées GPS - dont le placement est effectué librement par l'utilisateur lui-même)<br>
						Aucun suivi automatique par aucun service de géolocalisation GSM ou autre n'est mis en place.
						</p>
						</div>

							<div id="C1Q1"><h5>Communication des données personnelles à des tiers</h5><p>
						<b>
						Pas de communication à des tiers
						</b>
						<br>
						Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente.
						</p>
						</div>

							<div id="C6Q1"><h5>Collecte des données d'identité</h5><p>
						<b>
						Utilisation d’un pseudonyme
						</b>
						<br>
						L’utilisation du Site nécessite une inscription sans identification préalable. Elle peut s’effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom, prénom, adresse, etc). Vous pouvez utiliser le pseudonyme de votre choix.</p>
						</div>


							<div id="C7Q1"><h5>Collecte des données d'identification</h5><p>
						<b>
						Utilisation de l'identifiant de l’utilisateur (e-mail) uniquement pour l’accès aux services, et pour l'envoie d'e-mail (validation de compte, oubli de mot de passe, mail d'information)
						</b>
						<br>
						Nous utilisons vos identifiants électroniques seulement pour et pendant l'exécution du contrat.
						</p>
						</div>



							<div id="C8Q1"><h5>Géolocalisation</h5><p>
						<b>
						Géolocalisation à des fins de fourniture du service
						</b>
						<br>
						Nous collectons et traitons vos données de géolocalisation afin de vous fournir nos services. Nous ne seront jamais amenés à faire usage des données personnelles dans le but de déterminer votre position géographique en temps réel. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation.
						</p>

						<p>
						<b>
						Géolocalisation à des fins de croisement
						</b>
						<br>
						Nous collectons et traitons vos données de géolocalisation afin de permettre à nos services d'identifier les points de croisement dans le temps et dans l'espace avec d'autres Utilisateurs du service afin de vous présenter le profil des Utilisateurs croisés. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation. Vous reconnaissez alors que le service ne sera plus en mesure de vous présenter de profil des autres Utilisateurs. <br>
						<br>
						Vos données de géolocalisation sont également utilisées afin de permettre à notrte service de géo-communication de fonctionner (envoie de message géolocalisés).
						</p>

						</div>


							<div id="C9Q1"><h5>Collecte des données du terminal</h5><p>
						<b>
						Aucune collecte des données techniques
						</b>
						<br>
						Nous ne collectons et ne conservons aucune donnée technique de votre appareil (adresse IP, fournisseur d'accès à Internet...).
						</p>
						</div>


							<h5>Cookies</h5>
						<p><b>Durée de conservation des cookies</b>
						<br>
						Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</p>

						<p><b>Finalité cookies</b><br>
						Les cookies sont utilisés afin d'adapter la langue utilisée sur le site à vos préférences système (langue de votre navigateur) Ils sont aussi utilisés pour vous permettre une reconnexion rapide, sans avoir à saisir à chaque fois vos identifiants.<br><br>
						D'une façon générale, les cookies ne seront jamais utilisés à des fins commerciales, mais seulement dans le but de proposer une navigation de meilleure qualité à nos utilisateurs.</p>


							<div id="C10Q1"><p>
						<b>
						Droit de l'Utilisateur de refuser les cookies, la désactivation entraînant un fonctionnement dégradé du service
						</b>
						<br>
						Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies, et l'y autorisez. Si vous ne souhaitez pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous permettent de désactiver les cookies en passant par les options de réglage. Toutefois, vous êtes informé que certains services sont susceptibles de ne plus fonctionner correctement.
						</p>
						</div>


							<h5>Conservation des données techniques</h5>
						<p>
						<b>
						Durée de conservation des données techniques
						</b>
						<br>
						Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités visées ci-avant.
						</p>


							<h5>Délai de conservation des données personnelles et d'anonymisation</h5>

							<div id="C12Q1"><p>
						<b>
						Conservation des données pendant la durée de la relation contractuelle
						</b>
						<br>
						Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle. 
						</p>

						<p>
						<b>
						Conservation des données anonymisées au delà de la relation contractuelle / après la suppression du compte
						</b>
						<br>
						Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.
						</p>
						</div>

						<p>
						<b>
						Suppression des données après suppression du compte
						</b>
						<br>
						Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec l'Éditeur, ou via l'interface du site.
						</p>
						<p>
						<b>
						Suppression des données après 3 ans d'inactivité 
						</b>
						<br>
						Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans, vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront supprimées de nos bases de données.
						</p>


							<h5>Suppression du compte</h5>
						<p>
						<b>
						Suppression du compte à la demande
						</b>
						<br>
						L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par le menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.
						</p>

						<p>
						<b>
						Suppression du compte en cas de violation des CGU
						</b>
						<br>
						En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.
						</p>
						<p>Le système de modération collective, mentionné dans les <a href="{{ path('cgu') }}">conditions d'utilisations</a> peut également donner lieu à une restriction des accès aux services d'un utilisateur, sans nécessiter l'accord de l'Editeur du site.</p>

							<h5>Indications en cas de faille de sécurité décelée par l'Éditeur</h5>
						<p>
						<b>
						Information de l'Utilisateur en cas de faille de sécurité
						</b>
						<br>
						Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant. 
						Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à : 
						</p><ul><li>Vous notifier l'incident dans les plus brefs délais ;</li>
						<li>Examiner les causes de l'incident et vous en informer ; </li>
						<li>Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et préjudices pouvant résulter dudit incident</li></ul>
						<p></p>

						<p>
						<b>
						Limitation de la responsabilité
						</b>
						<br>
						En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de l'incident en question.
						</p>


							<div id="C15Q1"><h5>Transfert des données personnelles à l'étranger</h5><p>
						<b>
						Transfert des données dans des pays avec un niveau de protection équivalent
						</b>
						<br>
						L'Éditeur s'engage à respecter la réglementation applicable relative aux transferts des données vers des pays étrangers et notamment selon les modalités suivantes :<br>
						</p><ul><li>L'Éditeur transfère les données personnelles de ses Utilisateurs vers des pays reconnus comme offrant un niveau de protection équivalent.</li>
						<li>L'Éditeur transfère les données personnelles de ses Utilisateurs en dehors des pays reconnus par la CNIL comme ayant un niveau de protection suffisant : L'Éditeur a obtenu une autorisation de la CNIL pour procéder à ce transfert.</li></ul>
						Pour connaître la liste de ces pays : 
						<a href="https://www.cnil.fr/fr/la-protection-des-donnees-dans-le-monde" target="_blank">CNIL - La protection des données dans le monde</a> 

						<p></p>
						</div>



							<h5>Modification des CGU et de la politique de confidentialité</h5>	
						<p>
						<b>
						En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de manière substantielle sans l'information préalable des personnes concernées
						</b>
						<br>
						Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas baisser le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre consentement.
						</p>


							<div id="C17Q1"><h5>Droit applicable et modalités de recours</h5><p>
						<b>
						Clause d'arbitrage
						</b>
						<br>
						Vous acceptez expressément que tout litige susceptible de naître du fait des présentes CGU, notamment de son interprétation ou de son exécution, relèvera d'une procédure d'arbitrage soumise au règlement de la plateforme d'arbitrage choisie d'un commun accord, auquel vous adhérerez sans réserve.
						</p>
						</div>


							<div id="C18Q1"><h5>Portabilité des données</h5><p>
						<b>
						Portabilité des données
						</b>
						<br>
						L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous concernant sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses données, et garde la possibilité de les réutiliser. Ces données devront être fournies dans un format ouvert et aisément réutilisable.
						</p>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}