{% trans_default_domain 'group' %}
<!-- Window-popup Create Friends Group -->
<div class="modal fade" id="create-friend-group-1">
	<div class="modal-dialog ui-block window-popup create-friend-group create-friend-group-1">
		

		<div class="ui-block-title">
			<h6 class="title"><i class="fa fa-plus"></i> {% trans %}Create a group{% endtrans %}</h6>
			<div class="more" data-dismiss="modal" aria-label="Close">
				{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
					<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
				</svg> #}
				<i class="fa fa-times fa-2x"></i>
			</div>
		</div>

		<div class="ui-block-content">
			{{ form_start(form, { 'action' : path('create-group', { "slugOwner" : page.slug } ) }) }}
				<div class="form-group label-floating">
					{{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
		            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		            {{ form_help(form.name) }}
		            {{ form_errors(form.name) }}
		            <input type="hidden" id="group_slugOwner" value="{{ page.slug }}">
	            </div>
			{{ form_end(form) }}
            <br>
			<button type="submit" class="btn btn-blue btn-lg full-width" id="btn-save-new-group"
				 	data-dismiss="modal" aria-label="Close">
				{% trans %}Create group{% endtrans %}
			</button>
		</div>
	</div>
</div>
<!-- ... end Window-popup Create Friends Group -->