{% trans_default_domain 'group' %}
<!-- Window-popup Remove Friends from group -->
<div class="modal fade" id="modal-remove-group">
	<div class="modal-dialog ui-block window-popup create-friend-group create-friend-group-add-friends">
		
		<div class="ui-block-title">
			<h6 class="title"><i class="fa fa-trash"></i> {% trans %}Remove a group{% endtrans %}</h6>
			<div class="more" data-dismiss="modal" aria-label="Close">
				{# <svg class="olymp-close-icon" data-dismiss="modal" aria-label="Close">
					<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
				</svg> #}
				<i class="fa fa-times fa-2x"></i>
			</div>
		</div>

		<div class="ui-block-content">
			<p>
				{% trans %}Are you sure you want to delete this group{% endtrans %} ? <b><span id="name-group-to-delete"></span></b><br>
				{% trans %}Members in this group will not be removed of your friends/members{% endtrans %}.<br>
				({% trans %}They will not be notified about your action{% endtrans %})
			</p>
		</div>
		<div class="modal-footer">
		
			<a href="javascript:" class="btn btn-primary"
				 data-dismiss="modal" aria-label="Close">
				<i class="fa fa-times"></i> {% trans %}Cancel{% endtrans %}
			</a>
			<a href="javascript:" class="btn btn-blue" id="btn-conf-delete-group" data-group-id=""
				 data-dismiss="modal" aria-label="Close">
				<i class="fa fa-check"></i> {% trans %}Yes, remove this group{% endtrans %}
			</a>
		</div>

	</div>
</div>

<!-- ... end Window-popup Remove Friends from group -->
