{% trans_default_domain 'page' %}

<style>
.container-relation{
	position: absolute;
	top:0px;
	width:40%;
	background: transparent;
}
.label-relation{
	float:left;
	margin: 5px;
	background-color: rgba(35, 35, 35, 0.7);
	padding: 3px 6px;
	border-radius: 40px;
	width: 24px;
	font-size: 11px;
	text-align: center;
	color: white;
	margin-right: 0px;
}
.label-relation i{
	
}
.app-search .btn-open-marker {
    position: unset;
    padding: unset;
    background-color: transparent!important;

}
</style>
<div class="res-total-count d-none">{{ totalCount }}</div>
<div  class="row no-margin">
	{% for result in results %}
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
			<div class="ui-block bg-transparent no-border">
				
				<!-- Friend Item -->
				<div class="friend-item">
					{# <div class="friend-header-thumb no-border">
						<a href="{{ path('page', {'slug': result.slug}) }}" 
							class="{% if result.imageBanner == "default.png" %}banner-empty{% endif %}">
							{% if result.imageBanner != "default.png" %}
								<img src="{{ result.imageBanner }}" alt="img">
							{% else %}
								<img src="{{ asset('uploads/imgBanner/min/' ~ result.imageBanner) }}" alt="img">
							{% endif %}
						</a>
						
						
					</div> #}
				
					<div class="friend-item-content" id="{{ result.slug }}">

						<div class="friend-avatar">
							{# <div class="author-thumb margin-bottom-5"
								 data-toggle="modal" data-target="#modal-quickview"
								 title="{% trans %}Show quick view{% endtrans %}"
							     {# data-toggle="tooltip" data-original-title="{% trans %}Show quick view{% endtrans %}"
							     data-placement="top" # }>
									<a href="{{ result.informations.website }}" 
										class="" data-type="page" data-id="{{ result.slug }}">
										{% if result.imageProfil != null and result.imageProfil != "default.png" %}
											<img src="{{ result.imageProfil }}" alt="img" height="92" width="92">
										{% else %}
											<img src="{{ asset('uploads/imgProfil/default.png') }}" 
												 alt="img" height="92">
										{% endif %} {{ result.sourceKey }}
									</a>
									
							</div> #}
							<div class="author-content text-left">
								{# <small class="elipsis">{{ result.tagsStr }}{% if result.tagsStr == "" %}-{% endif %}</small>
								<br> #}

								{% if result.imageProfil != null and result.imageProfil != "default.png" %}
									<a href="{{ result.informations.website }}" target="_blank"
									class="h5 author-name elipsis no-margin" data-type="page" data-id="{{ result.slug }}">
										<img src="{{ result.imageProfil }}" alt="img" height="40" width="40" class="border-radius-15"> 
										 {{ result.name }}
									</a>
								{% else %}

								<a href="{{ result.informations.website }}" target="_blank" class="h5 author-name elipsis no-margin">
									<i class="fa fa-circle"></i> {{ result.name }}
								</a>
								{% endif %}

								<br>
								{% if result.isConfAuth("SHOW_ADDRESS", currentUserPage) and result.city != "" %}
									<div class="country elipsis no-margin">
										{% if result.country != "" or result.city != "" %}<i class="fa fa-map-marker margin-left-5"></i>{% endif %}
										{% if result.city != "" %}{{ result.city }}{% endif %}
										{% if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif %}
										{% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
									</div>
								<br>
								{% endif %}
								{% if result.coordinates[0] != "false" and 
									  result.isConfAuth("SHOW_GEOPOS", currentUserPage) and
									  result.id != currentUserPage.id
								 %}
								<a href="javascript:" class="btn-open-marker letter-blue" data-id="{{ result.id }}">
									<i class="fa fa-map margin-left-5 letter-blue"></i> {% trans %}Show on map{% endtrans %}
								</a>
								{% endif %}

								{% if result.informations.website %} · 
									<a href="{{ result.informations.website }}" target="_blank" 
										class="">
										<i class="fa fa-reply fa-rotate-180"></i> <i class="fa fa-desktop"></i> 
										{% trans %}Website{% endtrans %}
									</a>
								{% endif %}
							</div>
						</div>
				
						{% if result.sourceKey == null %}
						<div class="row">

							{% if result.type == "user" %} 
								<span class="friend-count-item">
									<div class="h6 count-item-friend">{{ result.relations.realFriends|length }}</div>
									<div class="title">{% trans %}Friends{% endtrans %}</div>
									{% if result.id != currentUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}Ask for friend{% endtrans %}" 
									   data-placement="bottom"#}
									   title="{% trans %}Ask for friend{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-hand-peace-o"></i>
									</a>
									{% endif %} 
								</span>
							{% elseif result.type == "event" %} 
								<span class="friend-count-item">
									<div class="h6 count-item-participate">{{ result.relations.participants|length }}</div>
									<div class="title">{% trans %}Participants{% endtrans %}</div>
									{% if result.id != currentUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-participate" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}I want to participate{% endtrans %}"
									   data-placement="bottom" #}
									   title="{% trans %}I want to participate{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-group"></i>
									</a>
								{% endif %}
								</span>
							{% else %} 
								<span class="friend-count-item">
									<div class="h6 count-item-friend">{{ result.relations.friends|length }}</div>
									<div class="title">{% trans %}Members{% endtrans %}</div>
									{% if result.id != currentUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}Become member{% endtrans %}"
									   data-placement="bottom" #}
									   title="{% trans %}Become member{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-hand-peace-o"></i>
									</a>
								{% endif %}
								</span>
							{% endif %} 
							<span class="friend-count-item">
								<div class="h6 count-item-follow">{{ result.relations.followers|length }}</div>
								<div class="title">{% trans %}Followers{% endtrans %}</div>
								{% if result.id != currentUserPage.id %} 
									<a href="javascript:" class="btn btn-purple btn-control btn-send-request-follow" 
								   data-slug-page="{{ result.slug }}"
								   data-slug-page-confirm="true"
								   {# data-toggle="tooltip" data-original-title="{% trans %}Follow this page{% endtrans %}"
								   data-placement="bottom" #}
								   title="{% trans %}Follow this page{% endtrans %}">
									<i class="fa fa-link"></i>
								</a>
								{% endif %}
							</span>
							<span class="friend-count-item">
								<div class="h6 count-item-like">{{ result.relations.likers|length }}</div>
								<div class="title">{% trans %}Likes{% endtrans %}</div>
								{% if result.id != currentUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-like" 
								   data-slug-page="{{ result.slug }}"
								   data-slug-page-confirm="true"
								   {# data-toggle="tooltip" data-original-title="{% trans %}Like this page{% endtrans %}"
								   data-placement="bottom" #}
								   title="{% trans %}Like this page{% endtrans %}">
								<i class="fa fa-thumbs-o-up"></i>
								</a>
								{% endif %}
							</span>
						</div>
						{% else %}
						<div class="row no-margin">
							<div class="col col-12 text-left">
								{{ result.description|slice(0, 300) }}
								<br><small><i class="fa fa-arrow-right"></i> <i>{{ result.sourceKey }}</i></small>
								
							</div>
							{# <div class="col col-12 text-left">
									{% if result.informations.website %}<br>
										<a href="{{ result.informations.website }}" target="_blank" 
											class="">
											<i class="fa fa-desktop"></i> 
											{% trans %}Website{% endtrans %}
										</a>
									{% endif %}
							</div> #}
						</div>
						{% endif %}
						<hr>
						{% if result.id == currentUserPage.id %}<br>{% endif %}

					</div>
				</div>			
			</div>
		</div>
	{% endfor %}

	{% if results|length == 0 %}
		<div class="col col-12">
			<div class="ui-block padding-15">
				<i class="fa fa-ban"></i> {% trans %}No result{% endtrans %}
			</div>
		</div>
	{% endif %}
</div>

<script>
	searchObj.results  =  {{ jsonRes|json_encode|raw }};
    $( document ).ready(function() {
        searchObj.initListResUi();
    });
</script>


