{% trans_default_domain 'notification' %}

{% if app.user.myUserPage.firstStep == 0 %}
<div class="control-icon more has-items">
	{# <svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg> #}
	<i class="fa fa-hand-peace-o margin-right-15"></i>
	<div class="label-avatar friend-requests menu-top bg-blue {% if requests is not defined or requests.requestsCount == 0 %}d-none{% endif %}">
		{% if requests is defined %}{{ requests.requestsCount }}{% endif %}
	</div>
	<div class="more-dropdown more-with-triangle triangle-top-center">
		<div class="ui-block-title ui-block-title-small">
			<h6 class="title">{% trans %}FRIEND / MEMBER / ADMIN REQUESTS{% endtrans %}</h6>
			
			{# <a href="#">{% trans %}Settings{% endtrans %}</a> #}
		</div>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="notification-list friend-requests menu-top">
			{% set i = 0 %}
			{% if requests is defined %}
				{% for friendsRequest in requests.friendsRequests %}{% set i = i+1 %}
					{{ include("notification/item-request.html.twig", { "request" : friendsRequest, "reqType" : "friend" }) }}
				{% endfor %}
				{% for memberRequest in requests.memberRequests %}{% set i = i+1 %}
					{{ include("notification/item-request.html.twig", { "request" : memberRequest, "reqType" : "friend" }) }}
				{% endfor %}
				{% for adminRequest in requests.adminRequests %}{% set i = i+1 %}
					{{ include("notification/item-request.html.twig", { "request" : adminRequest, "reqType" : "admin" }) }}
				{% endfor %}
			{% endif %}
			{% if i == 0 %}
				<li class="open-notification d-inline-block padding-20 full-width no-notif">
					<i class="fa fa-ban" style="vertical-align:baseline;"></i> <b>{% trans %}No request{% endtrans %}</b><br>
					{% trans %}0 friend request{% endtrans %}<br>
					{% trans %}0 member request{% endtrans %}<br>
					{% trans %}0 admin request{% endtrans %}
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
</div>

<div class="control-icon more has-items btn-show-dropdown-notif">
	{# <svg class="olymp-thunder-icon btn-show-dropdown-notif"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-thunder-icon"></use></svg> #}
	<i class="fa fa-bolt margin-right-15"></i>
	
	<div class="label-avatar notif activity-feed bg-primary 
				{% if notifications is not defined or notifications.notificationsCount == 0 %}d-none{% endif %}">{% if notifications is defined %}{{ notifications.notificationsCount }}{% endif %}</div>

	<div class="more-dropdown more-with-triangle triangle-top-center">
		<div class="ui-block-title ui-block-title-small">
			<h6 class="title">Notifications</h6>
			{# <a href="#">Mark all as read</a> #}
			{# <a href="#">Settings</a> #}
		</div>

		<div class="mCustomScrollbar popup-notification" data-mcs-theme="dark">
			<ul class="notification-list activity-feed menu-top">
				{% if notifications is defined %}
					{# dump(notifications) #}
					{% for notification in notifications.notifications %}
					{# dump(notification) #}
						{{ include("notification/item-notification.html.twig", { "notif" : notification }) }}
					{% endfor %}
				{% endif %}
			{% if not notifications is defined or notifications.notifications|length == 0 %}
				<li class="open-notification d-inline-block padding-20 full-width no-notif">
					<i class="fa fa-ban" style="vertical-align:baseline;"></i> <b>{% trans %}No notification{% endtrans %}</b><br>
					{% trans %}Notifications will be sent automatically to keep you informed in real time of network activity{% endtrans %}.<br><br>
					{% trans %}To start receiving notifications, subscribe to pages, participate in discussions, post messages, comments, etc., etc{% endtrans %}.<br><br>
					{% trans %}The more active you are on the network, the more notifications you receive{% endtrans %}.
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}

{{ include("theme/user-menu.html.twig")}}
