{% trans_default_domain 'notification' %}

{# if notif.lastAuthor.isActive == true #}
<li class="open-notification d-inline-block full-width 
	{% if app.user.myUserPage.dateCheckNotif < notif.updated %}unread{% endif %}" 
	data-about-id="{{ notif.aboutId }}" data-about-type="{{ notif.aboutType }}"
	data-what-id="{{ notif.whatId }}"  data-what-type= "{{ notif.whatType }}"
	data-last-author-slug="{{ notif.lastAuthor.slug }}" data-verb="{{ notif.verb }}"
	{% if notif.aboutType == "page" %}
		data-about-slug="{{ notif.aboutObj.slug }}"
	{% endif %}
	>

	<div class="float-right">
		{% if notif.verb == "COMMENT" %}
			<span class="letter-blue">{{ notif.aboutObj.commentStream.comments|length }} <i class="fa fa-comment"></i></span>
		{% endif %}
		{% if notif.verb == "SHARE" %}
			<span class="letter-blue">{{ notif.aboutObj.newsShared.sharedBy|length }} <i class="fa fa-exchange"></i></span>
		{% endif %}
		{% if notif.verb == "LIKE" %}
			{% if notif.whatObj == null %}
				{% if notif.aboutType != "page" %}
					<span class="letter-green">
						{{ notif.aboutObj.likes|length }} 
						<i class="fa fa-thumbs-up"></i>
					</span>
				{% else %}
					<span class="letter-green">
						{{ notif.aboutObj.relations.likers|length }} 
						<i class="fa fa-thumbs-up"></i>
					</span>
				{% endif %}
			{% else %}
				<span class="letter-green">{{ notif.whatObj.likes|length }} <i class="fa fa-thumbs-up"></i></span>
			{% endif %}
		{% endif %}
		{% if notif.verb == "DISLIKE" %}
			<span class="letter-red">{{ notif.aboutObj.dislikes|length}} <i class="fa fa-thumbs-down"></i></span>
		{% endif %}
		{% if notif.verb == "BECOME_FOLLOWER" %}
			<span class="letter-blue">{{ notif.aboutObj.relations.followers|length}} <i class="fa fa-link"></i></span>
		{% endif %}
		{% if notif.verb == "BECOME_PARTICIPANT" %}
			<span class="letter-blue">{{ notif.aboutObj.relations.participants|length}} <i class="fa fa-group"></i></span>
		{% endif %}
		{% if notif.verb == "REQUEST_ADMIN_ACCEPTED" %}
			<span class="letter-blue">{{ notif.aboutObj.relations.admins|length}} <i class="fa fa-user-secret"></i></span>
		{% endif %}
		{% if notif.verb == "REQUEST_FRIEND_ACCEPTED" %}
			<span class="letter-blue">{{ notif.aboutObj.relations.realFriends|length}} <i class="fa fa-hand-peace-o"></i></span>
		{% endif %}
		{% if notif.verb == "REPORT_VOTE_OPEN" %}
			{% if (notif.aboutType == "news" or notif.aboutType == "page") and notif.whatType == null %}
				<span class="letter-red">{{ notif.aboutObj.report.authors|length}} <i class="fa fa-flag"></i></span>
			{% else %}
				<span class="letter-red">{{ notif.whatObj.report.authors|length}} <i class="fa fa-flag"></i></span>
			{% endif %}
		{% endif %}
		{% if notif.verb == "REPORT_DISABLED" %}
			<span class="letter-red"><i class="fa fa-lock"></i></span>
		{% endif %}
		{% if notif.verb == "REPORT_CLEARED_BYADMIN" or notif.verb == "REPORT_CLEARED_BYCO" %}
			<span class="letter-green"><i class="fa fa-unlock"></i></span>
		{% endif %}


	</div>
	{# {{ dump(notif) }} #}
	<div class="author-thumb">
		{% if notif.verb != "REPORT_VOTE_OPEN" and 
			  notif.verb != "REPORT_DISABLED" and 
			  notif.verb != "REPORT_CLEARED_BYADMIN" and 
			  notif.verb != "REPORT_CLEARED_BYCO" %}
			<img src="{{ notif.lastAuthor.imageProfilAsset }}"/ height=34>
		{% else %}
			<i class="fa fa-exclamation-triangle fa-2x"></i>
		{% endif %}
	</div>
	<div class="notification-event">
		<div class="">
			{% if notif.verb != "REPORT_VOTE_OPEN" and 
				  notif.verb != "REPORT_DISABLED" and 
				  notif.verb != "REPORT_CLEARED_BYADMIN" and 
				  notif.verb != "REPORT_CLEARED_BYCO" %}
				<a href="#" class="h6 notification-friend">{{ notif.lastAuthor.name }}</a> 
			{% endif %}
			{# {% if notif.authors|length > 1 %}
				{% trans %}and{% endtrans %} {{ notif.authors|length - 1 }} {% trans %}other people{% endtrans %}
			{% endif %} #}

			{% if notif.verb == "COMMENT" %}
				<b>{% trans %}commented on{% endtrans %}</b> 
				{% if notif.aboutType == "news" %}
					{% trans %}a post{% endtrans %} 
				{% endif %}
				{% trans %}of{% endtrans %} 
				<i><b>{{ notif.aboutObj.author.name }}</b></i>
				
			{% endif %}
			{% if notif.verb == "SHARE" %}
				<b>{% trans %}shared {% endtrans %}</b> 
				{% if notif.aboutType == "news" %}
					{% trans %}a post of{% endtrans %} 
				{% endif %}
				<i><b>{{ notif.aboutObj.newsShared.signed.name }}</b></i>
			{% endif %}

			{% if notif.verb == "LIKE" %}
				<b>{% trans %}likes{% endtrans %}</b> 
				{% if notif.aboutType == "news" and notif.whatType != "comment" %}
					{% trans %}a post of{% endtrans %} 
					<i><b>{{ notif.aboutObj.author.name }}</b></i>
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					{% trans %}a comment of{% endtrans %} 
					<i><b>{{ notif.whatObj.author.name }}</b></i>
				{% endif %}
				{% if notif.aboutType == "page" %}
					<i><b>{{ notif.aboutObj.name }}</b></i>
				{% endif %}
				
			{% endif %}
			{% if notif.verb == "DISLIKE" %}
				<b>{% trans %}dislikes{% endtrans %}</b>  
				{% if notif.aboutType == "news" and notif.whatType != "comment" %}
					{% trans %}a post of{% endtrans %} 
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					{% trans %}a comment of{% endtrans %} 
				{% endif %}
				<i><b>{{ notif.aboutObj.author.name }}</b></i>
			{% endif %}

			{% if notif.verb == "POST_NEWS" %}
				<b>{% trans %}send a new post{% endtrans %}</b> 
			{% endif %}

			{% if notif.verb == "CREATE_PAGE" %}
				<b>{% trans %}created the page{% endtrans %}</b> 
				<i>{{ notif.aboutObj.name }}</i></b>
			{% endif %}

			{% if notif.verb == "BECOME_FOLLOWER" %}
				{% if notif.aboutObj == app.user.myUserPage.id %}
					<b>{% trans %}follows you{% endtrans %}</b>
				{% else %}
					{% if notif.aboutObj.type == "classified" %}
						<b>{% trans %}is interested in the announce{% endtrans %}
					{% else %}
						<b>{% trans %}follows{% endtrans %}
					{% endif %}
					<i>{{ notif.aboutObj.name }}</i></b> 
				{% endif %}
			{% endif %}

			{% if notif.verb == "BECOME_PARTICIPANT" %}
					<b>{% trans %}participate to{% endtrans %} 
					<i>{{ notif.aboutObj.name }}</i></b>
			{% endif %}

			{% if notif.verb == "REQUEST_ADMIN_ACCEPTED" %}
					<b>{% trans %}accepted{% endtrans %}</b>  
					<a href="#" class="h6 notification-friend">{{ notif.whatObj.name }}</a> 
					<b> {% trans %}as new admin of{% endtrans %}</b> 
					<a href="#" class="h6 notification-friend">{{ notif.aboutObj.name }}</a>
			{% endif %}

			{% if notif.verb == "REQUEST_FRIEND_ACCEPTED" %}
					{% if notif.aboutObj.type == "user" %}
						<b>{% trans %}is now friend with{% endtrans %}
						<a href="#" class="h6 notification-friend">{{ notif.whatObj.name }}</a> </b>  
					{% else %}
						<b> {% trans %}accepted{% endtrans %}
						<a href="#" class="h6 notification-friend">{{ notif.whatObj.name }}</a> </b> 
						<b> {% trans %}as new member of the{% endtrans %} 
						<a href="#" class="h6 notification-friend">{{ notif.aboutObj.name }}</a></b>  
					{% endif %}
			{% endif %}

			{% if notif.verb == "REPORT_VOTE_OPEN" %}
				{% if notif.aboutType == "news" and notif.whatType == null %}
					<b>{% trans %}A collective moderation procedure has been open about your post{% endtrans %}</b>
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					<b>{% trans %}A collective moderation procedure has been open about your comment{% endtrans %}</b>
				{% endif %}
				{% if notif.aboutType == "page" %}
					<b>
						{% trans %}A collective moderation procedure has been open about this page{% endtrans %}
						<i>{{ notif.aboutObj.name }}</i>
					</b>
				{% endif %}
			{% endif %}
			{% if notif.verb == "REPORT_DISABLED" or notif.verb == "REPORT_CLEARED_BYADMIN" or notif.verb == "REPORT_CLEARED_BYCO" %}
				{% if notif.whatType != "comment" %}{% set report =  notif.aboutObj.report %}
				{% else %}{% set report =  notif.whatObj.report %}
				{% endif %}

				{% set verb = "" %}{% set byWho = "" %}
				{% if notif.verb == "REPORT_DISABLED"%}
					{% set verb = "locked by" %}
					{% set modtype = report.closedByType %}
					{% if modtype == "ADMIN" %}{% set byWho = "an admin" %}
					{% else %}{% set byWho = "a collective moderation procedure" %}{% endif %}
				{% endif %}
				{% if notif.verb == "REPORT_CLEARED_BYADMIN"%}
					{% set verb = "saved by" %}{% set byWho = "an admin" %}
				{% endif %}
				{% if notif.verb == "REPORT_CLEARED_BYCO"%}
					{% set verb = "saved by" %}{% set byWho = "a collective moderation procedure" %}
				{% endif %}

				{% if notif.aboutType == "news" and notif.whatType == null %}
					<b>{% trans %}Your post has been{% endtrans %} {{ verb|trans }} {{ byWho|trans }}</b>
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					<b>{% trans %}Your comment has been{% endtrans %} {{ verb|trans }} {{ byWho|trans }}</b>
				{% endif %}
				{% if notif.aboutType == "page" %}
					<b>
						{% trans %}The page{% endtrans %} <i>{{ notif.aboutObj.name }}</i> 
						{% trans %}has been{% endtrans %} {{ verb|trans }} {{ byWho|trans }}
					</b>
				{% endif %}
			{% endif %}

			{# <span class="notification-date"> #}
				<br>
				<small>{% set now = "now"|date %}
					<time class="entry-date updated">
						<i class="fa fa-clock-o"></i> 
						{{ notif.updated|localizeddate('short', 'none', app.request.locale) }} - 
						{{ notif.updated|date_modify('-1 second')|ago }}
						{# 4h ago #}
					</time>
				</small>
			{# </span> #}
		
		</div>
	</div>

	{# <span class="notification-icon">
		<svg class="olymp-comments-post-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-comments-post-icon"></use></svg>
	</span> #}
	{% if notif.aboutObj != null and notif.whatObj == null %}
		<div class="comment-photo about-text full-width">
			<div class="padding-5">
				{% if notif.verb == "SHARE" %}
					<img src="{{ notif.aboutObj.newsShared.signed.imageProfilAsset }}"/ height=16> 
					"{{ notif.aboutObj.newsShared.text|slice(0, 75) }}..."
				{% else %}
					{% if notif.aboutType == "news" %}
						<img src="{{ notif.aboutObj.signed.imageProfilAsset }}"/ height=16> 
						"{{ notif.aboutObj.text|slice(0, 75) }}..."
					{% endif %}
				{% endif %}
			</div>
			{% if notif.aboutObj.medias is defined %}
				<div class="padding-5 col-11 margin-left-10 border-radius-5">
				{% if notif.aboutObj.medias|length > 1 %}
					{# for media in notif.aboutObj.medias %}
						{{ include("news/blocks/media-shared-multi.html.twig", 
										{ 'media' : media, 'hideVideo':true }) }}
					{% endfor #}
				{% else %}
					{% for media in notif.aboutObj.medias %}
						{{ include("news/blocks/media-shared.html.twig", 
										{ 'media' : media, 'hideVideo':true }) }}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
			{% if notif.aboutObj.newsShared.medias is defined %}
				<div class="padding-5 col-11 margin-left-10 border-radius-5">
				{% if notif.aboutObj.newsShared.medias|length > 1 %}
					{% for media in notif.aboutObj.newsShared.medias %}
						{{ include("news/blocks/media-shared-multi.html.twig", 
										{ 'media' : media, 'hideVideo':true }) }}
					{% endfor %}
				{% else %}
					{% for media in notif.aboutObj.newsShared.medias %}
						{{ include("news/blocks/media-shared.html.twig", 
										{ 'media' : media, 'hideVideo':true }) }}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
		</div>
	{% endif %}


	{% if notif.whatObj != null and notif.whatType == "comment" %}
		<div class="comment-photo float-right" style="margin-bottom:5px!important; width:95%;">
			<span class="padding-5">
				<i class="fa fa-reply fa-rotate-180"></i> 
				<img src="{{ notif.whatObj.author.imageProfilAsset }}"/ height=15> 
				"{{ notif.whatObj.text|slice(0, 75) }}..."
			</span>
		</div>
	{% endif %}

	{# <div class="more">
		<svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg>
		<svg class="olymp-little-delete"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-little-delete"></use></svg>
	</div> #}
</li>
{# endif #}