{% trans_default_domain 'notification' %}

<li class="d-flex padding-15 unread">
	<div class="author-thumb">
		<img src="{{ request.pageReq.imageProfilAsset }}" alt="img" height="34">
	</div>
	<div class="notification-event">
		<a href="{{ path('page', {'slug' : request.pageReq.slug}) }}" class="bold d-inline">
			{{ request.pageReq.name }}
		</a>
		{% if (request.pageRef.type == "user" and request.pageRef.id == app.user.myUserPage.id) %}
			<span class="">
				{% trans %}want to become{% endtrans %} {{ request.reqType|trans }} 
				{% trans %}with{% endtrans %}
			</span> 
			<a href="{{ path('page', {'slug' : request.pageRef.slug}) }}" class="bold d-inline">
				{% trans %}you{% endtrans %}
			</a>
		{% elseif request.reqType == "friend" %}
			<span class="">
				{% trans %}want to become{% endtrans %} 
				{% trans %}friend with{% endtrans %}
				<b>{% trans %}you{% endtrans %}</b>
			</span> 
		{% elseif request.reqType == "member" %}
			<span class="">
			{% trans %}want to become{% endtrans %} <b>{% trans %}member{% endtrans %}</b> 
			{% trans %}of your page{% endtrans %}</span> 
			<a href="{{ path('page', {'slug' : request.pageRef.slug}) }}" class="bold d-inline">
				{{ request.pageRef.name }}
			</a>
		{% elseif request.reqType == "admin" %}
			<span class="">
			{% trans %}want to become{% endtrans %} <b>{% trans %}admin{% endtrans %}</b> 
			{% trans %}of your page{% endtrans %}</span> 
			<a href="{{ path('page', {'slug' : request.pageRef.slug}) }}" class="bold d-inline">
				{{ request.pageRef.name }}
			</a>
		{% endif %}
		<br>
		<span class="notification-icon float-left margin-top-10 full-width d-flex">
			
			<a href="#" class="accept-request btn-respond-{{ reqType }}-request col-6"
				data-slug-pagereq="{{ request.pageReq.slug }}" data-slug-pageref="{{ request.pageRef.slug }}" 
				data-response="true">
				<span class="icon-add without-text">
					{# <svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg> #}
					<i class="fa fa-check"></i> 
				</span> {% trans %}accept{% endtrans %}
			</a>


			<a href="#" class="accept-request request-del btn-respond-{{ reqType }}-request col-6"
				data-slug-pagereq="{{ request.pageReq.slug }}" data-slug-pageref="{{ request.pageRef.slug }}" 
				data-response="false">
				<span class="icon-minus">
					{# <svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg> #}
					<i class="fa fa-trash"></i> 
				</span> {% trans %}refuse{% endtrans %}
			</a>

		</span>
	</div>
	
</li>