{% trans_default_domain 'comment' %}

{% if app.user != null and app.user.myUserPage.isActive == true %}
	{% if showFormBlock is not defined or showFormBlock == true %}
		{{ form_start(commentForm, { 'attr': {'class': 'comment-form inline-items'}, 
							  		 'action' : path('add-comment', { "parentId" : parentId, "parentType" : parentType }) }) 
		}}
			<div class="post__author author vcard inline-items">
				<img src="{{ asset('/uploads/imgProfil/' ~ app.user.myUserPage.imageProfil) }}" height="20">

				<div class="form-group with-icon-right">
					{{ form_widget(commentForm.text, {'attr': {'class': 'form-control form-add-comment', 
														'placeholder':'your comment...'|trans,
														'data-parent-id' : parentId, 
														'data-parent-type' : parentType }}) }}
		            {{ form_help(commentForm.text) }}
		            {{ form_errors(commentForm.text) }} 
		            <!-- <textarea id="comment_text" name="comment[text]" class="form-control form-add-comment" placeholder="Votre commentaire..." data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}"></textarea> -->
				</div>
			</div>
		{{ form_end(commentForm) }}
	{% endif %}
{% else %}<br>
{% endif %}

{% if showFormBlock is not defined or showFormBlock == true %}
<!-- <a href="javascript:" class="btn btn-secondary btn-sm btn-open-comments btn-secondary"
							data-parent-id="{{parentId}}" 
							data-parent-type="{{parentType}}">
							<i class="fa fa-circle-o-notch"></i> actualiser les commentaires
</a> -->
{% endif %}


<ul class="comments-list {% if showFormBlock is not defined or showFormBlock == true %}root{% endif %}">
	{% if commentStream is not null %}
		{% set nComment = 0 %}
		{# {% if commentStream.comments is defined %}{% set allComments = commentStream.comments %}{% endif %} #}
		{% for comment in commentStream|reverse %}
			{% if nbMax is not defined or nComment < nbMax %}
				{{ include('comment/comment-single.html.twig', { 'comment': 	comment,
																 'commentForm': commentForm,
						                					     'parentType':  parentType,
						                					     'parentId': 	parentId,
						                					     'parentObj': parentObj
						                					    }) }}
				
				{% set nComment = nComment + 1 %}
			{% endif %}
		{% endfor %}

		{% if showFormBlock is not defined or showFormBlock == true %}
			<li class="text-right">
			<button class="btn btn-link btn-sm no-margin btn-close-comments" 
					data-parent-id="{{ parentId }}" data-parent-type="{{ parentType }}">
				<i class="fa fa-times"></i> 
				{% trans %}Hide comments{% endtrans %}
			</button>
			</li>
		{% endif %}
	{% endif %}
</ul>

{# {% if showFormBlock is not defined or showFormBlock == true %}
	<a href="#" class="more-comments">View more comments <span>+</span></a>
{% endif %} #}
