.registration-login-form{
	background-color: rgba(0,0,0,0.4);
}

.landing-page::before{
    /*background-color: rgba(68, 49, 105, 0.95);*/
    background-color: rgba(68, 49, 105, 0);
}

.landing-page .content-bg{
	animation-name: none !important;
    background-color:unset;
}

.header-landing{
    margin-bottom:0px;
    padding-bottom:15px;
}

.container {
    max-width: 92%;
}
/*.flashback.alert.alert-success{
	background-color: rgba(0,0,0,0.2);
    border: 4px solid #29302f;
    color: #31ae8b;
}*/

.profile-menu.expanded-menu li a {
    color: #fff;
    fill: #fff;
}