{% trans_default_domain 'notification' %}

<a href="{{ path("my-dashboard") }}" target="_blank" 
	style="float:left; padding:10px; width:70%; display:block; background-color: #36383c; color:white; 
	margin:3px; border-radius:3px;">
	<div style="float:left;margin-right:10px;">
		<img src="{{ request.pageReq.imageProfilAsset }}" alt="img" height="34">
	</div>
	<div style="float:left; max-width:70%; text-overflow: ellipsis;">
		<span class="bold d-inline">
			{{ request.pageReq.name }}
		</span>
		{% if (request.pageRef.type == "user" and request.pageRef.id == app.user.myUserPage.id) %}
			<span class="">
				{% trans %}want to become{% endtrans %} {{ request.reqType|trans }} 
				{% trans %}with{% endtrans %}
			</span> 
			<span class="bold d-inline">
				{% trans %}you{% endtrans %}
			</span>
		{% elseif request.reqType == "friend" %}
			<span class="">
				{% trans %}want to become{% endtrans %} 
				{% trans %}friend with{% endtrans %}
				<b>{% trans %}you{% endtrans %}</b>
			</span> 
		{% elseif request.reqType == "member" %}
			<span class="">
			{% trans %}want to become{% endtrans %} <b>{% trans %}member{% endtrans %}</b> 
			{% trans %}of your page{% endtrans %}</span> 
			<span class="bold d-inline">
				{{ request.pageRef.name }}
			</span>
		{% elseif request.reqType == "admin" %}
			<span class="">
			{% trans %}want to become{% endtrans %} <b>{% trans %}admin{% endtrans %}</b> 
			{% trans %}of your page{% endtrans %}</span> 
			<span class="bold d-inline">
				{{ request.pageRef.name }}
			</span>
		{% endif %}
	</div>
	
</a>