{% trans_default_domain 'notification' %}

{# if notif.lastAuthor.isActive == true #}
<a href="{{ path("my-dashboard") }}" target="_blank" 
   style="float:left; padding:10px; width:70%; display:block; background-color: #36383c; color:white; 
	margin:3px; border-radius:3px;">

	
	{# {{ dump(notif) }} #}
	<div style="float:left;margin-right:10px;">
		{% if notif.verb != "REPORT_VOTE_OPEN" and 
			  notif.verb != "REPORT_DISABLED" and 
			  notif.verb != "REPORT_CLEARED_BYADMIN" and 
			  notif.verb != "REPORT_CLEARED_BYCO" %}
			<img src="{{ notif.lastAuthor.imageProfilAsset }}"/ height=34>
		{% else %}
			<i class="fa fa-exclamation-triangle fa-2x"></i>
		{% endif %}
	</div>

	<div style="float:left; max-width:70%; text-overflow: ellipsis;">
		
			{% if notif.verb != "REPORT_VOTE_OPEN" and 
				  notif.verb != "REPORT_DISABLED" and 
				  notif.verb != "REPORT_CLEARED_BYADMIN" and 
				  notif.verb != "REPORT_CLEARED_BYCO" %}
				<span class="h6 notification-friend">{{ notif.lastAuthor.name }}</span> 
			{% endif %}
			{# {% if notif.authors|length > 1 %}
				{% trans %}and{% endtrans %} {{ notif.authors|length - 1 }} {% trans %}other people{% endtrans %}
			{% endif %} #}

			{% if notif.verb == "COMMENT" %}
				<b>{% trans %}commented on{% endtrans %}</b> 
				{% if notif.aboutType == "news" %}
					{% trans %}a post{% endtrans %} 
				{% endif %}
				{% trans %}of{% endtrans %} 
				<i><b>{{ notif.aboutObj.author.name }}</b></i>
				
			{% endif %}
			{% if notif.verb == "SHARE" %}
				<b>{% trans %}shared {% endtrans %}</b> 
				{% if notif.aboutType == "news" %}
					{% trans %}a post of{% endtrans %} 
				{% endif %}
				<i><b>{{ notif.aboutObj.newsShared.signed.name }}</b></i>
			{% endif %}

			{% if notif.verb == "LIKE" %}
				<b>{% trans %}likes{% endtrans %}</b> 
				{% if notif.aboutType == "news" and notif.whatType != "comment" %}
					{% trans %}a post of{% endtrans %} 
					<i><b>{{ notif.aboutObj.author.name }}</b></i>
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					{% trans %}a comment of{% endtrans %} 
					<i><b>{{ notif.whatObj.author.name }}</b></i>
				{% endif %}
				{% if notif.aboutType == "page" %}
					<i><b>{{ notif.aboutObj.name }}</b></i>
				{% endif %}
				
			{% endif %}
			{% if notif.verb == "DISLIKE" %}
				<b>{% trans %}dislikes{% endtrans %}</b>  
				{% if notif.aboutType == "news" and notif.whatType != "comment" %}
					{% trans %}a post of{% endtrans %} 
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					{% trans %}a comment of{% endtrans %} 
				{% endif %}
				<i><b>{{ notif.aboutObj.author.name }}</b></i>
			{% endif %}

			{% if notif.verb == "POST_NEWS" %}
				<b>{% trans %}send a new post{% endtrans %}</b> 
			{% endif %}

			{% if notif.verb == "CREATE_PAGE" %}
				<b>{% trans %}created the page{% endtrans %}</b> 
				<i>{{ notif.aboutObj.name }}</i></b>
			{% endif %}

			{% if notif.verb == "BECOME_FOLLOWER" %}
				{% if notif.aboutObj == app.user.myUserPage.id %}
					<b>{% trans %}follows you{% endtrans %}</b>
				{% else %}
					{% if notif.aboutObj.type == "classified" %}
						<b>{% trans %}is interested in the announce{% endtrans %}
					{% else %}
						<b>{% trans %}follows{% endtrans %}
					{% endif %}
					<i>{{ notif.aboutObj.name }}</i></b> 
				{% endif %}
			{% endif %}

			{% if notif.verb == "BECOME_PARTICIPANT" %}
					<b>{% trans %}participate to{% endtrans %} 
					<i>{{ notif.aboutObj.name }}</i></b>
			{% endif %}

			{% if notif.verb == "REQUEST_ADMIN_ACCEPTED" %}
					<b>{% trans %}accepted{% endtrans %}</b>  
					<span class="h6 notification-friend">{{ notif.whatObj.name }}</span> 
					<b> {% trans %}as new admin of{% endtrans %}</b> 
					<span class="h6 notification-friend">{{ notif.aboutObj.name }}</span>
			{% endif %}

			{% if notif.verb == "REQUEST_FRIEND_ACCEPTED" %}
					{% if notif.aboutObj.type == "user" %}
						<b>{% trans %}is now friend with{% endtrans %}
						<span href="#" class="h6 notification-friend">{{ notif.whatObj.name }}</span> </b>  
					{% else %}
						<b> {% trans %}accepted{% endtrans %}
						<span href="#" class="h6 notification-friend">{{ notif.whatObj.name }}</span> </b> 
						<b> {% trans %}as new member of the{% endtrans %} 
						<span href="#" class="h6 notification-friend">{{ notif.aboutObj.name }}</span></b>  
					{% endif %}
			{% endif %}

			{% if notif.verb == "REPORT_VOTE_OPEN" %}
				{% if notif.aboutType == "news" and notif.whatType == null %}
					<b>{% trans %}A collective moderation procedure has been open about your post{% endtrans %}</b>
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					<b>{% trans %}A collective moderation procedure has been open about your comment{% endtrans %}</b>
				{% endif %}
				{% if notif.aboutType == "page" %}
					<b>
						{% trans %}A collective moderation procedure has been open about this page{% endtrans %}
						<i>{{ notif.aboutObj.name }}</i>
					</b>
				{% endif %}
			{% endif %}
			{% if notif.verb == "REPORT_DISABLED" or notif.verb == "REPORT_CLEARED_BYADMIN" or notif.verb == "REPORT_CLEARED_BYCO" %}
				{% if notif.whatType != "comment" %}{% set report =  notif.aboutObj.report %}
				{% else %}{% set report =  notif.whatObj.report %}
				{% endif %}

				{% set verb = "" %}{% set byWho = "" %}
				{% if notif.verb == "REPORT_DISABLED"%}
					{% set verb = "locked by" %}
					{% set modtype = report.closedByType %}
					{% if modtype == "ADMIN" %}{% set byWho = "an admin" %}
					{% else %}{% set byWho = "a collective moderation procedure" %}{% endif %}
				{% endif %}
				{% if notif.verb == "REPORT_CLEARED_BYADMIN"%}
					{% set verb = "saved by" %}{% set byWho = "an admin" %}
				{% endif %}
				{% if notif.verb == "REPORT_CLEARED_BYCO"%}
					{% set verb = "saved by" %}{% set byWho = "a collective moderation procedure" %}
				{% endif %}

				{% if notif.aboutType == "news" and notif.whatType == null %}
					<b>{% trans %}Your post has been{% endtrans %} {{ verb|trans }} {{ byWho|trans }}</b>
				{% endif %}
				{% if notif.aboutType == "news" and notif.whatType == "comment" %}
					<b>{% trans %}Your comment has been{% endtrans %} {{ verb|trans }} {{ byWho|trans }}</b>
				{% endif %}
				{% if notif.aboutType == "page" %}
					<b>
						{% trans %}The page{% endtrans %} <i>{{ notif.aboutObj.name }}</i> 
						{% trans %}has been{% endtrans %} {{ verb|trans }} {{ byWho|trans }}
					</b>
				{% endif %}
			{% endif %}

			{# <span class="notification-date"> #}
				<br>
				<small>{% set now = "now"|date %}
					<time class="entry-date updated">
						<i class="fa fa-clock-o"></i> 
						{{ notif.updated|localizeddate('short', 'none', app.request.locale) }} - 
						{{ notif.updated|date_modify('-1 second')|ago }}
						{# 4h ago #}
					</time>
				</small>
			{# </span> #}
		
		
	</div>
	
</a>
{# endif #}