<style>

</style>

<div style="background-color:#2a2929;color:white;padding:15px;float:left;width:80%;">
	
	<a style="color:#2bb0c6;" target="_blank" href="{{ path('my-dashboard') }}">
		<img src="{{ asset('img/nexxociety-logo.png') }}" height="60"alt="nexxociety.co">
	</a>
	<br><hr>

	<h3 style="">Bonjour {{ userPage.name }},</h3>
	
	<h4 style="color:#0fc2aa;">Vous avez {{ totalNotif }} notifications en attente sur 
		<a style="color:#fbbc05;" target="_blank" href="{{ path('my-dashboard') }}">nexxociety.co</a>
	</h4>
	
	<hr>

	<h4 style="margin-bottom:10px;">Quoi de neuf sur Nexxo ces 7 derniers jours ?</h4>
	- {{ newWeekUsers|length }} nouveaux inscrits<br>
	- {{ newWeekNews|length }} nouvelles publications<br>
	- {{ newWeekClassified|length }} nouvelles petites-annonces (en monnaie libre Ğ)<br>
	- {{ newWeekEvent|length }} nouveaux événements<br>

	<br><hr>
</div>
<div style="background-color:#2a2929;color:white;padding:15px;float:left;width:80%;">
	<h3>Vos notifications :</h3>
	{% for notif in notifs %}
		{% if userPage.dateCheckNotif < notif.updated %}
			{{ include("notification/mail/item-notification.html.twig", { "notif" : notif }) }}
		{% endif %}
	{% endfor %}
	{% for friendsRequest in friendsRequests %}
		{{ include("notification/mail/item-request.html.twig", { "request" : friendsRequest, "reqType" : "friend" }) }}
	{% endfor %}
	{% for memberRequest in memberRequests %}
		{{ include("notification/mail/item-request.html.twig", { "request" : memberRequest, "reqType" : "friend" }) }}
	{% endfor %}
	{% for adminRequest in adminRequests %}
		{{ include("notification/mail/item-request.html.twig", { "request" : adminRequest, "reqType" : "friend" }) }}
	{% endfor %}

	
</div>
<div style="background-color:#2a2929;color:white;padding:15px;float:left;width:80%;">
	<br><hr>
	<h3 style="color:#fbbc05;">A bientôt .comarade !</h3>
	<a href="{{ path('cancel-auth-notification-mail', {'token' : userPage.owner.token, 'id': userPage.id }) }}" 
		target="_blank" style="color:white;"><small>ne plus recevoir d'e-mail de la part de nexxociety.co</small></a>
</div>