<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Your Education History</h6>
		</div>
		<div class="ui-block-content">
			<form>
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Title or Place</label>
							<input class="form-control" placeholder="" type="text" value="The New College of Design">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Period of Time</label>
							<input class="form-control" placeholder="" type="text" value="2001 - 2006">
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Description</label>
						<textarea class="form-control" placeholder=""  >Bachelor of Interactive Design in the New College. It was a five years intensive career. Average: A+
						</textarea>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Title or Place</label>
							<input class="form-control" placeholder="" type="text" value="Rembrandt Institute">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Period of Time</label>
							<input class="form-control" placeholder="" type="text" value="2008">
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Description</label>
						<textarea class="form-control" placeholder=""  >Five months Digital Illustration course. Professor: Leonardo Stagg.
						</textarea>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Title or Place</label>
							<input class="form-control" placeholder="" type="text">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Period of Time</label>
							<input class="form-control" placeholder="" type="text">
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Description</label>
						<textarea class="form-control" placeholder=""  >
						</textarea>
						</div>

						<a href="#" class="add-field">
							<svg class="olymp-plus-icon"><use xlink:href="icons/icons.svg#olymp-plus-icon"></use></svg>
							<span>Add Education Field</span>
						</a>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="btn btn-secondary btn-lg full-width">Cancel</button>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="btn btn-primary btn-lg full-width">Save all Changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Your Employement History</h6>
		</div>
		<div class="ui-block-content">
			<form>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Title or Place</label>
							<input class="form-control" placeholder="" type="text" value="Digital Design Intern">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Period of Time</label>
							<input class="form-control" placeholder="" type="text" value="2006 - 2008">
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Description</label>
						<textarea class="form-control" placeholder=""  >Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the clients.
						</textarea>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Title or Place</label>
							<input class="form-control" placeholder="" type="text" value="UI/UX Designer">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Period of Time</label>
							<input class="form-control" placeholder="" type="text" value="2008 - 2013">
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
							<label class="control-label">Description</label>
						<textarea class="form-control" placeholder=""  >UI/UX Designer for the “Daydreams” agency.
						</textarea>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Title or Place</label>
							<input class="form-control" placeholder="" type="text">
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Period of Time</label>
							<input class="form-control" placeholder="" type="text">
						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Description</label>
						<textarea class="form-control" placeholder=""  >
						</textarea>
						</div>

						<a href="#" class="add-field">
							<svg class="olymp-plus-icon"><use xlink:href="icons/icons.svg#olymp-plus-icon"></use></svg>
							<span>Add Education Field</span>
						</a>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="btn btn-secondary btn-lg full-width">Cancel</button>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="btn btn-primary btn-lg full-width">Save all Changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>