{% trans_default_domain 'page' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<link rel="stylesheet" href="{{ asset('/js/pluggins/Croppie-2.6.2/croppie.css') }}" />
<script src="{{ asset('/js/pluggins/Croppie-2.6.2/croppie.js') }}"></script>

<div class="header-spacer"></div>

<div class="container">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="ui-block-title no-padding margin-bottom-15 no-border">
			<div class="h5 title">
				<i class="fa fa-download"></i>  {% trans %}Modify the banner of your page{% endtrans %} 
				<a href="{{ path('page', { 'slug' : page.slug }) }}">{{ page.name }}</a>
				<br>
				<span class="btn btn-secondary btn-file margin-top-15">
					<i class="fa fa-download"></i> {% trans %}Select an image{% endtrans %}
					<input type="file" accept="image/*" id="image-uploader">
				</span>
			</div>
		</div>


		<div class="ui-block">
			<div class="upload-demo-wrap" style="width:1268px;height:500px;">
	            <div id="upload-demo" class="upload-demo"></div>
	        </div>
        </div>

		<div class="ui-block margin-top-50">
			    <div class="padding-15 text-center">
			    	<label><i class="fa fa-angle-down"></i> {% trans %}Preview of the banner{% endtrans %}</label>
			    	<span id="img-result"></span>
				    <div class="padding-15">
						{{ form_start(form) }}
						    {{ form_row(form.imageBanner) }}
							<button class="btn btn-blue full-width no-margin d-none" type="submit" id="btn-submit-form-img">
								<i class="fa fa-save"></i> {% trans %}Save this banner{% endtrans %}
							</button>
						{{ form_end(form) }}
				    </div>
			    </div>
		</div>
	</div>
</div>

<style>
#img-result{
	/*max-width: 300px;*/
}

#img-result img, .upload-demo-wrap{
	max-width: 100%;
}

#upload-demo{
	background-color: #1b1b1b;
	color: #1b1b1b;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}
</style>
<script>

	$( document ).ready(function() {
		demoUpload();
	});

	var $uploadCrop;

	function demoUpload() {
		
		function readFile(input) {
 			if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            
	            reader.onload = function (e) {
					$('.upload-demo').addClass('ready');
	            	$uploadCrop.croppie('bind', {
	            		url: e.target.result
	            	}).then(function(){
	            		console.log('jQuery bind complete');
	            	});
	            	
	            }	            
	            reader.readAsDataURL(input.files[0]);
	            $("#btn-submit-form-img").removeClass("d-none");
	        }
	        else {
		        console.log("Sorry - you're browser doesn't support the FileReader API");
		    }
		}

		$uploadCrop = $('#upload-demo').croppie({
			viewport: {
				width: 1268,
				height: 422,
				type: 'square'
			},
			//enableExif: true
		});

		$('#image-uploader').on('change', function () { 
			readFile(this); 
			setTimeout(function(){ resize(); }, 400);
		});
		
		$(".cr-slider").change(function(){
			resize();
		});

		$(".cr-boundary").mouseup(function(){
			resize();
		});
	}

	function resize(){
		$uploadCrop.croppie('result', {
			type: 'canvas',
			size: 'viewport'
		}).then(function (resp) { console.log("resp", resp);
			popupResult({
				src: resp
			});
		});
	}

	function popupResult(result) {
		var html;
		if (result.html) {
			html = result.html;
		}
		if (result.src) {
			
			html = '<img src="' + result.src + '" />';
			$("#img-result").html(html);
			$("#image_banner_imageBanner").val(result.src);

			var resss=$("#image_banner_imageBanner").val();
			//console.log("RESULT TO FORM", resss);				
		}
	}

</script>

{% endblock %}