{% trans_default_domain 'page' %}

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
	<div class="ui-block">
		<div class="ui-block-title">
			<h4 class="title"><i class="fa fa-key"></i> {% trans %}Change your password{% endtrans %}</h4>
		</div>
		<div class="ui-block-content">
			
			{% block flash %}
	            {{include('theme/flash.html.twig')}} 
	        {% endblock %}
	        
			{{ form_start(form, { 'action' : path(action, { slug : page.slug, subview: "form-change-password"  }) }) }}
				<div class="row">

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h6>
							<i class="fa fa-angle-down"></i> 
							{% trans %}Please enter your current password to confirm your identity{% endtrans %}
						</h6>
						<div class="form-group label-floating">
		                    {{ form_label(form.password, null, {'label_attr': {'class': 'control-label'}}) }}
		                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
		                    {{ form_help(form.password) }}
		                    {{ form_errors(form.password) }}
		                </div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h6>
							<i class="fa fa-angle-down"></i> 
							{% trans %}Enter your new password below, making sure to provide the same value twice{% endtrans %}
						</h6>
					</div>	

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
		                    {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label'}}) }}
		                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
		                    {{ form_help(form.plainPassword.first) }}
		                    {{ form_errors(form.plainPassword.first) }}
		                </div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="form-group label-floating">
		                    {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label'}}) }}
		                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
		                    {{ form_help(form.plainPassword.second) }}
		                    {{ form_errors(form.plainPassword.second) }}
		                </div>
					</div>


					<p class="padding-15">
						{% trans %}After validating your new password{% endtrans %}, 
						{% trans %}you will be logged out of your account to refresh your password in the login form{% endtrans %}. 
						{% trans %}You will be able to reconnect immediately and thus check that your new password is taken into account{% endtrans %}. 
					</p>

					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button class="btn btn-primary btn-lg full-width">
							<i class="fa fa-save"></i> {% trans %}Save my new password{% endtrans %}
						</button>
					</div>

				</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>