{% trans_default_domain 'page' %}

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12" id="form-confidentiality">
	<div class="ui-block">
		<div class="ui-block-title">
			<h4 class="title">
				<i class="fa fa-lock"></i> 
				{% trans %}Confidentiality{% endtrans %}
			</h4>
		</div>

		<div class="ui-block-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div>
						<span class="main-subtitle bold">
						<i class="fa fa-angle-down"></i>
						{% trans %}Configure your privacy settings to protect your privacy{% endtrans %}.
						<hr class="main-subtitle">
						</span>
					</div>
					
					{{  include("page/blocks/rules-confidentiality.html.twig", { "page" : page  })  }}
					<hr>
								
					{% if page.type == "user" %}{% set form = page.getFormConfidentiality()["user"] %}
					{% else %}					{% set form = page.getFormConfidentiality()["page"] %}
					{% endif %}

					{% for key, formConfItem in form %}
						<div class="description-toggle margin-top-50">
							<div class="description-toggle-content">
								<div class="h6 no-margin"><i class="fa fa-circle"></i> {{ formConfItem.h6|trans }}</div>
								<p class="margin-bottom-5">{{ formConfItem.lbl|trans }}</p>
								
								{{  include("page/blocks/block-control-confidentiality.html.twig", 
									{ "confkey": key, "confvalue" : page.confidentiality[key], "page" : page  })  }}

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$( document ).ready(function() {
	pageObj.initFormConfidentiality();
});
</script>