{% trans_default_domain 'page' %}

<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12" id="form-preferences">
	<div class="ui-block">
		<div class="ui-block-title">
			<h4 class="title">
				<i class="fa fa-cog"></i> 
				{% trans %}Preferences{% endtrans %}
			</h4>
		</div>

		<div class="ui-block-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					
					<h5><i class="fa fa-circle"></i> {% trans %}Notifications{% endtrans %}</h5>
					<hr>
					
					<div class="description-toggle">
						<div class="description-toggle-content">
							<div class="h6">{% trans %}Notifications sound{% endtrans %}</div>
							<p>{% trans %}A sound will be played each time you receive a new activity notification{% endtrans %}</p>
						</div>

						<div class="togglebutton">
							<label>
								<input type="checkbox" checked="" class="btn-select-preferences" 
										data-slug="{{ page.slug }}" data-confkey="AUTH_NOTIF_SOUND" 
										data-confval="{{ page.isPrefAuth('AUTH_NOTIF_SOUND') }}">
							</label>
						</div>
					</div>
					<div class="description-toggle">
						<div class="description-toggle-content">
							<div class="h6">{% trans %}Notifications e-mail{% endtrans %}</div>
							<p>{% trans %}We’ll send you an email to your account each time you receive a new activity notification{% endtrans %}</p>
							<p><i>({% trans %}This feature will be implemented as soon as possible{% endtrans %})</i></p>
						</div>

						<div class="togglebutton">
							<label>
								<input type="checkbox" checked="" class="btn-select-preferences" 
										data-slug="{{ page.slug }}" data-confkey="AUTH_NOTIF_EMAIL" 
										data-confval="{{ page.isPrefAuth('AUTH_NOTIF_EMAIL') }}">
							</label>
						</div>
					</div>

					<hr>
					<h5><i class="fa fa-circle"></i> {% trans %}Instant messaging{% endtrans %}</h5>
					<hr>

					<div class="description-toggle padding-left-25">
						<div class="description-toggle-content">
							<div class="h6">{% trans %}Notifications sound{% endtrans %}</div>
							<p>{% trans %}A sound will be played each time you receive a new private message{% endtrans %}</p>
						</div>

						<div class="togglebutton">
							<label>
								<input type="checkbox" checked="" class="btn-select-preferences" 
										data-slug="{{ page.slug }}" data-confkey="AUTH_CHAT_SOUND" 
										data-confval="{{ page.isPrefAuth('AUTH_CHAT_SOUND') }}">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>


<script>
$( document ).ready(function() {
	pageObj.initFormPreferences();
});
</script>