{% trans_default_domain 'page' %}

<div class="ui-block">
	<div class="ui-block-title">
		<!-- <h6 class="title"><i class="fa fa-link"></i> {% trans %}Page suggestions{% endtrans %}</h6> -->
		<h6 class="title letter-green"><i class="fa fa-{{ icon }}"></i> {{ title|trans }}</h6>
	</div>

	<ul class="widget w-friend-pages-added notification-list friend-requests">
		{% for page in pageSuggest %}
		<li class="inline-items">
			<div class="author-thumb d-none d-lg-inline">
				<img src="{{ page.imageProfilAsset }}" alt="img" height="36">
			</div>
			<div class="notification-event">
				<a href="{{ path("page", {'slug':page.slug}) }}" 
					class="h6 notification-friend elipsis {% if page.city == "" %}margin-top-10{% endif %}">
					{{ page.name }}
				</a>
				{% if page.city != "" and page.isConfAuth("SHOW_ADDRESS", currentUserPage) %}
					<span><i class="fa fa-map-marker"></i> {{ page.city }}</span>
				{% endif %}
			</div>
			<span class="notification-icon">
				<!-- <a href="javascript:" class="btn-send-request-follow accept-request" data-slug-page="{{ page.slug }}"
					data-toggle="modal" data-target="#modal-quickview"  title="{% trans %}follow this page{% endtrans %}">
					<i class="fa fa-link padding-5"></i>
				</a> -->

				{% if app.user != null
				  and app.user.myUserPage.id != page.id 
				  and app.user.myUserPage.relations.imAdminOf(parentPage.slug) %}
				<a href="javascript:" class="btn btn-sm bg-purple js-chat-open letter-white col col-12" 
					data-slug="{{ page.slug }}" data-name="{{ page.name }}" 
					data-type="{{ page.type }}"
					title="{% trans %}Send private message{% endtrans %}"
					{% if page.informations.discord != "" and 
					   page.isConfAuth("SHOW_INFO_DISCORD", currentUserPage) %}
   						data-discord="{{ page.informations.discord }}" 
   					{% endif %}
						data-thumb="{{ page.imageProfil }}">
					{# <svg class="olymp-chat---messages-icon">
						<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-chat---messages-icon"></use>
					</svg> #}
					<i class="fa fa-comments"></i> 
				</a>
				{% endif %}
			</span>
		</li>
		{% endfor %}
	</ul>
</div>

<script>
	$( document ).ready(function() {
		nexxo.initBtnRequest();
	});
</script>