{% trans_default_domain 'page' %}

<style>
.container-relation{
	position: absolute;
	top:0px;
	width:100%;
	background: transparent;
}
.label-relation{
	float:left;
	margin: 5px;
	background-color: rgba(35, 35, 35, 0.7);
	padding: 3px 6px;
	border-radius: 40px;
	width: 24px;
	font-size: 11px;
	text-align: center;
	color: white;
	margin-right: 0px;
}
.label-relation{
	float: right;
}
.search-res .author-thumb {
    margin: 0px !important;
    margin-top: 10px !important;
    height: 40px !important;
    /*width: 40px;*/
    width:100% !important;
    text-align: left !important;
}
.search-res .friend-avatar .author-thumb img {
    border: 2px solid #fff;
}
.search-res .page-price{	
	font-size: 21px;
	padding: 0;
	width: 100%;
	margin-top:10px;
	display: block;
}
.friend-header-thumb img{
	border-radius: 4px;

}

.app-search #search-result-list .col {
    padding: 0 15px;
}

.container-relation{
	position: relative;
}
.friend-header-thumb{
	border:0px !important;
}

.btn-open-marker{
	position: relative !important;
	width: unset;
	margin-top: 15px;
	border-radius: 20px !important;
	float: right;
	background-color: rgb(72, 183, 233) !important;
	color: white;
	
}
</style>

<div class="res-total-count d-none">{{ totalCount }}</div>
<div  class="row no-margin search-res">
	{% for result in results %}
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12  col-xs-12 col-12">
			<div class="ui-block">
				
				<!-- Friend Item -->
				<div class="friend-item">
					
					<div class="col col-12">
						<div class="author-thumb margin-bottom-5 col-8 padding-5"
							 data-toggle="modal" data-target="#modal-quickview"
							 title="{% trans %}Show quick view{% endtrans %}">
							 
							<a href="javascript:" class="open-quickview link-dark d-flex" 
								data-type="page" data-id="{{ result.parentPage.slug }}">

				                <img src="{{ result.parentPage.imageProfilAsset }}" class="d-inline" 
				                	 alt="img" height="40">

				                <div class=" margin-left-10">
									{% trans %}Published by{% endtrans %}<br>
					                <i class="fa fa-{{ result.parentPage.faIcon }} letter-{{ result.parentPage.colorType }} border-b-{{ result.parentPage.colorType }} border-b-1 d-inline"></i>
									
									<strong>{{ result.parentPage.name }}</strong>
								</div>
							</a>
						</div>

						<!-- <a href="https://g1.duniter.fr/#/app/transfer/{{ result.publicKeyG1 }}?amount={{ result.price }}&amp;comment=NEXXO:{{ result.id }}" class="col col-2 pull-right margin-top-15 btn btn-blue padding-5"></a> -->

						{% if app.user != null %}
							{% if result.coordinates[0] != "false" and 
								  result.isConfAuth("SHOW_GEOPOS", app.user.myUserPage) and
								  result.id != app.user.myUserPage.id
							 %}
								<button class="btn-open-marker" data-id="{{ result.id }}">
									<i class="fa fa-map-marker "></i> {% trans %}Show in map{% endtrans %}
								</button>
							{% endif %}
						{% else %}
							{% if result.getConfAuth("SHOW_GEOPOS") == "CONF_NEXXO" %}
								<button class="btn-open-marker" data-id="{{ result.id }}">
									<i class="fa fa-map-marker "></i> {% trans %}Show in map{% endtrans %}
								</button>
							{% endif %}
						{% endif %}

						{% if app.user != null and app.user.myUserPage.relations.InFollows(result.slug) == true %} 
							<div class="badge bg-green padding-5 margin-15 margin-top-20 pull-right"
								 title="{% trans %}You are interested{% endtrans %}">
								<i class="fa fa-check"></i> 
							</div>
						{% endif %}


						<hr class="no-margin">
					</div>

					<div class="col col-7 pull-left" id="{{ result.slug }}">

						<div class="friend-avatar">
							
							<div class="author-content text-left">

								
								{% if result.price > 0 %}
									<span class="page-price letter-yellow">{{ result.price }} Ğ</span>
								{% else %}
									<span class="page-price letter-yellow">Free</span>
								{% endif %}


								<a href="{{ path('page', {'slug': result.slug}) }}" 
									class="h5 author-name elipsis no-margin">
									{{ result.name }}
								</a>
								<br>
								<div class="country elipsis no-margin letter-blue">
									{% if app.user != null %}
										{% if result.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) and result.city != "" %}
											{% if result.country != "" %}<i class="fa fa-map-marker"></i> 
											{% else %}<br>{% endif %}

											{% if result.city != "" %}
												<a href="javascript:" class="btn-open-marker-2 letter-blue" 
													data-id="{{ result.id }}">{{ result.city }}</a>
											{% endif %}
											{# if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif #}
											{% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
										{% endif %}
										{% if result.city == "" %}-{% endif %}
									{% else %}
										{% if result.getConfAuth("SHOW_ADDRESS") == "CONF_NEXXO" and result.city != "" %}
											{% if result.country != "" %}<i class="fa fa-map-marker"></i> {% else %}<br>{% endif %}
											{% if result.city != "" %}
												<a href="javascript:" class="btn-open-marker-2 letter-blue" 
													data-id="{{ result.id }}">{{ result.city }}</a>
											{% endif %}
											{# if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif #}
											{% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
										{% endif %}
									{% endif %}
								</div>
								
								<p>{{ result.description|slice(0,300) }}</p>

								{% if result.tagsStr != "" %}
									<small class="elipsis">
										{{ result.tagsStr }}
									</small>
								{% endif %}


								{% if result.informations.email != "" %}<br><br>
									<span class="h6">{{ result.informations.email }}</span>
								{% endif %}
								{% if result.informations.website != "" %}<br>
									<span class="h6">{{ result.informations.website }}</span>
								{% endif %}
								
							</div>
						</div>
				
						<div class="row d-none">

							{% if result.type == "user" %} 
								<span class="friend-count-item">
									<div class="h6 count-item-friend">{{ result.relations.realFriends|length }}</div>
									<div class="title">{% trans %}Friends{% endtrans %}</div>
									{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}Ask for friend{% endtrans %}" 
									   data-placement="bottom"#}
									   title="{% trans %}Ask for friend{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-hand-peace-o"></i>
									</a>
									{% endif %} 
								</span>
							{% elseif result.type == "event" %} 
								<span class="friend-count-item">
									<div class="h6 count-item-participate">{{ result.relations.participants|length }}</div>
									<div class="title">{% trans %}Participants{% endtrans %}</div>
									{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-participate" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}I want to participate{% endtrans %}"
									   data-placement="bottom" #}
									   title="{% trans %}I want to participate{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-group"></i>
									</a>
								{% endif %}
								</span>
							{% else %} 
								<span class="friend-count-item">
									<div class="h6 count-item-friend">{{ result.relations.friends|length }}</div>
									<div class="title">{% trans %}Members{% endtrans %}</div>
									{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}Become member{% endtrans %}"
									   data-placement="bottom" #}
									   title="{% trans %}Become member{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-hand-peace-o"></i>
									</a>
								{% endif %}
								</span>
							{% endif %} 
							<span class="friend-count-item">
								<div class="h6 count-item-follow">{{ result.relations.followers|length }}</div>
								<div class="title">{% trans %}Followers{% endtrans %}</div>
								{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-purple btn-control btn-send-request-follow" 
								   data-slug-page="{{ result.slug }}"
								   data-slug-page-confirm="true"
								   {# data-toggle="tooltip" data-original-title="{% trans %}Follow this page{% endtrans %}"
								   data-placement="bottom" #}
								   title="{% trans %}Follow this page{% endtrans %}">
									<i class="fa fa-link"></i>
								</a>
								{% endif %}
							</span>
							<span class="friend-count-item">
								<div class="h6 count-item-like">{{ result.relations.likers|length }}</div>
								<div class="title">{% trans %}Likes{% endtrans %}</div>
								{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-like" 
								   data-slug-page="{{ result.slug }}"
								   data-slug-page-confirm="true"
								   {# data-toggle="tooltip" data-original-title="{% trans %}Like this page{% endtrans %}"
								   data-placement="bottom" #}
								   title="{% trans %}Like this page{% endtrans %}">
								<i class="fa fa-thumbs-o-up"></i>
								</a>
								{% endif %}
							</span>
						</div>
						

						{% if  app.user != null and result.id == app.user.myUserPage.id %}<br>{% endif %}

					</div>

					<div class="friend-header-thumb col col-4 pull-right padding-15" data-page-type="{{ result.type }}">

						

						{% if 'default' not in result.imageBannerAssetMin %}
						<a href="{{ path('page', {'slug': result.slug}) }}" 
							class="{% if result.imageBanner == "default.png" %}banner-empty{% endif %}">
								<img src="{{ result.imageBannerAssetMin }}" class="" alt="img">	                
						</a>
						{% endif %}


					</div>
				</div>	

			</div>
		</div>
	{% endfor %}

	{% if results|length == 0 %}
		<div class="col col-12">
			<div class="ui-block padding-15">
				<i class="fa fa-ban"></i> {% trans %}No result{% endtrans %}
			</div>
		</div>
	{% endif %}
</div>

<script>
	searchObj.results  =  {{ jsonRes|json_encode|raw }};
    $( document ).ready(function() {
        searchObj.initListResUi();
    });
</script>


