{% trans_default_domain 'page' %}

{% extends(extends) %}


{% block metadata %}
    <meta charset="UTF-8" />
    <meta property="og:url"                content="{{ base_url }}/page/{{ page.slug }}" />
    <meta property="og:type"               content="application" />

    {% if page.isPrivate == true %}
    	<meta name="robots" content="noindex" />
    {% else %}
    	<meta name="robots" content="nofollow" />
	    <meta property="og:title"              content="{{ page.name }} | Nexxo" />
	    <meta property="og:description"        content="{{ page.description }}" />

	    {% if 'https://' in page.imageBanner %}
	    <meta property="og:image"              content="{{ page.imageBanner }}" />
        {% else %}
	    <meta property="og:image"              content="{{ base_url }}{{ page.imageBannerAsset }}" />
        {% endif %}

    {% endif %}
{% endblock %}

{% block title %}
	<title data-title="{{ page.name }} | Nexxo" data-count="0">
		{{ page.name }} | Nexxo
	</title>
{% endblock %}

{% block body %}

<script src="{{ asset("js/newsObj.js") }}"></script>
<script src="{{ asset("js/searchObj.js") }}"></script>
<script src="{{ asset("js/pageObj.js") }}"></script>
<script src="{{ asset("js/comment.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/news.css') }}" />

<style>
.top-header-thumb{
	min-height:90px;
}
.page-price{
	font-size:30px;
}
.btn-open-marker-2{
	font-size: 15px;
}
.description-toggle-content{
	display: none;
}
#btn-send-post{
	margin-top: 15px;
}
.btn.border-green{
	color:#000;
}
.dark-theme .btn.border-green{
	color:#FFF;
}
</style>

{% if app.user == null %}
<!-- <div class="margin-left-50 margin-bottom-50">
	<a href="{{ path("user_registration") }}" class="btn btn-purple btn-lg btn-sm margin-left-25">
		<i class="fa fa-plus-circle"></i> {% trans %}Create your account{% endtrans %}
	</a>
	<a href="{{ path("login") }}" class="btn btn-primary btn-lg btn-sm">
		<i class="fa fa-sign-in"></i> {% trans %}Login{% endtrans %}
	</a>
</div> -->
<div class="header-spacer"></div>
{% else %}
<div class="header-spacer"></div>
{% endif %}


<!-- Top Header -->
<div class="container">
	<div class="">
		{% if page.report != null %}

			{% if page.report.status == "DISABLED" %}
				<div class="h5 col-12 text-left letter-red">
					<i class="fa fa-exclamation-triangle"></i> 
					{% trans %}This Page has been disabled{% endtrans %}
				</div>
			{% elseif page.report.status == "VOTE_OPEN" %}

				<div class="h5 col-12 text-left letter-red">
						<i class="fa fa-exclamation-triangle"></i> 
						{% trans %}This page has been reported by{% endtrans %} {{ page.report.authors|length }} 
						{% transchoice page.report.authors|length %}[0,1] people|[2,Inf[ people{% endtranschoice %}
				</div>
				<div class="h5 col-12 text-left">
					<small class="bold">
						<i class="fa fa-angle-down"></i> 
						<i class="fa fa-balance-scale"></i>
						{% if date(page.report.dateEndVote) < date() %}
							{% trans %}The voting procedure is over{% endtrans %}
						{% else %}
							{% trans %}Please, vote to moderate this content{% endtrans %}
						{% endif %}
					</small> 
				</div>
				{% if page.report.authors|length > 0 %}
					<div class="report-container" data-report-id="{{ page.report.id }}">
						{{ include ('report/bar-vote.html.twig', { "report" : page.report }) }}
					</div>
				{% endif %}

			{% endif %}

		{% endif %}

		<div class="d-flex">
			
				<div class="h5 col-6 padding-top-10">
				<small>
					<a href="{{ path('page', { 'slug' : page.owner.myUserPage.slug })}}" 
					    class="open-quickview link-dark d-flex" 
						data-toggle="modal" data-target="#modal-quickview"
						data-type="page" data-id="{{ page.parentPage.slug }}">

		                <img src="{{ page.parentPage.imageProfilAsset }}" class="d-inline" 
		                	 alt="img" height="40">

		                <div class=" margin-left-10">
							<b>{% trans %}Announce{% endtrans %}</b>
							{% trans %}published by{% endtrans %}<br>
			                <i class="fa fa-{{ page.parentPage.faIcon }} letter-{{ page.parentPage.colorType }} border-b-{{ page.parentPage.colorType }} border-b-1 d-inline"></i>
							
							<strong>{{ page.parentPage.name }}</strong>
						</div>
					</a>
					</small>
					<!-- <b>
						<i class="fa fa-user"></i> {% trans %}announce posted by{% endtrans %}
					</b> 
					<a href="{{ path('page', { 'slug' : page.owner.myUserPage.slug })}}">{{ page.owner.realUsername }}</a> -->
				</div>

				<div class="col-6 text-right padding-top-10">
					
					<time class="published" datetime="{{ page.created|date() }}">
						<i class="fa fa-clock-o"></i> 
						{% trans %}Posted{% endtrans %}
						{{ page.created|date_modify('-1 second')|ago }}
						<span class="separator"> · </span>
						{{ page.created|localizeddate('short', 'none', app.request.locale) }}
					</time>
				</div>


		</div>

	</div>

	<div class="col col-12"><br></div>

	<div class="row">
		<div class="col-xl-7 col-lg-7 col-md-8 col-sm-12 col-xs-12">
			<div class="ui-block padding-15">

			
					<a 		href="javascript:" 
							class="btn-send-request-follow btn btn-sm border-green border-2 col col-12 
							{% if currentUserPage.relations.inFollows(page.slug) %}letter-green{% endif %}"
							title="{% trans %}click to report your interest in this listing{% endtrans %}"
							data-slug-page-confirm="true"
							data-slug-page="{{ page.slug }}"
							data-id-page="{{ page.id }}">
						<i class="fa fa-check" style="font-size:16px;"></i> 
						{% trans %}I'm interested !{% endtrans %}
						
						<!-- <span class="count-item-like">{{ page.relations.likers|length }}</span> -->
					</a>

				{% if page.price > 0 %}
					<span class="page-price letter-yellow">{{ page.price }} Ğ</span>
				{% else %}
					<span class="page-price letter-yellow"> Ğ - {% trans %}Free{% endtrans %}</span>
				{% endif %}

				<hr>
				<a href="{{ path('page', {'slug': page.slug}) }}" 
					class="h4 author-name elipsis no-margin">
					<i class="fa fa-thumb-tack"></i> {{ page.name }}
				</a>
				<br>
				{% if page.city != "" %}		
					<div class="country elipsis no-margin letter-blue">
						{% if app.user != null %}
							{% if page.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) and page.city != "" %}
								{% if page.country != "" %}<i class="fa fa-map-marker"></i> 
								{% else %}<br>{% endif %}

								{% if page.city != "" %}
									<a href="javascript:" class="btn-open-marker-2 letter-blue" 
										data-id="{{ page.id }}">{{ page.city }}</a>
								{% endif %}
								{# if page.streetAddress != "" and page.streetAddress != "" %}, {{ page.streetAddress }}{% endif #}
								{% if page.country != "" and page.country != "" %}, {{ page.country }}{% endif %}
							{% endif %}
							{% if page.city == "" %}-{% endif %}
						{% else %}
							{% if page.getConfAuth("SHOW_ADDRESS") == "CONF_NEXXO" and page.city != "" %}
								{% if page.country != "" %}<i class="fa fa-map-marker"></i> {% else %}<br>{% endif %}
								{% if page.city != "" %}
									<a href="javascript:" class="btn-open-marker-2 letter-blue" 
										data-id="{{ page.id }}">{{ page.city }}</a>
								{% endif %}
								{# if page.streetAddress != "" and page.streetAddress != "" %}, {{ page.streetAddress }}{% endif #}
								{% if page.country != "" and page.country != "" %}, {{ page.country }}{% endif %}
							{% endif %}
						{% endif %}
					</div>
				{% endif %}
				
				<p>{{ page.description }}</p>
				
				{% if page.tagsStr != "" %}
					<small class="elipsis">{{ page.tagsStr }}</small>
				{% endif %}

				{% if page.informations.email != "" %}<br>
					<span class="h6">
						<i class="fa fa-desktop margin-right-5"></i> {{ page.informations.email }}
					</span>
				{% endif %}
				{% if page.informations.website != "" %}<br>
					<span class="h6">
						<i class="fa fa-phone margin-right-10"></i> {{ page.informations.website }}
					</span>
				{% endif %}
				
				{% if app.user != null %}
					{% if page.publicKeyG1 != "" and page.price > 0 %}<hr>
						<a target="_blank" href="https://g1.duniter.fr/#/app/transfer/{{ page.publicKeyG1 }}?amount={{ page.price }}&amp;comment=NEXXO:{{ page.id }}"
						 class="h6 letter-yellow" title="{% trans %}Public key{% endtrans %} Ğ">
							<span class="badge bg-yellow padding-5 margin-right-5">
								<i class="fa fa-key"></i>Ğ
							</span> 
							<span style="font-weight:200;">{{ page.publicKeyG1 }}</span>
						</a>

						{% if currentUserPage.relations.ImAdminOf(page.slug) == false %}
							<a target="_blank" href="https://g1.duniter.fr/#/app/transfer/{{ page.publicKeyG1 }}?amount={{ page.price }}&amp;comment=NEXXO:{{ page.id }}" class="col col-2 pull-right btn border-yellow letter-yellow padding-5">{% trans %}Pay{% endtrans %}</a><br><br>
						{% endif %}
					{% endif %}
				{% endif %}
				

			</div>

			<hr class="margin-25">

			{% set preTags = [	"#goodNews", 		"#badNews", 
						"#enjoy", 			"#myQuestion", 
						"#myIdea", 			"#survey", 
						"#againAndAgain", 	"#whyNot", 
						"#iHaveADream", 	"#action"] %}

	
			{% if classifiedUI is not defined %}{% set classifiedUI = "false" %}{% endif %}					

			{% if formNews is defined 
			  and page.isConfAuth("AUTH_SENDPOST", currentUserPage) 
			  and app.user != null %}
			
				{{ include('news/forms/news-form.html.twig', { "form" 		: formNews, 
															   "myPosition" : myPosition,
															   "page" 		: page,
															   "dashboard"  : false,
															   "preTags"    : preTags,
															   "classifiedUI" : classifiedUI }) }}
			{% endif %}


			<div id="newsfeed-items-grid">
				{{ include('news/blocks/items-grid.html.twig', { "posts" : posts, "page" : page, "dashboard" : "false" }) }}
			</div>


		</div>
		<div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-xs-12">

			<div class="col col-12">
			
				{% if 'default' not in page.imageBannerAssetMin %}
				<div class="top-header-thumb {% if page.imageBanner == "default.png" %}banner-empty{% endif %}">
					{% if 'https://' in page.imageBanner %}
					<img src="{{ page.imageBanner }}"/>
	                {% else %}
	                		<img src="{{ page.imageBannerAsset }}"/>
	                {% endif %}
				</div>
				{% else %}
				<!-- <div class="top-header-thumb {% if page.imageBanner == "default.png" %}banner-empty{% endif %}">
					<h4 class="padding-15 text-center"><i class="fa fa-ban"></i><br>Aucune image disponible</h4>
				</div> -->
	            {% endif %}
			</div>

			<div class="col col-12">
				<div class="text-right margin-top-15 margin-bottom-15">							
					{% if currentUserPage.relations.ImAdminOf(page.slug) == true %}
						<a href="{{ path('page-upload-image-banner', {'slug' : page.slug }) }}" 
						   class="btn btn-sm bg-blue more letter-white col col-12">
							<i class="fa fa-camera letter-white"></i> {% trans %}Main image{% endtrans %}
						</a>


						<a href="{{ path('page-upload-image-profil', {'slug' : page.slug }) }}" 
						   class="btn btn-sm bg-blue more letter-white col col-12">
							<i class="fa fa-camera letter-white"></i> {% trans %}Profil image{% endtrans %}
						</a>

						<hr>

						<a href="{{ path('create-classified', {'classifiedId' : page.id })}}" id="btn-edit-announce" 
							class="btn btn-sm bg-blue more letter-white col col-12">
							<i class="fa fa-pencil"></i> {% trans %}Edit this announce{% endtrans %}
						</a>

						<hr>

						<!-- <a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-confidentiality' })}}" 
							class="btn btn-sm bg-primary more letter-white col col-12">
							<i class="fa fa-cog letter-white"></i> {% trans %}Settings{% endtrans %}
						</a> -->


						<a href="javascript:" id="btn-delete-announce" 
							data-url="{{ path('remove-page-block-view', {'slug' : page.slug })}}"
						  	class="btn btn-sm bg-red more letter-white col col-12">
							<i class="fa fa-trash"></i> {% trans %}Delete this announce{% endtrans %}
						</a>
					{% endif %}

					<hr>

					{% if page.slug != currentUserPage.slug and app.user != null %}
						{% if page.isConfAuth("AUTH_CHAT", currentUserPage) %}
						{% if currentUserPage.report == null or 
							 (currentUserPage.report.status != "DISABLED" and currentUserPage.isActive == true) %}
						<a href="javascript:" class="btn btn-sm bg-purple js-chat-open letter-white col col-12" 
							data-slug="{{ page.slug }}" data-name="{{ page.name }}" 
							data-type="{{ page.type }}"
							{% if page.informations.discord != "" and 
							   page.isConfAuth("SHOW_INFO_DISCORD", currentUserPage) %}
		   						data-discord="{{ page.informations.discord }}" 
		   					{% endif %}
								data-thumb="{{ page.imageProfil }}">
							<i class="fa fa-comments"></i> {% trans %}Send private message{% endtrans %}
						</a>
						{% endif %}
						{% endif %}
					{% endif %}


				</div>

			</div>

			<div class="col col-12" id="container-deleter"></div>

			{{  include("page/blocks/map.html.twig", 
				{ "page": page, "mapHeight" : 300, "currentUserPage": currentUserPage }) }}

			{% if page.relations.followers|length > 0 %}
				<div class="col col-12">
					{{ include('market/blocks/page-interested.html.twig', 
							{ "pageSuggest": page.relations.followers, 
							  "title" : "Ils sont intéressés", 
							  "icon": "check",
							  "parentPage": page,
							  "currentUserPage": currentUserPage }) }}
				</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		{# include ('page/sections/' ~ view ~ '.html.twig', { "page" : page, "subview" : subview }) #}
	</div>
</div>

<script>

    $( document ).ready(function() {

		nexxo.initBtnRequest();
		reportObj.initUi();
		searchObj.initListResUi();
		
		{% if currentUserPage.relations.ImAdminOf(page.slug) == true %}
		$("#news_text").attr("placeholder", "{% trans %}Give more details, add images, etc{% endtrans %}...");
		{% else %}
		$("#news_text").attr("placeholder", "{% trans %}Reply to this announce{% endtrans %}...");
		{% endif %}


		$("#btn-delete-announce").click(function(){
			var url = $(this).data("url");
			console.log("ajax to", url);
			$.ajax({
	          type: "POST",
	          url: url,
	          //async:true,
			  //data: {}},
	          success: function(res){
	          	//console.log("post send", res);
				console.log("ajax from", res);
	          	if(res.error == false){
					console.log("error loading ajax", url, res);
	          	}else{
	          		$("#container-deleter").html(res);
	          	}
	          }
	        });
		});

    });
</script>
{% endblock %}
