{% trans_default_domain 'page' %}

{% extends(extends) %}

{% block body %}

<script src="{{ asset('js/transLib.js') }}"></script>
<script src="{{ asset("js/searchObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<style>
.landing-page .container{
}
.landing-page .content-bg-wrap{
	background-color: #231f20;
	
}
.landing-page .content-bg-wrap{
	background-color: #231f20;
	
}
</style>

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

		<h2><i class="fa fa-shopping-basket"></i> {% trans %}Ğ-market{% endtrans %}</h2>
		<p>{% trans %}Ğ-Market is a classified system base on the June cryptomoney - Ğ{% endtrans %}. 
		<a href="javascript:" class="btn-open-help-intro">{% trans %}Know more{% endtrans %}</a></p>
		<div class="help-intro d-none">
			<a href="https://monnaie-libre.fr/" 
				target="_blank" 
				class="btn btn-secondary btn-sm">> {% trans %}Official website{% endtrans %}</a>
			<br>
			<iframe style="width:100%; max-width:450px;height:300px;" src="https://www.youtube.com/embed/SjoYIz_3JLI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{# <p>
				<i class="fa fa-angle-right"></i> 
				{% trans %}Every Nexxo member has their own personal page{% endtrans %} 
				· <span class="letter-yellow"><i class="fa fa-user"></i> {% trans %}member{% endtrans %}</span><br>
				{% trans %}and can create Pages for his different interests, activities, etc.{% endtrans %}<br>
				{% for type in typeSearch %}
				{% if type.type != "user" %}
				 	· 
					<span class="letter-{{ type.color }}">
						<i class="fa fa-{{ type.icon }}"></i> {{ type.type|trans }}
					</span>
				{% endif %}
				{% endfor %}
				<br>
				<br>
				<i class="fa fa-angle-right"></i> 
				{% trans %}To follow the news of a Page, click on the button{% endtrans %}
				<button class="btn btn-blue btn-sm no-margin padding-5 border-radius-15" style="width:28px;">
					<i class="fa fa-link"></i>
				</button>
				<br>
				<i class="fa fa-angle-right"></i> 
				{% trans %}To become a friend or member, click on the button{% endtrans %}
				<button class="btn btn-blue btn-sm no-margin padding-5 border-radius-15" style="width:28px;">
					<i class="fa fa-hand-peace-o"></i>
				</button>
				<br>
				<i class="fa fa-angle-right"></i> 
				{% trans %}Cliquez sur l'image de profil d'une page pour obtenir un apperçu rapide{% endtrans %}

			</p> #}
		</div>
		<hr>
		<div class="ui-block">
			{# <div class="ui-block-title">
				<div class="h6 title">
					<i class="fa fa-filter"></i> {% trans %}Filter by page type{% endtrans %}
					<button class="btn btn-sm btn-secondary bg-white letter-light border-light pull-right" id="btn-select-all-types">
						<i class="fa fa-check"></i> {% trans %}All{% endtrans %}
					</button>
				</div>			
			</div>
			<div class="row d-flex text-center padding-10 bold">
				{% for type in typeSearch %}
					<div class="col col-6 col-md-3 col-lg-3 col-xl-3 text-center margin-bottom-5 letter-{{ type.color }}">
						<button class="btn btn-type-page letter-{{ type.color }}" data-type-name="{{ type.type }}">
							<i class="fa fa-{{ type.icon }}"></i> {{ type.type|trans }}
						</button>
					</div>
				{% endfor %}
			</div> #}
		</div>
		
		
        {% if app.user != null %}
        <div class="ui-block">
			<div class="padding-15">
				<div class="row">
					<div class="title col-12 no-margin">
						<div class="float-left">
							<div class="h6 {% if userPage.coordinates[0] == "false" %}no-margin{% endif %}">
								<span id="link-around" style="cursor:pointer;">
									<i class="fa fa-filter"></i> {% trans %}Search around you{% endtrans %}
								</span>
								{% if userPage.coordinates[0] == "false" %}
									<small class="letter-orange"> - {% trans %}You are not located{% endtrans %}</small>
								{% endif %}
								<br>
								<small>{% trans %}Enable this option to perform a localized search around your location{% endtrans %}
								</small>
							</div>
								{% if userPage.coordinates[0] == "false" %}
									{% trans %}You must locate your location before you can use the "search around you" feature{% endtrans %}<br>
								{% endif %}

							</div>
						
						{% if userPage.coordinates[0] != "false" %}
							<div class="togglebutton text-right pull-right no-margin btn-check-sharable">
		                        <label style="margin:-3px 0 -5px 0;">
		                            <input type="checkbox" checked="" class="checkbox d-none" id="check-search-aroundme">
		                        </label>
		                    </div>
						{% else %}
							<span class=" float-right text-right">
								<button class="btn btn-blue no-margin padding-10" id="btn-init-localise-me">
									<i class="fa fa-map-marker"></i> 
									{% trans %}Give my position{% endtrans %}
								</button>
							</span>
						{% endif %}
						<hr class="d-none widget-aroundme float-left full-width">			
					</div>

					{% if userPage.coordinates[0] != "false" %}
						<div class="h6 title col col-md-6 d-md-none d-none widget-aroundme">
							<div class="full-width alert alert-secondary no-margin">
								<span class="around-me-distance">10 km</span>					
							</div>
						</div>
					{% endif %}
				</div>
				{% if userPage.coordinates[0] != "false" %}
					<div class="d-none widget-aroundme">
						<div class="row d-flex">
							<div class="col-12 col-md-9">
								<input type="range" class="form-control-range" id="formControlRange" value="10">
								<div class="d-md-none padding-5"></div>
							</div>
							<div class="h6 title col col-md-3 d-none d-md-block">
								<div class="full-width alert alert-secondary no-margin" style="padding: 8px 10px;">
									<span class="around-me-distance">10 km</span>					
								</div>
							</div>
						</div>
					</div>
				{% else %}
					{% if userPage.slug != "" %}
						<div class="d-none widget-localiseMe">
							<div class="row d-flex padding-left-15 margin-top-15">
									<div class="col-12 no-padding">
										{% trans %}By default your position will be{% endtrans %} <b>{% trans %}private{% endtrans %}</b>.<br>
										{% trans %}To allow other members to know your address and location, change your{% endtrans %} 
										<a href="{{ path('page-settings', {'slug' : userPage.slug, 'subview': 'form-confidentiality' })}}">
											{% trans %}privacy settings{% endtrans %}
										</a>.
									</div>
							</div>
							<div class="row d-flex padding-15">
									<div class="col-12 col-lg-3 no-padding">
										<select id="page_country" name="page[country]">
											<option value=""></option>
											{% for country, countryKey in userPage.getCountryList() %}
												<option value="{{ countryKey }}" selected="selected">{{ country }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-12 col-lg-4">
										<input type="text" id="page_city" placeholder="{% trans %}City / town{% endtrans %}"/>
									</div>
									<div class="col-12 col-lg-5 no-padding">
										<input type="text" id="page_streetAddress" placeholder="{% trans %}street{% endtrans %}"/>
									</div>

									<input type="hidden" id="page_latitude"/>
									<input type="hidden" id="page_longitude"/>

									<div class="col-12 margin-top-15 padding-15">
										<div id="geoloc-result"></div>
									</div>

							</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% endif %}

		<div id="map-container" class="d-none"></div>

		<div class="row col col-12 no-margin no-padding d-flex margin-bottom-10">

				<input type="text" id="search-in-page" class="col col-12 col-sm-12 col-md-6 bg-white margin-bottom-10" 
						placeholder="{% trans %}Your search{% endtrans %}...">
				
				<div class="col col-12 col-md-6 no-padding d-flex">
					<div class="col col-7 col-md-8 btnrefresh-padding">
						<a href="javascript:" class="btn btn-blue no-margin full-width" id="btn-refresh-search"
							 data-toggle="tooltip" data-original-title="{% trans %}update results{% endtrans %}">
							<i class="fa fa-refresh"></i> <span class="d- d-lg-inline">{% trans %}Refresh{% endtrans %}</span>
						</a>
					</div>

					<div class="col col-5 col-md-4 no-padding" id="btn-show-map">
						<a href="javascript:" class="btn btn-secondary no-margin full-width"
							 data-toggle="tooltip" 
							 data-original-title="{% trans %}show results on map{% endtrans %}">
							<i class="fa fa-map-marker"></i> 
							<span class="d-none d-lg-inline">{% trans %}On map{% endtrans %}</span>
						</a>
					</div>
					
					<div class="col col-5 col-md-4 no-padding d-none" id="btn-hide-map">
						<a href="javascript:" class="btn btn-secondary no-margin full-width"
							 data-toggle="tooltip" data-original-title="{% trans %}close the map{% endtrans %}">
							<i class="fa fa-times"></i> <span class="d- d-lg-inline"><i class="fa fa-map-marker"></i></span>
						</a>
					</div>			
				</div>

		</div>


		<a href="{{ path('create-classified') }}" 
					class="btn col col-4 btn-primary pull-right">
					<i class="fa fa-plus"></i> <i class="fa fa-thumb-tack"></i> {% trans %}Create announce{% endtrans %}
				</a>

		<label class="h6 margin-left-15"><br>
			<i class="fa fa-angle-down"></i> <b>{% trans %}Result{% endtrans %} (<span id="result-length"></span>)</b>
		</label>

		<a href="javascript:" 
			class="btn btn-sm btn-secondary bg-white letter-light border-light no-margin text-right margin-left-5 d-inline" 
			id="btn-share-search" data-toggle="tooltip" data-original-title="{% trans %}share this research{% endtrans %}">
			<i class="fa fa-share"></i>
		</a>	

		<input type="text" id="search-url" class="padding-5 col col-5 bg-white margin-left-5 d-none" 
				data-toggle="tooltip" data-original-title="{% trans %}Copy this link to share your current research{% endtrans %}"
				placeholder="{% trans %}share your search{% endtrans %}">
		<br>
		<br>
		

		<hr>

	</div>
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="search-result-list">
		{{  include("market/blocks/search-res-list.html.twig", 
			{  	"results": results,
				"jsonRes" : jsonRes,
				"yourSearch": yourSearch }) 
		}}
	</div>
</div>


<div class="row col"></div>

<script src="{{ asset('js/sig/sig.js') }}"></script>
<script>
	var myPosition =  {{ myPosition|json_encode|raw }};

	searchObj.latSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[0] }}
							{% else %}false{% endif %};
	
	searchObj.lngSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[1] }}
							{% else %}false{% endif %};
	
	searchObj.radiusSearch =  {% if radiusSearch is defined %}{{ radiusSearch }}
							  {% else %}false{% endif %};


	searchObj.typesSearch = "{% if typesSearch is defined %}{{ typesSearch }}{% endif %}";
	searchObj.yourSearch =  "{% if yourSearch is defined %}{{ yourSearch }}{% endif %}";
	searchObj.baseUrlSearch = "market";
	
	$( document ).ready(function() {
		searchObj.initUi(myPosition);
    });
</script>

{% endblock %}
