{% trans_default_domain 'mediatheque' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}

<script src="{{ asset('js/mediathequeObj.js') }}"></script>
	
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="landing-content">
				<h4>{% trans %}Media library{% endtrans %}</h4>

				<div id="media-list" class=" bg-white">
				{{include('mediatheque/media-list.html.twig')}}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		mediathequeObj.initMedia();
	});
</script>

{% endblock %}


