
<style>
.img-circle{
	border-radius: 50%;
}
</style>

<div class="row padding-25">
	{% for chanel in videos %}
		<div class="col-12">
			<img src="{{ chanel.thumb }}" height="50" class="img-circle float-left">
				
			<h4 class="float-left letter-white col-10 letter-dark">
				{{ chanel.name }}<br>
				<p>{{ chanel.description }}</p>
			</h4>
			{# <p></p> #}
		</div>

		<div class="row no-margin margin-bottom-50">
			{% set i = 0 %}{% set iMax = 6 %}
			{% for video in chanel.videos %}{% set i = i+1 %}
				{% if i <= iMax %}
					<div class="col-2">
						<img src="{{ video.imgSrc }}" class="col-12 no-padding margin-bottom-5">
						<a target="_blank" href="https://www.youtube.com{{ video.href }}" class="letter-dark">
							<b>{{ video.title|raw }}</b>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
</div>