{% extends(extends) %}
{% trans_default_domain 'agenda' %}

{% block body %}

<script src="{{ asset("js/searchObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />

<script src="{{ asset('js/agendaObj.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/lib/moment.min.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/fullcalendar.min.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/locale/en-gb.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/locale/fr.js') }}"></script>
<link rel="stylesheet" href="{{ asset('js/pluggins/fullcalendar-3.9.0/fullcalendar.min.css') }}" />


<div class="header-spacer"></div>


<div class="container app-agenda">
	<div class="row">

		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2><i class="fa fa-search"></i> Agenda</h2>
		<p>{% trans %}Find all the events published by network members{% endtrans %}...
		<a href="javascript:" class="btn-open-help-intro">{% trans %}Know more{% endtrans %}</a></p>
		<div class="help-intro d-none">
			<p>
				<i class="fa fa-angle-right"></i> 
				{% trans %}Common Agenda : shows all events{% endtrans %}.
				<br>
				<i class="fa fa-angle-right"></i> 
				{% trans %}Personal Agenda : shows only the events in which you participate{% endtrans %}.
			</p>
		</div>
		<hr>
	</div>

		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title padding-15">
					<ul class="nav nav-tabs calendar-events-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link btn-show-calendar active" data-type="common" 
								data-toggle="tab" href="javascript:" role="tab" 
								title="{% trans %}Retreive all events{% endtrans %}">
								<i class="fa fa-calendar"></i> {% trans %}Common agenda{% endtrans %}
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link btn-show-calendar" data-type="personal" 
								data-toggle="tab" href="javascript:" role="tab"
								title="{% trans %}Only show events related to you{% endtrans %}">
								{# <i class="fa fa-user"></i> #} 
								<img src="{{ currentUserPage.imageProfilAsset }}" class="" height="25"/>
								{% trans %}Personal agenda{% endtrans %}
							</a>
						</li>

					</ul>
					<a href="{{ path('create-page', { type : 'event' }) }}" class="btn bg-breez float-right" >
						<i class="fa fa-plus"></i> <i class="fa fa-calendar"></i> {% trans %}Create an event{% endtrans %}
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="ui-block">
			<div class="padding-15">
				<div class="row">
					<div class="title col-12 no-margin">
						<div class="float-left">
							<div class="h6 {% if currentUserPage.coordinates[0] == "false" %}no-margin{% endif %}">
								<i class="fa fa-filter"></i> {% trans %}Search around you{% endtrans %}
								{% if currentUserPage.coordinates[0] == "false" %}
									<small class="letter-orange"> - {% trans %}You are not located{% endtrans %}</small>
								{% endif %}
							</div>
								{% if currentUserPage.coordinates[0] == "false" %}
									{% trans %}You must locate your position before you can use the feature{% endtrans %} 
									"{% trans %}search around you{% endtrans %}"<br>
								{% endif %}

							</div>
						
						{% if currentUserPage.coordinates[0] != "false" %}
							<div class="togglebutton text-right pull-right no-margin btn-check-sharable">
		                        <label style="margin:-3px 0 -5px 0;">
		                            {# <b><i class="fa fa-share"></i> <span class="d-none d-sm-inline">Autoriser le partage</span></b> #}
		                            <input type="checkbox" checked="" class="checkbox d-none" id="check-search-aroundme">
		                        </label>
		                    </div>
						{% else %}
							<span class=" float-right text-right">
								{# <a href="{{ path('page-settings', {'slug' : currentUserPage.slug, 'subview': 'form-main-info' })}}" #}
								<button class="btn btn-blue no-margin padding-10" id="btn-init-localise-me">
									<i class="fa fa-map-marker"></i> 
									{% trans %}Give my position{% endtrans %}
								</button>
							</span>
						{% endif %}
						<hr class="d-none widget-aroundme float-left full-width">			
					</div>

					{% if currentUserPage.coordinates[0] != "false" %}
						<div class="h6 title col col-md-6 d-md-none d-none widget-aroundme">
							<div class="full-width alert alert-secondary no-margin">
								<span class="around-me-distance">10 km</span>					
							</div>
						</div>
					{% endif %}
				</div>
				{% if currentUserPage.coordinates[0] != "false" %}
					<div class="d-none widget-aroundme">
						<div class="row d-flex">
							<div class="col-12 col-md-9">
								<input type="range" class="form-control-range" id="formControlRange" value="10">
								<div class="d-md-none padding-5"></div>
							</div>
							<div class="h6 title col col-md-3 d-none d-md-block">
								<div class="full-width alert alert-secondary no-margin" style="padding: 8px 10px;">
									<span class="around-me-distance">10 km</span>					
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="d-none widget-localiseMe">
						<div class="row d-flex padding-left-15 margin-top-15">
								<div class="col-12 no-padding">
									{% trans %}By default your position will be{% endtrans %} <b>{% trans %}private{% endtrans %}</b>.<br>
									{% trans %}To allow other members to know your address and location, change your{% endtrans %} 
									<a href="{{ path('page-settings', {'slug' : currentUserPage.slug, 'subview': 'form-confidentiality' })}}">
										{% trans %}privacy settings{% endtrans %}
									</a>.
								</div>
						</div>
						<div class="row d-flex padding-15">
								<div class="col-12 col-md-3 no-padding">
									<select id="page_country" name="page[country]">
										<option value=""></option>
										{% for country, countryKey in currentUserPage.countryList %}
											<option value="{{ countryKey }}" selected="selected">{{ country }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-12 col-md-4">
									<input type="text" id="page_city" placeholder="{% trans %}City / town{% endtrans %}"/>
								</div>
								<div class="col-12 col-md-5 no-padding">
									<input type="text" id="page_streetAddress" placeholder="{% trans %}street{% endtrans %}"/>
								</div>

								<input type="hidden" id="page_latitude"/>
								<input type="hidden" id="page_longitude"/>

								<div class="col-12 margin-top-15 padding-15">
									<div id="geoloc-result"></div>
								</div>

						</div>
					</div>
				{% endif %}
			</div>
		</div>


	<div id="map-container" class="d-none"></div>

	<div class="row col col-12 no-margin margin-bottom-15 margin-top-15 no-padding d-flex">

			<input type="text" id="search-in-page" class="col col-12 col-sm-12 col-md-6 bg-white margin-bottom-10" 
					placeholder="{% trans %}Your search{% endtrans %}...">
			
			<div class="col col-12 col-md-6 no-padding d-flex">
				<div class="col col-7 col-md-8 btnrefresh-padding">
					<a href="javascript:" class="btn btn-blue no-margin full-width" id="btn-refresh-search"
						 data-toggle="tooltip" data-original-title="{% trans %}update results{% endtrans %}">
						<i class="fa fa-refresh"></i> <span class="d- d-lg-inline">{% trans %}Refresh{% endtrans %}</span>
					</a>
				</div>
				<div class="col col-5 col-md-4 no-padding" id="btn-show-map">
					<a href="javascript:" class="btn btn-secondary no-margin full-width"
						 data-toggle="tooltip" data-original-title="{% trans %}show results on map{% endtrans %}">
						<i class="fa fa-map-marker"></i> <span class="d-lg-inline">{% trans %}On map{% endtrans %}</span>
					</a>
				</div>
				<div class="col col-5 col-md-4 no-padding d-none" id="btn-hide-map">
					<a href="javascript:" class="btn btn-secondary no-margin full-width"
						 data-toggle="tooltip" data-original-title="{% trans %}close the map{% endtrans %}">
						<i class="fa fa-times"></i> <span class="d- d-lg-inline"><i class="fa fa-map-marker"></i></span>
					</a>
				</div>			
			</div>

	</div>

</div>


<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="events" role="tabpanel">

		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
					<div class="ui-block">
						<div class="today-events calendar">
							<div class="today-events-thumb">
								<img src="" id="">
								<div class="date border-radius-10 padding-10 font-konkretika" style="background-color:rgba(0,0,0,0.2);">
									<div class="day-week"></div>
									<div class="day-number"></div>
									<div class="month-year letter-white"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
					<div class="ui-block" id="calendar">
					</div>

					{# <div class="ui-block" id="search-result-list">
					</div> #}
				</div>
			</div>
		</div>
	</div>
</div>


<script src="{{ asset('js/sig/sig.js') }}"></script>
<script>
	var myPosition =  {{ myPosition|json_encode|raw }};

	searchObj.latSearch =  {% if coordinatesSearch is defined %}{{ coordinatesSearch[0] }}{% else %}false{% endif %};
	searchObj.lngSearch =  {% if coordinatesSearch is defined %}{{ coordinatesSearch[1] }}{% else %}false{% endif %};
	searchObj.radiusSearch =  {% if radiusSearch is defined %}{{ radiusSearch }}{% else %}false{% endif %};

	searchObj.typesSearch = "{% if typesSearch is defined %}{{ typesSearch }}{% endif %}";
	searchObj.yourSearch =  "{% if yourSearch is defined %}{{ yourSearch }}{% endif %}";

	$( document ).ready(function() {
		setTimeout(function(){
			agendaObj.initUi();
		}, 100);

		searchObj.initUi(myPosition);
    });
</script>

{% endblock %}