{% extends 'theme/base-app.html.twig' %}
{% trans_default_domain 'agenda' %}

{% block body %}

<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/lib/moment.min.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/fullcalendar.min.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/locale/en-gb.js') }}"></script>
<script src="{{ asset('js/pluggins/fullcalendar-3.9.0/locale/fr.js') }}"></script>
<link rel="stylesheet" href="{{ asset('js/pluggins/fullcalendar-3.9.0/fullcalendar.min.css') }}" />
<style>
.ui-block-content .ui-block{
    border: transparent!important;
}
.main-block-form{
    width:100%!important;
    max-width:100%!important;
    padding: 0px;
}
.main-block-form .ui-block-title{
    display: none;
}
</style>
<div class="header-spacer"></div>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ui-block no-padding">
            <div class="ui-block-title">
                <h5 class="title">
                    <i class="fa fa-calendar"></i> 
                    <i class="fa fa-plus"></i> 
                    {% trans %}Create an event{% endtrans %}<br>
                    {# <small>
                        Les pages servent à mettre en avant vos activités, gérer vos communautés, 
                        <br class="d-none d-sm-block">et simplifier la communication entre les personnes qui y participent.
                    </small> #}
                </h5>
            </div>
            <div class="ui-block-content">
                {% if app.user.myUserPage.isActive == false %}
                    {% if app.user.myUserPage.report != null and app.user.myUserPage.report.status == "DISABLED" %}
                        <h6 class="no-margin letter-red">
                            <i class="fa fa-ban"></i> {% trans %}You must activate your account before creating new pages{% endtrans %}.<br>
                            {% trans %}Your page has been locked{% endtrans %}
                            {% if app.user.myUserPage.report.closedByType == "CO_MODERATION" %}
                                {% trans %}by a collective moderation procedure{% endtrans %}.
                            {% else %}
                                {% trans %}by a network administrator{% endtrans %} : 
                                <a href="{{ path('page', {'slug':app.user.myUserPage.report.closedByUser.slug }) }}">
                                {{ app.user.myUserPage.report.closedByUser.name }}
                                </a>.
                            {% endif %}
                        </h6>
                        {% trans %}To open a recovery procedure{% endtrans %}, 
                        <a href="{{ path('close-report', { 'id' : app.user.myUserPage.report.id }) }}">{% trans %}Click here{% endtrans %}</a>.
                    {% else %}
                        <h6 class="no-margin letter-red">
                            <i class="fa fa-ban"></i> {% trans %}You must activate your account before creating new events{% endtrans %}.
                        </h6>
                        {% trans %}Check your mailbox and click on the validation link{% endtrans %}.
                        
                    {% endif %}
                {% else %}
                    {{  include("agenda/forms/form-event.html.twig", {   "form": form, "action" : action, "type": "event" })  }}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}