{% trans_default_domain 'page' %}

<div class="ui-block notif-block">
	<div class="ui-block-title">
		{# <svg class="olymp-thunder-icon" style="margin-right: -8px;">
			<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-thunder-icon"></use>
		</svg> #}	
		<i class="fa fa-bolt fa-2x"></i>
		<h6 class="title">
			{% trans %}Notifications{% endtrans %}
		</h6>
		{# <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg></a> #}
	</div>

	<ul class="widget w-activity-feed notification-list activity-feed">
		<li>
			<span class="padding-left-15 padding-bottom-15">
				<i class="fa fa-spin fa-refresh"></i> <b>{% trans %}Loading notifications{% endtrans %}</b>
			</span>
		</li>
	</ul>
</div>
