{% trans_default_domain 'page' %}

<div class="ui-block no-padding col-12 no-padding margin-top-10 block-select-conf d-none d-md-block" data-confkey="{{ confkey }}">
	<div role="group" class="btn-group-vertica btn-group d-flex btn-group-type-msg">
		  {% if page.type == "user" %}
			  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
			  		  {% if confvalue == 'CONF_PRIVATE' %}active{% endif %}" 
			  		  type="button" data-confval="CONF_PRIVATE" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
			  	<i class="fa fa-minus"></i> {% trans %}Nobody{% endtrans %}
			  </button>
		  {% endif %}
		  {% if page.type != "user" %}
			  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
			  		  {% if confvalue == 'CONF_ADMINS' %}active{% endif %}" 
			  		  type="button" data-confval="CONF_ADMINS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
			  	<i class="fa fa-user-secret"></i> {% trans %}Admins{% endtrans %}
			  </button>
		  {% endif %}
		  {% if page.type == "user" %}
			  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
			  		  {% if confvalue == 'CONF_FRIENDS' %}active{% endif %}" 
			  		  type="button" data-confval="CONF_FRIENDS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
			  	<i class="fa fa-hand-peace-o"></i> {% trans %}Friends{% endtrans %}
			  </button>
		  {% else %}
		  	  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
			  		  {% if confvalue == 'CONF_FRIENDS' %}active{% endif %}" 
			  		  type="button" data-confval="CONF_FRIENDS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
			  	<i class="fa fa-hand-peace-o"></i> {% trans %}Members{% endtrans %}
			  </button>
		  {% endif %}
		  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_FOLLOWERS' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_FOLLOWERS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-link"></i> {% trans %}Followers{% endtrans %}
		  </button>
		  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_NEXXO' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_NEXXO" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-asterisk"></i> {% trans %}Nexxo{% endtrans %}
		  </button>
		  {# <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_ALL' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_ALL" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-globe"></i> {% trans %}All{% endtrans %}
		  </button> #}
	</div>
</div>
<div class="ui-block no-padding col-12 no-padding margin-top-10 block-select-conf d-block d-md-none" data-confkey="{{ confkey }}">
	<div role="group" class="btn-group-vertica btn-group d-flex btn-group-type-msg">
		  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_PRIVATE' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_PRIVATE" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-circle"></i> {% trans %}Nobody{% endtrans %}
		  </button>
		  {% if page.type != "user" %}
			  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
			  		  {% if confvalue == 'CONF_ADMIN' %}active{% endif %}" 
			  		  type="button" data-confval="CONF_ADMINS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
			  	<i class="fa fa-user-secret"></i> {% trans %}Admins{% endtrans %}
			  </button>
		  {% endif %}
		  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_FRIENDS' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_FRIENDS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-hand-peace-o"></i> {% trans %}Friends{% endtrans %}
		  </button>
	</div>
	<div role="group" class="btn-group-vertica btn-group d-flex btn-group-type-msg">
		  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_FOLLOWERS' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_FOLLOWERS" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-link"></i> {% trans %}Followers{% endtrans %}
		  </button>
		  <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_NEXXO' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_NEXXO" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-asterisk"></i> {% trans %}Nexxo{% endtrans %}
		  </button>
		  {# <button class="btn btn-secondary btn-default btn-select-confidentiality letter-white col 
		  		  {% if confvalue == 'CONF_ALL' %}active{% endif %}" 
		  		  type="button" data-confval="CONF_ALL" data-confkey="{{ confkey }}" data-slug="{{ page.slug }}">
		  	<i class="fa fa-globe"></i> {% trans %}All{% endtrans %}
		  </button> #}
	</div>
</div>
