{% trans_default_domain 'page' %}

{% extends("theme/base-app.html.twig") %}

{% block body %}

<!-- <div class="header-spacer"></div> -->
<div class="container" style="width:100%; max-width:100%; padding:90px;">
	<div class="row margin-10">
		<div class="form-group label-floating {% if mddoc.name == "" %}is-empty{% endif %} col-12 no-padding">
            <label class="control-label required" for="page_name">{% trans %}Name of your document{% endtrans %}</label>
            <input type="text" id="docname" required="required" class="form-control" value="{{ mddoc.name }}">     
            <span class="material-input"></span>
        </div>
        

		<div class="col col-10 col-xl-11 no-padding">
            <div id="markdown-container" style="min-height:500px;max-height:900px;">
    			<textarea style="display:none;">{{ mddoc.description }}</textarea>
    		</div>
        </div>
        <div class="col col-2 col-xl-1 no-padding padding-left-10">
            {% if mddoc.slug != "" %}
            <a href="{{ path('page', { 'slug' : mddoc.slug })}}" 
                    class="btn bg-dark pull-right full-width padding-10" id="btn-publish-doc" title="{% trans %}Show file{% endtrans %}">
               <i class="fa fa-2x fa-file"></i><br>
               <span style="font-weight:200;font-size:11px;">{% trans %}Show{% endtrans %}</span>
                <!-- <span style="font-weight:200;font-size:11px;">{% trans %}Publish{% endtrans %}</span> -->
            </a>
            {% endif %}
            <button class="btn btn-blue pull-right full-width padding-10" id="btn-save-doc" title="{% trans %}Save{% endtrans %}">
                <i class="fa fa-2x fa-save"></i> <br>
                <span style="font-weight:200;font-size:11px;">{% trans %}Save{% endtrans %}</span>
            </button>
            <button class="btn bg-red pull-right full-width padding-10" id="btn-delete-doc" title="{% trans %}Delete{% endtrans %}">
                <i class="fa fa-2x fa-save"></i> <br>
                <span style="font-weight:200;font-size:11px;">{% trans %}Delete{% endtrans %}</span>
            </button>


        </div>
	</div>
	
</div>

<style>

    .CodeMirror-scroll{
        overflow-x: hidden !important;
    }
    .dark-them p{

    }
    #markdown-container{
        z-index: 10000;
    }
    .editormd-preview-theme-dark .editormd-preview-container {
        color: #d1d5d7!important;
    }
    .CodeMirror {
        color: #BDC8CE !important;
        font-family: "Roboto",sans-serif !important;
    }
    .editormd-theme-dark {
        background: #2c2827;
    }
</style>

<link rel="stylesheet" href="/js/pluggins/editor.md-master/css/editormd.min.css" />
<script src="/js/pluggins/editor.md-master/editormd.min.js"></script>
<script src="/js/pluggins/editor.md-master/languages/en.js"></script>


<script>
	$( document ).ready(function() {
		
        var theme = $("body").hasClass("dark-theme") ? "dark" : "default";
        var editorTheme = $("body").hasClass("dark-theme") ? "pastel-on-dark" : "default";
        var editor = editormd("markdown-container", {
            // width: "100%",
            // height: "65%",
            // markdown: "xxxx",     // dynamic set Markdown text
            path : "/js/pluggins/editor.md-master/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
            pluginPath : "/js/pluggins/editor.md-master/",
            theme : theme,
            previewTheme : theme,
            editorTheme : editorTheme, //"pastel-on-dark",
            emoji : false,
            taskList : false,
            imageUpload : false,
            toolbar              : true,           // show or hide toolbar
		    toolbarAutoFixed     : true,           // on window scroll auto fixed position
		    toolbarIcons         : "simple", 			// Toolbar icons mode, options: full, simple, mini, See `editormd.toolbarModes` 
            lang : {  // Language data, you can custom your language.
		        name        : "en",
		    }
        });

        $("#btn-save-doc").click(function(){
        	pageObj.saveMDDoc("{{ parentPage.slug }}", "{{ mddoc.id }}", editor);
        });
    		
    });
</script>
{% endblock %}