{% trans_default_domain 'page' %}

{# DATE EVENT #}
{% if page.type == "event" %}
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">
				<small>
					<i class="fa fa-calendar"></i> 
					{% trans %}Starts on{% endtrans %} : 
				</small><br>
				{{ page.startDate|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y") }}<br>
				{% trans %}at{% endtrans %} {{ page.startDate|localizeddate('none', 'none', app.request.locale, null, "HH:mm") }}
			</h6><br>
		</div>
		<div class="ui-block-title">
			
			{% if page.endDate != null %}
			<h6 class="title">
				<small>{% trans %}Ends on{% endtrans %} : </small><br>
				<i class="fa fa-calendar"></i> 
				{{ page.endDate|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y") }}<br>
				{% trans %} at {% endtrans %} {{ page.endDate|localizeddate('none', 'none', app.request.locale, null, "HH:mm") }}
			</h6>
			{% endif %}

		</div>
	</div>
{% endif %}

{# BTN LOCALISE PAGE #}
{% if currentUserPage.relations.ImAdminOf(page.slug) and page.coordinates[0] == "false" %}
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">
			<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}" 
				class="letter-blue" data-toggle="tooltip" 
				data-original-title="{% trans %}Give your position to activate local communication{% endtrans %}">
				<i class="fa fa-map-marker"></i> {% trans %}Localise your page{% endtrans %}
			</a>
			</h6>
		</div>
	</div>
{% endif %}

{# BLOCK ABOUT + DESCRIPTION + NETWORK #}
<div class="ui-block">
	<div class="ui-block-title">
		<h6 class="title"><i class="fa fa-info-circle"></i> {% trans %}About{% endtrans %}</h6>
		{% if currentUserPage.relations.imAdminOf(page.slug) %}
		<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-main-info' }) }}" 
			class="btn padding-5 float-right">
			<i class="fa fa-pencil"></i>	
		</a>
		{% endif %}
	</div>
	<div class="ui-block-content padding-15">
		<ul class="widget w-personal-info item-block">
			<li class="no-padding">
				<div class="text">
				{% if allDesc is defined and allDesc == true %}
					{{ page.descriptionHtml|raw|nl2br }}
					{% if page.descriptionHtml|length == 0 %}<i class="fa fa-ban"></i> {% trans %}No description{% endtrans %}{% endif %}
				{% else %}
					{{ page.descriptionHtml|slice(0,300)|raw|nl2br }}
					{% if page.descriptionHtml|length > 300 %}...{% endif %}
					{% if page.descriptionHtml|length == 0 %}<i class="fa fa-ban"></i> {% trans %}No description{% endtrans %}{% endif %}

					{% if page.description|length > 300 %}<br><br>
					<a href="{{ path('page', { 'slug' : page.slug, 'view' : 'about' })}}" class=" full-width">
						{% trans %}read more{% endtrans %}
					</a>
					{% endif %}
				{% endif %}
					<hr>
				</div>
			
			</li>
		</ul>

		<div class="widget w-socials d-flex no-margin">
			{# <h6 class="title">On social network</h6> #}

			{% if page.informations.communecter != "" and page.isConfAuth("SHOW_INFO_FACEBOOK", currentUserPage) %}
			<div class="col-3 padding-5">
				<a href="{{ page.informations.communecter }}" target="_blank" class="social-item bg-white no-margin">
					<img src="{{ asset('img/communecter-logo-2.png') }}" height="15">
				</a>
			</div>
			{% endif %}
			{% if page.informations.facebook != "" and page.isConfAuth("SHOW_INFO_FACEBOOK", currentUserPage) %}
			<div class="col-3 padding-5">
				<a href="{{ page.informations.facebook }}" target="_blank" class="social-item bg-facebook no-margin">
					<i class="fa fa-facebook no-margin" aria-hidden="true"></i>
				</a>
			</div>
			{% endif %}
			{% if page.informations.twitter != "" and page.isConfAuth("SHOW_INFO_TWITTER", currentUserPage) %}
			<div class="col-3 padding-5">
				<a href="{{ page.informations.twitter }}" target="_blank" class="social-item bg-twitter no-margin">
					<i class="fa fa-twitter no-margin" aria-hidden="true"></i>
				</a>
			</div>
			{% endif %}
			{% if page.informations.youtube != "" and page.isConfAuth("SHOW_INFO_YOUTUBE", currentUserPage) %}
			<div class="col-3 padding-5">
				<a href="{{ page.informations.youtube }}" target="_blank" class="social-item bg-red no-margin">
					<i class="fa fa-youtube-play no-margin" aria-hidden="true"></i>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{# DISCORD #}
{% if page.informations.discord != "" and page.isConfAuth("SHOW_INFO_DISCORD", currentUserPage) %}
	<div class="ui-block">
		<div class="ui-block-title padding-5">
			<h6 class="title">
				<a href="{{ page.informations.discord }}" target="_blank" class="margin-left-5" style="color:unset;">
					<img src="{{ asset('img/discord-new-logo.png') }}" height="50">
				 	{% trans %}Call on Discord{% endtrans %}
				</a>
			</h6>
		</div>
	</div>
{% endif %}

{% set nbp=0 %}
{% for child in page.childrenPages %}
	{% if child.type != "mddoc" %}{% set nbp=nbp+1 %}{% endif %}
{% endfor %}

{# CHILDREN PAGES #}
{% if nbp > 0 %}
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">
				<i class="fa fa-link"></i> 
				{% trans %}Pages linked{% endtrans %} ({{ nbp }})
			</h6>
		</div>
		<div class="ui-block-content no-padding">
			{% set i=0 %}{% set max=10 %}
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				{% for child in page.childrenPages %}{% set i=i+1 %}
					{% if i <= max and child.isPrivate == false and child.type != "mddoc" %}
					<a href="{{ path('page', {'slug':child.slug }) }}">
						<li class="inline-items">
							<div class="author-thumb">
								<img src="{{ child.imageProfilAsset }}" height="34"/>
							</div>
							<div class="notification-event">
								<span class="h6 notification-friend">{{ child.name }}</span>
								{% if child.city != "" %}
								<span class="h6 notification-friend letter-blue">
									<small><i class="fa fa-map-marker"></i> {{ child.city }}</small>
								</span>
								{% endif %}
							</div>
						</li>
					</a>
					{% endif %}
				{% endfor %}
				{% if page.childrenPages|length > max %}
					<a href="{{ path('page', {'slug':page.slug })}}">
						<li class="all-users">
							<a href="#">+ {{ page.childrenPages|length - max }}</a>
						</li>
					</a>
				{% endif %}
			</ul>
		</div>
	</div>
{% endif %}


{% set nbp=0 %}
{% for child in page.childrenPages %}
	{% if child.type == "mddoc" %}{% set nbp=nbp+1 %}{% endif %}
{% endfor %}
{# CHILDREN PAGES #}
{% if nbp > 0 %}
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">
				<i class="fa fa-link"></i> 
				{% trans %}Documents{% endtrans %} ({{ nbp }})
			</h6>
		</div>
		<div class="ui-block-content no-padding">
			{% set i=0 %}{% set max=10 %}
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				{% for child in page.childrenPages %}{% set i=i+1 %}
					{% if i <= max and child.isPrivate == false and child.type == "mddoc" %}
					<a href="{{ path('page', {'slug':child.slug }) }}">
						<li class="inline-items">
							<div class="author-thumb">
								<img src="{{ child.imageProfilAsset }}" height="34"/>
							</div>
							<div class="notification-event">
								<span class="h6 notification-friend">{{ child.name }}</span>
								{% if child.city != "" %}
								<span class="h6 notification-friend letter-blue">
									<small><i class="fa fa-map-marker"></i> {{ child.city }}</small>
								</span>
								{% endif %}
							</div>
						</li>
					</a>
					{% endif %}
				{% endfor %}
				{% if page.childrenPages|length > max %}
					<a href="{{ path('page', {'slug':page.slug })}}">
						<li class="all-users">
							<a href="#">+ {{ page.childrenPages|length - max }}</a>
						</li>
					</a>
				{% endif %}
			</ul>
		</div>
	</div>
{% endif %}