{% trans_default_domain 'page' %}


{{  include("page/blocks/map.html.twig", { "page": page, "mapHeight" : 200, "currentUserPage": currentUserPage }) }}

{% if currentUserPage.relations.getImMember(page.slug) or currentUserPage.relations.getIsAdmin(page.slug)  %}
<a href="{{ path('create-md-doc', { 'parentSlug' : page.slug }) }}" 
	class="btn btn-sm col-12 btn-secondary">
	<i class="fa fa-file"></i> {% trans %}Create a document{% endtrans %}
</a>
{% endif %}

{% if page.isConfAuth("SHOW_FOLLOWERS", currentUserPage) %}{% set empty = false %}
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">
				<i class="fa fa-link"></i> 
				{% trans %}Followers{% endtrans %} ({{ page.relations.followers|length }})
			</h6>
		</div>
		<div class="ui-block-content">
			{% set i=0 %}{% set max=20 %}
			<ul class="widget w-faved-page">
				{% for follower in page.relations.followers %}{% set i=i+1 %}
					{% if i <= max %}
					<a href="{{ path('page', {'slug':follower.slug })}}">
						<li>
							<span>
								<img src="{{ follower.imageProfilAsset }}" height="34"/>
							</span>
						</li>
					</a>
					{% endif %}
				{% endfor %}
				{% if page.relations.followers|length > max %}
					<a href="{{ path('page', {'slug':page.slug, 'view':'community' })}}">
						<li class="all-users">
							<a href="#">+ {{ page.relations.followers|length - max }}</a>
						</li>
					</a>
				{% endif %}
			</ul>
		</div>
	</div>
{% endif %}

{% if page.isConfAuth("SHOW_FRIENDS", currentUserPage) %}{% set empty = false %}
	<div class="ui-block">
		<div class="ui-block-title">
			{% if page.type == "user" %}
				{% set allFriends = page.relations.realFriends %}
				<h6 class="title">
					<i class="fa fa-hand-peace-o"></i> {% trans %}Friends{% endtrans %} ({{ page.relations.realFriends|length }})
				</h6>
			{% else %}
				{% set allFriends = page.relations.friends %}
				<h6 class="title">
					<i class="fa fa-hand-peace-o"></i> {% trans %}Members{% endtrans %} ({{ page.relations.friends|length }})
				</h6>
			{% endif %}
		</div>

		{% set i=0 %}{% set max=5 %}
		<ul class="widget w-friend-pages-added notification-list friend-requests">
			{% for friend in allFriends %}{% set i=i+1 %}
				{% if i <= max %}
					<a href="{{ path('page', {'slug':friend.slug })}}">
						<li class="inline-items">
							<div class="author-thumb">
								<img src="{{ friend.imageProfilAsset }}" height="34"/>
							</div>
							<div class="notification-event">
								<span class="h6 notification-friend {% if friend.city == "" %}margin-top-10{% endif %}">
									{{ friend.name }}
								</span>
								{% if friend.city != "" %}
								<span class="h6 notification-friend letter-blue">
									<small><i class="fa fa-map-marker"></i> {{ friend.city }}</small>
								</span>
								{% endif %}
							</div>
						</li>
					</a>
				{% endif %}
			{% endfor %}
			{% if allFriends|length > max %}
				<a href="{{ path('page', {'slug':page.slug, 'view':'community' })}}">
					<li class="inline-items all-users">
						+ {{ page.relations.friends|length - max }}
					</li>
				</a>
			{% endif %}

		</ul>

	</div>
{% endif %}
