{% trans_default_domain 'page' %}

<div class="ui-block">
	<div class="ui-block-title">
		<h6 class="title"><i class="fa fa-hand-peace-o"></i> {% trans %}Friend Suggestions{% endtrans %}</h6>
		{# <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg></a> #}
	</div>

	<ul class="widget w-friend-pages-added notification-list friend-requests">
		{% for friend in friendSuggest %}
		<li class="inline-items">
			<div class="author-thumb d-none d-lg-inline">
				<img src="{{ friend.imageProfilAsset }}" alt="img" height="36">
			</div>
			<div class="notification-event">
				<a href="{{ path("page", {'slug':friend.slug}) }}" 
					class="h6 notification-friend elipsis {% if friend.city == "" %}margin-top-10{% endif %}">
					{{ friend.name }}
				</a>
				{% if friend.city != "" and friend.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) %}
					<span><i class="fa fa-map-marker"></i> {{ friend.city }}</span>
				{% endif %}
			</div>
			<span class="notification-icon">
				<a href="javascript:" class="btn-send-request-friend accept-request" data-slug-page="{{ friend.slug }}"
					data-toggle="modal" data-target="#modal-quickview" title="{% trans %}send friend request{% endtrans %}" >
					{# <span class="icon-add without-text">
						<svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg>
					</span> #}
					<i class="fa fa-hand-peace-o padding-5"></i>
				</a>
			</span>
		</li>
		{% endfor %}
	</ul>
</div>

<script>
	$( document ).ready(function() {
		nexxo.initBtnRequest();
	});
</script>