
{% if page.coordinates != null %}
	{% if page.coordinates[0] != "false" and page.coordinates[1] != "false" %}
		{% if page.isConfAuth("SHOW_GEOPOS", currentUserPage) %}
		<style>
			#map-container-page{
				width:100%;
				height:{{ mapHeight }}px;
				background-color:rgba(0,0,0,0.1);
				border-radius:4px;
				padding-top: 15px;
			}
			.leaflet-popup .page-description,
			.leaflet-popup .open-quickview{
				display: none;
			}
			.leaflet-popup .leaflet-popup-content .d-flex{
				width:150px!important;
			}
			.leaflet-popup .h6{
				color:#3f4047!important;
			}
			#map-container-page{
				margin-bottom: 15px;
			}
		</style>

		<div id="map-container-page"></div>

		<script src="{{ asset("js/sig/sig.js") }}"></script>
		<script>
			
			
		    $( document ).ready(function() {
				var page = {{ page.getJson(currentUserPage)|json_encode|raw }};
				console.log("page", page);
				pageObj.canvasId = "map-container-page";
				pageObj.initMap(page);
		    });

		</script>
		{% endif %}
	{% endif %}
{% endif %}