{% trans_default_domain 'page' %}

<div class="ui-block">
	<div class="ui-block-title">
		<h6 class="title">
			<span class="letter-red"><i class="fa fa-exclamation-triangle"></i> {% trans %}Page reported{% endtrans %}</span>
			<br><small>> {% trans %}Please help us moderate these pages{% endtrans %}</small>
		</h6>
		{# <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg></a> #}
	</div>

	<ul class="widget w-friend-pages-added notification-list friend-requests">
		{% for page in pageReport %}
		<li class="inline-items">
			<div class="author-thumb">
				<img src="{{ page.imageProfilAsset }}" alt="img" height="36">
			</div>
			<div class="notification-event">
				<a href="{{ path("page", {'slug':page.slug}) }}" 
					class="h6 notification-friend {% if page.city == "" %}margin-top-10{% endif %}">
					{{ page.name }}
				</a>
				{% if page.city != "" %}<span><i class="fa fa-map-marker"></i> {{ page.city }}</span>{% endif %}
			</div>
			<span class="notification-icon">
				<a href="{{ path("page", {'slug':page.slug}) }}" 
				   class="btn-goto-report accept-request" data-slug-page="{{ page.slug }}">
					{# <span class="icon-add without-text">
						<svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg>
					</span> #}
					<i class="fa fa-balance-scale padding-5"></i>
				</a>
			</span>
			{{ include ('report/bar-vote-min.html.twig', { "report" : page.report }) }}
		</li>
		{% endfor %}
	</ul>

	<div class="ui-block-title">
		<a href="{{ path('all-reports-pages') }}" class="letter-red">
			<i class="fa fa-angle-right"></i> {% trans %}See all pages reported{% endtrans %}
		</a>
	</div>
</div>

<script>
	$( document ).ready(function() {
		nexxo.initBtnRequest();
	});
</script>