{% trans_default_domain 'page' %}

{% if aPage.isPrivate == false or 
	  currentUserPage.relations.inFollows(aPage.slug) == true or 
	  currentUserPage.relations.ImFriend(aPage.slug) == true %}

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 item" id="{{ aPage.slug }}" data-page-id="{{ aPage.id }}">
	<div class="ui-block">
		<div class="birthday-item inline-items">
			<div class="author-thumb">
				<a href="{{ path('page', {'slug':aPage.slug })}}" class="">
					<img src="{{ aPage.imageProfilAsset }}" 
						  alt="image" height="45">
				</a>
			</div>
			<div class="birthday-author-name col-8">
				<a href="{{ path('page', {'slug':aPage.slug })}}" class="h6 author-name">
					<i class="fa fa-type-page fa-{{ aPage.faIcon }} letter-{{ aPage.colorType }} border-b-{{ aPage.colorType }} border-b-2"></i> 
					{{ aPage.name }}
				</a>
				{% if aPage.type == "user" %}
					<div class="birthday-date">
						<!-- <i class="fa fa-{{ aPage.faIcon }} letter-{{ aPage.colorType }}"></i> ·  -->

						{{ aPage.relations.realFriends|length }} 
						{% transchoice aPage.relations.realFriends|length %}[0,1] friend|[2,Inf[ friends{% endtranschoice %}
						{% if type is defined and type == "friends" 
						   and currentUserPage.relations.ImAdminOf(page.slug) == true
						   and aPage.relations.ImAdminOf(page.slug) == false
						%}
						 · <a href="javascript:" data-toggle="modal" data-target="#modal-quickview" 
						 	 data-slug-page="{{ aPage.slug }}" data-slug-origin-page="{{ page.slug }}"
								class="btn-send-request-friend" title="{% trans %}Delete{% endtrans %} {{ aPage.name }} {% trans %}from my friends{% endtrans %}">
						 	<i class="fa fa-trash"></i> {% trans %}Delete{% endtrans %}
						   </a>
						 {% endif %}
					</div>
				{% else %}
					<div class="birthday-date">
						<!-- <i class="fa fa-{{ aPage.faIcon }} letter-{{ aPage.colorType }}"></i> ·  -->

						{{ aPage.relations.friends|length }} 
						{% transchoice aPage.relations.friends|length %}[0,1] member|[2,Inf[ members{% endtranschoice %} 
						{% if type is defined and type == "friends" 
						   and currentUserPage.relations.ImAdminOf(page.slug) == true
						   and aPage.relations.ImAdminOf(page.slug) == false
						%}
						 · <a href="javascript:" data-toggle="modal" data-target="#modal-quickview" 
						 	data-slug-page="{{ aPage.slug }}" data-slug-origin-page="{{ page.slug }}"
								class="btn-send-request-friend" title="{% trans %}Delete{% endtrans %} {{ aPage.name }} {% trans %}from member list{% endtrans %}">
						 	<i class="fa fa-trash"></i> {% trans %}Delete{% endtrans %}
						   </a>
						 {% endif %}
					</div>
				{% endif %}

				{%  if type is defined and (type == "blacklist" or type == "whitelist")
					and currentUserPage.id == page.id %}
					<div class="birthday-date">
						<a href="javascript:" data-bw-type="{{ type }}" data-page-id="{{ aPage.id }}"
								class="btn-bw-list" title="{% trans %}Delete{% endtrans %} {{ aPage.name }} {% trans %}from this list{% endtrans %}">
						 	<i class="fa fa-trash"></i> {% trans %}Delete{% endtrans %}
						</a>
					</div>
				{% endif %}

			</div>
			{# <a href="#" class="btn btn-sm bg-blue">...</a> #}
		</div>
	</div>
</div>
{% else %}

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 item" id="">
	<div class="ui-block">
		<div class="birthday-item inline-items">
			<div class="author-thumb">
				<a href="javascript:" class="">
					<img src="{{ asset('uploads/imgProfil/default.png') }}" 
						  alt="image" height="45">
				</a>
			</div>
			<div class="birthday-author-name col-8">
				<a href="javascript:" class="h6 author-name">
					{% trans %}Private page{% endtrans %}
				</a>
				{% if aPage.type == "user" %}
					<div class="birthday-date">
						-
					</div>
				{% else %}
					<div class="birthday-date">
						-
					</div>
				{% endif %}
			</div>
			{# <a href="#" class="btn btn-sm bg-blue">...</a> #}
		</div>
	</div>
</div>
{% endif %}