{% trans_default_domain 'page' %}

<div class="ui-block">
    <div class="friend-item">
        <div class="friend-header-thumb">
            <a href="{{ path('my-dashboard') }}">
                    <img src="{{ result.imageBannerAssetMin }}" alt="img">
            </a>
        </div>
    
        <div class="friend-item-content">
            <div class="friend-avatar">
                <div class="author-thumb"
                     data-toggle="tooltip" data-original-title="{% trans %}Show quick view{% endtrans %}"
                     data-placement="top">
                    <a href="{{ path('my-dashboard') }}">
                        <img src="{{ result.imageProfilAsset }}" alt="img" height="92">
                        <i class="fa fa-type-page fa-{{ result.faIcon }} letter-{{ result.colorType }} border-b-{{ result.colorType }} border-b-2"></i>
                    </a>
                </div>
                <div class="author-content">
                    <a href="{{ path('page', {'slug': result.slug}) }}" class="h5 author-name elipsis no-margin">
                        {{ result.name }}
                    </a><br>
                    <div class="country elipsis no-margin">
                        {% if result.country != "" %}<i class="fa fa-map-marker"></i>{% else %}<br>{% endif %}
                        {% if result.city != "" %}{{ result.city }}{% endif %}
                        {% if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif %}
                        {% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
                    </div>
                </div>
            </div>
    
            <div class="" id="swiper-unique-id-1">
                <div class="" >
                    <div class="control-block-button" >
                        <a href="{{ path('logout') }}" 
                            class="btn btn-control bg-red btn-reco" style="line-height: 59px;"
                            data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans %}logout{% endtrans %}">
                            {# <svg class="olymp-login-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-login-icon"></use></svg> #}
                            <i class="fa fa-sign-out"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>