{% trans_default_domain 'page' %}

<div class="ui-block">
	<div class="ui-block-title">
		<!-- <h6 class="title"><i class="fa fa-link"></i> {% trans %}Page suggestions{% endtrans %}</h6> -->
		<h6 class="title"><i class="fa fa-{{ icon }}"></i> {{ title|trans }}</h6>
	</div>

	<ul class="widget w-friend-pages-added notification-list friend-requests">
		{% for page in pageSuggest %}
		<li class="inline-items">
			<div class="author-thumb d-none d-lg-inline">
				<img src="{{ page.imageProfilAsset }}" alt="img" height="36">
			</div>
			<div class="notification-event">
				<a href="{{ path("page", {'slug':page.slug}) }}" 
					class="h6 notification-friend elipsis {% if page.city == "" %}margin-top-10{% endif %}">
					{{ page.name }}
				</a>
				{% if page.city != "" and page.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) %}
					<span><i class="fa fa-map-marker"></i> {{ page.city }}</span>
				{% endif %}
			</div>
			<span class="notification-icon">
				<a href="javascript:" class="btn-send-request-follow accept-request" data-slug-page="{{ page.slug }}"
					data-toggle="modal" data-target="#modal-quickview"  title="{% trans %}follow this page{% endtrans %}">
					<i class="fa fa-link padding-5"></i>
				</a>
			</span>
		</li>
		{% endfor %}
	</ul>
</div>

<script>
	$( document ).ready(function() {
		nexxo.initBtnRequest();
	});
</script>