{% trans_default_domain 'page' %}

<div class="ui-block" id="block-res-search">
	<div class="ui-block-title h5">
		<!-- <div class="h6 title"> -->
			<span><i class="fa fa-search"></i> <i class="fa fa-chevron-down"></i> <b>{% trans %}Search results{% endtrans %} 
			{% if yourSearch %}<span class="separator"> · </span><small>{{ yourSearch }}</small>{% endif %}</b></span>
			<a href="#formControlRange" class="btn btn-blue btn-sm float-right" id="btn-show-map">
				<i class="fa fa-map-marker"></i> {% trans %}Show result on map{% endtrans %}
			</a>
		<!-- </div> -->
	</div>
</div>


<style>
.container-relation{
	position: absolute;
	top:0px;
	width:100%;
	background: transparent;
}
.label-relation{
	float:left;
	margin: 5px;
	background-color: rgba(35, 35, 35, 0.7);
	padding: 3px 6px;
	border-radius: 40px;
	width: 24px;
	font-size: 11px;
	text-align: center;
	color: white;
	margin-right: 0px;
}
.label-relation i{
	
}
</style>

<div  class="row">
	{% for result in results %}
		<div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6  col-xs-12 col-12">
			<div class="ui-block">
				
				<!-- Friend Item -->
				<div class="friend-item">
					<div class="friend-header-thumb">
						<a href="{{ path('page', {'slug': result.slug}) }}">
							<img src="{{ result.imageBannerAssetMin }}" alt="img">
						</a>
						<div class="container-relation">
						{% if result.relations.ImFriend(app.user.myUserPage.slug) == true %} 
							<div class="label-relation" 	
								 data-toggle="tooltip" 
								 {% if result.type == "user" %}	
								 data-original-title="{% trans %}you are friends whith this person{% endtrans %}"{% endif %}
								 {% if result.type != "user" %}	
								 data-original-title="{% trans %}you are member of this page{% endtrans %}"{% endif %}
							>
								<i class="fa fa-group"></i></div>
						{% endif %}
						{% if result.relations.InParticipants(app.user.myUserPage.slug) == true %} 
								<div class="label-relation"><i class="fa fa-hand-o-right"></i></div>
							{% endif %}
							{% if app.user.myUserPage.relations.InFollows(result.slug) == true %} 
								<div class="label-relation"><i class="fa fa-link"></i></div>
							{% endif %}
							{% if app.user.myUserPage.relations.ImAdminOf(result.slug) == true %} 
								<div class="label-relation"><i class="fa fa-user-secret"></i></div>
							{% endif %}
							{% if app.user.myUserPage.relations.ILike(result.slug) == true %} 
								<div class="label-relation"><i class="fa fa-thumbs-o-up"></i></div>
							{% endif %}
						</div>
					</div>
				
					<div class="friend-item-content" id="{{ result.slug }}">

						<div class="friend-avatar">
							<div class="author-thumb"
							     data-toggle="tooltip" data-original-title="{% trans %}Show quick view{% endtrans %}"
							     data-placement="top">
								<a href="javascript:" class="open-quickview" data-type="page" data-id="{{ result.slug }}">
									<img src="{{ result.imageProfilAsset }}" alt="img" height="92">
									<i class="fa fa-type-page fa-{{ result.faIcon }} letter-{{ result.colorType }} border-b-{{ result.colorType }} border-b-2"></i>
								</a>
							</div>
							<div class="author-content">
								<a href="{{ path('page', {'slug': result.slug}) }}" class="h5 author-name elipsis no-margin">
									{{ result.name }}
								</a><br>
								<div class="country elipsis no-margin">
									{% if result.country != "" %}<i class="fa fa-map-marker"></i>{% else %}<br>{% endif %}
									{% if result.city != "" %}{{ result.city }}{% endif %}
									{% if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif %}
									{% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
								</div>
							</div>
						</div>
				
						<div class="swiper-container swiper-swiper-unique-id-1 initialized swiper-container-horizontal" id="swiper-unique-id-1">
							<div class="swiper-wrapper" 
								 style="width: 972px; transform: translate3d(-243px, 0px, 0px); transition-duration: 0ms;">
								<div class="swiper-slide swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" 
									 data-swiper-slide-index="1" style="width: 243px;">
									<p class="friend-about" data-swiper-parallax="-500" style="transform: translate3d(-500px, 0px, 0px); transition-duration: 0ms;">
										{{ result.description|slice(0, 170) }}{% if result.description|length > 170 %}...{% endif %}
									</p>
								</div>
								<div class="swiper-slide swiper-slide-active" 
									 data-swiper-slide-index="0" style="width: 243px;">
									<div class="friend-count" data-swiper-parallax="-500" 
										 style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

										{% if result.type == "user" %} 
											<span class="friend-count-item">
												<div class="h6 count-item-friend">{{ result.relations.friends|length }}</div>
												<div class="title">{% trans %}Friends{% endtrans %}</div>
												<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
												   data-slug-page="{{ result.slug }}"
												   data-toggle="tooltip" data-original-title="{% trans %}Ask for friend{% endtrans %}"
												   data-placement="bottom">
													<i class="fa fa-group"></i>
												</a>
											</span>
										{% elseif result.type == "event" %} 
											<span class="friend-count-item">
												<div class="h6 count-item-participant">{{ result.relations.participants|length }}</div>
												<div class="title">{% trans %}Participants{% endtrans %}</div>
												<a href="javascript:" class="btn btn-blue btn-control btn-send-request-participate" 
												   data-slug-page="{{ result.slug }}"
												   data-toggle="tooltip" data-original-title="{% trans %}I want to participate{% endtrans %}"
												   data-placement="bottom">
													<i class="fa fa-group"></i>
												</a>
											</span>
										{% else %} 
											<span class="friend-count-item">
												<div class="h6 count-item-friend">{{ result.relations.friends|length }}</div>
												<div class="title">{% trans %}Members{% endtrans %}</div>
												<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
												   data-slug-page="{{ result.slug }}"
												   data-toggle="tooltip" data-original-title="{% trans %}Become member{% endtrans %}"
												   data-placement="bottom">
													<i class="fa fa-group"></i>
												</a>
											</span>
										{% endif %} 
										<span class="friend-count-item">
											<div class="h6 count-item-follow">{{ result.relations.followers|length }}</div>
											<div class="title">{% trans %}Followers{% endtrans %}</div>
											<a href="javascript:" class="btn btn-purple btn-control btn-send-request-follow" 
											   data-slug-page="{{ result.slug }}"
											   data-toggle="tooltip" data-original-title="{% trans %}Follow this page{% endtrans %}"
											   data-placement="bottom">
												<i class="fa fa-link"></i>
											</a>
										</span>
										<span class="friend-count-item">
											<div class="h6 count-item-like">{{ result.relations.likers|length }}</div>
											<div class="title">{% trans %}Likes{% endtrans %}</div>
											<a href="javascript:" class="btn btn-blue btn-control btn-send-request-like" 
											   data-slug-page="{{ result.slug }}"
											   data-toggle="tooltip" data-original-title="{% trans %}Like this page{% endtrans %}"
											   data-placement="bottom">
											<i class="fa fa-thumbs-o-up"></i>
											</a>
										</span>
									</div>
									{# <div class="control-block-button" data-swiper-parallax="-100" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

										<a href="#" class="btn btn-control bg-purple open-quickview" 
											data-toggle="tooltip" data-placement="bottom"   data-original-title="Quick view"
											data-type="page" data-id="{{ result.slug }}" >
											<i class="fa fa-eye"></i>
										</a>

										<a href="javascript:" class="btn btn-control bg-blue icon-add without-text btn-send-request-friend"
											data-slug-page="{{ result.slug }}"
											data-toggle="tooltip" data-placement="bottom" data-original-title="Add to friend">
											<svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg>
										</a>
				
										<a href="#" class="btn btn-control bg-purple"
											data-toggle="tooltip" data-placement="bottom" data-original-title="Send a message">
											<svg class="olymp-chat---messages-icon">
											<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-chat---messages-icon"></use>
												
											</svg>
										</a>
				
									</div> #}
								</div>
				
								<div class="swiper-slide swiper-slide-next swiper-slide-duplicate-prev" 
									 data-swiper-slide-index="1" style="width: 243px;">
									<p class="friend-about" data-swiper-parallax="-500" style="transform: translate3d(500px, 0px, 0px); transition-duration: 0ms;">
										{{ result.description|slice(0, 170) }}{% if result.description|length > 170 %}...{% endif %}
									</p>
								</div>
								<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" 
									data-swiper-slide-index="0" style="width: 243px;">
									<div class="friend-count" data-swiper-parallax="-500" 
										style="transform: translate3d(500px, 0px, 0px); transition-duration: 0ms;">
										<a href="#" class="friend-count-item">
											<div class="h6">52</div>
											<div class="title">Friends</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">240</div>
											<div class="title">Photos</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">16</div>
											<div class="title">Videos</div>
										</a>
									</div>
									<div class="control-block-button" data-swiper-parallax="-100" 
										style="transform: translate3d(100px, 0px, 0px); transition-duration: 0ms;">
				
										<a href="#" class="btn btn-control bg-purple open-quickview" 
											data-toggle="tooltip" data-placement="bottom"   data-original-title="Quick view"
											data-type="page" data-id="{{ result.slug }}" >
											<i class="fa fa-eye"></i>
										</a>

										<a href="#" class="btn btn-control bg-blue"
											data-toggle="tooltip" data-placement="bottom" data-original-title="Add to friend">
											<svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg>
										</a>
				
										<a href="#" class="btn btn-control bg-purple"
											data-toggle="tooltip" data-placement="bottom" data-original-title="Send a message">
											<svg class="olymp-chat---messages-icon">
											<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-chat---messages-icon"></use>
												
											</svg>
										</a>
				
									</div>
								</div>
							</div>
				
							<!-- If we need pagination -->
							<div class="swiper-pagination pagination-swiper-unique-id-1 swiper-pagination-clickable swiper-pagination-bullets">
								<span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
								<span class="swiper-pagination-bullet"></span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ... end Friend Item -->			
			</div>
		</div>
	{% endfor %}
</div>

<script>
	//var results =  {{ jsonRes|json_encode|raw }};
	searchObj.results  =  {{ jsonRes|json_encode|raw }};
	console.log("json searchObj.results", searchObj.results);
	
    $( document ).ready(function() {
        searchObj.initListResUi();
    });


    
</script>


