{% trans_default_domain 'page' %}

<style>
.container-relation{
	position: absolute;
	top:0px;
	width:40%;
	background: transparent;
}
.label-relation{
	float:left;
	margin: 5px;
	background-color: rgba(35, 35, 35, 0.7);
	padding: 3px 6px;
	border-radius: 40px;
	width: 24px;
	font-size: 11px;
	text-align: center;
	color: white;
	margin-right: 0px;
}
.label-relation i{
	
}
</style>
<div class="res-total-count d-none">{{ totalCount }}</div>
<div  class="row no-margin">
	{% for result in results %}
		<div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6  col-xs-12 col-12">
			<div class="ui-block">
				
				<!-- Friend Item -->
				<div class="friend-item">
					<div class="friend-header-thumb" data-page-type="{{ result.type }}">
						<a href="{{ path('page', {'slug': result.slug}) }}" 
							class="{% if result.imageBanner == "default.png" %}banner-empty{% endif %}">
								<img src="{{ result.imageBannerAssetMin }}" alt="img">
				                
						</a>
						<div class="container-relation">
						{% if app.user != null %}
							{% if result.relations.ImFriend(app.user.myUserPage.slug) == true %} 
								<div class="label-relation" 	
									 data-toggle="tooltip" 
									 {% if result.type == "user" %}	
									 data-original-title="{% trans %}you are friends whith this person{% endtrans %}"{% endif %}
									 {% if result.type != "user" %}	
									 data-original-title="{% trans %}you are member of this page{% endtrans %}"{% endif %}
								>
									<i class="fa fa-hand-peace-o"></i></div>
							{% endif %}
							{% if result.relations.InParticipants(app.user.myUserPage.slug) == true %} 
								<div class="label-relation"><i class="fa fa-hand-o-right"></i></div>
							{% endif %}
							{% if result.relations.InFollows(app.user.myUserPage.slug) == true %} 
								<div class="label-relation"><i class="fa fa-link"></i></div>
							{% endif %}
							{% if result.relations.ImAdminOf(app.user.myUserPage.slug) == true %} 
								<div class="label-relation"><i class="fa fa-user-secret"></i></div>
							{% endif %}
							{% if result.relations.ILike(app.user.myUserPage.slug) == true %} 
								<div class="label-relation"><i class="fa fa-thumbs-o-up"></i></div>
							{% endif %}
						{% endif %}
						</div>

						{% if app.user != null %}
							{% if result.coordinates[0] != "false" and 
								  result.isConfAuth("SHOW_GEOPOS", app.user.myUserPage) and
								  result.id != app.user.myUserPage.id
							 %}
								<button class="btn-open-marker" data-id="{{ result.id }}">
									<i class="fa fa-map-marker letter-blue"></i>
								</button>
							{% endif %}
						{% else %}
							{% if result.getConfAuth("SHOW_GEOPOS") == "CONF_NEXXO" %}
								<button class="btn-open-marker" data-id="{{ result.id }}">
									<i class="fa fa-map-marker letter-blue"></i>
								</button>
							{% endif %}
						{% endif %}
					</div>
				
					<div class="friend-item-content" id="{{ result.slug }}">

						<div class="friend-avatar">
							<div class="author-thumb margin-bottom-5"
								 data-toggle="modal" data-target="#modal-quickview"
								 title="{% trans %}Show quick view{% endtrans %}">
								<a href="javascript:" class="open-quickview" data-type="page" data-id="{{ result.slug }}">
									<img src="{{ result.imageProfilAsset }}" alt="img" height="92">
					                <i class="fa fa-type-page fa-{{ result.faIcon }} letter-{{ result.colorType }} border-b-{{ result.colorType }} border-b-2"></i>
								</a>
							</div>
							<div class="author-content">
								<small class="elipsis">{{ result.tagsStr }}{% if result.tagsStr == "" %}-{% endif %}</small>
								<br>
								<a href="{{ path('page', {'slug': result.slug}) }}" class="h5 author-name elipsis no-margin">
									{{ result.name }}
								</a>
								<br>
								<div class="country elipsis no-margin">
									{% if app.user != null %}
										{% if result.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) and result.city != "" %}
											{% if result.country != "" %}<i class="fa fa-map-marker"></i>{% else %}<br>{% endif %}
											{% if result.city != "" %}{{ result.city }}{% endif %}
											{# if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif #}
											{% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
										{% endif %}
										{% if result.city == "" %}-{% endif %}
									{% else %}
										{% if result.getConfAuth("SHOW_ADDRESS") == "CONF_NEXXO" and result.city != "" %}
											{% if result.country != "" %}<i class="fa fa-map-marker"></i>{% else %}<br>{% endif %}
											{% if result.city != "" %}{{ result.city }}{% endif %}
											{# if result.streetAddress != "" and result.streetAddress != "" %}, {{ result.streetAddress }}{% endif #}
											{% if result.country != "" and result.country != "" %}, {{ result.country }}{% endif %}
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
				
						<div class="row">

							{% if result.type == "user" %} 
								<span class="friend-count-item">
									<div class="h6 count-item-friend">{{ result.relations.realFriends|length }}</div>
									<div class="title">{% trans %}Friends{% endtrans %}</div>
									{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}Ask for friend{% endtrans %}" 
									   data-placement="bottom"#}
									   title="{% trans %}Ask for friend{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-hand-peace-o"></i>
									</a>
									{% endif %} 
								</span>
							{% elseif result.type == "event" %} 
								<span class="friend-count-item">
									<div class="h6 count-item-participate">{{ result.relations.participants|length }}</div>
									<div class="title">{% trans %}Participants{% endtrans %}</div>
									{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-participate" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}I want to participate{% endtrans %}"
									   data-placement="bottom" #}
									   title="{% trans %}I want to participate{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-group"></i>
									</a>
								{% endif %}
								</span>
							{% else %} 
								<span class="friend-count-item">
									<div class="h6 count-item-friend">{{ result.relations.friends|length }}</div>
									<div class="title">{% trans %}Members{% endtrans %}</div>
									{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-friend" 
									   data-slug-page="{{ result.slug }}"
									   {# data-toggle="tooltip" data-original-title="{% trans %}Become member{% endtrans %}"
									   data-placement="bottom" #}
									   title="{% trans %}Become member{% endtrans %}"
									   data-toggle="modal" data-target="#modal-quickview">
										<i class="fa fa-hand-peace-o"></i>
									</a>
								{% endif %}
								</span>
							{% endif %} 
							<span class="friend-count-item">
								<div class="h6 count-item-follow">{{ result.relations.followers|length }}</div>
								<div class="title">{% trans %}Followers{% endtrans %}</div>
								{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-purple btn-control btn-send-request-follow" 
								   data-slug-page="{{ result.slug }}"
								   data-slug-page-confirm="true"
								   {# data-toggle="tooltip" data-original-title="{% trans %}Follow this page{% endtrans %}"
								   data-placement="bottom" #}
								   title="{% trans %}Follow this page{% endtrans %}">
									<i class="fa fa-link"></i>
								</a>
								{% endif %}
							</span>
							<span class="friend-count-item">
								<div class="h6 count-item-like">{{ result.relations.likers|length }}</div>
								<div class="title">{% trans %}Likes{% endtrans %}</div>
								{% if app.user != null and result.id != app.user.myUserPage.id %} 
									<a href="javascript:" class="btn btn-blue btn-control btn-send-request-like" 
								   data-slug-page="{{ result.slug }}"
								   data-slug-page-confirm="true"
								   {# data-toggle="tooltip" data-original-title="{% trans %}Like this page{% endtrans %}"
								   data-placement="bottom" #}
								   title="{% trans %}Like this page{% endtrans %}">
								<i class="fa fa-thumbs-o-up"></i>
								</a>
								{% endif %}
							</span>
						</div>
						

						{% if  app.user != null and result.id == app.user.myUserPage.id %}<br>{% endif %}

					</div>
				</div>			
			</div>
		</div>
	{% endfor %}

	{% if results|length == 0 %}
		<div class="col col-12">
			<div class="ui-block padding-15">
				<i class="fa fa-ban"></i> {% trans %}No result{% endtrans %}
			</div>
		</div>
	{% endif %}
</div>

<script>
	searchObj.results  =  {{ jsonRes|json_encode|raw }};
    $( document ).ready(function() {
        searchObj.initListResUi();
    });
</script>


