{% trans_default_domain 'first-step' %}

{% extends 'theme/base-app.html.twig' %}

{% block body %}

<style>
.ui-block-content .ui-block{
    border: transparent!important;
}
.main-block-form{
    width:100%!important;
    max-width:100%!important;
    padding: 0px;
}
.main-block-form .ui-block-title{
    display: none;
}
#form-preferences{
	width: 100%!important;
	max-width: 100%!important;
	padding:0px;
}
#form-preferences .ui-block-title,
#form-preferences .main-subtitle{
	display:none;
}
</style>

<div class="header-spacer header-spacer-small"></div>
<div class="main-header app-first-step">
	<div class="content-bg-wrap">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="main-header-content text-left">
					<h1>
						<span class="letter-belue">
							<i class="fa fa-{{ page.faIcon }}"></i> {{ page.name }}
						</span>
						<br>
						<small><i class="fa fa-cogs"></i> {% trans %}Initializing your account{% endtrans %}</small>
					</h1>
					<hr>
					<a href="{{ path('first-step', {'firstStep': 7 }) }}" 
						class="btn btn-secondary float-right padding-10 no-margin">
						<i class="fa fa-angle-right"></i>  {% trans %}Skip this step{% endtrans %}
					</a>
					<h3><small><i class="fa fa-circle"></i> {% trans %}Step{% endtrans %} 5 / 5</small></h3>
					<hr>
					<br><br>
					<h4>
						<i class="fa fa-flash fa-2x"></i>
						{% trans %}Break the ice{% endtrans %}
						<i class="fa fa-smile-o fa-2x"></i>
					</h4>
					<p>
						<h5>
						{% trans %}The other members are already looking forward to learning more about you{% endtrans %} !<br>
						{% trans %}Here are a number of questions that everyone probably thinks about here{% endtrans %} :
						</h5>
						<br>
						<b><i>
							- {% trans %}And you, why are you coming to Nexxo{% endtrans %} ?<br>
							- {% trans %}What does the new world look like for tomorrow{% endtrans %} ?<br>
							- {% trans %}What should we change? Who ? What? How? Why ?{% endtrans %}<br>
							- {% trans %}What do you do everyday to make things happen{% endtrans %} ?<br>
							- {% trans %}Do you participate in projects, associations, events{% endtrans %} ?<br>
							- {% trans %}Etc, etc{% endtrans %}...
						</i></b>
						<br><br>
						{% trans %}Of course, you are free not to answer these questions{% endtrans %}, 
						{% trans %}and introduce yourself in your own way{% endtrans %}.
						<br>
						<h5>{% trans %}So what can you say about yourself{% endtrans %} ?</h5>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container app-first-step">
    <div class="d-flex justify-content-center">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ui-block no-padding">
            <div class="ui-block-content">
                	<h6>
	                	<i class="fa fa-angle-down"></i> 
	                	{% trans %}Write your first message on Nexxo{% endtrans %}
                	</h6>
                	<textarea class="form-control" id="text-first-message"></textarea>
					<hr>
					<a href="javascript:" id="btn-send-first-message"
						class="btn bg-green float-right padding-10 no-margin">
						<i class="fa fa-send"></i> {% trans %}Send this message{% endtrans %}
					</a>
					<br><br><br>
            </div>
        </div>
    </div>
</div>


<script>
	$( document ).ready(function() {
        $("#btn-send-first-message").click(function(){
        	var fMessage = $("#text-first-message").val();
        	$.ajax({
	          type: "POST",
	          url: "/first-step/6",
	          data: {
	          	"first-message" : fMessage
	          },
	          success: function(res){
	          	console.log("success fMessage", res);
	          	window.location = "/first-step/7";
	          }
	        });
        });
    });
</script>

{% endblock %}