{% trans_default_domain 'first-step' %}

{% extends 'theme/base-app.html.twig' %}

{% block body %}

<style>
.ui-block-content .ui-block{
    border: transparent!important;
}
.main-block-form{
    width:100%!important;
    max-width:100%!important;
    padding: 0px;
}
.main-block-form .ui-block-title{
    display: none;
}
</style>
<div class="header-spacer header-spacer-small"></div>
<div class="main-header app-first-step">
	<div class="content-bg-wrap">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
				<div class="main-header-content">
				<img src="{{ asset('img/logo/logo-earth.png') }}" height="120" style="margin-bottom:-5px;">
					<h1><small>{% trans %}Welcome to Nexxo{% endtrans %}</small></h1><hr>
					<h4 class="letter-green">
						{% trans %}Your account has been successfully created{% endtrans %} !
					</h4>
					{% if page.isActive == false %}
					<p>
					 {% trans %}Check your mailbox, and click on the validation link{% endtrans %}<br>
					 {% trans %}to finalize your registration and access all the features of Nexxo{% endtrans %}.
					</p>
					{% endif %}
					<hr>
					<h4>
						<i class="fa fa-cogs fa-2x"></i><br><br>
						{% trans %}We will now initialize{% endtrans %}<br>
						{% trans %}your account settings{% endtrans %}<br><br>
						<small>{% trans %}to complete your profile{% endtrans %},<br>
						{% trans %}and ensure the confidentiality of your data{% endtrans %}.</small>
					</h4>
					<br>
					<hr>
					
					<div class="description-toggle d-none">
						<!-- <div class="description-toggle-content text-left">
							<h5><i class="fa fa-angle-right"></i> {% trans %}But before we begin, a small suggestion{% endtrans %}...</h5>
							<hr>
							<div class="h6"><i class="fa fa-adjust"></i> {% trans %}Enable screen saver{% endtrans %} ?</div>
							<p>{% trans %}Did you know ? A black screen consumes much less energy than a blank screen{% endtrans %}.</p>
							<p>{% trans %}Nexxo offers a bright theme and a dark theme, to use according to your preferences{% endtrans %} 
								<i class="fa fa-thumbs-up"></i>
							</p>
							<p><b>{% trans %}Click to try{% endtrans %} !</b></p>
							
							<br>
						</div>

						<div class="togglebutton">
							<label>
								<input type="checkbox" class="checkbox btn-dark-theme">
							</label>
						</div> -->
					</div>


					<a href="{{ path('first-step', {'firstStep': 2 }) }}" class="btn bg-green font-konkretika full-width">
						<h4 class="no-margin letter-white"><i class="fa fa-angle-right"></i> {% trans %}Go to step{% endtrans %} 1</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
	{# <img class="img-bottom" src="{{ asset("img/group-bottom.png") }}" alt="friends"> #}
</div>


<script>
	$( document ).ready(function() {
     //    setTimeout(function(){
     //    	$("input.checkbox").click();
    	// }, 100);
    });
</script>

{% endblock %}