{% trans_default_domain 'first-step' %}

{% extends 'theme/base-app.html.twig' %}

{% block body %}

<style>
.ui-block-content .ui-block{
    border: transparent!important;
}
.main-block-form{
    width:100%!important;
    max-width:100%!important;
    padding: 0px;
}
.main-block-form .ui-block-title{
    display: none;
}
</style>

<div class="header-spacer header-spacer-small"></div>
<div class="main-header app-first-step">
	<div class="content-bg-wrap">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="main-header-content text-left">
					<h1>
						<span class="letter-belue">
							<i class="fa fa-{{ page.faIcon }}"></i> {{ page.name }}
						</span>
						<br>
						<small><i class="fa fa-cogs"></i> {% trans %}Initializing your account{% endtrans %}</small>
					</h1>
					<hr>
					<a href="{{ path('first-step', {'firstStep': 3 }) }}" 
						class="btn btn-secondary float-right padding-10 no-margin">
						<i class="fa fa-angle-right"></i>  {% trans %}Skip this step{% endtrans %}
					</a>
					<h3><small><i class="fa fa-circle"></i> {% trans %}Step{% endtrans %} 1 / 5</small></h3>
					<hr>
					<br><br>
					<h4>
						<i class="fa fa-map-marker fa-2x"></i>
						{% trans %}Address and geographical position{% endtrans %}
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container app-first-step">
    <div class="d-flex justify-content-center">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ui-block no-padding">
           
            <div class="ui-block-content">
                {{  include("page/forms/" ~ subview ~ ".html.twig", { "form": form, "action" : action, "page" : page })  }}
            </div>
        </div>
    </div>
</div>

{% endblock %}