{% trans_default_domain 'first-step' %}

{% extends 'theme/base-app.html.twig' %}

{% block body %}

<style>
.ui-block-content .ui-block{
    border: transparent!important;
}
.main-block-form{
    width:100%!important;
    max-width:100%!important;
    padding: 0px;
}
.main-block-form .ui-block-title{
    display: none;
}
#form-preferences{
	width: 100%!important;
	max-width: 100%!important;
	padding:0px;
}
#form-preferences .ui-block-title,
#form-preferences .main-subtitle{
	display:none;
}
</style>

<div class="header-spacer header-spacer-small"></div>
<div class="main-header app-first-step">
	<div class="content-bg-wrap">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-12 col-sm-12 col-xs-12">
				<div class="main-header-content text-left">
					<h1>
						<span class="letter-belue">
							<i class="fa fa-{{ page.faIcon }}"></i> {{ page.name }}
						</span>
						<br>
						<small><i class="fa fa-cogs"></i> {% trans %}Initializing your account{% endtrans %}</small>
					</h1>
					<hr>
					<h3 class="letter-green"><small><i class="fa fa-check"></i> {% trans %}Step{% endtrans %} 5 / 5</small></h3>
					<h3 class="letter-green"><small><i class="fa fa-check"></i> {% trans %}Initialization completed{% endtrans %} !</small></h3>
					<hr>
					<br><br>
					<h4>
						<i class="fa fa-thumbs-up fa-2x"></i>
						{% trans %}You are ready{% endtrans %} !
					</h4>
					<p>
						{# img src="{{ asset('img/btn-config.png') }}" height="80" class="float-right border-radius-5" 
							style="margin-bottom:-5px;"> #}
							<i class="fa fa-cog fa-3x bg-orange letter-white border-radius-15 float-right padding-10"></i>
							{% trans %}Edit and complete your data and privacy settings at any time{% endtrans %}, 
							{% trans %}by clicking on the orange button{% endtrans %} 
							{% trans %}on your own page{% endtrans %}.
					</p>
					<hr>
					{% if page.isActive == false %}
						<h5 class="letter-red no-margin"><i class="fa fa-ban"></i> 
						{% trans %}You have not yet validated your account by e-mail{% endtrans %}</h5>
						<p>
							{% trans %}You can start browsing Nexxo, but some features will not be available{% endtrans %}.<br>
							<b>{% trans %}You will not be able to{% endtrans %} :</b> 
							{% trans %}post messages, write comments, create pages and events{% endtrans %}.
							<br><br>
							{% trans %}To enable all features, check your emails, and click on the verification link we sent you{% endtrans %}.
						</p>

					{% else %}
						<h5 class="letter-green no-margin">
							<i class="fa fa-check"></i> {% trans %}You have already validated your account by e-mail{% endtrans %}
						</h5>
						<p>
							{% trans %}So you can start now to post messages, write comments, create pages and events{% endtrans %}.
						</p>	
					{% endif %}
					<hr>
					<a href="{{ path('first-step', {'firstStep': 0 }) }}" class="btn bg-green full-width">
						<h3 class="no-margin letter-white"><i class="fa fa-sign-in"></i> {% trans %}GO TO NEXXO{% endtrans %}</h3>
					</a>
					
					{# <a href="" class="btn btn-secondary">> Étape 1</a> #}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}