/* GLOBAL*/

.modal{
    z-index: 3000;
}

.elipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 98%;
    display: inline-block;
}

.modal-dialog.ui-block{
    margin-top:50px;
}

#container-activity .mCustomScrollbar{
    overflow-y:auto!important;
}

.toast-bottom-left {
    bottom: 25px!important;
    left: 100px!important;
}

.container {
    max-width: 1300px;

}

body{
    color:#7a7f98;
}
@media (min-width: 768px){
    .container {
        max-width: 615px;
    }
}
@media (min-width: 850px){
    .container {
        max-width: 700px;
    }
}
@media (min-width: 900px){
    .container {
        max-width: 750px;
    }
}
@media (min-width: 1024px){
    .container {
        max-width: 860px;
    }
}

@media (min-width: 1199px){
    .container {
        max-width: 1055px;
    }
}
@media (min-width: 1400px){
    .container {
        max-width: 1280px;
    }
}

/* GLOBAL */
/*a.btn-secondary{ color:white; }*/

.btn-secondary:hover{
    background-color: #767ca1;
    border-color: #767ca1;
    color:white!important; 
}
.btn-default,
.btn-link{
    color:#595959;
}
/*.btn-default:hover,
.btn-link:hover{
    color:#5e3590;
}*/

.tooltip .tooltip-inner{
    font-size:11px;
    padding:10px;
}

/* *** LANDING PAGE *** */
    /* *** HOMEPAGE *** */
    .landing-page::before{
        /*background-color: rgba(68, 49, 105, 0.95);*/
        background-color: rgba(68, 49, 105, 0);
    }

    .landing-page .content-bg{
    	animation-name: none !important;
        background-color:unset;
        /*animation-name: sideupscroll;*/
    }

    .landing-page .content-bg:before {
        background: url("./img/landscape/earth2.png") no-repeat top !important; 
        background-color: #231f20 !important;
        width: 100%;
    }

    .landing-page .content-bg.empty:before {
        background: url("./img/landscape/earth-empty.png") no-repeat top !important; 
        background-color: #231f20 !important;
        width: 100%;
    }

    .app-first-step.main-header .content-bg-wrap{
        /*background: url("./img/landscape/earth3.png") repeat left fixed !important; */
        background:transparent;
        width: 100%;
    }

    .app-first-step.main-header{
        padding-bottom:0px;
    }

    .btn-lang{
        background-color: rgba(255,255,255,0.1);
        padding: 7px 10px;
        border-radius: 50px;
        /*margin-top: 5px;*/
    }
    .btn-lang:hover{
        background-color: rgba(255,255,255,0.2);
    }


    @media (max-width: 799px){
        .landing-page .content-bg:before {
            background: url("./img/landscape/earth-empty.png") repeat center fixed !important; 
            width: 100%;
        }
        .header-landing{
            padding: 20px 0 10px 0;
        }
        .header-landing .profile-menu{
            top: calc(100% - 20px);
        }
        .header-landing .logo{
            display: unset;
            float: unset;
        }

        .app-first-step.main-header{
            padding: 0px;
            margin: 20px;
            max-width: 100%;
        }
    }
    @media (min-width: 800px){
        #title-h4-md{
            text-align: left !important;
        }
    }

    .header-landing{
        margin-bottom:0px;
    }
    /* *** HOMEPAGE *** */
/* *** LANDING PAGE *** */



/* *** FORMS *** */
.form-group ul{
    color:red;
    padding:4px;
}
/* *** FORMS *** */


/* *** CHAT *** */
.olympus-chat{
    /*background-color: #48b7e9;*/
}
.popup-chat{
    width:400px;
    max-width:400px!important;
    border-radius: 5px 0 0 0;
}
.popup-chat.maximize{
    width: auto;
    max-width: unset !important;
    left: 70px;
    right: 70px !important;
    border-radius: 0px 0 0 0;
}

.popup-chat-responsive.open-chat {
    bottom: 0;
    top: auto;
    right: 70px;
    max-height: 550px;
}
.popup-chat-responsive .mCustomScrollbar{
    max-height: 390px; 
    min-height: 390px; 
    overflow-y: auto !important;
	/*background-color: black; */
}
.popup-chat-responsive{
	transition:none;
    z-index:20 !important;
}
.popup-chat .icon-status{
    margin-right:0px;
    width: 9px;
    height: 9px;
}
.icon-status {
    border: transparent !important;
}
.icon-status.online {
    background-color: #fffc0b;
}
.icon-status.away {
    background-color: #fff;
}
.icon-status.disconected {
    background-color: #9f49bf;
}
.chat-users .author-status{
    max-width: 74%;
}
.chat-users li{
    padding: 9px 14px;
    cursor: pointer;
}
.chat-users li:hover{
    background-color:#f3f3f3;
}
.chat-users .count-toread-msg{
    position: absolute;
    margin-right: 0;
    bottom: 0px;
    left: 0px;
    font-size: 13px;
    padding: 11px 0px;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    background-color: rgba(38, 25, 54, 0.58);
    border: 3px solid #4ad472;
}
.chat-users li .author-thumb .icon-status.online,
.popup-chat .icon-status.no-user{
    background-color: #4db6aa;
}
.icon-status.offline{
    background-color: #9f49bf;
}
.chat-users li[data-type='user'] .author-thumb .icon-status.online{
    background-color: #d2d038!important;
}
.mCustomScrollbar .more-dropdown a {
    color: #70738f;
}
.mCustomScrollbar .more-dropdown a:hover {
    color: #383a51!important;
}

ul.chat-message-field li.toread .chat-message-item{
    background-color: #319c50!important;
    color:white;
}
.chat-message-item a{
    color:#705b8a;
}
.chat-message-item a:hover{
    color:#433257;
}
.ui-block.popup-chat .title a#chat-contact-name{
    max-width:70% !important;
}
#icon-loading-chat{
    font-size:10px;
    color: rgba(255,255,255,0.5);
}
span.more-title-chat{
    max-width: 170px;
    margin-top: 2px;
    display: inline-block;
}
.popup-chat .chat-message-field li:last-child {
    margin-bottom: 0px;
}

.js-chat-close{
    border-radius: 19px;
    margin-left: 10px;
    padding: 10px 7px 6px 7px; 
}
.js-chat-close:hover{
    background: rgba(255, 255, 255, 0.5); 
}

.popup-chat .more{
    cursor:unset;
}
.search-friend{
    bottom: 0px;
}
.sidebar--large .chat-users li {
    padding: 9px 25px;
}

.search-friend .form-group {
    margin: 15px 20px;
    max-width: 180px;
}
#info-msg-chat{
    line-height: 14px !important;
}

.btn-open-delete-chat-msg{
    color:rgba(0,0,0,0.3) !important;
}
.btn-open-delete-chat-msg:hover{
    color:rgba(0,0,0,0.8) !important;
}
.load-before-conv{
    line-height: 14px !important;
    overflow: hidden;
    padding: 9px 25px;
    color:#7a7f98;
    width: 100%;
    float: left;
}
/* *** CHAT *** */



/* *** SIDEBARLEFT *** */
#sidebar-left-1 .logo,
#sidebar-left-1-responsive .logo,
#sidebar-left-responsive .logo,
#sidebar-left .logo{
	background-color: #323445;
}
/* *** SIDEBARLEFT *** */

/* *** SIDEBARRIGHT *** */
.fixed-sidebar.right{
    z-index:30!important;
}
.fixed-sidebar.right .mCustomScrollbar {
    max-height: calc(100vh - 145px);
}
/* *** SIDEBARRIGHT *** */



/* *** LEAFLET *** */
.leaflet-pane {
    z-index: 4!important;
}

.leaflet-control, .leaflet-top, .leaflet-bottom {
    z-index: 5!important;
}
/* *** LEAFLET *** */


/* *** MENUTOP *** */
.header{
    z-index:1100;
}
.fixed-sidebar{
    z-index: 1200;
}
.header .page-title {
    padding: 26px 16px 26px 85px;
    min-width: 180px;
}
#site-header .js-user-search{
	font-size:16px!important; 
}
.control-icon .more-dropdown{
    padding-bottom:0px;
}
.profile-section .more-dropdown{
    width:230px;
}
.profile-section ul.settings li{
    padding:0px 8px;
}
.profile-section ul.settings li:hover{
    background-color:rgba(0,0,0,0.2);
}
#container-activity .notification-icon .olymp-happy-face-icon{
    height: 14px;
    width: 14px;
}

#container-activity .notification-icon .accept-request{
    margin-bottom: 7px;
    padding-bottom: 6px;
}

.btn-refresh-notif{
    color:#8d94a4;
}
.btn-refresh-notif .fa-spin{
    color:#48b7e9!important;
}

.popup-notification .notification-icon{
    float: right!important;
    margin-top:-10px!important;
}
.notification-list .comment-photo{
    margin:0%!important;
    padding:0%!important;
    max-width:100%!important;
}

.tab-content-responsive .tab-pane{
    min-height: 500px;
}
.popup-chat .chat-message-field li.received .notification-event,
.popup-chat .chat-message-field li.received .chat-message-item,
.popup-chat .chat-message-field li.received .author-thumb{
    float:left;
}
.popup-chat .notification-list .notification-event{
    width: 88%;
    padding-left: 0px;
}
.notification-list .notification-event{
    width: 68%;
    padding-left: 5px;
}
.popup-chat .author-thumb {
    width: 30px;
    height: 30px;
}
.notif-block .ui-block-title svg use {
    fill: #515365 !important;
}

.toast.toast-info{
    background-color: transparent;
    padding:0px!important;
    opacity: 1 !important;
}

.toast-message .notification-list li{
    background-color: #fff;
}
.comment-photo span{
    background-color: transparent;
    /*color:white;*/
}
.comment-photo{
    background-color: #f5f7fb;
    /*color:white;*/
}
.notification-list .comment-photo.about-text{
    background-color: transparent;
    padding:0px 0px 0px 20px;
    margin:0px!important;
}
.notification-list .comment-photo.about-text .media-shared{
    padding:0px !important;
}

.notification-list .comment-photo.about-text .media-shared iframe,
.w-post-forward .wethear-now-description iframe{
    height:150px;
}

.notification-list .comment-photo.about-text .media-shared .media-description{
    display: none;
}
.notification-list .comment-photo img{
    border-radius: 5px;
    display: inline;
}
.control-icon .notification-list .comment-photo span{
    font-size: 12px;
}


#toast-container .toast-info > div{
    color:#888da8!important;
}
.toast-info .toast-message a, .toast-message label{
    color:#515365!important;
}

.open-notification{
    cursor: pointer;
}
#site-header .open-notification.unread{
    background-color: #e3edf0;
    border-bottom: 1px solid #cbd3dd;
}

.header {
    padding-right: 5px;
}

#site-header-responsive{
    padding-right: 15px;
}
.author-page .chat-settings a:hover{
    color:unset;
}
/* *** MENUTOP *** */


/* *** IN APPS *** */
.main-header {
    padding: 70px 0;
    max-width: calc(100% - 140px);
    margin: 0 auto 30px;
    position: relative;
    background-position: 50% 50%; 
}

.img-bottom {
    position: relative;
    display: inline-block;
    margin: 20px auto -70px;
}
.content-bg-wrap .content-bg::before{
	height: 100%;
}

.swiper-slide .friend-about{
    height: 100px;
    overflow: hidden;
}

.friend-avatar{
    margin-top: unset;
    position: unset;
}
.friend-avatar .author-thumb{
    margin-top: -49px;
    position: relative;
}

.croppie-container .cr-viewport, .croppie-container .cr-resizer{
    border:none !important;
}


/* *** DASHBOARD *** */

.w-post-forward{
    background-image: none;
    background-color: #FFF;
    padding: 30px 20px 0 20px;
    max-height: 450px;
    overflow: auto;
}

.w-post-forward .wethear-now-description{
    max-width: 100%;
    overflow: hidden;
}
.w-post-forward .wethear-now-description p a{
    color:#705b8a;
    font-size:12px;
}
.w-post-forward .wethear-now-description{
       color:white;
}
.w-post-forward p{
    color:grey;
    font-size:14px;
    line-height:19px;
}
.w-post-forward .letter-tag{
    font-size:13px !important;
}
.w-post-forward .letter-red i{
    float:right;
}
.w-post-forward .letter-red{
    text-align:right;
    width:100%;
}

.w-post-forward .letter-red .fa-thumbs-down {
    padding-left:5px;
    margin-top:-3px;
}
.w-post-forward .letter-green {
    /*margin-top:-10px;*/
}


.w-birthday-alert{
    background-image: none;
    background-color: #d15656;
}
.notification-list .selectize-dropdown-content > *, .notification-list li{
    padding:15px;
    /*border:0px;*/
}
.activity-feed.notification-list li{
    padding: 20px 10px 5px 10px;
    max-width: 100%; 
    max-height:400px;
}
.w-friend-pages-added .notification-event {
    padding-left: 8px;
    max-width: 60%;
}
/*
.btn-send-request-friend.accept-request{
    background-color: #84c0ed;
}*/
.btn-send-request-friend.accept-request:hover{
    background-color: #38a9ff;
}
/* *** DASHBOARD *** */


/* *** GROUPS *** */
#create-friend-group-add-friends .show-tick ul.dropdown-menu{
    max-height: 300px;
    overflow: auto;
}
#modal-select-group-scope .show-tick ul.dropdown-menu{
    max-height: 300px;
    overflow: auto;
}




#container-groups-blocks .friend-groups.create-group{ min-height:150px; }
#container-groups-blocks .btn-modal-add-friend-to-group .olymp-plus-icon{ height:21px; }


/* *** GROUPS *** */


/* *** NEWS POST *** */
.post p{
    color:#575252;
    margin-bottom:10px;
    overflow:hidden;
    max-width: 100%;
}
.post .shared-post p{
    margin-bottom:0px;
}
.btn-open-comments.btn-secondary{
    color:#a1a6ab;;
    background-color: transparent;
    border: 1px solid #ccc;
    padding:10px;
    margin-left:50px;
}
.btn-open-comments.btn-secondary:hover{
    background-color: rgba(0,0,0,0.1)!important;
}

.comments-list li{
    /*background-color: rgba(239, 235, 243, 0.5);*/
}
ul.comments-list li p.notified{
    background-color: #cec8da;
}
.input-edit-comment{
    width: 80%;
    border-radius: 20px;
    font-size: 13px;
    padding: 15px;
}
.btn-update-comment{
    float:right;
    margin-top: -15px;
    margin-right: 50px;
}
.news-feed-form .author-thumb{
    left: 18px;
}
.news-feed-form .btn-open-tags {
    position: absolute;
    top: 155px;
    left: 25px;
    z-index: 1;
    width: 25px;
    padding: 2px;
    height: 25px;
    border-radius: 50px;
    margin: 0;
    background-color: #0003;
    border-color: transparent;
    color: #717171;
}
.news-feed-form .btn-open-tags i.fa-hashtag{
    font-size: 12px;
    height: unset;
    width: unset;
    border: none;
    margin: 0px;
    line-height: 1;
    padding: 5px 5px;
}
#newsfeed-items-grid{
    padding-bottom:300px;
}
#newsfeed-items-grid .btn-control.btn-more > i.fa-refresh{
    display: inherit;
}
#newsfeed-items-grid .btn-control.btn-more{
    background-color:#8389b0;
    margin-top:30px;
}
#newsfeed-items-grid .btn-control.btn-more:hover{
    background-color:#9a9fbf!important;
}
.post__author .more{
    margin-right:0px;
}
.post .author-date a{
    color:#585e8c;
}
.post .textHtml.limited{
    max-height:295px;
}
/* *** NEWS POST *** */


/* *** NEWS STREAM *** */
.btn-group-type-msg .btn-secondary:hover{
    background-color: #656b95;
    border-color: #656b95;
}
.media-shared img.uniq-img{
    max-width: 100%;
}
/* *** NEWS STREAM *** */

.block-select-conf .btn-secondary{
    /*border-radius: 0px !important;*/
    font-size:12px;
}
.block-select-conf .btn-secondary.active{
    background-color: #459b88;
    border-color: #459b88;
}
.block-select-conf .btn-secondary:hover{
    background-color: #40b78a;
    border-color: #40b78a;
}
.block-select-conf .btn-secondary.active:hover{
    background-color: #459b88;
    border-color: #459b88;
}

span.separator{
    padding: 0px 3px;
    font-weight: bold;
}



.btn-type-page.letter-yellow.selected,
.btn-type-page.letter-yellow:hover{
    background-color: #fbbc05;
    color:white!important;
}
.btn-type-page.letter-red.selected,
.btn-type-page.letter-red:hover{
    background-color: #ea4335;
    color:white!important;
}
.btn-type-page.letter-turq.selected,
.btn-type-page.letter-turq:hover{
    background-color: #229296;
    color:white!important;
}
.btn-type-page.letter-purple.selected,
.btn-type-page.letter-purple:hover{
    background-color: #976BB6;
    color:white!important;
}
.btn-type-page.letter-green.selected,
.btn-type-page.letter-green:hover{
    background-color: #34a853;
    color:white!important;
}
.btn-type-page.letter-blue.selected,
.btn-type-page.letter-blue:hover{
    background-color: #4285f4;
    color:white!important;
}
.btn-type-page.letter-azure.selected,
.btn-type-page.letter-azure:hover{
    background-color: #2BB0C6;
    color:white!important;
}
.btn-type-page.letter-orange.selected,
.btn-type-page.letter-orange:hover{
    background-color: #FFA200;
    color:white!important;
}
.btn-type-page.letter-turqg.selected,
.btn-type-page.letter-turqg:hover{
    background-color: #64a79e;
    color:white!important;
}
.btn-type-page.selected,
.btn-type-page:hover{
    border-color:transparent;
}

.image-profil{
    border-radius:50%!important;
}

.block-welcome-dashboard h4{
    font-size:19px; 
    color:#6d7295; 
    fill:#6d7295;
}

.tooltip{
    z-index: 2000;
}

.badge-admin{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    color: white;
}


#sidebar-left-1 .togglebutton label .toggle, 
#sidebar-left-1 .togglebutton label input[type="checkbox"][disabled] + .toggle,
#sidebar-left-1 .togglebutton label input[type="checkbox"] + .toggle{
    width:50px;
}

#sidebar-left-1 .togglebutton label input[type="checkbox"]:checked + .toggle::after {
    left: 28px;
}

.top-header .top-header-author{
    bottom: 35px;
}
.block-page-name{
    position: absolute;
    bottom: 110px;
    left: 25px;
    color:white;
    border-radius: 3px;
    max-width: 40%;
    font-size: 16px;
    font-weight: bold;
}
.block-page-name:hover{
    color: #e4e0e0;
}
.friend-header-thumb[data-page-type='channel'] img{
    width: 180%;
    margin-left:-40%;
}
.profile-section .friend-item-content{
    padding:  0px 15px;
}

.modal-quickview{
    width: 770px;
}
.marker-cluster span {
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}
.ui-block-title .left-menu-icon{
    fill:#515365;
    height: 20px;
    width: 20px;
}

.left-menu a:hover svg,
body.dark-theme .left-menu a:hover svg{
    fill: #48b7e9;
}

.left-menu a i.fa.fa-2x{
    font-size:20px;
}

.fixed-sidebar-left.sidebar--small .left-menu a {
    padding: 15px;
    display: block;
    text-align: center;
}

.header-responsive i.fa,
#container-activity .control-icon i.fa{
    font-size:22px;
    color:white;
}
.header-responsive .mCustomScrollbar i.fa,
#container-activity .control-icon .more-dropdown i.fa{
    font-size:unset!important;
    color:unset!important;
}

.js-sidebar-open .fa-bars,
.js-sidebar-open .fa-times{
    cursor:pointer;
}

.mobile-app-tabs .control-icon{
    margin-top: 5px!important;
}

.profile-section .btn-control{
    line-height: 50px !important;
}
.profile-section .btn-control > i {
    font-size: 23px !important;
}
/* *** IN APPS *** */

/* *** CALENDAR *** */

#calendar .fc-basic-view .fc-day-number, 
#calendar .fc-basic-view .fc-week-number{
    padding-right: 10px !important;
    padding-top: 5px !important;
    font-size: 16px;
}

#calendar .fc-toolbar h2{
    padding: 15px 0 0 15px;
    font-size: 2.3em;
}
#calendar .fc-toolbar .fc-right{
    margin: 10px  10px  10px 0px;
}
#calendar .calendar-events-tabs .nav-item{
    margin-left:15px;
}

#calendar.fc-unthemed .fc-content, 
#calendar.fc-unthemed .fc-divider, 
#calendar.fc-unthemed .fc-list-heading td, 
#calendar.fc-unthemed .fc-list-view, 
#calendar.fc-unthemed .fc-popover, 
#calendar.fc-unthemed .fc-row, 
#calendar.fc-unthemed tbody, 
#calendar.fc-unthemed td, 
#calendar.fc-unthemed th, 
#calendar.fc-unthemed thead{
    cursor: pointer;
}

#calendar .fc-toolbar button{
    padding-left:20px;
    padding-right:20px;
    height: 45px;
    background-image: unset !important;
    box-shadow:unset!important;
    border:unset!important;
    border-radius:unset!important;
    background-color: #f9f9f9;
    border-left: 1px solid #ececec !important;
    
}
#calendar .fc-toolbar.fc-header-toolbar{
    margin-bottom:0px!important;
}
#calendar.fc .fc-toolbar > * > *{
    margin-left: 0px;
}

#calendar .fc-event {
    font-size: 13px;
    /*line-height: 1.3;*/
    color: white !important;
}
.calendar-events-tabs .nav-item + .nav-item{
    margin-left:15px!important;    
}
a.btn-show-calendar{
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: 1px solid transparent !important;
    padding: 10px !important;
    border-radius: 40px!important;
    /*color: white!important;*/
}
a.btn-show-calendar.active,
a.btn-show-calendar:hover{
    background-color: #dcf3f0 !important;
    border: 1px solid #c0e6e1 !important;
    /*color: white!important;*/
}

.daterangepicker{
    top:-200px;
}
.daterangepicker select{
    display:inline;
    padding: 7px !important;
    font-size: 13px !important;
    font-weight: bold;
    border: 1px solid #e4e4e4 !important;
}
.daterangepicker .drp-selected{
    display:none;
}
.daterangepicker td, .daterangepicker th{
    height: 35px;
}
.daterangepicker .drp-buttons{
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
}
.daterangepicker .drp-buttons .btn{
    margin-left:5px;
    width:45%;
}
.daterangepicker .drp-buttons .btn.btn-default{
    color:#6b6b6b;
}

.today-events-thumb{
    padding:0px;
}
.today-events-thumb .date{
    background-color:rgba(0,0,0,0.2);
    margin-:25px;
}
.today-events-thumb img{
    width: 100%;

}
.card-header i, 
.card-header svg{
    float: unset;
}
.fc-event, .fc-event-dot {
    background-color: #dcf3f0 !important;
    border: 1px solid #c0e6e1 !important;
    border-radius: 15px !important;
}
#calendar .fc-event {
    font-size: 14px;
    line-height: 1.3;
    color: #244540 !important;
    padding: 4px 8px;
    margin: 3px;

}
/* *** CALENDAR *** */

/* *** REPORT *** */
.comment-block[data-parent-type='report'] .comments-list{
    padding-top:15px;
}
/* *** REPORT *** */

/* *** FIRST STEP *** */

.app-first-step .main-header-content {
   color: unset;
}
.app-first-step .main-header-content h1,
.app-first-step .main-header-content h2,
.app-first-step .main-header-content h3,
.app-first-step .main-header-content h4,
.app-first-step .main-header-content h5,
.app-first-step .main-header-content h6
{
   color: #27426a;
}

.app-first-step .main-header-content .btn
{
    color:#fff!important;
}
/* *** FIRST STEP *** */

/* *** FOOTER *** */
.footer,
.block-homepage{
    background-color:#231f20;
    box-shadow: none !important;
    color:white !important;
}
.footer a{
    color:white;
    font-size:13px;
}

.footer a:hover{
    text-decoration: underline;
}

/* *** FOOTER *** */

.font-roboto{
    font-family: "Roboto",sans-serif !important;
}
#markdown-container p  {
    font-family: "Roboto",sans-serif !important;
}
#markdown-container h1, 
#markdown-container h2, 
#markdown-container h3, 
#markdown-container h4, 
#markdown-container h5, 
#markdown-container h6  {
    font-family: "Roboto",sans-serif !important;
    font-weight: 800 !important;
}

#markdown-container h4, 
#markdown-container h5, 
#markdown-container h6  {
    font-weight: 500 !important;
}


@media (max-width: 575.98px){
}
@media (max-width: 800px){
    .block-select-conf .btn-secondary{
        border-radius: 0px !important;
    }
}


.btn-purple,
.btn-blue,
body.dark-theme .btn-blue
{
    background-color: #48b7e9!important;
}

.btn-primary {
    background-color: #31ae96;
    border-color: #31ae96;
}
.btn-primary:hover{    
    background-color: #208370;
    border-color: #208370;
}
/* LETTER COLOR */

.letter-white       { color:#FFFFFF!important; }
.letter-blue        { color:#4285f4!important; }
.letter-red         { color:#ea4335!important; }
.letter-red-light   { color:#cf918c!important; }
.letter-orange      { color:#ff5e3a!important; }
.letter-yellow      { color:#fbbc05!important; }
.letter-yellow-k    { color:#fbbc05!important; }
.letter-green       { color:#34a853!important; }
.letter-green-light { color:#34a853!important; }
.letter-green-k     { color:#34a853!important; }
.letter-purple      { color:#976BB6!important; }
.letter-lightblue   { color:#7bc3d1!important; }
.letter-light       { color:#7d7d7d!important; }
.letter-turq        { color:#229296!important; }
.letter-turqg       { color:#64a79e!important; }
.letter-pink        { color:#ab3071!important; }
.letter-turq-light  { color:#8eb4b6!important; }
.letter-azure       { color:#2BB0C6!important; }
.letter-green-poi   { color:#20C06B!important; }
.letter-vine        { color:#89403d!important; }
.letter-dark        { color:#3f4257!important; }
.letter-breez        { color:#0fc2aa!important; }

.letter-tag{ 
    color: #3ca4d2 !important;
    font-weight: 200;
    cursor:pointer;
}
.letter-tag:hover{ 
    color: #2487b3 !important;
}

.link-dark{
    color:#3f4257!important; 
}

.post-add-icon.letter-red{ fill:#ea4335!important; }

.border-blue        { border-color:#4285f4!important; }
.border-red         { border-color:#ea4335!important; }
.border-orange      { border-color:#ff5e3a!important; }
.border-yellow      { border-color:#fbbc05!important; }
.border-yellow-k    { border-color:#fbbc05!important; }
.border-green       { border-color:#34a853!important; }
.border-green-k     { border-color:#34a853!important; }
.border-purple      { border-color:#976BB6!important; }
.border-lightblue   { border-color:#7bc3d1!important; }
.border-light       { border-color:#e6e3e3!important; }
.border-turq        { border-color:#229296!important; }
.border-turqg       { border-color:#64a79e!important; }
.border-pink        { border-color:#ab3071!important; }
.border-turq-light  { border-color:#8eb4b6!important; }
.border-azure       { border-color:#2BB0C6!important; }
.border-green-poi   { border-color:#20C06B!important; }
.border-vine        { border-color:#89403d!important; }
.border-dark        { border-color:#3f4257!important; }
.border-dark2       { border-color:#3a3b44!important; }
.border-breez       { border-color:#0fc2aa!important; }

.bg-blue        { background-color:#4285f4!important; }
.bg-red         { background-color:#ea4335!important; }
.bg-orange      { background-color:#ff5e3a!important; }
.bg-yellow      { background-color:#fbbc05!important; }
.bg-yellow-k    { background-color:#fbbc05!important; }
.bg-green       { background-color:#34a853!important; }
.bg-green-k     { background-color:#34a853!important; }
.bg-purple      { background-color:#976BB6!important; }
.bg-lightblue   { background-color:#7bc3d1!important; }
.bg-light       { background-color:#e6e3e3!important; }
.bg-turq        { background-color:#229296!important; }
.bg-turqg       { background-color:#64a79e!important; }
.bg-pink        { background-color:#ab3071!important; }
.bg-turq-light  { background-color:#8eb4b6!important; }
.bg-azure       { background-color:#2BB0C6!important; }
.bg-green-poi   { background-color:#20C06B!important; }
.bg-vine        { background-color:#89403d!important; }
.bg-dark        { background-color:#3f4257!important; }
.bg-dark2       { background-color:#3a3b44!important; }
.bg-red-report  { background-color:#e9d7d6!important; }
.bg-breez       { background-color:#10d5bb!important; }

.no-border{ border-width:0px !important; }
.border-1{ border-width:1px !important; }
.border-2{ border-width:2px !important; }
.border-3{ border-width:3px !important; }
.border-4{ border-width:4px !important; }
.border-5{ border-width:5px !important; }

.border-radius-1{ border-radius:1px; }
.border-radius-2{ border-radius:2px; }
.border-radius-3{ border-radius:3px; }
.border-radius-4{ border-radius:4px; }
.border-radius-5{ border-radius:5px; }
.border-radius-10{ border-radius:10px; }
.border-radius-15{ border-radius:15px; }

.border-solid{ border-style:solid; }
.border-dashed{ border-style:dashed; }
.border-dotted{ border-style:dotted; }


.no-padding{ padding:0px  !important; }
.padding-5 { padding:5px  !important; }
.padding-10{ padding:10px !important; }
.padding-15{ padding:15px !important; }
.padding-20{ padding:20px !important; }
.padding-25{ padding:25px !important; }
.padding-50{ padding:50px !important; }

.padding-left-5 { padding-left:5px !important; }
.padding-left-10{ padding-left:10px !important; }
.padding-left-15{ padding-left:15px !important; }
.padding-left-20{ padding-left:20px !important; }
.padding-left-25{ padding-left:25px !important; }
.padding-left-50{ padding-left:50px !important; }

.padding-right-5 { padding-right:5px !important; }
.padding-right-10{ padding-right:10px !important; }
.padding-right-15{ padding-right:15px !important; }
.padding-right-20{ padding-right:20px !important; }
.padding-right-25{ padding-right:25px !important; }
.padding-right-50{ padding-right:50px !important; }

.padding-bottom-5 { padding-bottom:5px !important; }
.padding-bottom-10{ padding-bottom:10px !important; }
.padding-bottom-15{ padding-bottom:15px !important; }
.padding-bottom-20{ padding-bottom:20px !important; }
.padding-bottom-25{ padding-bottom:25px !important; }
.padding-bottom-50{ padding-bottom:50px !important; }

.padding-top-5 { padding-top:5px !important; }
.padding-top-10{ padding-top:10px !important; }
.padding-top-15{ padding-top:15px !important; }
.padding-top-20{ padding-top:20px !important; }
.padding-top-25{ padding-top:25px !important; }
.padding-top-50{ padding-top:50px !important; }

.no-margin{ margin:0px  !important; }
.margin-5 { margin:5px  !important; }
.margin-10{ margin:10px !important; }
.margin-15{ margin:15px !important; }
.margin-20{ margin:20px !important; }
.margin-25{ margin:25px !important; }
.margin-50{ margin:50px !important; }

.margin-top-5 { margin-top:5px !important; }
.margin-top-10{ margin-top:10px !important; }
.margin-top-15{ margin-top:15px !important; }
.margin-top-20{ margin-top:20px !important; }
.margin-top-25{ margin-top:25px !important; }
.margin-top-50{ margin-top:50px !important; }

.margin-bottom-5 { margin-bottom:5px !important; }
.margin-bottom-10{ margin-bottom:10px !important; }
.margin-bottom-15{ margin-bottom:15px !important; }
.margin-bottom-20{ margin-bottom:20px !important; }
.margin-bottom-25{ margin-bottom:25px !important; }
.margin-bottom-50{ margin-bottom:50px !important; }

.margin-right-5 { margin-right:5px !important; }
.margin-right-10{ margin-right:10px !important; }
.margin-right-15{ margin-right:15px !important; }
.margin-right-20{ margin-right:20px !important; }
.margin-right-25{ margin-right:25px !important; }
.margin-right-50{ margin-right:50px !important; }

.margin-left-5 { margin-left:5px !important; }
.margin-left-10{ margin-left:10px !important; }
.margin-left-15{ margin-left:15px !important; }
.margin-left-20{ margin-left:20px !important; }
.margin-left-25{ margin-left:25px !important; }
.margin-left-50{ margin-left:50px !important; }

.transparent{ opacity: 0; }

@font-face{
    font-family: ZeroesTwo;
    src: url('./fonts/ZeroesTwo.ttf');
}.font-zeroes{font-family:"ZeroesTwo"!important;font-weight:200!important;}

@font-face{
    font-family: Konkretika;
    src: url('./fonts/Konkretika.ttf');
}.font-konkretika{font-family:"Konkretika"!important;font-weight:200!important;}

h1,h2,h3,h4,h5,h6{font-family:"Konkretika"!important;font-weight:200!important;}
