
body.dark-theme{
	background-color: #36393e;
	color: #ccbde9;
}

body.dark-theme .header{
	background-color: #2a2929;
}
body.dark-theme .search-bar.w-search,
body.dark-theme .form-control.js-user-search,
body.dark-theme .search-bar .form-group.with-button button{
	background-color: #333236!important;
}
body.dark-theme .form-control.js-user-search{
	color:white;
}
body.dark-theme #site-header-responsive .form-control.js-user-search{
	background-color:white!important;
	color:#333236;
}
body.dark-theme #sidebar-left-responsive .logo,
body.dark-theme #sidebar-left-1-responsive .logo,
body.dark-theme #sidebar-left .logo,
body.dark-theme #sidebar-left-1 .logo{
	background-color: #252426;
}

body.dark-theme .fixed-sidebar-left,
body.dark-theme .fixed-sidebar-right{
	background-color: #2f2e2e;
	border: 0px solid transparent;
	box-shadow: none !important;
}

body.dark-theme .btn-secondary:hover{
	background-color: #655f84;
	border-color: #655f84;
}

body.dark-theme .block-select-conf .btn-secondary.active{
    background-color: #459b88;
    border-color: #459b88;
}
body.dark-theme .block-select-conf .btn-secondary:hover{
    background-color: #40b78a;
    border-color: #40b78a;
}
body.dark-theme .block-select-conf .btn-secondary.active:hover{
    background-color: #459b88;
    border-color: #459b88;
}


body.dark-theme .left-menu a:hover{
    color: #dadbe9;
    background-color: #2a2929;
}
body.dark-theme .left-menu a:hover svg{
	fill:#48b7e9;
}

body.dark-theme .fixed-sidebar-right a:hover svg{
	fill:#fff;
}

body.dark-theme .fixed-sidebar-right .search-friend .olymp-menu-icon{
	fill:white;
}

body.dark-theme .search-friend{
	box-shadow: none;
	background-color: #3c3c45;
}

body.dark-theme .ui-block {
    background-color: #454650;
    border: 0px solid #57555a;
}
body.dark-theme .card{
    background-color: #454650;
    border: 0px solid #57555a;
}
body.dark-theme .card .card-header{
    background-color: #454650;
    border-bottom: 1px solid #57555a;
}

body.dark-theme .card a{
	color:#abaaaa;
}
body.dark-theme .card a:hover{
	color:#fff;
}
body.dark-theme .card .card-header a{
	color:white;
}
body.dark-theme .card .your-profile-menu{
	border: 0px solid #57555a;
}

/*body.dark-theme .nav-tabs{
    background-color: #454650;
    color:white;
}
body.dark-theme .nav-tabs .nav-link{
    border-right: 1px solid #5c636f;
}
body.dark-theme .nav-tabs .nav-link.active{
    background-color: #5d5e6b;
    color:white;
}*/

body.dark-theme .ui-block-title{
	border-bottom: 1px solid #57555a;
	border-top: 1px solid transparent;
}
body.dark-theme .friend-header-thumb {
    border-bottom: 1px solid #414044;
}
body.dark-theme .notif-block .ui-block-title svg use{
	fill:white !important;
}
body.dark-theme hr{
	border-top: 1px solid #57555a;
}

body.dark-theme .btn-type-page,
body.dark-theme .btn-secondary.bg-white{
    background-color: rgba(165, 165, 165, 0.1);
    border:transparent;
}

body.dark-theme .btn-secondary.bg-white{
    color: #e3e5f8!important;
    background-color: #363333!important;
}
body.dark-theme #btn-share-search{
    background-color: #4e4d4d!important;
}

body.dark-theme .alert-secondary{
	background-color: #55535d!important;
	color:white;
	border:transparent;
}


body.dark-theme .h1, body.dark-theme h1, 
body.dark-theme .h2, body.dark-theme h2, 
body.dark-theme .h3, body.dark-theme h3, 
body.dark-theme .h4, body.dark-theme h4, 
body.dark-theme .h5, body.dark-theme h5, 
body.dark-theme .h6, body.dark-theme h6, 
body.dark-theme .ui-block-title .title{
    color: #e3e5f8;
}

body.dark-theme .fixed-sidebar .ui-block-title,
body.dark-theme .sidebar--large .search-friend{
	border-top: 1px solid #3c3c45;
}

body.dark-theme .border-light{
	border-color: #615e66 !important;
}

body.dark-theme textarea,
body.dark-theme input,
body.dark-theme .form-control,
body.dark-theme select,
body.dark-theme input.bg-white{
	background-color: #505359 !important;
	border: transparent;
	color: white;
}
body.dark-theme .form-group.label-floating label.control-label{
	color: #c3c3c5;
}
body.dark-theme .container-around-val{
	padding:8px 10px 9px 10px;
}

body.dark-theme .title-group .olymp-menu-icon{
	fill:#e3e5f8;
}

body.dark-theme .tab-content-responsive .tab-pane{
	background-color: #383b3f;
}

/* DASHBOARD */
body.dark-theme .notification-list .selectize-dropdown-content > *, 
body.dark-theme .notification-list li{
	border-bottom: 1px solid #49484e !important;
	background-color: #3e3f4a;
} 
body.dark-theme .notification-list li.open-notification{
	background-color: #2f2c2b;
}
body.dark-theme #site-header li.open-notification.unread{
    background-color: transparent;
}

body.dark-theme .notification-list li.open-notification:hover{
	background-color: #26242a;
}
body.dark-theme .toast{
	box-shadow: none!important;
}
body.dark-theme .toast-message .notification-list li{
	background-color: #166858; /*#1f556e;*/
}

body.dark-theme #toast-container .toast-info > div{
    color:#fff!important;
}
body.dark-theme .toast-info .toast-message a, .toast-message label{
    color:#fff!important;
}

body.dark-theme .comment-photo span{
    background-color: transparent;
    color:white;
}

body.dark-theme .comment-photo{
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
}

body.dark-theme #toast-container > div{
    color:#fff!important;
}

body.dark-theme .toast-message a, .toast-message label{
    color:#ededed!important;
}

body.dark-theme .w-post-forward{
	background-color: #454650;
	color: white;
}

body.dark-theme .w-post-forward p,
body.dark-theme .post p{
    color: white;

}
body.dark-theme .post p a{
    color: #ae9fec;
    text-decoration: none;
}
body.dark-theme .post .post__author a{
    color: white;
}
body.dark-theme .letter-tag{
	color:#48b7e9 !important;
}
body.dark-theme .post-additional-info{
	border-top: 1px solid #52505c;
}
body.dark-theme .post,
body.dark-theme .comment-block{
	border-bottom: 0px solid #414044;
}

body.dark-theme .comment-block{
	background-color: #414044;
	border-color:#414044;
}

body.dark-theme .btn-open-comments.btn-secondary{
    color:#a1a6ab;;
    background-color: transparent;
    border: 1px solid #6a6874;
}
body.dark-theme .btn-open-comments.btn-secondary:hover{
    background-color: rgba(0,0,0,0.1)!important;
    border: 1px solid #6a6874 !important;
}

body.dark-theme .notification-list .selectize-dropdown-content > :hover, 
body.dark-theme .notification-list li:hover{
	background-color: #57545d;
}

body.dark-theme .btn-send-request-friend.accept-request,
body.dark-theme .btn-send-request-follow.accept-request{
	background-color: #40637e;
}

body.dark-theme .btn-goto-report{
	background-color: #40637e;
}

body.dark-theme .dropdown-menu{
	background-color: #393838;
}
body.dark-theme .dropdown-item{
	color: #fff;
	-webkit-appearance: unset;
}
body.dark-theme .dropdown-item:hover,
body.dark-theme .dropdown-item:focus{
	color: #000;
	background-color: #a9adb4;
}

body.dark-theme .modal .bs-searchbox input.form-control{
	background-color: #46484b !important;
}

body.dark-theme .modal .show-tick .glyphicon-ok.check-mark:before{
	color: #48b7e9;
}
body.dark-theme .create-friend-group .bootstrap-select.form-control{
	border: 1px solid #505153;
}


body.dark-theme .bootstrap-select.style-2 .form-control{
	border-bottom: 1px solid transparent;
}

body.dark-theme .btn.dropdown-toggle{
	background-color: #404250;
	color: white;
}


body.dark-theme .app-search .togglebutton label .toggle, 
body.dark-theme .app-search .togglebutton label input[type="checkbox"][disabled] + .toggle{
	background-color: #5f6275;
}
body.dark-theme .app-search .togglebutton label input[type="checkbox"]:checked + .toggle {
    background-color: #34a853;
}
body.dark-theme .togglebutton label .toggle, 
body.dark-theme .togglebutton label input[type="checkbox"][disabled] + .toggle{
	background-color: #626578;
}


body.dark-theme .profile-section .more-with-triangle::before {
	border-bottom: 7px solid #393838;
}

body.dark-theme .more-with-triangle.triangle-bottom-right::before {
	border-top: 7px solid #393838;
	border-bottom: none;
}

body.dark-theme .more-with-triangle.triangle-top-center::before {
	border-bottom: 7px solid #393838;
}
body.dark-theme #container-activity .more-with-triangle::before {
	border-bottom: 7px solid #393838;
}

body.dark-theme .more-dropdown{
	background-color: #393838;
}
body.dark-theme .more-dropdown a{
	color: #fff;
}
body.dark-theme .account-settings svg{
	fill: #bfb9c5;
}
body.dark-theme .more-dropdown .ui-block-title{
	border-top: 0px solid #67646b;
	border-bottom: 1px solid #67646b;
}
body.dark-theme .notification-event{
	color:#cacee4;
}

body.dark-theme .block-welcome-dashboard h4{
    color:#fff; 
    fill:#fff;
}

body.dark-theme .modal-content{
	background-color: #32313b;
}
body.dark-theme .modal-content .ui-block-title{
	border-top:transparent;
}
body.dark-theme .modal-content .ui-block-title,
body.dark-theme .modal-footer{
	background-color:#28282f;
}
body.dark-theme .modal-footer{
	border-top-color:#57555a;
}
body.dark-theme .modal-footer .btn-default{
	background-color: #473e3e;
}

body.dark-theme .news-feed-form{
	background-color: #2a2a33;
}
body.dark-theme #btn-send-post{
	background-color: #40637e;
}

body.dark-theme .news-feed-form #news_text{
	background-color: rgba(255, 255, 255, 0.04) !important;
}

body.dark-theme .news-feed-form #media-shared-loader,
body.dark-theme .news-feed-form #media-shared-container{
	background-color: #313136;
	color:white;
}

body.dark-theme .media-shared a,
body.dark-theme .news-feed-form #media-shared-container a{
	color:white;
}
body.dark-theme .media-shared p,
body.dark-theme .news-feed-form #media-shared-container p{
	color:#cecccc;
}

body.dark-theme .news-feed-form .btn-open-tags,
body.dark-theme .news-feed-form .btn-open-image {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

body.dark-theme .profile-menu li a.active, 
body.dark-theme .profile-menu li > div:hover, 
body.dark-theme .profile-menu li a:hover{
	color: #f2f2f2;
}

body.dark-theme #map-container{
	border:none;
	background-color: #58585c;
}

body.dark-theme #map-container .h1, body.dark-theme #map-container h1, 
body.dark-theme #map-container .h2, body.dark-theme #map-container h2, 
body.dark-theme #map-container .h3, body.dark-theme #map-container h3, 
body.dark-theme #map-container .h4, body.dark-theme #map-container h4, 
body.dark-theme #map-container .h5, body.dark-theme #map-container h5, 
body.dark-theme #map-container .h6, body.dark-theme #map-container h6{
    color: #3f4047;
}

body.dark-theme .w-post-forward .wethear-now-description p a{
    color:#ae9fec;
}

body.dark-theme .btn-open-marker{
	top: 0px;
	right: 5px;
	background-color: rgba(0,0,0,0.5);
}

body.dark-theme #modal-quickview .container-newsstream{
	background-color: #282e33;
}

body.dark-theme .btn-more{
	background-color: #31343f;
}


body.dark-theme .comments-list p{
	color: #dddada;
    background-color: #555459;
}

body.dark-theme .comments-list .reply{
	color: #bdbdbd;
}

body.dark-theme ul.comments-list li p.notified{
    background-color: #7c5ac2;
}

body.dark-theme .comment-form #comment_text{
	background-color: #555459 !important;
}
body.dark-theme .comment-form{
	border-top: 0px solid #e6ecf5;
}

body.dark-theme .mobile-app-tabs{
	background-color: #2a2929;
}

body.dark-theme .btn-blue{
	background-color: #75638f;
}

body.dark-theme .comment-block .more-comments{
	color:#9294a4;
}

body.dark-theme .chat-message-item{
	color:white;
	background-color: #545358;
}

body.dark-theme .chat-message-item a{
    color:#c8b6e0;
}
body.dark-theme .chat-message-item a:hover{
    color:#dfd5ed;
}

body.dark-theme .popup-chat-responsive.open-chat{
	background-color: #383944;
	border: 0px solid #383944;
}
body.dark-theme .popup-chat-responsive .form-chat .chat-msg{
	background-color: #454b56 !important;
}

body.dark-theme .chat-users .author-thumb .icon-status{
	border:transparent;
}

body.dark-theme .mCustomScrollbar .more-dropdown a:hover {
    color: #babdda!important;
}

body.dark-theme .chat-users li:hover{
    background-color:#3b3939;
}

body.dark-theme .load-before-conv{
    color:#ccbde9;
}

body.dark-theme .w-personal-info li .title{
	color:#dbdefc;
}
body.dark-theme .w-personal-info li .text{
	color:#b6bcda;
}

body.dark-theme .letter-dark.btn-toogle-row{
	color:white !important;
}

body.dark-theme .skills-item-info {
    color: #FFF;
}

body.dark-theme .ui-block-title .left-menu-icon{
	fill:#e3e5f8;
}

body.dark-theme .bg-red-report  { background-color:#56403e!important; }

body.dark-theme #calendar.fc-unthemed .fc-content, 
body.dark-theme #calendar.fc-unthemed .fc-divider, 
body.dark-theme #calendar.fc-unthemed .fc-list-heading td, 
body.dark-theme #calendar.fc-unthemed .fc-list-view, 
body.dark-theme #calendar.fc-unthemed .fc-popover, 
body.dark-theme #calendar.fc-unthemed .fc-row, 
body.dark-theme #calendar.fc-unthemed tbody, 
body.dark-theme #calendar.fc-unthemed td, 
body.dark-theme #calendar.fc-unthemed th, 
body.dark-theme #calendar.fc-unthemed thead{
	border-color: #393f45;
}
body.dark-theme #calendar.fc-unthemed td.fc-today{
	background: #486561;
}
body.dark-theme #calendar .fc-toolbar button{
	background-color: #3b3d47;
	background-image: unset !important;
	color: white;
    border-left: 1px solid #393939 !important;
}

body.dark-theme #calendar {
}

body.dark-theme .fc-event, body.dark-theme .fc-event-dot {
    background-color: #64a79e !important;
    border: 1px solid #64a79e !important;

}
body.dark-theme #calendar .fc-event{
	color: #fff !important;
}

body.dark-theme .daterangepicker,
body.dark-theme .daterangepicker .calendar-table,
body.dark-theme .daterangepicker select,
body.dark-theme .daterangepicker td.off, 
body.dark-theme .daterangepicker td.off.in-range, 
body.dark-theme .daterangepicker td.off.start-date, 
body.dark-theme .daterangepicker td.off.end-date
{
	background-color: #36393e;
	border-color: #36393e !important;
}
body.dark-theme .daterangepicker:before{

	border-bottom-color: #36393e;
}
body.dark-theme a.btn-show-calendar.active,
body.dark-theme a.btn-show-calendar:hover{
    background-color: #64a79e !important;
    border: 1px solid transparent !important;
    color: white!important;
}
body.dark-theme .daterangepicker:after{
	border-bottom: 6px solid #36393e;
}
body.dark-theme .daterangepicker td.active, 
body.dark-theme .daterangepicker td.active:hover, 
body.dark-theme .daterangepicker td.start-date.end-date{
	background-color: #31ae96;
}
body.dark-theme .daterangepicker .drp-buttons .btn.btn-default {
    color: #b9aeae;
    background: #292c32;
}
body.dark-theme .daterangepicker td.available:hover, 
body.dark-theme .daterangepicker th.available:hover {
    border-radius: 50%;
    color: #272727;
}

body.dark-theme #lbl-isprivate-false{
	color:#d4d4d4;
}

body.dark-theme .main-header-content {
    color: #fff;
}
body.dark-theme .app-first-step .main-header-content h1,
body.dark-theme .app-first-step .main-header-content h2,
body.dark-theme .app-first-step .main-header-content h3,
body.dark-theme .app-first-step .main-header-content h4,
body.dark-theme .app-first-step .main-header-content h5,
body.dark-theme .app-first-step .main-header-content h6
{
   color: white;
}

body.dark-theme .letter-dark{ color:#fff!important; }

body.dark-theme .banner-empty{ opacity: 0.5; }


body.dark-theme .w-personal-info a,
body.dark-theme .comment-text a{
	color:#4285f4!important;
}


body.dark-theme .link-dark{
    color:#FFF!important; 
}