
@media (max-width: 539px) {

    .block-profil-img{
        margin-top: 40px;
    }
    .btn-group-type-msg button{
        font-size: 11px;
    }


    #already-loggin .btn-logout{
        margin-left: 0px!important;
    }

    .comment-form .form-group{
        margin-left:5px;
        width: 100%;
    }

    .toast-bottom-left{
        left:2%;
    }

    #toast-container > div{
        width:100%!important;
    }

    h1, .h1 {
      font-size: 2rem; }

    h2, .h2 {
      font-size: 1.6rem; }

    h3, .h3 {
      font-size: 1.2rem; }

    h4, .h4 {
      font-size: 1rem; }

    h5, .h5 {
      font-size: 0.9rem; }

    h6, .h6 {
      font-size: 0.875rem; }

}

@media (max-width: 768px){
    .fixed-sidebar.right.open {
        display: unset; 
    }
    .popup-chat-responsive.open-chat{
        right: 0px;
        width: 100%;
        max-height: 500px;
    }
    .popup-chat-responsive .mCustomScrollbar {
        max-height: 340px;
        min-height: 340px;
    }
    .post-additional-info > *{
        display: initial !important;
        padding: 0 5px 0 5px;
    }

    .post-additional-info .comments-shared{
        float:right;
    }

    .app-group{
        margin:0px !important;
    }
    .btn-conf-group{
        width: 100%;
    }
    .app-group .btn-control{
        width: 30px;
        height: 30px;
        padding: 0px;
        line-height: 30px;
    }

    .app-group [class^="olymp-"], .app-group [class*=" -icon"] {
        height: 26px;
        width: 29px;
    }
    .app-group .olymp-three-dots-icon{
        width: 16px;
        height: 4px;
    }
    .app-group #container-groups-blocks .btn-modal-add-friend-to-group .olymp-plus-icon{
        height: 17px;
    }
    .app-group .h5.title .btn-control > i.fa-angle-down,
    .app-group .h5.title .btn-control > i.fa-angle-right{
        font-size: 21px;
    }
    .app-group .control-block-button .btn-control .olymp-happy-faces-icon {
        height: 19px;
        width: 19px;
    }
    .app-group .control .olymp-happy-faces-icon {
        height: 17px;
        width: 17px;
    }
    .app-group .btn-modal-add-friend-to-group .olymp-plus-icon {
        height: 16px;
    }
    .app-group .h5.title > i.fa{
        margin-left:0px;
    }
    .app-group .create-group .content .btn-control svg{
        width: 15px;
        height: 27px;
    }
    .app-group .h5.title .btn-toogle-row{
        font-size: 12px;
    }
    .app-group .ui-block-title{
        padding:8px;
    }
    .app-group .birthday-item{
        padding: 0px;
    }
    .app-group .row-toggle{
        padding:0px;
    }
    .app-group .author-thumb,
    .app-group .author-thumb img{
        height:30px !important;
        width:30px !important;
    }

    .profile-menu.expanded-menu{
        background-color: #363636;
    }
    .profile-menu.expanded-menu a{
        color: #fff;
    }
    .menu-lang{
        position: absolute;
        top: 10px;
        right: 0px;
    }
    .img-already-loggin{
        height:50px;
    }
    #already-loggin{
        height:60px!important;
    }
    .name-already-loggin{
        font-size: 19px!important;
        margin-top: 0px!important;
        margin-left: 0px!important;
    }
    #already-loggin .btn-logout{
        margin-top: 0px!important;
        margin-right: 0px!important;
        margin-left: 10px;
    }


    .calendar-events-tabs .nav-item + .nav-item{
        margin-left:0px!important;    
        margin-top:10px!important;    
    }

    #calendar .fc-scroller.fc-day-grid-container{
        min-height:250px;
    }

    .modal-quickview{
        width:unset;
        margin:10px;
        margin-top: 80px !important;
    }

    .profile-section .control-block-button .btn-control{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        line-height: 35px;
        font-size: 15px;
        margin-top: 18px;
    }
    .profile-section .friend-item-content{
        padding-left: 15px !important;
    }
    .block-page-name{
        margin-bottom:25px !important;
    }
    .control-block-button .btn-control svg {
        width: 15px!important;
        height: 15px!important;
    }
    .control-block-button .btn-control svg.olymp-camera-icon {
        width: 18px !important;
        height: 23px !important;
    }
    .profile-section ul.settings li {
        padding: 10px 8px;
    }
    #dropdown-menu-scope-news,
    #dropdown-menu-target-news{
        min-width: 250px;
    }

    #dropdown-menu-scope-news button,
    #dropdown-menu-target-news button{
        padding:10px 20px;
    }
    .tab-content-responsive .mCustomScrollbar {
        max-height: calc(100vh - 70px);
    }
    .profile-section .btn-control > i {
        font-size: 16px !important;
    }
    .profile-section .btn-control{
        line-height: 29px !important;
    }

    .popup-chat.maximize{
        left: 0px !important;
        right: 0px !important;
    }
}

@media (max-width: 799px){
    .friend-item-content {
        margin-top:27px !important;
        padding-left: 0px !important;
    }
    .profile-section .control-block-button{
        text-align: right;
        padding-right: 25px;
    }
}

@media (max-width: 1024px){
    .block-menu-setting {
        padding-right:15px !important;
    }
    .btn-control .more-dropdown {
        top: 100%;
        bottom: auto;
    }
    .more-with-triangle.triangle-bottom-right::before {
        top: 7px;
        bottom: auto;
    }

    .btn-send-request-friend,
    .btn-send-request-follow{
        padding: 5px;
    }
    .widget-localiseMe #page_city{
        margin-top:15px;
        margin-bottom:15px;
    }
    
    .app-search .friend-item-content .btn-control.btn-send-request-follow,
    .app-search .friend-item-content .btn-control.btn-send-request-friend {
        line-height:20px;
    }
}

@media (max-width: 1150px){
    .author-page .author-name {
        display: inline-block !important;
    }
}