

  .smartapp .header, .smartapp .fixed-sidebar {
    display: none; }
    .smartapp .header, .smartapp .fixed-sidebar.open{
        display: unset;
    }
  .smartapp .header--standard.headroom--not-top {
    padding: 5px; }
  .smartapp .header-responsive, .smartapp .fixed-sidebar.fixed-sidebar-responsive {
    display: block; }
  .smartapp .header-responsive .mobile-app-tabs .nav-link {
    padding: 0 5px; }
  /*.smartapp .search-bar.w-search {
    width: 100%; }*/
  .smartapp .tab-content-responsive {
    width: 100%;
    left: 0;
    display: block;
    position: absolute;
    z-index: -1; }
    .smartapp .tab-content-responsive .ps > .ps__scrollbar-y-rail, 
    .smartapp .tab-content-responsive .ps:hover > .ps__scrollbar-y-rail {
      display: none; }
  .smartapp .view-all {
    position: relative; }
  .smartapp 
  .search-bar.w-search {
    max-width: 100%; }
  .smartapp 
  .fixed-sidebar-left.sidebar--small {
    height: 70px; }
  .smartapp 
  .control-block {
    float: none;
    display: block;
    height: auto;
    padding: 15px 20px 0; }
  .smartapp #container-activity{
    display: none;
  }
  
  .smartapp 
  .author-page .author-name {
    display: inline-block; }
  .smartapp 
  .control-block .author-title {
    color: #515365; }
  .smartapp 
  .control-block .author-thumb {
    position: relative; }
  .smartapp 
  .author-thumb .icon-status {
    border-color: #fff !important; }
  .smartapp 
  .notification-list .notification-event {
    padding-left: 10px; }
  .smartapp 
  .friend-requests .chat-message-item {
    font-size: 10px; }
  .smartapp 
  .notification-list .notification-friend {
    font-size: 13px; }
  .smartapp 
  .notification-list.chat-message .notification-event {
    width: auto; }
  .smartapp 
  .notification-list.chat-message.chat-message-field .notification-event {
    max-width: 82%; }
  .smartapp 
  .popup-chat .notification-list.chat-message .notification-event {
    width: 75%; }
  .smartapp 
  .tab-content-responsive .ui-block-title a {
    color: #515365; }
  .smartapp 
  .tab-content-responsive .notification-list.friend-requests .selectize-dropdown .notification-icon {
    display: inline-block;
    float: right; }
  .smartapp 
  .profile-section {
    padding: 30px 0; }
  .smartapp 
  .header-landing .profile-menu {
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(100% - 60px);
    border-radius: 10px;
    z-index: 50; }
  .smartapp 
    .header-landing .profile-menu li {
      order: 2; }
  .smartapp 
      .header-landing .profile-menu li:last-child {
        order: 1; }
  .smartapp 
      .header-landing .profile-menu li a {
        padding: 12px 0; }
  .smartapp 
  .profile-menu.expanded-menu {
    background-color: #fff;
    padding: 10px 25px; }
  .smartapp 
    .profile-menu.expanded-menu li a {
      color: #ff5e3a;
      fill: #ff5e3a; }
  .smartapp 
      .profile-menu.expanded-menu li a:hover {
        opacity: .7; }
  .smartapp 
  .header-landing .logo {
    float: none;
    justify-content: center; }
  .smartapp 
  .header--standard-wrap {
    flex-direction: row; }
  .smartapp 
  .header-menu {
    margin: auto;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 270px;
    transform: translateX(calc(100% + 70px));
    right: 0;
    top: 0;
    text-align: left;
    justify-content: baseline;
    align-items: baseline;
    padding-top: 50px;
    border-left: 1px solid #e6ecf5;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1); }
  .smartapp 
    .header-menu a {
      padding: 15px 25px;
      color: #888da8; }
  .smartapp 
    .header-menu ul {
      display: block; }
  .smartapp 
    .header-menu .show .dropdown-menu {
      opacity: 1;
      visibility: visible;
      position: relative;
      margin-bottom: 15px; }
  .smartapp 
    .header-menu > * {
      width: 100%; }
  .smartapp 
  .header--standard-dark .header-menu {
    border-left: 1px solid #545875; }
  .smartapp 
  .header-menu .dropdown:hover > .dropdown-menu {
    opacity: 0;
    visibility: hidden; }
  .smartapp 
  .header-menu .show.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible; }
  .smartapp 
  .dropdown-menu {
    /*width: 100%;*/
    top: auto; }
  .smartapp 
  .header--standard .header-menu .dropdown-item {
    padding: 10px 30px; }
  /*.smartapp 
  .nav-item {
    width: 100%; }*/
  .smartapp 
  .open-responsive-menu {
    display: block; }
  .smartapp 
  .close-responsive-menu {
    display: block; }
  .smartapp 
  .header-spacer--standard {
    height: 70px; }
  .smartapp 
  .header--standard {
    z-index: 21; }
  .smartapp 
    .header--standard .ps {
      -ms-touch-action: auto;
      touch-action: auto;
      overflow: hidden !important;
      -ms-overflow-style: none; }
  .smartapp 
    .header--standard .ps:hover > .ps__scrollbar-x-rail, 
    .smartapp 
  .header--standard .ps:hover > .ps__scrollbar-y-rail {
      display: block; }
  .smartapp 
  .megamenu .row > * {
    width: 100%;
    max-width: 100%; }
  .smartapp 
    .megamenu .row > * + * {
      margin-top: 15px; }
  .smartapp 
  .header--standard.headroom--not-top .header-menu .nav-link {
    padding: 15px 25px; }
  .smartapp 
  .dropdown-menu.megamenu .dropdown-item:hover {
    padding-left: 35px; } 
.smartapp #stream-container{
    width: 100%;
    max-width: 100%;
    order: 1;
    flex: 0 0 100%;
}
.smartapp .app-dashboard aside{ display: none; }
.smartapp .container {
    margin-right: 15px;
    margin-left: 0px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 100% !important;
}

/* CHAT */

.smartapp .popup-chat-responsive.open-chat{
  bottom: 0;
  top: 100px;
  right: 0px;
  width: 100%;
  max-width: 100% !important;
}

.smartapp .js-chat-maximize{
  display:none;
}


@media (min-width: 740px){
   
  .smartapp p,
  .smartapp a,
  .smartapp span,
  .smartapp div,
  .smartapp input,
  .smartapp button,
  .smartapp textarea{
    font-size: 1.1em !important;
  }
  .smartapp small{
    font-size: 100%;
  }


  .smartapp .news-block p{
    font-size: 1.1em;
  }

  .smartapp .header-responsive i.fa, .smartapp #container-activity .control-icon i.fa {
    font-size: 40px;
    margin-top: 10px;
  }
  .smartapp .header {
    height: 100px;
  }

  .smartapp .header-spacer{
    height: 120px;
  }

  .smartapp .fixed-sidebar-left.sidebar--small {
    width: 95px;
  }

  .smartapp .fixed-sidebar-left .logo-earth{
    height: 60px
  }
  .smartapp .fixed-sidebar-left .logo-nexxo{
    height: 25px
  }
  .smartapp .mobile-app-tabs{
    padding-left:60px;
  }

  .smartapp .fixed-sidebar-right{
    top:30px;
  }

  .smartapp .mobile-app-tabs .nav-item{
    height:85px;
  }

  body.smartapp #sidebar-left-responsive .logo, 
  body.smartapp #sidebar-left-1-responsive .logo, 
  body.smartapp #sidebar-left .logo, 
  body.smartapp #sidebar-left-1 .logo {

      height: 100px;
  }

  /* CHAT */
  .smartapp .popup-chat .title .mCS_img_loaded{
    height: 50px;
    margin-right: 20px !important;
  }
  .smartapp #sidebar-right-1 .author-thumb img{
    height:60px;

  }
}

/*body.smartapp{
   zoom: 2; 
    -moz-transform: scale(2); 
    -moz-transform-origin: 0 0;
}*/