{% trans_default_domain 'superadmin' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}
<style>
.skills-item .skills-item-meter{
	height: 15px;
}
.skills-item-meter-active{
	top: unset;
}
.comments-list .skills-item-meter-active{
	top: unset;
}
</style>

<!-- <script src="{{ asset("js/mediathequeObj.js") }}"></script>
<script src="{{ asset("js/comment.js") }}"></script>
<script src="{{ asset("js/adminObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('css/news.css') }}" /> -->

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<h4 class="title">
						Hello superAdmin !
						
						<small class="float-right margin-right-25">
							<span class="count-user-online"></span> 
							<i class="fa fa-envelope"></i> Global e-mail
						</small>
					</h4>			
				</div>
			</div>
		</div>

		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					{% for contact in contacts %}
						{{ contact.name }}, 
					{% endfor %}
				</div>

				<div class="padding-15">
				{{ form_start(form, { 'action' : path('send-global-mail') }) }}
					<div class="form-group">
						{{ form_widget(form.object, {'attr': {'class': 'form-control', 'placeholder':'Objet...'|trans}}) }}
	                    {{ form_help(form.object) }}
	                    {{ form_errors(form.object) }}
	                </div>
	                <div class="form-group">
					    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder':'E-mail text...'|trans}}) }}
	                    {{ form_help(form.message) }}
	                    {{ form_errors(form.message) }}
					</div>

					<button class="btn btn-blue pull-right" type="submit">Envoyer</button>
				{{ form_end(form) }}
				</div>

				<h6 class="ui-block-content d-none" id="process-status">
				</h6>
			</div>
		</div>

	</div>
</div>


<script>
    $( document ).ready(function() {
		//adminObj.initUi();
    });
</script>

{% endblock %}

