{% trans_default_domain 'theme' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<div class="header-spacer"></div>

<div class="container">
	<div class="row text-center d-none">
		<!-- <h2 class="text-center full-width">
			<i class="fa fa-newspaper-o"></i> 
			{# <br> #}
			{% trans %}News stream{% endtrans %}
			{# <br> #}
			<hr>
			{# <i class="fa fa-angle-down"></i>  #}
		</h2> -->
		<h2 class="full-width"><i class="fa fa-newspaper-o"></i> {% trans %}News stream{% endtrans %}</h2>
		<p class="full-width">
			{% trans %}Find all the news of your friends and pages to which you are subscribed{% endtrans %},<br>
			{% trans %}as well as geolocated messages sent by other members of the network{% endtrans %}...
			<a href="javascript:" class="btn-open-help-intro">{% trans %}Know more{% endtrans %}</a>
		</p>
		<div class="help-intro d-none text-center full-width">
			<p>
				<i class="fa fa-link"></i> 
				{% trans %}To follow the news of a page in your news feed, click on the button{% endtrans %} 
				<button class="btn btn-blue btn-sm no-margin padding-5 border-radius-15" style="width:28px;">
					<i class="fa fa-link"></i>
				</button>
				<br><br>
				<i class="fa fa-globe"></i> 
				{% trans %}You will automatically receive location-based messages when you are in their broadcast area{% endtrans %}.<br>
				({% trans %}provided you are located on the map{% endtrans %})
				{# BTN LOCALISE PAGE #}
				{% if app.user.myUserPage.relations.ImAdminOf(page.slug) and app.user.myUserPage.coordinates[0] == false %}
					<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}" 
						class="letter-blue" data-toggle="tooltip" 
						data-original-title="{% trans %}Give your position to activate local communication{% endtrans %}">
						<i class="fa fa-map-marker"></i> {% trans %}Localise your page{% endtrans %}
					</a>
				{% endif %}

			</p>
		</div>
		<h2 class="full-width"><hr></h2>
	</div>
	<div class="row">

		<!-- Main Content -->
		<div class="col">
			<div id="global-map-container" style="position:fixed;top:70px;left:70px;width:50%;"></div>
		</div>
		<!-- ... end Main Content -->


		<!-- Left Sidebar -->
		<!-- <aside class="col-xl-3 order-xl-1 col-lg-4 order-lg-1 order-md-1 order-sm-2 col-md-4 col-sm-12 col-xs-12">
			
			

		</aside> -->
		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->
		<div class="pull-right" style="width:40%" 
				id="stream-container">
			{{ include('news/news-stream.html.twig', { "dashboard" : "true",
													   "posts" : posts, 
													   "page": page, 
													   "commentForm" : commentForm }) }}

			

		</div>
		<!-- ... end Right Sidebar -->
	</div>
</div>

{{ include('news/modals/modal-upload-picture.html.twig') }}

<script src="{{ asset('js/sig/sig.js') }}"></script>
<script src="{{ asset('js/newsObj.js') }}"></script>
<script>
	var myPosition =  {{ myPosition|json_encode|raw }};

	//var newsObj.currentPosts =  {{ posts|json_encode|raw }};

	// searchObj.latSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[0] }}
	// 						{% else %}false{% endif %};
	
	// searchObj.lngSearch =   {% if coordinatesSearch is defined %}{{ coordinatesSearch[1] }}
	// 						{% else %}false{% endif %};
	
	// searchObj.radiusSearch =  {% if radiusSearch is defined %}{{ radiusSearch }}
	// 						  {% else %}false{% endif %};


	// searchObj.typesSearch = "{% if typesSearch is defined %}{{ typesSearch }}{% endif %}";
	// searchObj.yourSearch =  "{% if yourSearch is defined %}{{ yourSearch }}{% endif %}";

	$( document ).ready(function() {
		newsObj.isGlobalMap = true;
		newsObj.initMap(myPosition);
    });
</script>

{% endblock %}