{% trans_default_domain 'news' %}


{% extends(extends) %}



{% block metadata %}
    <meta charset="UTF-8" />
    <meta property="og:url"                content="{{ base_url }}/news/{{ post.id }}" />
    <meta property="og:type"               content="application" />
    <meta property="og:title"              content="{{ post.target.name }} | sur Nexxo" />
    <meta property="og:description"        content="{{ post.text|slice(0, 200) }}" />

    <meta name="description" content="{{ post.text|slice(0, 200) }}"/>

    {% if post.image != null %}
    	<meta property="og:image" 
    		  content="{{ base_url }}{{ asset('uploads/imgNews/' ~ post.image) }}" />
	{% else %}
		{% if 'https://' in post.target.imageBanner %}
	    <meta property="og:image"              content="{{ post.target.imageBanner }}" />
        {% else %}
	    <meta property="og:image"              content="{{ base_url }}{{ post.target.imageBannerAsset }}" />
        {% endif %}
	{% endif %}

{% endblock %}

{% block title %}
    <title data-title="{{ post.target.name }} | sur Nexxo" data-count="0">
        {{ post.target.name }} | sur nexxociety.co
    </title>
{% endblock %}

{% block body %}

<script src="{{ asset("js/newsObj.js") }}"></script>
<script src="{{ asset("js/comment.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/news.css') }}" />

<div class="header-spacer"></div>
<div class="container">
	<div class="row">
		<!-- Main Content -->
		<main class="col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">
			<div id="newsfeed-items-grid">
					{{ include('news/blocks/news-post.html.twig', { 'post' : post,
							                					    'commentForm' : commentForm,
							                					    'parentType' : 'news',
							                					    'parentId' : post.id,
							                					    'showCommentBlock' : true }) }}
			</div>
		</main>
		<!-- Left Sidebar -->
		<aside class="col-xl-2 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12"></aside>
	</div>
</div>

<script>
	$( document ).ready(function() {
		newsObj.initSharePost();
		newsObj.initLikePost();
		comment.initUi();
        comment.initFormAddComment();
	});
</script>
{% endblock %}