{% trans_default_domain 'news' %}

{% set lastPost = null %}
{% for post in posts %}
	{% set lastPost = post %}
	{{ include('news/blocks/news-post.html.twig', { "post" : post, "page" : page }) }}
{% endfor %}

{% if lastPost != null %}
<button id="load-more-button" class="btn btn-control btn-more" 
	data-filter="active" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}" 
	data-timestamp="{{ lastPost.created|date('U') }}">
	<i class="fa fa-refresh"></i>
</button>
{% else %}
<h5 class="text-center">
	<i class="fa fa-ban"></i> {% trans %}End of newsfeed{% endtrans %}
	<br>
	<button class="btn btn-control btn-more btn-filter-stream"
			{# data-toggl="tooltips" data-original-title="Recharger le fil d'actu" data-placement="bottom" #}
			data-filter="active" data-id-target="{{ page.id }}" data-is-dashboard="{{ dashboard }}">
		<i class="fa fa-refresh"></i>
	</button>
</h5>
{% endif %}