{% trans_default_domain 'news' %}


{% if media.isTubeUrl == "youtube" and hideVideo is not defined %}
	<div class="col col-12 media-shared padding-15">
		<iframe width="100%" height="315" src="{{ media.TubeIframeUrl(media.isTubeUrl) }}" 
		frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
{% elseif media.isTubeUrl == "peertube" and hideVideo is not defined %}
	<div class="col col-12 media-shared padding-15">
		<iframe width="100%" height="315" sandbox="allow-same-origin allow-scripts" 
				src="{{ media.TubeIframeUrl(media.isTubeUrl) }}" frameborder="0" allowfullscreen></iframe>
	</div>
{% elseif media.isTubeUrl == "vimeo" and hideVideo is not defined %}
	<div class="col col-12 media-shared padding-15">
		<iframe src="{{ media.TubeIframeUrl(media.isTubeUrl) }}" width="100%" height="315" 
				frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% else %}
	<div class="col col-12 media-shared padding-15">
		<div class="col col-12 no-padding">
			<a href="{{ media.url }}" target="_blank"><img src="{{ media.image }}" class="uniq-img"></a>
		</div>
		<div class="col col-12 padding-15 media-description">
			<a href="{{ media.url }}" target="_blank"><b>{{ media.title|raw }}</b></a>
			{# <hr class="margin-5"> #}
			<p class="d-none d-sm-inline" style="font-size:1em;">{{ media.description|raw }}</p>
		</div>
	</div>
{% endif %}