{% trans_default_domain 'news' %}

<div class="row margin-top-15 margin-bottom-15 padding-right-15 media-shared">
	<div class="col col-4" style="max-height:100px; overflow:hidden;">
		<a href="{{ media.url }}" target="_blank"><img src="{{ media.image }}" class="full-width"></a>
	</div>
	<div class="col col-8 no-padding">
		<a href="{{ media.url }}" target="_blank"><b>{{ media.title }}</b></a>
		<hr class="margin-5">
		<p class="d-none d-sm-inline" style="font-size:1em;">{{ media.description|raw }}</p>
	</div>
</div>