{% trans_default_domain 'news' %}

<div class="ui-block news-block" data-news-id="{{ post.id }}" 
	 data-target-id="{{ post.target.id }}" data-signed-id="{{ post.signed.id }}">

	{% if post == null %}

		<article class="hentry post video">
			<div class="letter-red">
			<i class="fa fa-exclamation-triangle"></i> 
				{% trans %}Sorry, this post no longer exists.{% endtrans %}
			</div>
			<p class="margin-5">
			{% trans %}It may have been removed by his author, or was linked to a post that has been remove by collective moderation.{% endtrans %}
			</p>
		</article>

	{% elseif (post.author.isActive == false and post.isFirstMsg == false)
		    or (post.signed.isActive == false and post.isFirstMsg == false) %}

		<article class="hentry post video">
			<div class="letter-red">
				<i class="fa fa-lock"></i>
				{% trans %}Sorry, the author of this post{% endtrans %}, 
					<a class="" href="{{ path('page', {'slug' : post.signed.slug })}}">{{ post.signed.name }}</a>, 
				{% trans %}has been locked by moderation, so you can not access this content anymore.{% endtrans %}
			</div>
		</article>
		
	{% else %}

		<article class="hentry post video" data-news-id="{{ post.id }}">

			{{ include ('news/blocks/report-header.html.twig', { "post" : post }) }}

			{% if post.isActive == true or (showForModeration is defined and showForModeration == true) %}
				<div class="post__author author vcard inline-items">


					{% if app.user != null and app.user.myUserPage.isActive == true %} 
						<div class="more">
							{# <svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-three-dots-icon"></use></svg> #}
							<i class="fa fa-ellipsis-h"></i>
							<ul class="more-dropdown">
								{% if app.user.myUserPage.relations.imAdminOf(post.signed.slug) %}
									<li class="no-padding remove-on-received">
										<a href="javascript:" class="btn-edit-post" data-news-id="{{ post.id }}">
											<i class="fa fa-pencil"></i> {% trans %}Edit post{% endtrans %}
										</a>
									</li>
								{% endif %}
								{% if app.user.myUserPage.relations.imAdminOf(post.signed.slug) or 
								   	  app.user.myUserPage.relations.imAdminOf(post.target.slug) %}
									<li class="no-padding remove-on-received">
										<a href="javascript:" class="btn-delete-post" data-news-id="{{ post.id }}">
											<i class="fa fa-trash"></i> {% trans %}Delete post{% endtrans %}
										</a>
									</li>
									<hr>
								{% endif %}
								<!-- <li>
									<a href="javascript:">
										Ne plus voir les publications de {{ post.signed.name }}
									</a>
								</li> -->
								{% if post.report != null and 
									  post.report.inAuthors(app.user.myUserPage.slug) == true %}
										<a href="javascript:" class=" letter-red">
											<i class="fa fa-flag"></i> {% trans %}You already reported this news{% endtrans %}
										</a>
								{% else %}
										<a href="javascript:" class="btn-want-send-report letter-red" 
										 	data-toggle="modal" data-target="#modal-quickview"
											data-about-type="news" data-about-id="{{ post.id }}">
											<i class="fa fa-flag"></i> {% trans %}Report this news{% endtrans %}
										</a>
								{% endif %}
							</ul>
						</div>
						{% if (post.signed.id != app.user.myUserPage.id
					   	   or post.target.id != app.user.myUserPage.id) %} 
							<div class="more options">
								<i class="fa fa-scissors"></i>
								<ul class="more-dropdown">

									{% if app.user.myUserPage.id != post.signed.id %}
										<li>
											<a href="javascript:" class="btn-bw-list" data-news-id="{{ post.id }}"
												data-bw-type="blacklist" data-page-id="{{ post.signed.id }}">
												<i class="fa fa-scissors fa-2x"></i> 
												<img src="{{ post.signed.imageProfilAsset }}" 
													 style='height: 30px; width: 30px;margin-left:10px;margin-bottom: 3px;'> 
												<span class="elipsis">{{ post.signed.name }}</span><br>
											  	<i class="fa fa-angle-right"></i> 
											  	Cliquez pour ne plus recevoir les publications de cette page
												
											</a>
										</li>
									{% endif %}
									{% if post.target.id != post.signed.id %}
										<li><hr class="margin-5">
											<a href="javascript:" class="btn-bw-list" data-news-id="{{ post.id }}"
											    data-bw-type="blacklist" data-page-id="{{ post.target.id }}">
												<i class="fa fa-scissors fa-2x"></i> 
												<img src="{{ post.target.imageProfilAsset }}" 
													 style='height: 30px; width: 30px;margin-left:10px;margin-bottom: 3px;'>
												<span class="elipsis">{{ post.target.name }}</span><br>
												<i class="fa fa-angle-right"></i> 
											  	Cliquez pour ne plus recevoir les publications de cette page
											</a>
										</li>
									{% endif %}
								</ul>
							</div>
							<div class="more options">
								<i class="fa fa-star 
									{% if app.user.myUserPage.relations.inWhiteList(post.signed.slug) 
									   or app.user.myUserPage.relations.inWhiteList(post.target.slug) %}letter-yellow{% endif %}" data-page-id="{{ post.target.id }}">
								</i>
								<ul class="more-dropdown">
									{% if app.user.myUserPage.id != post.signed.id %}
										<li>
											<a href="javascript:" class="btn-bw-list" data-news-id="{{ post.id }}"
												data-bw-type="whitelist" data-page-id="{{ post.signed.id }}">
												<i class="fa fa-star fa-2x 
													{% if app.user.myUserPage.relations.inWhiteList(post.signed.slug) %}letter-yellow{% endif %}" data-page-id="{{ post.target.id }}">
									   	
									   			</i> 
													<img src="{{ post.signed.imageProfilAsset }}" 
														 style='height: 30px; width: 30px;margin-left:10px;margin-bottom: 3px;'> 
													<span class="elipsis">{{ post.signed.name }}</span><br>
												  	<i class="fa fa-angle-right"></i> 
												  	Ajouter cette page à vos favoris
												
											</a>
										</li>
									{% endif %}
									{% if post.target != post.signed %}
										<li><hr class="margin-5">
											<a href="javascript:" class="btn-bw-list" data-news-id="{{ post.id }}"
												data-bw-type="whitelist" data-page-id="{{ post.target.id }}">
												<i class="fa fa-star fa-2x 
													{% if app.user.myUserPage.relations.inWhiteList(post.target.slug) %}letter-yellow{% endif %}"  data-page-id="{{ post.target.id }}"></i>
												
													<img src="{{ post.target.imageProfilAsset }}" 
														 style='height: 30px; width: 30px;margin-left:10px;margin-bottom: 3px;'>
													<span class="elipsis">{{ post.target.name }}</span><br>
												  	<i class="fa fa-angle-right"></i> 
												  	Ajouter cette page à vos favoris
											</a>
										</li>
									{% endif %}
								</ul>
							</div>
							<div class="more options">
								<i class="fa fa-link 
									{% if app.user.myUserPage.relations.inFollows(post.signed.slug) 
									   or app.user.myUserPage.relations.inFollows(post.target.slug) %}letter-blue{% endif %}"  data-slug-page="{{ post.signed.slug }}"></i>
								<ul class="more-dropdown">
									{% if app.user.myUserPage.id != post.signed.id %}
										<li>
											<a href="javascript:" class="btn-send-request-follow"  
												data-news-id="{{ post.id }}"
												data-slug-page="{{ post.signed.slug }}" data-slug-page-confirm="true">
												<i class="fa fa-link fa-2x 
													{% if app.user.myUserPage.relations.inFollows(post.signed.slug) %}letter-blue{% endif %}" data-slug-page="{{ post.signed.slug }}">
									   	
									   			</i> 
													<img src="{{ post.signed.imageProfilAsset }}" 
														 style='height: 30px; width: 30px;margin-left:10px;margin-bottom: 3px;'> 
													<span class="elipsis">{{ post.signed.name }}</span><br>
												  	<i class="fa fa-angle-right"></i> 
												  	S'abonner à cette page
												
											</a>
										</li>
									{% endif %}
									{% if post.target != post.signed %}
										<li><hr class="margin-5">
											<a href="javascript:" class="btn-send-request-follow"  data-news-id="{{ post.id }}"
												data-slug-page="{{ post.target.slug }}" data-slug-page-confirm="true">
												<i class="fa fa-link fa-2x 
													{% if app.user.myUserPage.relations.inFollows(post.target.slug) %}letter-blue{% endif %}" data-slug-page="{{ post.signed.slug }}"></i>
												
													<img src="{{ post.target.imageProfilAsset }}" 
														 style='height: 30px; width: 30px;margin-left:10px;margin-bottom: 3px;'>
													<span class="elipsis">{{ post.target.name }}</span><br>
												  	<i class="fa fa-angle-right"></i> 
												  	S'abonner à cette page
											</a>
										</li>
									{% endif %}
								</ul>
							</div>
						{% endif %}
						
					{% endif %}

					{% if post.target == post.signed %}
						<img src="{{ post.signed.imageProfilAsset }}" alt="author">
					{% else %}
						<img src="{{ post.target.imageProfilAsset }}" alt="author">
					{% endif %}

					<div class="author-date elipsis" style="max-width:60%;">

						{% if post.target.type == "classified" %}

							<!-- {% trans %}New message posted on the announce{% endtrans %} <br> -->
							<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.target.slug })}}">
								{{ post.target.name }} <span class="separator"> · </span>
								<strong class="letter-yellow" style="font-size:19px;">{{ post.target.price }} Ğ</strong>
							
							<br>
							<span style="font-weight:200; font-size:14px;">{{ post.target.description|slice(0,100) }}...</span>
							</a> 
							<hr class="margin-5">
						 	<i class="fa fa-caret-right margin-left-5 margin-right-5"></i> 
						 	{% trans %}New message from{% endtrans %}
						 	<a href="{{ path('page', { "slug" : post.signed.slug }) }}">
						 		<img src="{{ post.signed.imageProfilAsset }}" style="width:20px; height:20px; margin:0 0 0 0px;">
						 		{{ post.signed.name }}
						 	</a>
						{% else %}

							{% if post.target == post.signed %}
								<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.signed.slug })}}">
									{{ post.signed.name }}
								</a> 
							{% else %}
								<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.target.slug })}}">
									{{ post.target.name }}
								</a> 
							{% endif %}

							{% if post.newsShared is not defined or post.newsShared == null %}
								{% if post.target == post.signed %}{% trans %}published a{% endtrans %}
								{% else %}{% trans %}received a{% endtrans %}{% endif %}
								<a href="{{ path('news-single-post', { "id" : post.id }) }}">
									{% trans %}message{% endtrans %}
								</a> 
							{% else %}
								<a href="{{ path('news-single-post', { "id" : post.id }) }}">
									{% trans %}shared{% endtrans %}
								</a> 
								{% trans %}a{% endtrans %} 
								<a href="{{ path('news-single-post', { "id" : post.newsShared.id }) }}">
									{% trans %}message{% endtrans %}
								</a>
							{% endif %}

							{% if post.target != post.signed %}
								<br>
							 	<i class="fa fa-caret-right margin-left-5 margin-right-5"></i> {% trans %}from{% endtrans %}
							 	<a href="{{ path('page', { "slug" : post.signed.slug }) }}">
							 		<img src="{{ post.signed.imageProfilAsset }}" style="width:20px; height:20px; margin:0 0 0 0px;">
							 		{{ post.signed.name }}
							 	</a>
							{% endif %}

						{% endif %}
						

						{% if post.scopeType == "groups" %}
							{% trans %}for some{% endtrans %} <b>{% trans %}groups{% endtrans %}</b>
						{% endif %}

						{% if post.scopeType == "localised" %} <br>
							<a href="javascript:" class="btn-show-scope-news" data-news-id="{{ post.id }}" data-radius="{{ post.radiusKm }}"
							 data-signed-name="{{ post.signed.name }}" data-signed-thumb="{{ post.signed.imageProfil }}" 
							 data-signed-type="{{ post.signed.type }}" data-signed-slug="{{ post.signed.slug }}" data-signed-address="{{ post.signed.city }}"
							 data-lat="{{ post.scopeGeo.origin[0] }}" data-lng="{{ post.scopeGeo.origin[1] }}">
								<i class="fa fa-map-marker"></i><b> {{ post.radiusKm }} km</b> {% trans %}around this position{% endtrans %}
							</a>
						{% endif %}

						<div class="post__date">
							<time class="published" datetime="{{ post.created|date() }}">
								<i class="fa fa-clock-o"></i>
								{{ post.created|date_modify('-1 second')|ago }}
								<span class="separator"> · </span>
								{{ post.created|localizeddate('short', 'none', app.request.locale) }}
							</time>
												
							<span class="separator"> · </span>
							
							<small>
								{% if post.scopeType == "followers" %}<i class="fa fa-link"></i>{% endif %}
								{% if post.scopeType == "friends" %}<i class="fa fa-group"></i>{% endif %}
								{% if post.scopeType == "groups" %}<i class="fa fa-circle"></i>{% endif %}
								{% if post.scopeType == "localised" %}<i class="fa fa-globe"></i>{% endif %}
								{% if post.scopeType == "all" %}<i class="fa fa-circle"></i>{% endif %}
							</small>

							{% if post.scopeType == "groups" %}
								<br>
								{% for group in post.scopeGroups %}
									<span data-toggle="tooltips" data-original-title="">
										<b><i class="fa fa-group"></i> {{ group.name }}</b>
									</span>
								{% endfor %}
							{% endif %}
						</div>			
					</div>


				</div>

				<div class="map-container-scope d-none" id="map-container-scope-{{ post.id }}"></div>
				<p class="textHtml main-text" data-post-id="{{ post.id }}">
					{{ post.textHtml("letter-tag")|raw|nl2br }}
				</p>

				<a href="javascript:" class="d-none btn-read-more-post" data-post-id="{{ post.id }}">
					<i class="fa fa-angle-right"></i> {% trans %}Read more{% endtrans %}
				</a>

				{% if post.image != null %}
					<img src="{{ asset('uploads/imgNews/' ~ post.image) }}" class="img-news"/>
				{% endif %}

				<textarea class="form-control input-edit-news d-none"></textarea>
				<button class="btn bg-green btn-update-news d-none" data-news-id="{{ post.id }}">
					<i class="fa fa-save"></i> {% trans %}save changes{% endtrans %}
				</button>
				<button class="btn btn-link letter-red margin-left-5 btn-cancel-update-news d-none" 
						data-news-id="{{ post.id }}">
					<i class="fa fa-cross"></i> {% trans %}Cancel{% endtrans %}
				</button>
				

				<div class="col-12 no-padding d-none conf-delete-news">
					<button class="btn bg-green btn-conf-delete-news margin-5" data-news-id="{{ post.id }}">
						<i class="fa fa-trash"></i> {% trans %}Delete this post{% endtrans %}
					</button>
					<button class="btn btn-link letter-red margin-5 btn-cancel-delete-news" 
							data-news-id="{{ post.id }}">
						<i class="fa fa-cross"></i> {% trans %}Cancel{% endtrans %}
					</button>
				</div>


				{% if post.medias is defined %}
					<div class="row padding-5">
					{% if post.medias|length > 1 %}
						{% for media in post.medias %}
							{{ include("news/blocks/media-shared-multi.html.twig", { 'media' : media }) }}
						{% endfor %}
					{% else %}
						{% for media in post.medias %}
							{{ include("news/blocks/media-shared.html.twig", { 'media' : media }) }}
						{% endfor %}
					{% endif %}
					</div>
				{% endif %}

				{% if post.newsShared is defined and post.newsShared is not null %}
					<div class="author vcard inline-items shared-post padding-15 border-light border-1 border-solid">

						{{ include ('news/blocks/report-header.html.twig', { "post" : post.newsShared }) }}

						{% if post.newsShared.isActive == true %}
							<button class="btn btn-link float-right open-notification" 
									data-about-id="{{ post.newsShared.id }}" data-about-type="news"
									data-toggle="tooltip" data-original-title="{% trans %}open this post{% endtrans %}"
									title="{% trans %}open this post{% endtrans %}">
									<i class="fa fa-chevron-right"></i>
							</button>

							{% if post.newsShared.target == post.newsShared.signed %}
								<img src="{{ post.newsShared.signed.imageProfilAsset }}" height="40" alt="author">
							{% else %}
								<img src="{{ post.newsShared.target.imageProfilAsset }}" height="40" alt="author">
							{% endif %}

							<!-- <img src="{{ post.newsShared.signed.imageProfilAsset }}" height="40"> -->

							<!-- <div class="author-date elipsis" style="max-width:60%;">
								<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.newsShared.signed.slug })}}">
									{{ post.newsShared.signed.name }}
								</a> 
								<div class="post__date">
									<time class="published" datetime="{{ post.newsShared.created|date() }}">
										<i class="fa fa-clock-o"></i>
										{{ post.newsShared.created|date_modify('-1 second')|ago }}
										<span class="separator"> · </span>
										{{ post.created|localizeddate('short', 'none', app.request.locale) }}
									</time>
								</div>
							</div> -->
							<div class="post__author author-date elipsis margin-5" style="max-width:60%;">

							{% if post.newsShared.target.type == "classified" %}

								<!-- {% trans %}New message posted on the announce{% endtrans %} <br> -->
								<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.newsShared.target.slug })}}">
									{{ post.newsShared.target.name }} <span class="separator"> · </span>
									<strong class="letter-yellow" style="font-size:19px;">{{ post.newsShared.target.price }} Ğ</strong>
								
								<br>
								<span style="font-weight:200; font-size:14px;">{{ post.newsShared.target.description|slice(0,100) }}...</span>
								</a> 
								<hr class="margin-5">
							 	<i class="fa fa-caret-right margin-left-5 margin-right-5"></i> 
							 	{% trans %}New message from{% endtrans %}
							 	<a href="{{ path('page', { "slug" : post.newsShared.signed.slug }) }}">
							 		<img src="{{ post.newsShared.signed.imageProfilAsset }}" style="width:20px; height:20px; margin:0 0 0 0px;">
							 		{{ post.newsShared.signed.name }}
							 	</a>

							{% else %}

								{% if post.newsShared.target == post.signed %}
									<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.newsShared.signed.slug })}}">
										{{ post.newsShared.signed.name }}
									</a> 
								{% else %}
									<a class="h6 post__author-name fn" href="{{ path('page', {'slug' : post.newsShared.target.slug })}}">
										{{ post.newsShared.target.name }}
									</a> 
								{% endif %}

								{% if post.newsShared.newsShared is not defined or post.newsShared.newsShared == null %}
									{% if post.newsShared.target == post.signed %}{% trans %}published a{% endtrans %}
									{% else %}{% trans %}received a{% endtrans %}{% endif %}
									<a href="{{ path('news-single-post', { "id" : post.newsShared.id }) }}">
										{% trans %}message{% endtrans %}
									</a> 
								{% else %}
									<a href="{{ path('news-single-post', { "id" : post.newsShared.id }) }}">
										{% trans %}shared{% endtrans %}
									</a> 
									{% trans %}a{% endtrans %} 
									<a href="{{ path('news-single-post', { "id" : post.newsShared.newsShared.id }) }}">
										{% trans %}message{% endtrans %}
									</a>
								{% endif %}

								{% if post.newsShared.target != post.newsShared.signed %}
									<br>
								 	<i class="fa fa-caret-right margin-left-5 margin-right-5"></i> {% trans %}from{% endtrans %}
								 	<a href="{{ path('page', { "slug" : post.newsShared.signed.slug }) }}">
								 		<img src="{{ post.newsShared.signed.imageProfilAsset }}" style="width:20px; height:20px; margin:0 0 0 0px;">
								 		{{ post.newsShared.signed.name }}
								 	</a>
								{% endif %}
							{% endif %}

							<div class="post__date">
								<time class="published" datetime="{{ post.created|date() }}">
									<i class="fa fa-clock-o"></i>
									{{ post.newsShared.created|date_modify('-1 second')|ago }}
									<span class="separator"> · </span>
									{{ post.newsShared.created|localizeddate('short', 'none', app.request.locale) }}
								</time>
													
								<span class="separator"> · </span>
								
								<small>
									{% if post.newsShared.scopeType == "followers" %}<i class="fa fa-link"></i>{% endif %}
									{% if post.newsShared.scopeType == "friends" %}<i class="fa fa-group"></i>{% endif %}
									{% if post.newsShared.scopeType == "groups" %}<i class="fa fa-circle"></i>{% endif %}
									{% if post.newsShared.scopeType == "localised" %}<i class="fa fa-globe"></i>{% endif %}
									{% if post.newsShared.scopeType == "all" %}<i class="fa fa-circle"></i>{% endif %}
								</small>

								{% if post.newsShared.scopeType == "groups" %}
									<br>
									{% for group in post.scopeGroups %}
										<span data-toggle="tooltips" data-original-title="">
											<b><i class="fa fa-group"></i> {{ group.name }}</b>
										</span>
									{% endfor %}
								{% endif %}
							</div>	

							</div>

							<br>		

							<p class="textHtml {% if post.newsShared.textHtml|length > 500 %}limited{% endif %}">
								{{ post.newsShared.textHtml("letter-tag")|raw|nl2br }}
							</p>
							
							{% if post.newsShared.image != null %}
								<br><br>
								<img src="{{ asset('uploads/imgNews/' ~ post.newsShared.image) }}" class="img-news"/>
							{% endif %}


							
							{% if post.newsShared.medias is defined %}
								<div class="row padding-5">
								{% if post.newsShared.medias|length > 1 %}
									{% for media in post.newsShared.medias %}
										{{ include("news/blocks/media-shared-multi.html.twig", { 'media' : media }) }}
									{% endfor %}
								{% else %}
									{% for media in post.newsShared.medias %}
										{{ include("news/blocks/media-shared.html.twig", { 'media' : media }) }}
									{% endfor %}
								{% endif %}
								</div>
							{% endif %}
							
							{% if post.sharedByMyRelations|length > 0 %}
								<br><hr class="full-width">
								<ul class="friends-harmonic">
									{% set iMax = 2 %}
									{% set i = 0 %}
									{% for sharedBy in post.sharedByMyRelations %}{% set i = i+1 %}
										{% if i <= iMax %}
										<li>
											<a href="{{ path('page', {'slug' : sharedBy.signed.slug })}}">
												<img src="{{ sharedBy.signed.imageProfilAsset }}" 
													 height="24" style="height:24px; width:24px;" alt="shared by">
											</a>
										</li>
										{% endif %}
									{% endfor %}
								</ul>

								<div class="names-people-likes">
									{% trans %}also shared by{% endtrans %} 

									{% set i = 0 %}
									{% for sharedBy in post.sharedByMyRelations %}{% set i = i+1 %}
										{% if i <= iMax %}
											<a href="{{ path('page', {'slug' : sharedBy.signed.slug })}}" class="h6 post__author-name">
												{{ sharedBy.signed.name }}
											</a>
											{% if i < post.sharedByMyRelations|length %}
												{% if i < iMax-1 %}, {% endif %}
												{% if i == iMax-1 %}{% trans %}and{% endtrans %} {% endif %}
											{% endif %}
										{% endif %}
									{% endfor %} 

									{#
									{% if ((post.sharedByMyRelations|length) - iMax) == 1 %}
										{% trans %}and{% endtrans %} 
										{{ (post.sharedByMyRelations|length) - iMax }} 
										{% trans %}other{% endtrans %} 
									{% elseif ((post.sharedByMyRelations|length) - iMax) > 1 %}
										{% trans %}and{% endtrans %} 
										{{ (post.sharedByMyRelations|length) - iMax }} 
										{% trans %}other{% endtrans %}s 
									{% endif %}

									{% trans %}also{% endtrans %} 

									<b>{% trans %}shared{% endtrans %}</b> 
									{% trans %}this{% endtrans %} 

									<a href="{{ path('news-single-post', { "id" : post.newsShared.id }) }}" class="h6f">
										{% trans %}message{% endtrans %}
									</a> 
									#}
								</div>
							{% endif %}


							<hr class="full-width margin-top-5 margin-bottom-5">
							<small><i class="fa fa-eye"></i> {{ post.newsShared.viewCount }} {% trans %}views{% endtrans %}</small>
							
						{% endif %}
					</div>
				{% endif %}

				{% if app.user != null and 
					(app.user.myUserPage.report == null or app.user.myUserPage.report.status != "DISABLED")  %}
				<style>
				.post-add-icon, .post-add-icon{
					opacity: 0.7;
				}
				</style>
				<div class="post-additional-info inline-items">

					<a href="javascript:"  title="{% trans %}I like it{% endtrans %}"
						class="btn-post-like inline-items letter-green" 
						data-post-id="{{ post.id }}" data-like-type="likes">
						<i class="fa fa-thumbs-up"></i> 
						<span><b>{{ post.likes|length }}</b></span>
					</a>

					<a href="javascript:"  title="{% trans %}I don't like it{% endtrans %}"
						class="btn-post-like inline-items letter-red" 
						data-post-id="{{ post.id }}" data-like-type="dislikes">
						<i class="fa fa-thumbs-down"></i> 
						<span><b>{{ post.dislikes|length }}</b></span>
					</a>
					{# change for comments #}
					{% if post.sharedBy|length > 1 and false %}
						<ul class="friends-harmonic">
							{% for sharedBy in post.sharedBy %}
							<li>
								<a href="#">
									<img src="{{ sharedBy.signed.imageProfilAsset }}" 
										 height="28" alt="{% trans %}shared by{% endtrans %}">
								</a>
							</li>
							{% endfor %}
						</ul>

						{# <div class="names-people-likes">
							<a href="#">Jenny</a>, <a href="#">Robert</a> and
							<br>18 more liked this
						</div> #}
					{% endif %}


					<div class="comments-shared">

						<small><i class="fa fa-eye"></i> {{ post.viewCount }} {% trans %}views{% endtrans %}</small>
						
						{% if post.target.type != "mddoc" %}
						<span class="fb-share-button" 
							 data-href="https://developers.facebook.com/docs/plugins/" 
							 data-layout="button" data-size="small">
							 <a title="{% trans %}Share on Facebook{% endtrans %}" 
							 	 onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ base_url }}{{ path('news-single-post', { "id" : post.id }) }}', 
					                         'newwindow', 
					                         'width=500,height=400'); 
					              return false;"
								href="https://www.facebook.com/sharer/sharer.php?u={{ base_url }}{{ path('news-single-post', { "id" : post.id }) }}" class="letter-blue">
								<i class="fa fa-reply fa-rotate-180"></i> <i class="fa fa-facebook"></i>
							</a>
						</span>
						{% endif %}

						<a href="javascript:" title="{% trans %}Show comments{% endtrans %}" 
							class="post-add-icon inline-items btn-open-comments"
							data-parent-id="{% if post.newsShared is not null %}{{ post.newsShared.id }}{% else %}{{ post.id }}{% endif %}" 
							data-parent-type="news">
							{# <svg class="olymp-speech-balloon-icon">
								<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-speech-balloon-icon"></use>
							</svg> #}
							<i class="fa fa-comment letter-blue"></i> 
							{% if post.newsShared is not null %}
								<span class="letter-blue bold">{{ post.newsShared.commentStream.comments|length }}</span>
							{% else %}
								<span class="letter-blue bold">{{ post.commentStream.comments|length }}</span>
							{% endif %}
						</a>

						{% if post.isSharable is defined and post.isSharable == true %}
							<a href="javascript:" title="{% trans %}Share this publication{% endtrans %}"
								class="post-add-icon inline-items 
								{% if app.user.myUserPage.isActive == true %}btn-share-post{% endif %}" 
							  	data-post-id="{{ post.id }}">
								{# <svg class="olymp-share-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-share-icon"></use></svg> #}
								<i class="fa fa-exchange letter-blue"></i> 
								{% if post.newsShared is defined and post.newsShared is not null %}
									<span class="letter-blue bold">{{ post.newsShared.sharedBy|length }}</span>
								{% else %}
									<span class="letter-blue bold">{{ post.sharedBy|length }}</span>
								{% endif %}
							</a>
						{% endif %}
					</div>
				</div>
				{% endif %}

			{% endif %}
		</article>
		{% if post.report == null or post.report.status != "DISABLED" %}
		<div class="comment-block full-width" 
			 data-parent-id="{% if post.newsShared is not null %}{{ post.newsShared.id }}{% else %}{{ post.id }}{% endif %}" 
			 data-parent-type="news">
			{% if showCommentBlock is defined and showCommentBlock == true %}
				{% if post.newsShared is not null %}{% set post = post.newsShared %}{% endif %}
				{{ include("comment/comment-block.html.twig", {'commentStream' : post.commentStream.comments,
						                					   'commentForm' : commentForm,
						                					   'parentType' : 'news',
						                					   'parentId' : post.id,
						                					   'parentObj' : post,
						                					   'nbMax' : 5 }) }}
				
			{% endif %}
		</div>
		{% endif %}
	

	{% endif %}
</div>
