{% trans_default_domain 'report' %}

<div class="ui-block-title">
	<h6 class="title">
		<i class="fa fa-balance-scale"></i> {% trans %}Do you realy want to report this content ?{% endtrans %}
	</h6>

	<div class="more">
		<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
	</div>
</div>

<div class="ui-block-content letter-dark">
<p>
	<b>{% trans %}Any report is final{% endtrans %}.</b><br>
	{% trans %}You will not be able to cancel your report{% endtrans %}.
	
</p>
<hr>
<p>
	{% trans %}If morer than{% endtrans %} {{ app.user.myUserPage.getMaxReport }} 
	{% trans %}people send a report, a collective moderation procedure will be opened{% endtrans %}.<br>

	{% trans %}As long as the number of report is less than{% endtrans %}
	{{ app.user.myUserPage.getMaxReport }} 
	{% trans %}, the content will not be locked, and no alert will be displayed{% endtrans %}.<br>
	
</p>
<hr>
	<h5>
		<i class="fa fa-angle-down"></i> 
		{% trans %}Please, let us know what is the reason of your report{% endtrans %} <i class="fa fa-pencil"></i> 
	</h5>

	<div class="form-group label-floating is-empty">
        <label class="control-label">{% trans %}your justification{% endtrans %}...</label>
	<textarea class="form-control" id="report-reason"></textarea>
    </div>

</div>

<div class="modal-footer">
	<button class="btn btn-secondary no-margin margin-right-15" 
			 data-dismiss="modal" aria-label="Close">{% trans %}Cancel{% endtrans %}
	</button>
	<button class="btn btn-default letter-red no-margin btn-send-report" 
			 data-dismiss="modal" aria-label="Close">{% trans %}Yes, report it{% endtrans %}
	</button>
</div>