{% trans_default_domain 'group' %}
<script src="{{ asset('js/group.js') }}"></script>

<div id="container-groups-blocks" class="full-width no-margin row">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bottom-15">
		<div class="friend-item friend-groups create-group" data-mh="friend-groups-item">
			<a href="#" class="full-block" data-toggle="modal" data-target="#create-friend-group-1"></a>
			<div class="content">
				<a href="#" class="btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-1">
					{# <svg class="olymp-plus-icon"><use xlink:href="/icons/icons.svg#olymp-plus-icon"></use></svg> #}
					<i class="fa fa-plus fa-2x"></i>
				</a>

				<div class="author-content">
					<a href="#" class="h5 author-name">{% trans %}Create new group{% endtrans %}</a>
				</div>
			</div>
		</div>
	</div>
	{% for group in page.groups %}
		{{ include("group/blocks/block-group.html.twig", { "group" : group }) }}
	{% endfor %}
</div>
<!-- ... end Main Content Groups -->

{{ include("group/forms/form-group.html.twig", 			{"form" : form}) }}
{{ include("group/forms/add-friend-in-group.html.twig", { "friends" : page.relations.RealFriends }) }}
{{ include("group/forms/remove-group.html.twig") }}
