{% trans_default_domain 'theme' %}

<!DOCTYPE html>
<html>
    <head>
        {% block metadata %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            <meta charset="UTF-8" />
            <meta property="og:url"                content="{{ base_url }}" />
            <meta property="og:type"               content="application" />
            <meta property="og:title"              content="Nexxo" />
            <meta property="og:description"        content="Reseau social pour un autre monde" />
            <meta property="og:image"              content="{{ base_url }}/img/landscape/space-msg-2-medium.png" />

            <meta name="keywords" content="transition social network, réseau social transition"/>

            <meta name="description" content="Réseau social pour demain | Nexxo est un espace de communication unique, pour toutes celles et ceux qui souhaitent se relier aux autres localement, dans la volonté de discuter des problèmes de notre époque, trouver des solutions, et coordonner les initiatives dans tous les domaines, pour construire ensemble un avenir serein pour nous-même et pour nos enfants."/>
        {% endblock %}

        
        {% block title %}
            <title data-title="Nexxo" data-count="0">
                Nexxo
            </title>
        {% endblock %}

        {% block stylesheets %}
             {{ include('theme/stylesheets.html.twig') }}
        {% endblock %}
        
        {% block favicon %}
             {{ include('theme/favicon.html.twig') }}
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    {% set mobileNames = '/Android|webOS|iPhone|iPad|BlackBerry|Windows Phone|Opera Mini|IEMobile|Mobile/i' %}
    <body class="{% if app.request.headers.get('User-Agent') matches mobileNames %}smartapp{% endif %}  
                 {% if app.user.myUserPage.isPrefAuth('USE_DARK_THEME') == "true" %}dark-theme{% endif %}">
        
        {% block sideBarLeft %}
            {{ include('theme/side-bar-left.html.twig') }}
        {% endblock %}

        {% block sideBarRight %}
            {{ include('theme/side-bar-right.html.twig') }}
        {% endblock %}

        {% block menuTop %}
            {{ include('theme/menu-top.html.twig') }}
        {% endblock %}

        <div class="main-partial-body">
            {% block body %}{% endblock %}
        </div>

        {% block tchat %}
            {{ include('theme/tchat.html.twig') }}
        {% endblock %}

        {% block quickView %}
            {{ include('theme/modal-quickview.html.twig') }}
        {% endblock %}

        {% block javascripts %}
             {{ include('theme/javascripts.html.twig') }}
        {% endblock %}

        <div id="sig-assets"></div>
        <div id="virtual"></div>

        <audio id="sound-message" src="{{ asset('sound/sound-message.mp3') }}" type="audio/mp3">
        <audio id="sound-notification" src="{{ asset('sound/sound-notification.wav') }}" type="audio/wav">
    </body>
</html>
