<!DOCTYPE html>
<html>
    <head>
        {% block metadata %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            <meta charset="UTF-8" />
            <meta property="og:url"                content="{{ base_url }}" />
            <meta property="og:type"               content="application" />
            <meta property="og:title"              content="Nexxo" />
            <meta property="og:description"        content="Reseau social pour un autre monde" />
            <meta property="og:image"              content="{{ base_url }}/img/landscape/space-msg-2-medium.png" />

            <meta name="keywords" content="social network, réseau social"/>

            <meta name="description" content="Réseau social pour un autre monde | Nexxo est un espace de communication unique, au service de ceux qui souhaitent se relier aux autres localement, dans la volonté de discuter des problèmes de notre époque, trouver des solutions, et coordonner les initiatives dans tous les domaines, pour construire ensemble un avenir serein pour nous-même et pour nos enfants."/>

        {% endblock %}
        
        {% block title %}
            <title data-title="Nexxo" data-count="0">Nexxo</title>
        {% endblock %}
        
        {% block stylesheets %}
            {{ include('theme/stylesheets.html.twig') }}
            <link rel="stylesheet" href="{{ asset('css/landing.css') }}" />
        {% endblock %}
        
        {% block favicon %}
             {{ include('theme/favicon.html.twig') }}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="dark-theme landing-page">

        {% block background %}
            <div class="content-bg-wrap">
                <div class="content-bg"></div>
            </div>
        {% endblock %}
        

        {{ include('theme/landing/menu-top.html.twig') }}
        
        {% block flash %}
            {{include('theme/flash.html.twig')}} 
        {% endblock %}
        
        {% block javascripts %}
             {{ include('theme/javascripts.html.twig') }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
             {{ include('theme/footer.html.twig') }}
        {% endblock %}
        
        {% block quickView %}
            {{ include('theme/modal-quickview.html.twig') }}
        {% endblock %}

    </body>
</html>
