{% trans_default_domain 'contact' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center margin-top-50">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ui-block no-padding">
           <div class="ui-block-content">
     
                <span class="alert alert-success full-width d-inline-block text-center">
                {% trans %}Your message has been send with success{% endtrans %}
                </span>

                <br>
                <a href="{{ path('my-dashboard') }}" class="btn btn-sm btn-secondary  full-width d-inline-block float-right">
                    <i class="fa fa-check"></i> {% trans %}Ok{% endtrans %}
                </a>

            </div>
        </div>
    </div>
</div>


{% endblock %}