{% trans_default_domain 'theme' %}

<div class="footer">
	<div class="row">

		<div class="col-12"><hr><br></div>
		<div class="col-4">
			<h5>{% trans %}About{% endtrans %}</h5>
			{# <a href="">· {% trans %}FAQ{% endtrans %}</a><br> #}
			{# <a href="{{ path('about') }}">· {% trans %}About{% endtrans %}</a><br> #}
			<a href="{{ path('legal') }}">· {% trans %}Terms{% endtrans %}</a><br>
			<a href="{{ path('cgu') }}">· {% trans %}Conditions{% endtrans %}</a><br>
			<a href="{{ path('rgpd') }}">· {% trans %}RGPD{% endtrans %}</a><br>
		</div>
		<div class="col-4">
			<h5>{% trans %}Developers{% endtrans %}</h5>
			<a href="https://gitlab.com/Alpha_Tango/nexxo/tree/master" target="_blank">· {% trans %}Source code{% endtrans %}</a><br>
			<a href="/documentation/build/index.html" target="_blank">· {% trans %}Technical documentation{% endtrans %}</a><br>
			<a href="{{ path('contact-admin', { 'type' : 'bug' }) }}">· {% trans %}Report bug{% endtrans %}</a>
		</div>
		<div class="col-4">
			<h5>{% trans %}Contact{% endtrans %}</h5>
			<a href="{{ path('contact-admin', { 'type' : 'message' }) }}">· {% trans %}Send a message{% endtrans %}</a><br>
			<!-- <a href="">· {% trans %}Facebook{% endtrans %}</a><br> -->
			<!-- <a href="">· {% trans %}Youtube{% endtrans %}</a><br> -->
			<a href="https://discord.gg/xNzazxk" target="_blank">· {% trans %}Discord{% endtrans %}</a><br>
		</div>
	</div>
</div>