{% trans_default_domain 'notification' %}

<!-- Header -->
<header class="header" id="site-header">

	<div class="page-title">
		<h6><img src="{{ asset('img/nexxo-logo-6.png') }}" height="17"></h6>
	</div>

		<div class="header-content-wrapper">
			<div class="search-bar w-search notification-list friend-requests">
				{% if app.user.myUserPage.firstStep == 0 %}
				<div class="form-group with-button">
					<input class="form-control js-user-search" 
							placeholder="{% trans %}Search here people or pages{% endtrans %}..." type="text">
					<button>
						{# <svg class="olymp-magnifying-glass-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-magnifying-glass-icon"></use>
						</svg> #}
						<i class="fa fa-2x fa-search" style="font-size:20px;"></i>
					</button>
				</div>
				{% else %}
				<h4 class="margin-20 letter-white"><small>Hey</small> {{ app.user.myUserPage.name }} !</h4>
				{% endif %}
			</div>

			<!-- <a href="#" class="link-find-friend">Find Friends</a> -->
			<div class="control-block" id="container-activity">
				{{ include("notification/all-activity.html.twig") }}
			</div>		
		</div>

</header>
<!-- ... end Header -->

<!-- Responsive Header -->
<header class="header header-responsive" id="site-header-responsive">

	<div class="header-content-wrapper">
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#request" role="tab">
					<div class="control-icon has-items">
						{# <svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg> #}
						<i class="fa fa-hand-peace-o margin-right-10"></i>
						<div class="label-avatar friend-requests menu-top bg-blue d-none">0</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link btn-show-dropdown-notif" data-toggle="tab" href="#notification" role="tab">
					<div class="control-icon has-items">
						{# <svg class="olymp-thunder-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-thunder-icon"></use></svg> #}
						<i class="fa fa-bolt margin-right-10"></i>
						<div class="label-avatar notif activity-feed bg-primary d-none">0</div>
					</div>
				</a>
			</li>
{# 
			<li class="nav-item">
				<a class="nav-link margin-top-5" data-toggle="tab" href="#search" role="tab">
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-magnifying-glass-icon"></use></svg>
					<svg class="olymp-close-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-close-icon"></use></svg>
				</a>
			</li> #}

			<li class="nav-item">
				<a class="nav-link js-sidebar-chat-open" href="#">
					<div class="control-icon has-items">
						{# <svg class="olymp-chat---messages-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-chat---messages-icon"></use>
						</svg> #}
						<i class="fa fa-comments margin-right-10"></i>
						<div class="label-avatar message bg-purple d-none">0</div>
					</div>
				</a>
			</li>


			{% if socket_enabled == "false" %}
				<li class="nav-item">
					<a class="nav-link margin-top-5 btn-refresh-notif" title="Actualiser les notifications" href="#">
						<i class="fa fa-circle-o-notch fa-2x fa-rotate-180"></i>	
					</a>
				</li>
			{% else %}
			{% endif %}

		</ul>
	</div>

	<!-- Tab panes -->
	<div class="tab-content tab-content-responsive">

		<div class="tab-pane" id="request" role="tabpanel">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">{% trans %}FRIEND / MEMBER / ADMIN REQUESTS{% endtrans %}</h6>
				</div>
				<ul class="notification-list friend-requests menu-top">
				</ul>
			</div>

		</div>

		<div class="tab-pane " id="notification" role="tabpanel">
			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">{% trans %}Notifications{% endtrans %}</h6>
				</div>

				<ul class="notification-list activity-feed">
				</ul>
			</div>
		</div>

		<div class="tab-pane " id="search" role="tabpanel">
				<div class="search-bar w-search notification-list friend-requests">
					<div class="form-group with-button">
						<input class="form-control js-user-search" 
								placeholder="{% trans %}Search here people or pages{% endtrans %}..." 
								type="text">
					</div>
				</div>
		</div>
	</div>
	<!-- ... end  Tab panes -->

</header>
<!-- ... end Responsive Header -->


<script>
    $( document ).ready(function() {
    	setTimeout(function(){
      		notificationObj.updateActivityNotif();
      		if(SOCKET_ENABLED == "false") {
	      		notificationObj.activateTimerNotif(true);
	      	}
      	}, 3000);
    });
</script>