{% trans_default_domain 'theme' %}

<!-- Fixed Sidebar Right -->

<div class="fixed-sidebar right">
	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="chat-users">
			{% for friend in app.user.myUserPage.relations.chatContacts %}
   				<li class="inline-items js-chat-open" data-slug="{{ friend.slug }}" 
   					{% if friend.informations.discord != "" and friend.isConfAuth("SHOW_INFO_DISCORD", app.user.myUserPage) %}
   						data-discord="{{ friend.informations.discord }}" 
   					{% endif %}
   					data-name="{{ friend.name }}" data-type="{{ friend.type }}"
   					data-thumb="{{ friend.imageProfil }}" data-status="">
					<div class="author-thumb margin-right-15" data-toggle="tooltip" data-original-title="{{ friend.name }}" data-placement="left">
						<img src="{{ friend.imageProfilAsset }}" alt="image" height="42">
						<span class="icon-status {{ friend.chatStatus }}"></span>
						<span class="count-toread-msg badge d-none" data-count="0">0</span>
					</div>
				</li>
			{% endfor %}

			</ul>
		</div>

		<div class="search-friend inline-items padding-5" 
			 style="bottom:77px;background:rgba(38, 37, 37, 0.6);text-align:center;">
			<div class="lbl-socket-connected" title="">
				<i class="fa fa-plug"></i>
			</div>

		</div>
		<div class="search-friend inline-items">
			<div class="js-sidebar-open">
				<i class="fa fa-bars fa-2x"></i>
			</div>

		</div>

	</div>

	<div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="chat-users">
				{% for friend in app.user.myUserPage.relations.chatContacts %}
	   				<li class="inline-items js-chat-open" data-slug="{{ friend.slug }}" 
	   					{% if friend.informations.discord != "" and friend.isConfAuth("SHOW_INFO_DISCORD", app.user.myUserPage) %}
	   						data-discord="{{ friend.informations.discord }}" 
	   					{% endif %}
	   					data-name="{{ friend.name }}" data-type="{{ friend.type }}"
	   					data-thumb="{{ friend.imageProfil }}" data-status="">
						<div class="author-thumb">
							<img src="{{ friend.imageProfilAsset }}" alt="image" height="42">
							<span class="icon-status"></span>
							<span class="count-toread-msg badge d-none" data-count="0">0</span>
						</div>
						<div class="author-status">
							<span class="h6 author-name">{{ friend.name }}</span>
							{% if friend.city != "" and friend.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) %}
								<br><span><i class="fa fa-map-marker"></i> {{ friend.city }}</span>
							{% endif %}
						</div>
					</li>
				{% endfor %}
				
				{% if app.user.myUserPage.relations.chatContacts|length == 0 %}
					<li class="inline-items js-chat-open"><br>
						<h5><i class="fa fa-comments"></i> {% trans %}Private messaging{% endtrans %}</h5>
						<p>
							{% trans %}Your contact list is empty{% endtrans %}.<br>
						</p>
					</li>
				{% endif %}
				
			</ul>
		</div>

		<div class="search-friend inline-items">
			<form class="form-group">
				<input class="form-control" id="search-friend-chat" 
					   placeholder="{% trans %}Search contact{% endtrans %}..." value="" type="text">
			</form>

			<div class="js-sidebar-open">
				{# <svg class="olymp-close-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-close-icon"></use></svg> #}
				<i class="fa fa-times fa-2x"></i>
			</div>
		</div>

	</div>
</div>

<!-- ... end Fixed Sidebar Right -->

<!-- Fixed Sidebar Right -->
{# 
<div class="fixed-sidebar right fixed-sidebar-responsive">

	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right-responsive">

		<a href="#" class="olympus-chat inline-items js-chat-open">
			<svg class="olymp-chat---messages-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-chat---messages-icon"></use></svg>
		</a>

	</div>

</div> #}

<!-- ... end Fixed Sidebar Right -->

