{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/theme/toastr.min.css') }}" />
	{# <link rel="stylesheet" href="{{ asset('css/theme/swiper.min.css') }}" /> #}
	<link rel="stylesheet" href="{{ asset('css/theme/responsive.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/theme/dark-theme.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/theme/smartapp.css') }}" />
{% endblock %}


<!-- include jquery here to make everythings working good -->
<script src="{{ asset('js/theme/jquery-3.2.0.min.js') }}"></script>
