{% trans_default_domain 'superadmin' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}
<style>
.skills-item .skills-item-meter{
	height: 15px;
}
.skills-item-meter-active{
	top: unset;
}
.comments-list .skills-item-meter-active{
	top: unset;
}
</style>

<script src="{{ asset("js/mediathequeObj.js") }}"></script>
<script src="{{ asset("js/adminObj.js") }}"></script>

<div class="header-spacer"></div>

<div class="container app-search">

	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<h5 class="title">
						<i class="fa fa-envelope"></i> 
						{% trans %}Messagerie Super Admin{% endtrans %} 
						<span class="count-notread-message float-right">{{ contacts|length }}
						<i class="fa fa-send"></i> {% trans %}messages{% endtrans %}
						</span>
					</h5>			
				</div>
			</div>
		</div>
	</div>

	<style>
		.btn-open-contact{
			font-size:14px;
			padding:5px 10px;
			color:unset;
		}
		a.btn-open-contact{
			border-top:1px solid rgba(0,0,0,0.2);
			/*border-bottom:0px;*/
		}
		a.btn-open-contact:hover{
			font-weight: bold;
		}	
		.dark-theme a.btn-open-contact,
		.dark-theme a.author{
			color:white;
		}

		.dark-theme #view-contact p{
			color:white;
		}
	</style>
	<div class="row">
			
		<div class="col col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
			<div class="row no-margin">
				<div class="ui-block col-12 no-padding">
					<div class="ui-block-content">
						<div class="row btn-open-contact bold margin-bottom-10">
							{# <div class="col-2 text-right">{% trans %}Type{% endtrans %}</div> #}
							<div class="col-3">{% trans %}Author{% endtrans %}</div>
							<div class="col-2"><i class="fa fa-clock-o"></i> Date</div>
							{# <div class="col-2"><i class="fa fa-clock-o"></i></div> #}
							<div class="col-5">{% trans %}Object{% endtrans %}</div>
						</div>
						{% for contact in contacts %}
							<a href="javascript:" class="row btn-open-contact" data-id="{{ contact.id }}">
								{# <div class="col-1 text-right"><i class="fa fa-{{ contact.typeIcon }}"></i></div> #}
								{% if contact.author is not null %}
									<div class="col-3 elipsis">
										<i class="fa fa-circle letter-{{ contact.toReadColor }} margin-right-5"></i> 
										<i class="fa fa-{{ contact.typeIcon }}"></i>
										<img src="{{ asset('uploads/imgProfil/' ~ app.user.imageProfil) }}" height="25"/>
										{{ contact.author.name }}
									</div>
								{% else %}
									<div class="col-3 elipsis">
										<i class="fa fa-circle letter-{{ contact.toReadColor }} margin-right-5"></i> 
										<i class="fa fa-{{ contact.typeIcon }}"></i>
										<i class="fa fa-user-secret padding-left-5 padding-right-5"></i> Anonymous
									</div>
								{% endif %}
								{# <div class="col-2 elipsis"><small>{{ contact.created|ago }}</small></div> #}
								<div class="col-3 elipsis">
									<small>{{ contact.created|localizeddate('short', 'short', app.request.locale) }}</small>
								</div>
								<div class="col-5 elipsis">{{ contact.object }}</div>
							</a>
							<div class="d-none content-contact" data-id="{{ contact.id }}">
								<i class="fa fa-circle letter-{{ contact.toReadColor }} margin-right-5"></i> 
								<i class="fa fa-{{ contact.typeIcon }}"></i>
								{% if contact.author is not null %}
										<img src="{{ asset('uploads/imgProfil/' ~ app.user.imageProfil) }}" height="25"/>
										<a href="{{ path('page', { 'slug':contact.author.slug }) }}" class="author" target="_blank">
											<b>{{ contact.author.name }}</b>
										</a>
								{% else %}
									<i class="fa fa-user-secret padding-left-5 padding-right-5"></i> <b>Anonymous</b>
								{% endif %}
								<span class="float-right elipsis">
								{# {{ contact.created|localizeddate('short', 'short', app.request.locale) }} -  #}
								{{ contact.created|ago }}
								</span>
								<hr>
									<b>Object</b> : {{ contact.object }}
								
								<hr>
								<p>{{ contact.textHtml|nl2br }}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="col col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
			<div class="row no-margin">
				<div class="ui-block col-12 no-padding">
					<div class="ui-block-content" id="view-contact">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    $( document ).ready(function() {
		$(".btn-open-contact").click(function(){
			var id = $(this).data('id');
			var html = $(".content-contact[data-id='"+id+"']").html();
			$("#view-contact").html(html);
			$.ajax({
	        type: "POST",
	        url: "/superadmin/set-contact-read/"+id,
	        success: function(res){
	          console.log("response of /superadmin/set-contact-read/"+id, res);
	          if(res.error == false){ 
	            $(".btn-open-contact[data-id='"+id+"'] .fa-circle").removeClass("letter-green").addClass('letter-blue');
	          }else{
	            toastr.error("An error occured saving read message");
	          }
	        },
	        error: function(error){
	          console.log("set-contact-read", error);
	        }
	    }); 
			

		});
    });
</script>
{% endblock %}