{% trans_default_domain 'superadmin' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}
<style>
.skills-item .skills-item-meter{
	height: 15px;
}
.skills-item-meter-active{
	top: unset;
}
.comments-list .skills-item-meter-active{
	top: unset;
}
</style>

<script src="{{ asset("js/mediathequeObj.js") }}"></script>
<script src="{{ asset("js/comment.js") }}"></script>
<script src="{{ asset("js/adminObj.js") }}"></script>
	<link rel="stylesheet" href="{{ asset('css/news.css') }}" />

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<h4 class="title">
						Hello superAdmin !
						<a href="{{ path('superadmin-contacts') }}" class="float-right">
							<i class="fa fa-send"></i> 
							<span class="count-notread-message">{{ contactNotReadCount }}</span> 
							messages
						</a>
						<small class="float-right margin-right-25">
							<span class="count-user-online"></span> 
							<i class="fa fa-user"></i> connectées
						</small>
					</h4>			
				</div>
			</div>
		</div>

		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title text-center">
					<div class="col-2 h5">{{ newWeekUsers|length }} <i class="fa fa-user"></i></div>
					<div class="col-2 h5">{{ newWeekNews|length }} <i class="fa fa-newspaper-o"></i></div>
					<div class="col-2 h5">{{ newWeekNewsGeo|length }} <i class="fa fa-street-view"></i></div>
					<div class="col-2 h5">{{ newWeekClassified|length }} <i class="fa fa-thumb-tack"></i></div>
					<div class="col-2 h5">{{ newWeekEvent|length }} <i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<button class="btn bg-secondary" id="btn-clean-inactive-pages">
						<i class="fa fa-trash"></i> Nettoyer les pages inactives
					</button>
					{# <button class="btn bg-secondary" id="btn-load-media">
						<i class="fa fa-refresh"></i> Update médiathèque
					</button>	 #}		
					<button class="btn bg-secondary" id="btn-check-moderation">
						<i class="fa fa-refresh"></i> Update modération
					</button>		

					{% if app_env == 'dev' %}
					<a href="{{ path('drop-all-collections') }}" class="btn bg-blue padding-10 float-right" id="btn-check-moderation">
						<i class="fa fa-cogs"></i> Init application
					</a>	
					{% endif %}		


					<a href="{{ path('form-global-mail') }}" class="btn bg-blue padding-10 float-right">
						<i class="fa fa-envelope"></i> Admin mail
					</a>	
					{# <a href="{{ path('test-mail') }}" class="btn bg-blue padding-10 float-right" id="btn-check-moderation">
						<i class="fa fa-envelope"></i>
					</a> #}				
				</div>
				<h6 class="ui-block-content d-none" id="process-status">
				</h6>
			</div>
		</div>



		{# max = nb Page reference for current step (1) #}
		{% set max = 100 %}
		{% set maxS = "100" %}
		<div class="row">
			<div class="ui-block col-12 col-lg-12" data-mh="pie-chart">
				{# <div class="ui-block-title">
					<div class="h6 title">
						<svg class="olymp-menu-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-stats-icon"></use>
						</svg>
						{% trans %}Dashboard{% endtrans %} - {% trans %}Pages{% endtrans %}
					</div>
				</div> #}

				<div class="row">
					
					{% set max = pageCounts.user.count %}
					{% set maxS = pageCounts.user.count %}
					<div class="ui-block-content col-6" style="padding-bottom:0px;">
						<div class="skills-item">
							<div class="skills-item-info">
								<h5 class="skills-item-title bold">
									{% trans %}Pages Actives{% endtrans %} - {{ userCountActive.count }}
									<span class="skills-item-count">
										<span class="count-animate" data-speed="1000" 
											data-refresh-interval="50" data-to="{{ userCountActive.count }}" data-from="0">
										</span>
										<span class="units">
											{{ userCountActive.count/max*100|round(1) }}% / {{ maxS }} 
											<i class="fa fa-user"></i>
										</span>
									</span>
								</h5>
							</div>
							<div class="skills-item-meter bg-red">
								<span class="skills-item-meter-active bg-green " style="width: {{ userCountActive.count/max*100 }}%"></span>
							</div>
						</div>
					</div>

					{% set max = pageCounts.user.count %}
					{% set maxS = pageCounts.user.count %}
					<div class="ui-block-content col-6">
						<div class="skills-item">
							<div class="skills-item-info">
								<h5 class="skills-item-title bold">
									{% trans %}Pages FirstStep{% endtrans %} - {{ userCountFirstStep.count }}
									<span class="skills-item-count">
										<span class="count-animate" data-speed="1000" 
											data-refresh-interval="50" data-to="{{ userCountFirstStep.count }}" data-from="0">
										</span>
										<span class="units">
											{{ 100-(userCountFirstStep.count/max*100)|round(1) }}% / {{ maxS }} 
											<i class="fa fa-user"></i>
										</span>
									</span>
								</h5>
							</div>
							<div class="skills-item-meter bg-red">
								<span class="skills-item-meter-active bg-green " style="width: {{ 100-(userCountFirstStep.count/max*100) }}%"></span>
							</div>
						</div>
					</div>


					{% set max = userCountFirstStep.count %}
					{% set maxS = userCountFirstStep.count %}

					{% for key, count in userCountFirstStep.details %}
					<div class="ui-block-content col-6">
						<div class="skills-item">
							<div class="skills-item-info">
								<h5 class="skills-item-title bold">
									{% trans %}Step{% endtrans %} {{ key }} - {{ count }}
									<span class="skills-item-count">
										<span class="count-animate" data-speed="1000" 
											data-refresh-interval="50" data-to="{{ count }}" data-from="0">
										</span>
										<span class="units">
											{{ (count/max*100)|round(1) }}% / {{ maxS }} 
											<i class="fa fa-user"></i>
										</span>
									</span>
								</h5>
							</div>
							<div class="skills-item-meter">
								<span class="skills-item-meter-active bg-orange " style="width: {{ count/max*100 }}%">
								</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{% set max = 1000 %}
		{% set maxS = "1000" %}
		<div class="row">
			<div class="ui-block col-12 col-lg-6" data-mh="pie-chart">
				<div class="ui-block-title">
					<div class="h6 title">
						<svg class="olymp-menu-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-stats-icon"></use>
						</svg>
						{% trans %}Dashboard{% endtrans %} - {% trans %}Pages{% endtrans %}
					</div>
				</div>

				<div class="row">
					<div class="ui-block-content col-12">
						<div class="skills-item">
							<div class="skills-item-info">
								<h5 class="skills-item-title bold">
									{% trans %}Nombre total de Pages{% endtrans %} - {{ pageCounts.total.count }}
									<span class="skills-item-count"><span class="count-animate" data-speed="1000" 
											data-refresh-interval="50" data-to="{{ pageCounts.total.count }}" data-from="0">
									</span>
									<span class="units">{{ pageCounts.total.count/max*100 }}% / {{ maxS }}</span></span>
								</h5>
							</div>
							<div class="skills-item-meter">
								<span class="skills-item-meter-active bg-blue" style="width: {{ pageCounts.total.count/max*100 }}%"></span>
							</div>
						</div>
					</div>


					<div class="ui-block-content col-12 col-sm-6">
						{% set i = 0 %}
						{% for key, stat in pageCounts %}{% set i = i+1 %}
							{% if i > 1 %}
								<div class="skills-item">
									<div class="skills-item-info bold">
										<span class="skills-item-title letter-{{ stat.color }}">
											<i class="fa fa-{{ stat.icon }}"></i> {% trans %}%key%{% endtrans %} - {{ stat.count }}
										</span>
										<span class="skills-item-count">
											<span class="count-animate" data-speed="1000" 
												data-refresh-interval="50" data-to="{{ stat.count }}" data-from="0">
											</span>
											<span class="units letter-{{ stat.color }}">
											{{ (stat.count/pageCounts.total.count*100)|round }}% /{{ pageCounts.total.count }}
											</span>
										</span>
									</div>
									<div class="skills-item-meter">
										<span class="skills-item-meter-active bg-{{ stat.color }}" style="width: {{ (stat.count/pageCounts.total.count*100)|round }}%"></span>
									</div>
								</div>
								{% if i == 6 %}
									</div>
									<div class="ui-block-content col-12 col-sm-6">
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>		
				</div>
			</div>
		
			<div class="ui-block col-12 col-lg-6" data-mh="pie-chart">
				<div class="ui-block-title">
					<div class="h6 title">
						<svg class="olymp-menu-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-stats-icon"></use>
						</svg>
						{% trans %}Dashboard{% endtrans %} - {% trans %}News{% endtrans %}
					</div>
				</div>
				<div class="row">
					<div class="ui-block-content col-12">
						<div class="skills-item">
							<div class="skills-item-info">
								<h5 class="skills-item-title bold">{% trans %}Nombre total de News{% endtrans %} - {{ newsCounts.total.count }}
									<span class="skills-item-count"><span class="count-animate" data-speed="1000" 
											data-refresh-interval="50" data-to="{{ newsCounts.total.count }}" data-from="0">
									</span>
									<span class="units">{{ newsCounts.total.count/max*100 }}% / {{ maxS }}</span></span>
								</h5>
							</div>
							<div class="skills-item-meter">
								<span class="skills-item-meter-active bg-blue" style="width: {{ newsCounts.total.count/max*100 }}%"></span>
							</div>
						</div>
					</div>

					<div class="ui-block-content col-12 col-sm-6">
						{% set i = 0 %}
						{% for key, stat in newsCounts %}{% set i = i+1 %}
							{% if i > 1 and newsCounts.total.count > 0 %}
								<div class="skills-item">
									<div class="skills-item-info bold">
										<span class="skills-item-title">
											<i class="fa fa-{{ stat.icon }}"></i> {% trans %}%key%{% endtrans %} - {{ stat.count }}
										</span>
										<span class="skills-item-count">
											<span class="count-animate" data-speed="1000" 
												data-refresh-interval="50" data-to="{{ stat.count }}" data-from="0">
											</span>
											<span class="units letter-{{ stat.color }}">
											{{ (stat.count/newsCounts.total.count*100)|round }}% /{{ newsCounts.total.count }}
											</span>
										</span>
									</div>
									<div class="skills-item-meter">
										<span class="skills-item-meter-active bg-{{ stat.color }}" style="width: {{ (stat.count/newsCounts.total.count*100)|round }}%"></span>
									</div>
								</div>
								{% if i == 3 %}
									</div>
									<div class="ui-block-content col-12 col-sm-6">
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="ui-block col-12 col-lg-12" data-mh="pie-chart">
				<div class="ui-block-title">
					<div class="h6 title">
						<svg class="olymp-menu-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-stats-icon"></use>
						</svg>
						{% trans %}Dashboard{% endtrans %} - {% trans %}Moderation Page{% endtrans %} | 
						{% if reportsPages is defined %}{{ reportsPages|length }}{% else %}0{% endif %}
					</div>
				</div>

				<div class="row">
					<div class="ui-block-content col-12 row no-margin">
						{% if reportsPages is defined %}
							{% for page in reportsPages %}
								{{ include("superadmin/blocks/page.html.twig", {"page":page}) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="ui-block col-12 col-lg-12" data-mh="pie-chart">
				<div class="ui-block-title">
					<div class="h6 title">
						<svg class="olymp-menu-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-stats-icon"></use>
						</svg>
						{% trans %}Dashboard{% endtrans %} - {% trans %}Moderation News{% endtrans %} | 
						{% if reportsNews is defined %}{{ reportsNews|length }}{% else %}0{% endif %}
					</div>
				</div>

				<div class="row">
					<div class="ui-block-content col-12 row no-margin">
						{% if reportsNews is defined %}					
							{% for news in reportsNews %}
								{% if news != null %}					
									{{ include("superadmin/blocks/news.html.twig", {"post":news}) }}
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="ui-block col-12 col-lg-12" data-mh="pie-chart">
				<div class="ui-block-title">
					<div class="h6 title">
						<svg class="olymp-menu-icon left-menu-icon">
							<use xlink:href="{{ asset('icons/icons.svg') }}#olymp-stats-icon"></use>
						</svg>
						{% trans %}Dashboard{% endtrans %} - {% trans %}Moderation Comment{% endtrans %} | 
						{% if reportsComments is defined %}{{ reportsComments|length }}{% else %}0{% endif %}
					</div>
				</div>

				<div class="row">
					<div class="ui-block-content col-12 comment-block">
						<ul class="comments-list ">
						{% if reportsComments is defined %}
							{% for comment in reportsComments %}
								{{  include("comment/comment-single.html.twig", { 'comment' : comment, 
																				  'commentForm' : null,
																				  'parentType':  comment.parentStream.parentType,
										                					      'parentId': 	comment.parentStream.parentId,
										                					      'parentObj': null,
																				  'showForModeration': true }) }}
							{% endfor %}
						{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
    $( document ).ready(function() {
		adminObj.initUi();
    });
</script>

{% endblock %}

