{% trans_default_domain 'news' %}

<div class="dropdown float-left margin-top-10 margin-left-10">
  <button class="btn btn-outline-info no-margin dropdown-toggle" type="button" id="dropdown-target-news" 
  		    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <img src="{{ app.user.myUserPage.imageProfilAsset }}" height="17"> <i class="fa fa-caret-down"></i> 
  </button>

  <div class="dropdown-menu" id="dropdown-menu-target-news" aria-labelledby="dropdown-target-news">
  	<div class="dropdown-item" type="button">
    	<small><b><i class="fa fa-angle-down"></i> {% trans %}Publish as{% endtrans %} :</b></small>
    </div>

    <button class="dropdown-item btn-select-signed" type="button" data-dashboard="{{ dashboard }}"
        data-lat="{{ app.user.myUserPage.coordinates[0] }}" data-lng="{{ app.user.myUserPage.coordinates[1] }}"
    		data-signed-page-id="{{ app.user.myUserPage.id }}" data-signed-page-imgprofil="{{ app.user.myUserPage.imageProfil }}">
    	  <img src="{{ app.user.myUserPage.imageProfilAsset }}" height="15"> {{ app.user.myUserPage.name }}
    </button>
    
    {% if dashboard == "true" %}
      {% for pageAdmin in app.user.myUserPage.relations.isAdminOf %}
        {% if app.user.myUserPage.id != pageAdmin.id and pageAdmin.isActive == true %}
          <button class="dropdown-item btn-select-signed" type="button" data-dashboard="{{ dashboard }}"        
              data-lat="{{ pageAdmin.coordinates[0] }}" data-lng="{{ pageAdmin.coordinates[1] }}"
              data-signed-page-id="{{ pageAdmin.id }}" data-signed-page-imgprofil="{{ pageAdmin.imageProfil }}">
              <img src="{{ pageAdmin.imageProfilAsset }}" height="15"> {{ pageAdmin.name }}
          </button>
        {% endif %}
      {% endfor %}
    {% else %}
      {% if page.id != app.user.myUserPage.id and page.relations.isAdmin(app.user.myUserPage.slug) %}
        <button class="dropdown-item btn-select-signed" type="button" data-dashboard="{{ dashboard }}"        
                data-lat="{{ page.coordinates[0] }}" data-lng="{{ page.coordinates[1] }}"
                data-signed-page-id="{{ page.id }}" data-signed-page-imgprofil="{{ page.imageProfil }}">
                <img src="{{ page.imageProfilAsset }}" height="15"> {{ page.name }}
        </button>
      {% endif %}
    {% endif %}

    
  </div>

</div>