{% trans_default_domain 'theme' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<div class="header-spacer"></div>

<div class="container app-dashboard">
	<div class="row text-center">
		<!-- <h2 class="text-center full-width">
			<i class="fa fa-newspaper-o"></i> 
			{# <br> #}
			{% trans %}News stream{% endtrans %}
			{# <br> #}
			<hr>
			{# <i class="fa fa-angle-down"></i>  #}
		</h2> -->
		<h2 class="full-width"><i class="fa fa-newspaper-o"></i> {% trans %}News stream{% endtrans %}</h2>
		<p class="full-width">
			{% trans %}Find all the news of your friends and pages to which you are subscribed{% endtrans %},<br>
			{% trans %}as well as geolocated messages sent by other members of the network{% endtrans %}...
			<a href="javascript:" class="btn-open-help-intro">{% trans %}Know more{% endtrans %}</a>
		</p>
		<div class="help-intro d-none text-center full-width">
			<p>
				<i class="fa fa-link"></i> 
				{% trans %}To follow the news of a page in your news feed, click on the button{% endtrans %} 
				<button class="btn btn-blue btn-sm no-margin padding-5 border-radius-15" style="width:28px;">
					<i class="fa fa-link"></i>
				</button>
				<br><br>
				<i class="fa fa-globe"></i> 
				{% trans %}You will automatically receive location-based messages when you are in their broadcast area{% endtrans %}.<br>
				({% trans %}provided you are located on the map{% endtrans %})
				{# BTN LOCALISE PAGE #}
				{% if app.user.myUserPage.relations.ImAdminOf(page.slug) and app.user.myUserPage.coordinates[0] == false %}
					<a href="{{ path('page-settings', {'slug' : page.slug, 'subview': 'form-address-geopos' })}}" 
						class="letter-blue" data-toggle="tooltip" 
						data-original-title="{% trans %}Give your position to activate local communication{% endtrans %}">
						<i class="fa fa-map-marker"></i> {% trans %}Localise your page{% endtrans %}
					</a>
				{% endif %}

			</p>
		</div>
		<h2 class="full-width"><hr></h2>
	</div>
	<div class="row">

	

		<!-- Main Content -->
		<main class="col-xl-6 order-xl-2 col-lg-8 order-lg-2 order-md-2 order-sm-1 col-md-8 col-sm-12 col-xs-12" id="stream-container">
			{{ include('news/news-stream.html.twig', { "dashboard" : "true",
													   "posts" : posts, 
													   "page": page, 
													   "commentForm" : commentForm }) }}
		</main>
		<!-- ... end Main Content -->


		<!-- Left Sidebar -->
		<aside class="col-xl-3 order-xl-1 col-lg-4 order-lg-1 order-md-1 order-sm-2 col-md-4 col-sm-12 col-xs-12">
			
			{{ include('dashboard/blocks/news-widget-forward.html.twig', {  "post" : postsUp[0], 
																			"color" : "green",  
																			"icon" : "thumbs-up", 
																			"hashtag" : "#bonneNouvelle" }) }}

			{{ include('page/blocks/activity-feed.html.twig') }}		

			<div class="d-xl-none">
				{{ include('page/blocks/page-suggestion.html.twig', 
					{ "pageSuggest": agoraSuggest, "title" : "Agora suggestions", "icon": "connectdevelop" }) }}										
				{{ include('page/blocks/page-suggestion.html.twig', 
					{ "pageSuggest": channelSuggest, "title" : "Video channels", "icon": "youtube-play" }) }}										
				{{ include('page/blocks/friend-suggestion.html.twig', { "friendSuggest": friendSuggest }) }}																
				{{ include('page/blocks/page-suggestion.html.twig', 
					{ "pageSuggest": pageSuggest, "title" : "Page suggestions", "icon": "link" }) }}						
				{{ include('page/blocks/friend-suggestion.html.twig', { "friendSuggest": friendSuggest }) }}														
						
				{# include('page/blocks/page-suggestion.html.twig', 
					{ "pageSuggest": assemblySuggest, "title" : "Assemblies", "icon": "sun-o" }) #}									

				{% if pageReport|length > 0 %}
					{{ include('page/blocks/page-reported.html.twig', { "pageReport": pageReport }) }}
				{% endif %}

			</div>	

		</aside>
		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->
		<aside class="col-xl-3 order-xl-3 col-lg-4 order-lg-3 order-md-3 order-sm-3 col-md-12 col-sm-12 col-xs-12">

			{{ include('dashboard/blocks/news-widget-forward.html.twig', {  "post" : postsDown[0], 
																			"color" : "red", 
																			"icon" : "thumbs-down",
																			"hashtag" : "#mauvaiseNouvelle" }) }}

			<div class="d-none d-xl-inline">

				<a href="{{ path('create-page') }}" 
					class="btn btn-sm col-12 btn-secondary">
					<i class="fa fa-plus"></i> {% trans %}Create a page{% endtrans %}
				</a>
				<a href="{{ path('create-classified') }}" 
					class="btn btn-sm col-12 btn-secondary">
					<i class="fa fa-plus fa fa-thumb-tack"></i> <i class="fa fa-plus"></i> 
					{% trans %}Create an announce{% endtrans %}
				</a>
				<a href="{{ path('create-page', { type : 'event' }) }}" 
					class="btn btn-sm col-12 btn-secondary">
					<i class="fa fa-calendar"></i> <i class="fa fa-plus"></i> 
					{% trans %}Create an event{% endtrans %}
				</a>
				
				{% if agoraSuggest is not empty %}
					{{ include('page/blocks/page-suggestion.html.twig', 
						{ "pageSuggest": agoraSuggest, "title" : "Agora suggestions", "icon": "connectdevelop" }) }}
				{% endif %}	

				{% if channelSuggest is not empty %}
					{{ include('page/blocks/page-suggestion.html.twig', 
						{ "pageSuggest": channelSuggest, "title" : "Video channels", "icon": "youtube-play" }) }}				
				{% endif %}	
						
				{# include('page/blocks/page-suggestion.html.twig', 
					{ "pageSuggest": assemblySuggest, "title" : "Assemblies", "icon": "sun-o" }) #}

				{{ include('page/blocks/friend-suggestion.html.twig', { "friendSuggest": friendSuggest }) }}																
				{{ include('page/blocks/page-suggestion.html.twig', 
					{ "pageSuggest": pageSuggest, "title" : "Page suggestions", "icon": "link" }) }}									
	

				{% if pageReport|length > 0 %}
					{{ include('page/blocks/page-reported.html.twig', { "pageReport": pageReport }) }}
				{% endif %}
			</div>

		</aside>
		<!-- ... end Right Sidebar -->
	</div>
</div>

{{ include('news/modals/modal-upload-picture.html.twig') }}


<script>
	$( document ).ready(function() {
		//init button "know more" in top header
		$(".btn-open-help-intro").click(function(){
        	$(".help-intro").toggleClass("d-none");
        });

        /*$("a").off().click(function(event){

        	var href=$(this).attr("href");
        	console.log("a onclick : href", href);

        	if(href=="javascript:") return;

    		//alert("checkbox clicked " + href);
        	event.preventDefault();

        	$.ajax({
	          type: "POST",
	          url: href,
	          success: function(res){
	          	console.log("RES AAJAX");

	          	var myEl = $(res);

	          	//var domres = $('#virtual').html(myEl).contents(); //$($.parseHTML(res));
	          	$('#virtual').html(myEl); //$($.parseHTML(res));

				console.log("virtual ?", $('#virtual .main-partial-body').html() );

	          	$(".main-partial-body").html($('#virtual .main-partial-body').html());
	          	$('#virtual').html("");
	          	//var parse = 
	          	//$("#virtual").html(res);
	          	//console.log("virtual ?", $("#virtual #main-partial-body").html());
	          	//var html = $.parseHTML( res );
	          	//console.log(html);
	          	//html.find("#main-partial-body");
	          }
	        });
        });*/
    		
    });
</script>

{% endblock %}