{% trans_default_domain 'page' %}

<style>
	.btn-reco{display:none;}

.modal-quickview{
    max-width: 470px;
}
</style>
<div class="ui-block-title">
	<h6 class="title">
		<i class="fa fa-angle-right"></i> 
		{% if requestType == "admin" %} 
			{% trans %}You already are{% endtrans %} {% trans %}admin of this page{% endtrans %}
		{% endif %}
		{% if requestType == "friend" %} 
			{% if originPage is not defined or  originSlug == null %} 
				{% trans %}You already are{% endtrans %} 
				{% if askForPage.type == "user" %}{{ requestType|trans }}s
				{% else %}{% trans %}member of this page{% endtrans %}
				{% endif %}
			{% else %}
				{% if originPage.type == "user" and askForPage.type == "user" %}{% trans %}Delete from friends{% endtrans %} ?
				{% else %}{% trans %}Delete from members{% endtrans %} ?
				{% endif %}
			{% endif %}
		{% endif %}
		{% if requestType == "follow" %}
			{% trans %}You already follow this page{% endtrans %}
		{% endif %}
		{% if requestType == "like" %}
			{% trans %}You already like this page{% endtrans %}
			{% endif %}
		{% if requestType == "participate" %}
			{% trans %}You already participate to this event{% endtrans %}
		{% endif %}
	</h6>

	<div class="more">
		<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
	</div>
</div>

<div class="col-12 padding-15 d-flex">

	<div class="col-12">
		{{ include("page/blocks/page-block-min.html.twig", {"result":askForPage}) }}
	</div>

	<div class="col-12 col-sm-6 d-none">
		<p>
			<button class="btn btn-primary btn-cancel-{{ requestType }}" data-slug-page="{{ askForPage.slug }}"
					data-dismiss="modal" aria-label="Close">
				<i class="fa fa-times"></i> {% trans %}Cancel this{% endtrans %} {% trans %}relation{% endtrans %}
			</button>
		</p>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-danger btn-cancel-{{ requestType }}" data-slug-page="{{ askForPage.slug }}"
					{% if originPage is defined %}
						data-slug-origin-page="{{ originPage.slug }}"
					{% endif %}
			data-dismiss="modal" aria-label="Close">
		<i class="fa fa-trash"></i>

		{% if requestType == "admin" %}
			{% trans %}No longer be admin{% endtrans %}
		{% endif %}
		{% if requestType == "follow" %}
			{% trans %}No longer follow{% endtrans %}
		{% endif %}
		{% if requestType == "friend" and originSlug == null %}
			{% if askForPage.type == "user" %}{% trans %}No longer be friend{% endtrans %}{% endif %}
			{% if askForPage.type != "user" %}{% trans %}No longer be member{% endtrans %}{% endif %}
		{% endif %}
		{% if requestType == "friend" and originSlug != null %}
			{% if originPage.type == "user" and askForPage.type == "user" %}{% trans %}Delete from friends{% endtrans %} ?
			{% else %}{% trans %}Delete from members{% endtrans %} ?
			{% endif %}
		{% endif %}
		{% if requestType == "like" %}
			{% trans %}No longer like{% endtrans %}
		{% endif %}
		{% if requestType == "participate" %}
			{% trans %}No longer participate{% endtrans %}
		{% endif %} 
		{# {% trans %}Break this{% endtrans %} {% trans %}relation{% endtrans %} #}
	</button>
	<button class="btn btn-default" 
			 data-dismiss="modal" aria-label="Close"><i class="fa fa-check"></i> {% trans %}Cancel{% endtrans %}
	</button>

</div>