{% trans_default_domain 'page' %}

<style>
	.btn-reco{display:none;}
</style>
<div class="ui-block-title">
	<h6 class="title">
		<i class="fa fa-plus"></i> {% trans %}Confirm your request{% endtrans %} : 
		<span class="letter-blue">
			{% if requestType == "friend" %}
			{% if askForPage.type == "user" %}{{ requestType|trans }}{% else %}{% trans %}member{% endtrans %}{% endif %}
			{% else %}{{ requestType|trans }}{% endif %}
		</span> ?
	</h6>

	<div class="more">
		<i class="fa fa-times fa-2x" data-dismiss="modal" aria-label="Close"></i>
	</div>
</div>

<div class="row padding-15 d-flex">

	
	<div class="col col-12 col-md-6">
	{{ include("page/blocks/page-block-min.html.twig", {"result":askForPage}) }}
	</div>


	<div class="col col-12 col-md-6">
		{% if requestType == "friend" %}
			{% if askForPage.type == "user" %}
			<p>	
				<h4>{% trans %}Are you sure you want to send a friend request{% endtrans %} ?</h4> 

				<hr><b>{% trans %}You must wait for confirmation before to be friend with this person{% endtrans %}.</b><hr>
				<h6>{% trans %}What does it mean "to be friend"{% endtrans %} ?</h6>
				{% trans %}It enable you to share private messages with certain people and not others, like your followers{% endtrans %}.<br><br>
				{% trans %}The difference between{% endtrans %} 
				<b>{% trans %}friends{% endtrans %}</b> {% trans %}and{% endtrans %} <b>{% trans %}followers{% endtrans %}</b> ?<br>
				{% trans %}You can choose your friends, not your followers{% endtrans %} !<br><br>
				{% trans %}For a best controll of your privacy, never forget to select the good target{% endtrans %} ;)
			</p>
			{% else %}
				<p>	
					<h4>{% trans %}Are you sure you want to send a member request{% endtrans %} ?</h4> 

					<hr><b>{% trans %}You must be approved by an admin before to be member of this page{% endtrans %}.</b><hr>
					<h6>{% trans %}What does it mean "to be member"{% endtrans %} ?</h6>
					{% trans %}You will receive all posts{% endtrans %} <b>{% trans %}publicated for members{% endtrans %}</b>.<br>
					{% trans %}You can share posts with other members{% endtrans %}.<br>
					{% trans %}you are part of the community{% endtrans %} !<br>
					
				</p>
			{% endif %}
		{% elseif requestType == "admin" %}
			<p>	
				<h5>{% trans %}Are you sure you want to send an admin request{% endtrans %} ?</h5> 
				<hr>
				<b>{% trans %}You must wait for confirmation before to be admin of this page{% endtrans %}.</b><br><br>
				{% trans %}You will receive{% endtrans %} <b>{% trans %}all posts publicated{% endtrans %}</b>. 
				{% trans %}You will be able to manage all relations, posts, and requests{% endtrans %}.
			</p>
		{% elseif requestType == "follow" %}
			<p>	
				<h5>{% trans %}Are you sure you want to follow{% endtrans %} ?</h5> 
				<hr>
				<b>{% trans %}No need for confirmation by the owner of this page{% endtrans %}.</b><br><br>
				{% trans %}You will receive all posts{% endtrans %} <b>{% trans %}publicated for his followers{% endtrans %}</b>. 
				{% trans %}But, you will not receive posts publicated for members{% endtrans %}.<br><br>
				{% trans %}Check your{% endtrans %} 
				<a href="{{ path('page', { 'slug' : app.user.myUserPage.slug, 'view' : 'community' }) }}" target="_blank">{% trans %}community{% endtrans %}</a> 
				{% trans %}to find it back when you need{% endtrans %} !
			</p>
		{% elseif requestType == "participate" %}
			<p>	
				<h5>{% trans %}Are you sure you will participate to this event{% endtrans %} ?</h5> 
				<hr>
				<b>{% trans %}No need for confirmation by the owner of this page{% endtrans %}.</b><br><br>
				{% trans %}You will receive all posts publicated as a followers{% endtrans %}.<br>
				{# {% trans %}You will receive a notification a few days before the event{% endtrans %}.<br><br> #}
				{% trans %}Check your{% endtrans %} 
				<a href="{{ path('page', { 'slug' : app.user.myUserPage.slug, 'view' : 'community' }) }}" target="_blank">{% trans %}community{% endtrans %}</a> {% trans %}to find it back when you need{% endtrans %} !
			
			</p>
		{% elseif requestType == "like" %}
			<p>	
				<h5>{% trans %}Are you sure you like it{% endtrans %} ?</h5> 
				<hr>
				{% trans %}Check your{% endtrans %} <a href="{{ path('page', { 'slug' : app.user.myUserPage.slug, 'view' : 'community' }) }}" target="_blank">{% trans %}community{% endtrans %}</a> {% trans %}to find it back when you need{% endtrans %} !
			</p>
		{% endif %}
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-default letter-red" 
			 data-dismiss="modal" aria-label="Close">{% trans %}Cancel{% endtrans %}
	</button>
	<button class="btn btn-blue btn-send-request-{{ requestType }}" 
			 data-slug-page="{{ askForPage.slug }}" data-slug-page-confirm="true"
			 data-dismiss="modal" aria-label="Close">
			<i class="fa fa-check"></i> 
			{% if requestType == "admin" %}{% trans %}Yes, send the request{% endtrans %}{% endif %}
			{% if requestType == "friend" %}{% trans %}Yes, send the request{% endtrans %}{% endif %}
			{% if requestType == "follow" %}{% trans %}Yes, I want to follow{% endtrans %}{% endif %}
			{% if requestType == "participate" %}{% trans %}Yes, I participate{% endtrans %}{% endif %}
			{% if requestType == "like" %}{% trans %}Yes, I like it{% endtrans %} !{% endif %}
	</button>
</div>