{% trans_default_domain 'theme' %}
<style>
    body.dark-theme input.form-control{
        background-color: #505765 !important;
    }
    #captchaCode{
        margin-top: 10px;
    }
</style>

{{ form_start(form, { 'action' : '/register'}) }}
        
        <div class="col-xl-12 col-lg-12 col-md-12 padding-15 ui-block">
            <div class="form-group label-floating is-empty" id="username">
                {{ form_label(form.username, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div class="form-group label-floating is-empty" id="email">
                {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group label-floating is-empty" id="plainPassword_first">
                {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group label-floating is-empty" id="plainPassword_second">
                {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            
            {# <label>{% trans %}Are you a robot ? Please rewrite this security code{% endtrans %}.</label>
            <div class="form-group label-floating is-empty col-12 col-md-6 no-padding" id="captchaCode">
                {{ form_label(form.captchaCode, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.captchaCode, {'attr': {'class': 'form-control', 'placeholder': 'code ...'}}) }}<br>
                {{ form_help(form.captchaCode) }}
                {{ form_errors(form.captchaCode) }}
            </div> #}
            
            <div class="remember col-12 no-padding">
                <div class="checkbox col-12 no-padding">
                    <label class="col-12 no-padding">
                        <input name="terms" type="checkbox" required="required">
                        {% trans %}I accept the{% endtrans %} 
                        {# <a class="d-inline" href="{{ path("legal") }}">
                            {% trans %}Terms{% endtrans %}
                        </a> {% trans %}and{% endtrans %} 
                         #}
                         <a class="d-inline" href="{{ path("cgu") }}" target="_blank">
                            {% trans %}Conditions{% endtrans %}
                        </a> 
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-purple btn-lg full-width">{% trans %}Create my account{% endtrans %} !</button>

            <p>
                <center>{% trans %}Already have an account{% endtrans %} ?</center>
                <a href="{{ path("login") }}" class="btn btn-link btn-lg full-width letter-white">
                    <u>{% trans %}Login{% endtrans %}</u>
                </a>
            </p>
        </div>
{{ form_end(form) }}

<script>
$( document ).ready(function() {
    //removeClass("is-empty") when default values are set in input in load
    var checkEmpty = new Array("username", "email", "plainPassword_first", "plainPassword_second");
    $.each(checkEmpty, function(key, id){ console.log($("#user_"+id).val(), id);
        if($("#user_"+id).val() != "")
            $(".form-group#"+id).removeClass("is-empty");
    });

    if($("#captchaCode").val() != "")
            $(".form-group#captchaCode").removeClass("is-empty");

});
</script>