{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}


{% block background %}
    <div class="content-bg-wrap">
        <div class="content-bg empty"></div>
    </div>
{% endblock %}


{% block body %}

<style>
    p{font-size: 17px;}
    body.dark-theme input.form-control{
        background-color: #505765 !important;
    }
</style>


<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col col-xl-4 col-lg-4 col-md-8 col-sm-12 col-xs-12 ui-block no-padding margin-top-50">
            {# <div class="ui-block-title">
                <h5 class="title">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-user"></i>
                    {% trans %}Connect your account{% endtrans %}
                </h5>
            </div> #}
            <div class="ui-block-content">
                
                {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{include('theme/account/already-login.html.twig', {'result':app.user.myUserPage })}}
                {% else %} #}
                    <div class="col-12 no-padding">
                        {{include('theme/account/form-login.html.twig')}}
                    </div>
                {# {% endif %} #}

            </div>
        </div>
    </div>
</div>

<script>
$( document ).ready(function() {
    //removeClass("is-empty") when default values are set in input in load
    var checkEmpty = new Array("username", "password");
    $.each(checkEmpty, function(key, id){ console.log($("#user_"+id).val(), id);
        if($("#user_"+id).val() != "")
            $(".form-group#"+id).removeClass("is-empty");
    })
});
</script>
{% endblock %}