{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}

{% block body %}

<style>
.landing-page .content-bg::before{
    /*background: url('{{ asset("build/images/people-arrow-evolution.jpg") }}') repeat 5% 7%  !important;*/
}
p{
    /*font-size: 17px;*/
    padding:15px;
}
body.dark-theme input.form-control{
    background-color: #464a51 !important;
}
</style>


<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ui-block no-padding margin-top-50">
            <div class="ui-block-title">
                <h5 class="title">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-user"></i>
                    {% trans %}Create your account{% endtrans %}
                </h5>
            </div>
            <div class="ui-block-content">

                <p>
                    {% trans %}Registration is fast and free.{% endtrans %}<br>
                    {% trans %}Start using Nexxo in less than a 30 secondes{% endtrans %} !<br><br>
                    {% trans %}You can immediately login to your account without validating your e-mail address and begin to discover Nexxo as a visitor{% endtrans %}. 
                    {% trans %}E-mail validation is only is only necessary to allow you to publish content{% endtrans %}.<br><br>
                    {% trans %}You have 7 days to validate your account.{% endtrans %}<br>
                    {% trans %}After this time, your account will be automatically deleted so as not to clutter our database{% endtrans %}.<br>
                </p>
                
                {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{include('theme/account/already-login.html.twig', {'result':app.user.myUserPage })}}
                {% else %} #}
                    <div class="col-12 no-padding">
                        {{include('theme/account/form-register.html.twig')}}
                    </div>
                {# {% endif %} #}

            </div>
        </div>
    </div>
</div>


{% endblock %}