{% trans_default_domain 'agenda' %}

<link rel="stylesheet" href="{{ asset('css/page/page.css') }}">
<div class="ui-block-content" id="form-event">

        {# <h4>Créer un événement</h4> #}
        {% if page is defined %}
            {{ form_start(form, { 'action' : path(action, { slug : page.slug }) }) }}
        {% else %}
            {{ form_start(form, { 'action' : path(action, { type : type }) }) }}
        {% endif %}

        {% if not page is defined %}
            
            <div class="form-group">
                {% if form.parentPage is defined %}
                    {# {{ form_label(form.parentPage, null, {'label_attr': {'class': 'control-label'}}) }} #}
                    <label class="control-label required" for="page_parentPage">
                        {% trans %}Who is the organizer of this event{% endtrans %} ?
                    </label>
                    {{ form_widget(form.parentPage, {'attr': {'class': ''}}) }}
                    {{ form_help(form.parentPage) }}
                    {{ form_errors(form.parentPage) }}
                {% endif %}
            </div>
            
        {% endif %}

        <div class="form-group label-floating is-empty">
            {# {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }} #}
            <label class="control-label required" for="page_parentPage">{% trans %}Name of the event{% endtrans %} ?</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        
        <div class="form-group label-floating is-empty">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group label-floating">
            {{ form_label(form.tagsStr, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.tagsStr, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.tagsStr) }}
            {{ form_errors(form.tagsStr) }}
        </div>


        <div class="form-group {% if type is defined %}d-none{% endif %}">
            {% if form.type is defined %}
                {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.type, {'attr': {'class': ''}}) }}
                {{ form_help(form.type) }}
                {{ form_errors(form.type) }}
            {% endif %}
        </div>

        <div class="form-group">
            <i class="fa fa-calendar"></i> 
            {{ form_label(form.startDate, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.startDate, {'attr': {'class': 'js-datepicker'}}) }}
            {{ form_help(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>

        <div class="form-group">
            <i class="fa fa-calendar"></i> 
            {{ form_label(form.endDate, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.endDate, {'attr': {'class': 'js-datepicker'}}) }}
            {{ form_help(form.endDate) }}
            {{ form_errors(form.endDate) }}
        </div>

        <div class="form-group" id="address-block">
        <br><br>
        <h5><i class="fa fa-map-marker"></i> {% trans %}Address{% endtrans %}</h5>
        </div>

        <div class="form-group">
            {{ form_label(form.country, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.country, {'attr': {'class': ''}}) }}
            {{ form_help(form.country) }}
            {{ form_errors(form.country) }}
        </div>

        <div class="form-group label-floating is-empty">
            {{ form_label(form.city, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.city) }}
            {{ form_errors(form.city) }}
        </div>
        
        <div class="form-group label-floating is-empty">
            {{ form_label(form.streetAddress, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.streetAddress, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form.streetAddress) }}
            {{ form_errors(form.streetAddress) }}
        </div>

        <div class="description-toggle">
            <div class="description-toggle-content">
                <div class="h6"><i class="fa fa-globe"></i> {% trans %}Locate this page on the map{% endtrans %}</div>
                <p>{% trans %}By activating the location feature, you allow other members to view your event on the map{% endtrans %}</i>.</p>
            </div>

            <div class="togglebutton">
                <label>
                    <input type="checkbox" checked="" class="checkbox" id="check-user-geoloc">
                </label>
            </div>
        </div>

        <div class="ui-block d-none geoloc-result">
            <div class="ui-block-title">
                <h6 class="title"><i class="fa fa-angle-down"></i> {% trans %}Which result is best for the address you are looking for{% endtrans %} ?</h6>
            </div>   
            <ul class="widget w-friend-pages-added notification-list" id="geoloc-result"></ul>
        </div>
        

        <div class="form-group d-none" id="map-container"></div>

        <div class="form-group margin-top-25"><hr>
        <h5><i class="fa fa-circle"></i> {% trans %}Page accessibility{% endtrans %}</h5>
        </div>

        
        <div class="form-group description-toggle">
            {% if form.isPrivate is defined %}

                <div class="description-toggle-content">
                    <p>
                    - {% trans %}By default all events are public{% endtrans %}.<br>
                    - {% trans %}Enable the option to make the event private{% endtrans %}.<br>
                    </p>
                    <br>{% trans %}When an event is private, it does not appear in the public calendar. No one can access it except the people with whom you shared the link to your event (url){% endtrans %}.
                </div>

                <div class="togglebutton" style="vertical-align: top;">
                    <label>
                        <span class="padding-5" id="lbl-isprivate-false">
                            <i class="fa fa-unlock"></i> {% trans %}Public{% endtrans %}
                        </span>
                        <span class="padding-5 letter-green d-none" id="lbl-isprivate-true">
                            <i class="fa fa-lock"></i> {% trans %}Private{% endtrans %}
                        </span>
                        {{ form_widget(form.isPrivate, {'attr': {'class': 'd-none'}}) }}
                    </label>
                </div>


                {{ form_help(form.isPrivate) }}
                {{ form_errors(form.isPrivate) }}
            {% endif %}
        </div>

        <div class="form-group">
        <hr>
        </div>

        <button type="submit" class="btn btn-blue btn-lg full-width">
            {% if page is not defined %}<i class="fa fa-plus"></i> {% trans %}Create the event{% endtrans %}
            {% else %}<i class="fa fa-check"></i> {% trans %}Update my informations{% endtrans %}
            {% endif %}
        </button>

        {{ form_end(form) }}
    </div>

<script src="{{ asset('js/sig/sig.js') }}"></script>

<script>
    $( document ).ready(function() {
        pageObj.initFormCreatePage();
    });
</script>