{% trans_default_domain 'report' %}

{% extends('theme/base-app.html.twig') %}

{% block body %}

<script src="{{ asset("js/reportObj.js") }}"></script>
<link rel="stylesheet" href="{{ asset('/css/page/page.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/news.css') }}" />

<div class="header-spacer"></div>

<div class="container app-search">
	<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="ui-block col-12 no-padding">
				<div class="ui-block-title">
					<div class="h4">
						<i class="fa fa-balance-scale"></i> 
						<span class="font-konkretika">{% trans %}Collective moderation interface{% endtrans %}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="ui-block d-flex col-12 no-padding padding-top-15 menu-collective-mod">
				<div class=" col-4">
					<a href="{{ path('all-reports-pages') }}" class="btn btn-secondary btn-md col-12 ">
						<i class="fa fa-circle"></i> {% trans %}Pages{% endtrans %}
					</a>
				</div>
				<div class=" col-4">
					<a href="{{ path('all-reports-closed-news') }}" class="btn btn-secondary btn-md col-12 ">
						<i class="fa fa-newspaper-o"></i> {% trans %}Publications{% endtrans %}
					</a>
				</div>
				<div class=" col-4">
					<a href="{{ path('all-reports-closed-comments') }}" class="btn btn-secondary btn-md col-12 active">
						<i class="fa fa-comment"></i> {% trans %}Comments{% endtrans %}
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="row no-margin">
					<div class="ui-block col-12 no-padding">
						<div class="padding-15">
							<h5 class="full-width no-margin">
								<i class="fa fa-angle-down"></i> 
								{% trans %}The following comments have been locked by a collective moderation procedure{% endtrans %}
							</h5>
						</div>
					</div>
				</div>

				<div class="row no-margin">
					{% set i = 0 %}
		            {% for key, report in reports %}
		            	{% if report.closedByType == "CO_MODERATION" %}
							{% set i = i + 1 %}
							<ul class="comments-list ">
							{{  include("comment/comment-single.html.twig", { 'comment' : report.aboutObj, 
	                                                               				  'commentForm' : null,
																				  'parentType' : report.aboutType, 
																				  'parentId' : report.aboutId, 
																				  'parentObj': null,
																				  'showForModeration': true }) }}
			            	{% endif %}
			            	</ul>
		            {% endfor %}
		            {% if i == 0 %}
						<p class="col-12"><i class="fa fa-ban"></i> {% trans %}No content to display{% endtrans %}</p>
		            {% endif %}
		        </div>
	        </div>

	        <div class="col col-12 col-md-6">
				<div class="row no-margin">
		        	<div class="ui-block col-12 no-padding">
						<div class="padding-15">
							<h5 class="full-width no-margin">
								<i class="fa fa-angle-down"></i> 
								{% trans %}The following comments have been locked by an administrator{% endtrans %}
							</h5>
						</div>
					</div>
				</div>

				<div class="row no-margin">
		            {% set i = 0 %}
		            {% for key, report in reports %}
		            	{% if report.closedByType == "ADMIN" %}
							{% set i = i + 1 %}
		            		<ul class="comments-list ">
							{{  include("comment/comment-single.html.twig", { 'comment' : report.aboutObj, 
	                                                               				  'commentForm' : null,
																				  'parentType' : report.aboutType, 
																				  'parentId' : report.aboutId, 
																				  'parentObj': null,
																				  'showForModeration': true }) }}
			            	{% endif %}
			            	</ul>
		            {% endfor %}

		            {% if i == 0 %}
						<p class="col-12"><i class="fa fa-ban"></i> {% trans %}No content to display{% endtrans %}</p>
		            {% endif %}
		        </div>

	        </div>
	    </div>
	</div>
</div>
{% endblock %}
