{% trans_default_domain 'report' %}

<div class="skills-item row no-margin text-left d-flex full-width margin-top-5">
	<div class="skills-item-meter col-12 margin-top-5 bg-red">
		<span class="skills-item-meter-active bg-green" 
				style="border-radius:10px 0 0 10px; width:{{ report.countVoteUp*100/(report.countVoteDown + report.countVoteUp) }}%">
		</span>
	</div>
</div>
<div class="d-flex no-padding margin-top-5">
	<div class="col-6 no-padding text-left">
		{{ report.countVoteUp }} <i class="fa fa-thumbs-up"></i>
		<span class="separator"> · </span>
		{{ (report.countVoteUp*100/(report.countVoteDown + report.countVoteUp))|round }}% 
	</div>
	<div class="col-6 no-padding text-right">
		{{ report.countVoteDown }} <i class="fa fa-thumbs-down"></i>
		<span class="separator"> · </span>
		{{ (report.countVoteDown*100/(report.countVoteDown + report.countVoteUp))|round }}% 
	</div>
</div>