{% trans_default_domain 'report' %}

<div class="ui-block col-12 no-padding no-border">
	<div class="ui-block-content col-12 padding-10">
		<div class="skills-item row no-margin d-flex">
			<div class="skills-item-info no-margin col-12 col-sm-5 col-lg-5 padding-5">
				<div class="h5 no-margin skills-item-title">
					{% if report.inVoteUp(app.user.myUserPage.slug) == false %}
						{% if date(report.dateEndVote) > date() %}
						<a href="javascript:" class="btn no-margin padding-5 bg-green bold margin-right-15 btn-report-vote"
							data-vote-val="up" data-about-type="{{ report.aboutType }}" 
							data-about-id="{{ report.aboutId }}" data-comment-id="{{ report.commentId }}" 
							data-report-id="{{ report.id }}">
							<i class="fa fa-thumbs-up"></i> {% trans %}Keep{% endtrans %}
							<span class="skills-item-count">
								<span class="count-animate" data-speed="1000" 
									data-refresh-interval="50" data-to="50" data-from="0"></span>
							</span>
						</a>
						{% else %}
							<small class="badge bg-green">{% trans %}Keep{% endtrans %}</small>
						{% endif %}
					{% else %}
						<small class="badge bg-green">{% trans %}You voted{% endtrans %}</small>
					{% endif %}
					({{ report.countVoteUp }}) 
					{{ (report.countVoteUp*100/(report.countVoteDown + report.countVoteUp))|round }}% 
				</div>

			</div>
			<div class="skills-item-info no-margin d-none d-sm-inline col-sm-2 col-lg-2 padding-5 text-center">
				<i class="fa fa-balance-scale fa-2x"></i>
			</div>
			<div class="skills-item-info no-margin col-12 col-sm-5 col-lg-5 padding-5 text-right">
				<div class="h5 no-margin skills-item-title">
					{{ (report.countVoteDown*100/(report.countVoteDown + report.countVoteUp))|round }}%  ({{ report.countVoteDown }})
					{% if report.inVoteDown(app.user.myUserPage.slug) == false %}
						{% if date(report.dateEndVote) > date() %}
						<a href="javascript:" class="btn no-margin padding-5 bg-red bold margin-left-15 btn-report-vote"
							data-vote-val="down" data-about-type="{{ report.aboutType }}" 
							data-about-id="{{ report.aboutId }}" data-comment-id="{{ report.commentId }}" 
							data-report-id="{{ report.id }}">
							<i class="fa fa-thumbs-down"></i> {% trans %}Lock{% endtrans %}
							<span class="skills-item-count">
								<span class="count-animate" data-speed="1000" 
									data-refresh-interval="50" data-to="50" data-from="0"></span>
							</span>
						</a>
						{% else %}
							<small class="badge bg-red">{% trans %}Lock{% endtrans %}</small>
						{% endif %}
					{% else %}
						<small class="badge bg-red">{% trans %}You voted{% endtrans %}</small>
					{% endif %}
				</div>
			</div>
			<div class="skills-item-meter col-12 margin-top-5 bg-red">
				<span class="skills-item-meter-active bg-green" 
						style="border-radius:10px 0 0 10px; width:{{ report.countVoteUp*100/(report.countVoteDown + report.countVoteUp) }}%">
				</span>
			</div>
			<div class="col-12 no-padding margin-top-5">
				<i class="fa fa-clock-o"></i> 
				{% if date(report.dateEndVote) > date() %}
					{% trans %}End of the vote{% endtrans %} {{ report.dateEndVote|ago }}
				{% else %}
					{% trans %}The voting procedure has ended{% endtrans %} {{ report.dateEndVote|ago }}<br>
					{% if report.voteUp|length >= report.voteDown|length %}
						{% trans %}The collective will has decided to keep this content{% endtrans %}. <br>
						{% trans %}It will be automatically reactivated in less than an hour{% endtrans %}. <br>
					{% else %}
						{% trans %}The collective will has decided to keep this content{% endtrans %}. <br>
						{% trans %}It will automatically be blocked in less than an hour{% endtrans %}. <br>
					{% endif %}
					<b>{% trans %}To enforce the decision now{% endtrans %} :
						<a href="{{ path('close-report', { 'id' : report.id }) }}">{% trans %}click here{% endtrans %}</a>
					</b>
				{% endif %}
				<a href="javascript:" class="btn-modal-report-howitworks padding-left-5 float-right" 
					data-toggle="modal" data-target="#modal-quickview">
					<u>{% trans %}How it works ?{% endtrans %}</u>
				</a>
			</div>

			<div class="col-12 no-padding margin-top-15 text-right">
				<a href="javascript:" class="post-add-icon inline-items btn-open-comments" 
					data-parent-id="{{ report.id }}" data-parent-type="report">
					<i class="fa fa-comment letter-blue"></i> 
					<span class="letter-blue bold">
						{{ report.commentStream.comments|length }} 
						{% transchoice report.commentStream.comments|length  %}[0,1] explanation|[2,Inf[ explanations{% endtranschoice %}
					</span>
				</a>	
			</div>
			<div class="col-12 no-padding margin-top-5">
				<div class="comment-block full-width no-border" data-parent-id="{{ report.id }}" data-parent-type="report"></div>	
			</div>

		</div>
	</div>
</div>