{% trans_default_domain 'report' %}

<div class="ui-block col-12 no-padding no-border no-margin">
	<div class="ui-block-content col-12 padding-5">

		{% if report.status != "VOTE_OPEN" and report.status != "OPEN" %}
			{% if report.status == "ENABLED" %}
				<span class="badge bg-green">{{ report.status }}</span>
			{% endif %}
			{% if report.status == "DISABLED" %}
				<span class="badge bg-red">{{ report.status }}</span>
			{% endif %}
		{% else %}

			<div class="skills-item row no-margin d-flex">
				<div class="skills-item-info no-margin col-12 col-sm-6 col-lg-6 padding-5">
					<b class="letter-red">{% trans %}Warning{% endtrans %} !<br>{% trans %}Any deletion is definitive{% endtrans %} !</b>
				</div>
				<div class="skills-item-info no-margin col-12 col-sm-6 col-lg-6 padding-5 text-right">
					<div class="h5 no-margin skills-item-title">
						{{ (report.countVoteDown*100/(report.countVoteDown + report.countVoteUp))|round }}%  ({{ report.countVoteDown }})<br>
						<a href="javascript:" class="btn no-margin padding-5 bg-red bold margin-top-5 btn-report-vote-admin"
							data-vote-val="down" data-report-id="{{ report.id }}">
							<i class="fa fa-thumbs-down"></i> {% trans %}Remove{% endtrans %}
							<span class="skills-item-count">
								<span class="count-animate" data-speed="1000" 
									data-refresh-interval="50" data-to="50" data-from="0"></span>
							</span>
						</a>
					</div>
				</div>
				<div class="skills-item-meter col-12 margin-top-15 bg-red">
					<span class="skills-item-meter-active bg-green" 
							style="border-radius:10px 0 0 10px; width:{{ report.countVoteUp*100/(report.countVoteDown + report.countVoteUp) }}%">
					</span>
				</div>
			</div>

		{% endif %}

	</div>
</div>