{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}

{% block background %}
    <div class="content-bg-wrap">
        <div class="content-bg empty"></div>
    </div>
{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center margin-top-50">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ui-block no-padding">
            <div class="ui-block-title">
                <h5 class="title">
                    <i class="fa fa-bug"></i> 
                    {% trans %}Renew password{% endtrans %}
                </h5>
            </div>
            <div class="ui-block-content">
				{{form_start(form)}}
					{{form_row(form.plainPassword.first)}}
					<br>
					{{form_row(form.plainPassword.second)}}

					<button class="btn btn-primary float-right margin-top-10 padding-10" type="submit">
						<i class="fa fa-save"></i> {% trans %}Save{% endtrans %}
					</button>
					<a href="{{ path('homepage') }}" class="btn btn-secondary float-right margin-top-10 margin-right-10 padding-10">
						{% trans %}Cancel{% endtrans %}
					</a>
				{{form_end(form)}}
			</div>
		</div>
	</div>
</div>
{% endblock %}
