{% trans_default_domain 'mail' %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>{% trans %}Renew password{% endtrans %}</title>
	</head>
	<body>
		<p>
			{% trans %}Hi{% endtrans %}, {{ user.myUserPage.name }}<br>
			{% trans %}Click on this link to change your password{% endtrans %}.<br><br>
			{# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
			<a href="{{absolute_url(path('resetting', {'userId': user.id, 'token': user.token}))}}"
			   style="padding:10px; background-color:rgba(77, 140, 80, 0.2); border-radius:25px;color: #254226;text-decoration: none;">
				{% trans %}Change my password{% endtrans %}
			</a>
			<br><br>
			{% trans %}See you soon on{% endtrans %} Nexxo !
		</p>
	</body>
</html>
