{% trans_default_domain 'theme' %}

{% extends 'theme/base-landing.html.twig' %}

{% block background %}
    <div class="content-bg-wrap">
        <div class="content-bg empty"></div>
    </div>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row display-flex">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="landing-content">
                <h1>{% trans %}Forgot your password ?{% endtrans %}
                    <br><small>{% trans %}Keep cool ! No problem !{% endtrans %}</small>
                </h1>
                <p>
                   <a href="{{ path('homepage') }}" class="btn btn-sm btn-secondary">
                    <i class="fa fa-angle-left"></i> {% trans %}Back to homepage{% endtrans %}
                   </a>
                </p>
            </div>
        </div>

        <style>
        .registration-login-form{ min-height:unset; padding-left:0px; border-radius: 10px; }
        </style>
        <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="registration-login-form no-border">           
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
                        <div class="title h6 no-border">{% trans %}Reset your password{% endtrans %}</div>
                        <div class="content">
                            {{form_start(form)}}
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <p>
                                            <b>{% trans %}What's your account e-mail ?{% endtrans %}</b><br>
                                            {% trans %}We will send you an e-mail to reset your password{% endtrans %}.
                                        </p>
                                        <br>
                                            
                                        <div class="form-group label-floating is-empty">
                                            {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_help(form.email) }}
                                        </div>
                                        <button type="submit" class="btn btn-purple btn-lg full-width">{% trans %}Send{% endtrans %}</button>
                                    </div>
                                </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}




