{% if post != false %}
<div class="ui-block">
	<div class="widget w-post-forward">
		<div class="wethear-now-description text-left open-notification" 
			 data-about-id="{{ post.id }}" data-about-type="news">
			<h4 class="letter-{{ color }} elipsis" style="font-size: 14px !important;">
				{% if icon == "thumbs-up" %}{{ post.likes|length }}{% endif %} 
				<i class="fa fa-{{ icon }} fa-2x"></i> {{ hashtag }} 
				{% if icon == "thumbs-down" %}{{ post.dislikes|length }}{% endif %}
				
			</h4>
			<p class="no-margin">
				{{ post.textHtml("letter-tag")|raw|nl2br }}
			</p>

			{% if post.medias is defined %}
				<div class="row padding-5">
				{% if post.medias|length > 1 %}
					{% for media in post.medias %}
						{{ include("news/blocks/media-shared-multi.html.twig", { 'media' : media }) }}
					{% endfor %}
				{% else %}
					{% for media in post.medias %}
						{{ include("news/blocks/media-shared.html.twig", { 'media' : media }) }}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}

			{% if post.image != null %}
				<img src="{{ asset('uploads/imgNews/' ~ post.image) }}" class="img-news" style="max-width:100%;"/>
			{% endif %}

		</div>
		<hr>
		<div class="padding-bottom-10">
			<a href="javascript:" class="btn-post-like letter-green" 
				data-post-id="{{ post.id }}" data-like-type="likes">
				<i class="fa fa-thumbs-up"></i> 
				<span><b>{{ post.likes|length }}</b></span>
			</a>

			<a href="javascript:" class="btn-post-like letter-red"
				data-post-id="{{ post.id }}" data-like-type="dislikes">
				<i class="fa fa-thumbs-down" style="float: unset;" ></i> 
				<span><b>{{ post.dislikes|length }}</b></span>
			</a>
		</div>
	</div>

	<ul class="widget w-friend-pages-added notification-list friend-requests no-margin">
		<li class="inline-items">
			<div class="author-thumb">
				<img src="{{ post.signed.imageProfilAsset }}" 
					 alt="img" height="36">
			</div>
			<div class="notification-event">
				<a href="{{ path("page", {'slug':post.signed.slug}) }}" class="h6 notification-friend">
					{{ post.signed.name }}
				</a>
				{% if post.signed.city != "" 
				   and post.signed.isConfAuth("SHOW_ADDRESS", app.user.myUserPage) 
				%}
					<span class=""><i class="fa fa-map-marker"></i> {{ post.signed.city }}</span>
				{% endif %}
			</div>
			<span class="notification-icon">
				<a href="#" class="btn-send-request-follow accept-request" data-slug-page="{{ post.signed.slug }}"
					data-toggle="modal" data-target="#modal-quickview" >
					{# <span class="icon-add without-text">
						<svg class="olymp-happy-face-icon"><use xlink:href="{{ asset('icons/icons.svg') }}#olymp-happy-face-icon"></use></svg>
					</span> #}
					<i class="fa fa-link"></i>
				</a>
			</span>
		</li>
	</ul>
</div>
{% endif %}